Repository DataDog/libdatadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Datadog/libdatadog-core, @Datadog/libdatadog-profiling, @Datadog/libdatadog-telemetry, @Datadog/libdatadog-ruby, @Datadog/libdatadog, @Datadog/serverless, @Datadog/libdatadog-apm

Revert "Fix telemetry shutdown and log max filter (#432)"
  sidecar/src/log.rs
  sidecar/src/service/runtime_info.rs
Owners: @Datadog/libdatadog-core

Let's investigate
  .github/workflows/test.yml
Owners: @Datadog/libdatadog-core

List Rust installation bin folder
  .github/workflows/test.yml
Owners: @Datadog/libdatadog-core

cargo fuzz init
  profiling/fuzz/.gitignore
  profiling/fuzz/Cargo.toml
  profiling/fuzz/fuzz_targets/fuzz_target_1.rs
Owners: @Datadog/libdatadog, @Datadog/libdatadog-profiling

fuzz feature
  Cargo.lock
  profiling/Cargo.toml
Owners: @Datadog/libdatadog

update crate name
  profiling/fuzz/Cargo.toml
Owners: @Datadog/libdatadog

TrimmedObservation fuzz
  profiling/fuzz/Cargo.lock
  profiling/fuzz/Cargo.toml
  profiling/fuzz/fuzz_targets/fuzz_target_1.rs
  profiling/fuzz/fuzz_targets/trimmed_observation.rs
  profiling/src/internal/mod.rs
  profiling/src/internal/observation/mod.rs
  profiling/src/internal/observation/trimmed_observation.rs
Owners: @Datadog/libdatadog, @Datadog/libdatadog-profiling

remove impl Arbitrary for TrimmedObservation
  profiling/src/internal/observation/trimmed_observation.rs
Owners: @Datadog/libdatadog-profiling

hack for now
  profiling/fuzz/fuzz_targets/trimmed_observation.rs
  profiling/src/internal/observation/trimmed_observation.rs
Owners: @Datadog/libdatadog-profiling

perf(profiling): datadog-alloc based StringTable (#404)
  Cargo.lock
  alloc/src/chain.rs
  profiling/Cargo.toml
  profiling/benches/interning_strings.rs
  profiling/benches/main.rs
  profiling/src/collections/mod.rs
  profiling/src/collections/string_table/mod.rs
  profiling/src/collections/string_table/wordpress_test_data.rs
  profiling/src/internal/profile.rs
  profiling/src/iter.rs
  profiling/src/lib.rs
  tools/docker/Dockerfile.build
Owners: @Datadog/libdatadog, @Datadog/libdatadog-profiling, @Datadog/libdatadog-core

[profiling] Add fuzz test for StringTable
  Cargo.lock
  Cargo.toml
  profiling/Cargo.toml
  profiling/src/collections/string_table/mod.rs
Owners: @Datadog/libdatadog, @Datadog/libdatadog-profiling

comments, check idx
  Cargo.toml
  profiling/src/collections/string_table/mod.rs
Owners: @Datadog/libdatadog, @Datadog/libdatadog-profiling

fuzz_arena_allocator
  profiling/src/collections/string_table/mod.rs
Owners: @Datadog/libdatadog-profiling

ci: fix windows-latest cargo-test
  .github/workflows/test.yml
Owners: @Datadog/libdatadog-core

Don't allocate 0 sized things
  alloc/src/chain.rs
  alloc/src/linear.rs
  alloc/src/virtual.rs
Owners: @Datadog/libdatadog-profiling

Fuzz test action
  .github/workflows/fuzz.yml
Owners: @Datadog/libdatadog-core

Collect some trace_api.* metrics in the trace flusher
  data-pipeline/src/trace_exporter.rs
  sidecar/src/self_telemetry.rs
  sidecar/src/service/tracing/trace_flusher.rs
  trace-mini-agent/src/trace_flusher.rs
  trace-utils/src/trace_utils.rs
Owners: @Datadog/libdatadog-apm, @Datadog/libdatadog-core, @Datadog/serverless

Refactor trace_utils.rs into smaller units.
  sidecar/src/service/tracing/trace_flusher.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/lib.rs
  trace-utils/src/send_data.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_header_tags.rs
Owners: @Datadog/libdatadog-core, @Datadog/serverless, @Datadog/libdatadog-apm

Rename set_host method
  crashtracker/src/telemetry.rs
  ddtelemetry/src/config.rs
Owners: @Datadog/libdatadog-profiling, @Datadog/libdatadog-telemetry

.github/CODEOWNERS:

*                       @Datadog/libdatadog-core
alloc/                  @Datadog/libdatadog-profiling
build-profiling-ffi.sh  @Datadog/libdatadog-profiling
crashtracker/           @Datadog/libdatadog-profiling
profiling*/             @Datadog/libdatadog-profiling
ddtelemetry*/           @Datadog/libdatadog-telemetry
ruby/                   @Datadog/libdatadog-ruby
Cargo.*                 @Datadog/libdatadog
.gitignore              @Datadog/libdatadog
.gitlab-ci.yaml         @Datadog/libdatadog
LICENSE*                @Datadog/libdatadog
NOTICE                  @Datadog/libdatadog
rustfmt.toml            @Datadog/libdatadog
README.md               @Datadog/libdatadog
trace-normalization     @Datadog/serverless @Datadog/libdatadog-apm
trace-obfuscation       @Datadog/serverless @Datadog/libdatadog-apm
trace-protobuf          @Datadog/serverless @Datadog/libdatadog-apm
trace-mini-agent        @Datadog/serverless
trace-utils             @Datadog/serverless @Datadog/libdatadog-apm
serverless              @Datadog/serverless
data-pipeline*/         @Datadog/libdatadog-apm
