Repository DataDog/libdatadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Datadog/libdatadog-core, @Datadog/libdatadog-profiling, @Datadog/libdatadog-telemetry, @Datadog/libdatadog-ruby, @Datadog/libdatadog, @Datadog/serverless

Better way of handling metadata
  crashtracker/src/api.rs
  crashtracker/src/crash_handler.rs
  profiling-ffi/src/crashtracker.rs
Owners: @Datadog/libdatadog-core, @Datadog/libdatadog-profiling

Cbindgen refactor - Adjust 3rd party license file
  Cargo.lock
  LICENSE-3rdparty.yml
Owners: @Datadog/libdatadog

Optimize data which gets cached between runs (#316)
  .github/actions/cache/action.yaml
Owners: @Datadog/libdatadog-core

cbindgen refactoring - minor rerun policy update Ensure we re-run cargo build scripts if cbindgen.toml file is udpated
  build-common/src/lib.rs
Owners: @Datadog/libdatadog-core

Try using mircoseh for safety in PHP process
  Cargo.lock
  ipc/src/platform/windows/mem_handle.rs
  sidecar/Cargo.toml
  sidecar/src/setup/windows.rs
Owners: @Datadog/libdatadog, @Datadog/libdatadog-core

Better way of handling config
  crashtracker/src/api.rs
  crashtracker/src/constants.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  profiling-ffi/src/crashtracker.rs
Owners: @Datadog/libdatadog-core, @Datadog/libdatadog-profiling

Comment out the test
  crashtracker/src/api.rs
Owners: @Datadog/libdatadog-core

PR Comment
  crashtracker/src/crash_info.rs
Owners: @Datadog/libdatadog-core

.github/CODEOWNERS:

*                       @Datadog/libdatadog-core
build-profiling-ffi.sh  @Datadog/libdatadog-profiling
profiling*/             @Datadog/libdatadog-profiling
ddtelemetry*/           @Datadog/libdatadog-telemetry
ruby/                   @Datadog/libdatadog-ruby
Cargo.*                 @Datadog/libdatadog
.gitignore              @Datadog/libdatadog
.gitlab-ci.yaml         @Datadog/libdatadog
LICENSE*                @Datadog/libdatadog
NOTICE                  @Datadog/libdatadog
rustfmt.toml            @Datadog/libdatadog
README.md               @Datadog/libdatadog
trace-normalization     @Datadog/serverless
trace-obfuscation       @Datadog/serverless
trace-protobuf          @Datadog/serverless
trace-mini-agent        @Datadog/serverless
trace-utils             @Datadog/serverless
serverless              @Datadog/serverless
