Repository DataDog/libdatadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Datadog/libdatadog-profiling, @Datadog/libdatadog-telemetry, @Datadog/libdatadog-ruby, @Datadog/libdatadog-core, @Datadog/libdatadog, @Datadog/serverless

.github/CODEOWNERS:

ddprof*/            @Datadog/libdatadog-profiling
*.pc.in             @Datadog/libdatadog-profiling
ddtelemetry/        @Datadog/libdatadog-telemetry
ruby/               @Datadog/libdatadog-ruby
*                   @Datadog/libdatadog-core
Cargo.*             @Datadog/libdatadog
.gitignore          @Datadog/libdatadog
.gitlab-ci.yaml     @Datadog/libdatadog
LICENSE*            @Datadog/libdatadog
NOTICE              @Datadog/libdatadog
rustfmt.toml        @Datadog/libdatadog
README.md           @Datadog/libdatadog
dogstatsd-collector @Datadog/serverless
trace-normalization @Datadog/serverless
trace-obfuscation   @Datadog/serverless
trace-protobuf      @Datadog/serverless
trace-mini-agent    @Datadog/serverless
trace-utils         @Datadog/serverless
serverless          @Datadog/serverless

Add Eq derivation to MetricType
  dogstatsd-collector/src/metrics.rs
Owners: @Datadog/serverless

Fix race conditions in register_service_and_flush_queued_actions()
  Cargo.lock
  ddtelemetry/Cargo.toml
  ddtelemetry/src/ipc/interface.rs
Owners: @Datadog/libdatadog, @Datadog/libdatadog-core

Re-add LICENSE-3rdparty from main
  LICENSE-3rdparty.yml
Owners: @Datadog/libdatadog

Make CI happy
  LICENSE-3rdparty.yml
  ddtelemetry/src/ipc/interface.rs
  ipc/src/sequential.rs
  spawn_worker/src/trampoline.c
  spawn_worker/src/unix/spawn.rs
Owners: @Datadog/libdatadog, @Datadog/libdatadog-core

Fixing all the outstanding issues with the sidecar (#161)
  Cargo.lock
  LICENSE-3rdparty.yml
  ddtelemetry/Cargo.toml
  ddtelemetry/src/config.rs
  ddtelemetry/src/ipc/interface.rs
  ddtelemetry/src/ipc/sidecar/config.rs
  ipc/src/lib.rs
  ipc/src/sequential.rs
  spawn_worker/src/trampoline.c
  spawn_worker/src/unix/spawn.rs
Owners: @Datadog/libdatadog, @Datadog/libdatadog-core

Add dogstatsd to labeller
  .github/labeler.yml
Owners: @Datadog/libdatadog-core

Add dogstatsd to labeller (#160)
  .github/labeler.yml
Owners: @Datadog/libdatadog-core

Move sidecar from telemetry to its own project
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.yml
  ddtelemetry-ffi/src/lib.rs
  ddtelemetry/src/ipc/mod.rs
  ddtelemetry/src/lib.rs
  ddtelemetry/src/worker/mod.rs
  ddtelemetry/src/worker/store.rs
  sidecar-ffi/Cargo.toml
  sidecar-ffi/build.rs
  sidecar-ffi/cbindgen.toml
  sidecar-ffi/src/lib.rs
  sidecar-ffi/src/unix.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/Cargo.toml
  sidecar/src/config.rs
  sidecar/src/interface.rs
  sidecar/src/lib.rs
  sidecar/src/setup/mod.rs
  sidecar/src/setup/unix.rs
  sidecar/src/unix.rs
  tools/docker/Dockerfile.build
Owners: @Datadog/libdatadog, @Datadog/libdatadog-core

Add sidecar label
  .github/labeler.yml
  Cargo.lock
Owners: @Datadog/libdatadog-core, @Datadog/libdatadog

Move sidecar from telemetry to its own project (#162)
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.yml
  ddtelemetry-ffi/src/lib.rs
  ddtelemetry/src/ipc/mod.rs
  ddtelemetry/src/lib.rs
  ddtelemetry/src/worker/mod.rs
  ddtelemetry/src/worker/store.rs
  sidecar-ffi/Cargo.toml
  sidecar-ffi/build.rs
  sidecar-ffi/cbindgen.toml
  sidecar-ffi/src/lib.rs
  sidecar-ffi/src/unix.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/Cargo.toml
  sidecar/src/config.rs
  sidecar/src/interface.rs
  sidecar/src/lib.rs
  sidecar/src/setup/mod.rs
  sidecar/src/setup/unix.rs
  sidecar/src/unix.rs
  tools/docker/Dockerfile.build
Owners: @Datadog/libdatadog-core, @Datadog/libdatadog

Add a container ID API
  ddcommon-ffi/src/container_id.rs
  ddcommon-ffi/src/lib.rs
  ddcommon/src/container_id.rs
  ddcommon/src/lib.rs
  ddtelemetry/src/lib.rs
Owners: @Datadog/libdatadog-core

Use a better name for the sidecar process
  sidecar/src/unix.rs
Owners: @Datadog/libdatadog-core

add support for verifying azure function envs
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/mini_agent.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/trace_utils.rs
Owners: @Datadog/serverless

re-sync agent_payload.proto
  trace-protobuf/src/pb/agent_payload.proto
Owners: @Datadog/serverless

re-sync agent_payload.proto
  trace-protobuf/src/pb/agent_payload.proto
Owners: @Datadog/serverless

update proto files
  trace-protobuf/src/pb.rs
  trace-protobuf/src/pb/agent_payload.proto
  trace-protobuf/src/pb/span.proto
  trace-protobuf/src/pb/tracer_payload.proto
Owners: @Datadog/serverless

Use a better name for the sidecar process (#163)
  sidecar/src/unix.rs
Owners: @Datadog/libdatadog-core

Update agent_payload.proto
  trace-protobuf/src/pb/agent_payload.proto
Owners: @Datadog/serverless

Update verify-proto-files.yml
  .github/workflows/verify-proto-files.yml
Owners: @Datadog/libdatadog-core

cleanup with map_err
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/env_verifier.rs
  trace-utils/src/trace_utils.rs
Owners: @Datadog/serverless

Update env_verifier.rs
  trace-mini-agent/src/env_verifier.rs
Owners: @Datadog/serverless

Create build-serverless-agent.yml
  .github/workflows/build-serverless-agent.yml
Owners: @Datadog/libdatadog-core

Update build-serverless-agent.yml
  .github/workflows/build-serverless-agent.yml
Owners: @Datadog/libdatadog-core

Update build-serverless-agent.yml
  .github/workflows/build-serverless-agent.yml
Owners: @Datadog/libdatadog-core

Update build-serverless-agent.yml
  .github/workflows/build-serverless-agent.yml
Owners: @Datadog/libdatadog-core

Update build-serverless-agent.yml
  .github/workflows/build-serverless-agent.yml
Owners: @Datadog/libdatadog-core

Update build-serverless-agent.yml
  .github/workflows/build-serverless-agent.yml
Owners: @Datadog/libdatadog-core

Update build-serverless-agent.yml
  .github/workflows/build-serverless-agent.yml
Owners: @Datadog/libdatadog-core

publish serverless agent build musl
  .github/workflows/build-serverless-agent.yml
  .github/workflows/publish-serverless-agent.yml
Owners: @Datadog/libdatadog-core

test
  .github/workflows/build-serverless-agent.yml
  .github/workflows/publish-serverless-agent.yml
Owners: @Datadog/libdatadog-core

Update publish-serverless-agent.yml
  .github/workflows/publish-serverless-agent.yml
Owners: @Datadog/libdatadog-core

node 16 & 18 integration tests
  .github/workflows/serverless-integration-test.yml
  serverless/integration-tests/cloud-function-node/.env.yaml
  serverless/integration-tests/cloud-function-node/index.js
  serverless/integration-tests/cloud-function-node/package.json
  serverless/integration-tests/cloud-function-python/.env.yaml
  serverless/integration-tests/cloud-function-python/main.py
  serverless/integration-tests/cloud-function-python/requirements.txt
  serverless/integration-tests/test-cloud-functions-node.sh
Owners: @Datadog/libdatadog-core, @Datadog/serverless

clean up
  .github/workflows/serverless-integration-test.yml
  serverless/integration-tests/test-cloud-functions.sh
Owners: @Datadog/libdatadog-core, @Datadog/serverless

Update proto files (#166)
  .github/workflows/verify-proto-files.yml
  trace-protobuf/src/pb.rs
  trace-protobuf/src/pb/agent_payload.proto
  trace-protobuf/src/pb/span.proto
  trace-protobuf/src/pb/tracer_payload.proto
Owners: @Datadog/libdatadog-core, @Datadog/serverless

Mini Agent: Target linux musl when publishing (#168)
  .github/workflows/publish-serverless-agent.yml
Owners: @Datadog/libdatadog-core

clean up env verifier, improve unit tests
  trace-mini-agent/src/env_verifier.rs
Owners: @Datadog/serverless

lint
  trace-mini-agent/src/env_verifier.rs
Owners: @Datadog/serverless

clean up serverless root span tags, add tests
  trace-utils/src/trace_utils.rs
Owners: @Datadog/serverless

move comment
  trace-mini-agent/src/env_verifier.rs
Owners: @Datadog/serverless

improve azure verifier tests
  trace-mini-agent/src/env_verifier.rs
Owners: @Datadog/serverless
