Repository DataDog/libdatadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Datadog/libdatadog-core, @Datadog/libdatadog-profiling, @Datadog/libdatadog-telemetry, @Datadog/libdatadog-ruby, @Datadog/libdatadog, @Datadog/serverless

Clippy cleanups
  profiling/src/internal/observation/timestamped_observations.rs
Owners: @Datadog/libdatadog-profiling

RFC proposal around building and delivering different features (#302)
  docs/RFCs/delivering-different-features.md
Owners: @Datadog/libdatadog-core

blazesym prototyping - Test the normalizing API
  examples/ffi/symbolizer.cpp
  symbolizer-ffi/src/blazesym.h
Owners: @Datadog/libdatadog-core

Use cwd as default if OUT_DIR is missing in cc_utils
  tools/cc_utils/src/lib.rs
Owners: @Datadog/libdatadog-core

Use cwd as default if OUT_DIR is missing in cc_utils (#309)
  tools/cc_utils/src/lib.rs
Owners: @Datadog/libdatadog-core

switch back to a released version of prost
  Cargo.lock
  profiling-replayer/Cargo.toml
  profiling/Cargo.toml
  profiling/src/serializer/compressed_streaming_encoder.rs
Owners: @Datadog/libdatadog, @Datadog/libdatadog-profiling

refactor a tiny bit
  profiling/src/serializer/compressed_streaming_encoder.rs
Owners: @Datadog/libdatadog-profiling

Remove `#[should_panic]` on tests and fix unwrap testing
  profiling/src/internal/observation/observations.rs
Owners: @Datadog/libdatadog-profiling

Also assert on expected number of stored samples
  profiling/src/internal/observation/observations.rs
Owners: @Datadog/libdatadog-profiling

[NO-TICKET] Update ahash to 0.7.8 to fix miri build issue
  Cargo.lock
Owners: @Datadog/libdatadog

Use `cargo-bundle-licenses` to update version in LICENSE-3rdparty.yml
  LICENSE-3rdparty.yml
Owners: @Datadog/libdatadog

[PROF-8944] Bump libdatadog version to 6.0.0 in preparation for release
  Cargo.lock
  Cargo.toml
Owners: @Datadog/libdatadog

[PROF-8944] Package libdatadog v6.0.0 for Ruby
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Owners: @Datadog/libdatadog-ruby

refactor: rename encode_str to encode_string_table_entry
  profiling/src/internal/profile.rs
  profiling/src/serializer/compressed_streaming_encoder.rs
Owners: @Datadog/libdatadog-profiling

use atomic for RECEIVER
  crashtracker/src/crash_handler.rs
Owners: @Datadog/libdatadog-core

Shorten some comments
  ipc/src/platform/windows/channel/async_channel.rs
  ipc/src/platform/windows/mem_handle.rs
  sidecar/src/setup/windows.rs
Owners: @Datadog/libdatadog-core

Build refactoring - cbindgen Ensure cbindgen is included in the package's build steps. The motivation is to remove logic from the shell scripts.
  .gitignore
  Cargo.lock
  LICENSE-3rdparty.yml
  build-common/Cargo.toml
  build-common/src/lib.rs
  build-profiling-ffi.sh
  build-telemetry-ffi.sh
  ddcommon-ffi/build.rs
  ddtelemetry-ffi/Cargo.toml
  ddtelemetry-ffi/build.rs
  profiling-ffi/Cargo.toml
  profiling-ffi/build.rs
  tools/docker/Dockerfile.build
Owners: @Datadog/libdatadog, @Datadog/libdatadog-core, @Datadog/libdatadog-profiling, @Datadog/libdatadog-telemetry

Minor CI fix - build telemetry ffi Call the matching build telemetry step (instead of build-profiling-ffi)
  .github/workflows/test.yml
Owners: @Datadog/libdatadog-core

perf: less mem per entry in the string table (#303)
  profiling/src/internal/profile.rs
  profiling/src/pprof/sliced_proto.rs
  profiling/src/serializer/compressed_streaming_encoder.rs
Owners: @Datadog/libdatadog-profiling

feat(profiling)!: add arena-based string table
  profiling-ffi/src/profiles.rs
  profiling-replayer/src/main.rs
  profiling/examples/profiles.rs
  profiling/src/alloc/arena.rs
  profiling/src/alloc/mod.rs
  profiling/src/alloc/virtual.rs
  profiling/src/collections/mod.rs
  profiling/src/collections/string_table.rs
  profiling/src/internal/mod.rs
  profiling/src/internal/profile.rs
  profiling/src/internal/value_type.rs
  profiling/src/lib.rs
Owners: @Datadog/libdatadog-profiling

fix: profiling examples
  examples/ffi/exporter.cpp
  examples/ffi/profiles.c
Owners: @Datadog/libdatadog-core

fix: remove unnecessary power of 2 checks
  profiling/src/alloc/virtual.rs
Owners: @Datadog/libdatadog-profiling

feat: add Windows support
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/alloc/mod.rs
  profiling/src/alloc/virtual.rs
Owners: @Datadog/libdatadog, @Datadog/libdatadog-profiling

refactor: improve comments [ci skip]
  profiling/src/alloc/virtual.rs
Owners: @Datadog/libdatadog-profiling

[ci skip] document arena and string table
  profiling/src/alloc/arena.rs
  profiling/src/collections/string_table.rs
Owners: @Datadog/libdatadog-profiling

fix: increase memory limit for request replayer
  profiling-replayer/src/main.rs
Owners: @Datadog/libdatadog-profiling

refactor: delete unused code
  profiling/src/alloc/mod.rs
Owners: @Datadog/libdatadog-profiling

fix: Mapping is Send
  profiling/src/alloc/virtual.rs
Owners: @Datadog/libdatadog-profiling

fix: Profile is Send
  profiling/src/internal/profile.rs
Owners: @Datadog/libdatadog-profiling

wip
  profiling/src/alloc/arena.rs
  profiling/src/alloc/mod.rs
  profiling/src/alloc/virtual.rs
  profiling/src/collections/arenavec.rs
  profiling/src/collections/mod.rs
  profiling/src/collections/string_table/mod.rs
  profiling/src/internal/profile.rs
  profiling/src/internal/value_type.rs
Owners: @Datadog/libdatadog-profiling

Minor CI fix - build telemetry ffi (#314)
  .github/workflows/test.yml
Owners: @Datadog/libdatadog-core

CI fix - No space left Add a step to free disk space
  .github/workflows/test.yml
Owners: @Datadog/libdatadog-core

CI fix - No space left (#315)
  .github/workflows/test.yml
Owners: @Datadog/libdatadog-core

Optimize data which gets cached between runs
  .github/actions/cache/action.yaml
Owners: @Datadog/libdatadog-core

Update action.yaml
  .github/actions/cache/action.yaml
Owners: @Datadog/libdatadog-core

wip
  profiling/src/collections/arenavec.rs
  profiling/src/collections/string_table/mod.rs
  profiling/src/internal/profile.rs
Owners: @Datadog/libdatadog-profiling

build: bump datadog-ipc's page_size to match others
  Cargo.lock
  LICENSE-3rdparty.yml
  ipc/Cargo.toml
Owners: @Datadog/libdatadog

use atomic ptr for the old actions
  crashtracker/src/api.rs
  crashtracker/src/crash_handler.rs
Owners: @Datadog/libdatadog-core

Leak the old handlers during a crash
  crashtracker/src/api.rs
  crashtracker/src/crash_handler.rs
Owners: @Datadog/libdatadog-core

build: bump datadog-ipc's page_size to match others (#317)
  Cargo.lock
  LICENSE-3rdparty.yml
  ipc/Cargo.toml
Owners: @Datadog/libdatadog

.github/CODEOWNERS:

*                       @Datadog/libdatadog-core
build-profiling-ffi.sh  @Datadog/libdatadog-profiling
profiling*/             @Datadog/libdatadog-profiling
ddtelemetry*/           @Datadog/libdatadog-telemetry
ruby/                   @Datadog/libdatadog-ruby
Cargo.*                 @Datadog/libdatadog
.gitignore              @Datadog/libdatadog
.gitlab-ci.yaml         @Datadog/libdatadog
LICENSE*                @Datadog/libdatadog
NOTICE                  @Datadog/libdatadog
rustfmt.toml            @Datadog/libdatadog
README.md               @Datadog/libdatadog
trace-normalization     @Datadog/serverless
trace-obfuscation       @Datadog/serverless
trace-protobuf          @Datadog/serverless
trace-mini-agent        @Datadog/serverless
trace-utils             @Datadog/serverless
serverless              @Datadog/serverless
