Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]

Fix build in Gitlab
  build-profiling-ffi.sh
Labels: ci-build

fix: make test utils public
  dogstatsd/src/aggregator.rs
Labels: none

add: stand alone dogstatsd binary as example
  Cargo.lock
  dogstatsd/rust-toolchain.toml
  dogstatsd/src/main.rs
Labels: none

feat: upstream dogstatsd from datadog lambda extension
  dogstatsd/src/aggregator.rs
Labels: none

fix: imports
  Cargo.lock
  dogstatsd/src/aggregator.rs
Labels: none

fix: make entry public
  dogstatsd/src/aggregator.rs
Labels: none

fix: more test utils public
  dogstatsd/src/aggregator.rs
Labels: none

fix: clippy
  dogstatsd/src/aggregator.rs
  dogstatsd/src/main.rs
Labels: none

fix: make test config public
  dogstatsd/src/aggregator.rs
  dogstatsd/src/dogstatsd.rs
Labels: none

refactor: do one step parsing
  Cargo.lock
  dogstatsd/Cargo.toml
  dogstatsd/src/aggregator.rs
  dogstatsd/src/constants.rs
  dogstatsd/src/datadog.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
Labels: none

Revert "fix: make test config public"
  dogstatsd/src/aggregator.rs
  dogstatsd/src/dogstatsd.rs
Labels: none

fix: make fields public for tests and assertions
  dogstatsd/src/aggregator.rs
Labels: none

refactor: remove unused error
  dogstatsd/src/datadog.rs
Labels: none

fix: duplicate dependencies from conflicts
  Cargo.lock
Labels: none

format: format and clippy test: fix test format with # for tags. It also changed the byte wise test expected result
  dogstatsd/src/aggregator.rs
  dogstatsd/src/constants.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
  dogstatsd/tests/integration_test.rs
Labels: none

refactor: use type for sorted tags and ustr
  dogstatsd/src/aggregator.rs
  dogstatsd/src/constants.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/main.rs
  dogstatsd/src/metric.rs
  dogstatsd/tests/integration_test.rs
Labels: none

fix: statsd parsing and tests
  dogstatsd/src/aggregator.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
Labels: none

fix: use only minimum regexp
  dogstatsd/Cargo.toml
Labels: none

fix: increase to 10k context size, lost in refactors/moving
  dogstatsd/src/constants.rs
Labels: none

Fix build in Gitlab (#626)
  build-profiling-ffi.sh
Labels: ci-build

Bump to v13 for release
  Cargo.lock
  Cargo.toml
Labels: none

Unupdate dependencies
  Cargo.lock
Labels: none

Fix SONAME for artifact produced in Gitlab
  build-profiling-ffi.sh
Labels: ci-build

Fix SONAME for artifact produced in Gitlab (#628)
  build-profiling-ffi.sh
Labels: ci-build

Bump to v13 for release
  Cargo.lock
  Cargo.toml
Labels: none

Bump to v13 for release (#622)
  Cargo.lock
  Cargo.toml
Labels: none

[Serverless Mini Agent] Use DogStatsD in Serverless (#616)
  Cargo.lock
  serverless/Cargo.toml
  serverless/src/main.rs
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/mini_agent.rs
  trace-mini-agent/src/trace_processor.rs
Labels: mini-agent

bump datadog-serverless-trace-mini-agent version to 0.7.0 (#623)
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

Remove copy of tags and pass to dogstatsd client by reference
  data-pipeline/src/trace_exporter.rs
  dogstatsd-client/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar, data-pipeline

Update licenses
  data-pipeline/src/trace_exporter.rs
  dogstatsd-client/src/lib.rs
Labels: data-pipeline

Allow IntoIterator tags to support static and dynamic tags: WIP
  dogstatsd-client/src/lib.rs
Labels: none

install protoc for serverless release
  .github/workflows/publish-serverless-agent.yml
Labels: ci-build

feat: Support DD_HTTP_PROXY and DD_HTTPS_PROXY
  dogstatsd/src/datadog.rs
  dogstatsd/src/flusher.rs
  dogstatsd/tests/integration_test.rs
Labels: none

fix: fmt
  dogstatsd/src/datadog.rs
  dogstatsd/src/flusher.rs
  dogstatsd/tests/integration_test.rs
Labels: none

feat: honor dd_proxy
  serverless/src/main.rs
Labels: mini-agent

feat: Support DD_HTTP_PROXY and DD_HTTPS_PROXY (#631)
  dogstatsd/src/datadog.rs
  dogstatsd/src/flusher.rs
  dogstatsd/tests/integration_test.rs
  serverless/src/main.rs
Labels: mini-agent

[Serverless Mini Agent] Install Protoc for Serverless Release (#630)
  .github/workflows/publish-serverless-agent.yml
Labels: ci-build

bump datadog-serverless-trace-mini-agent version to 0.7.1
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

upload serverless binaries instead of generating release
  .github/workflows/publish-serverless-agent.yml
Labels: ci-build

prevent double zipping of release binaries
  .github/workflows/publish-serverless-agent.yml
Labels: ci-build
