Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

Test with chacha no default features
  Cargo.lock
  tinybytes/Cargo.toml
Labels: none

Test with proptest yet again (std, default=false)
  Cargo.lock
  LICENSE-3rdparty.yml
  tinybytes/Cargo.toml
  tinybytes/src/test.rs
Labels: none

Revert "TEST with rust 1.73.0"
  .gitlab-ci.yml
Labels: ci-build

Test with rand the way it's enabled in proptest
  Cargo.lock
  LICENSE-3rdparty.yml
  tinybytes/Cargo.toml
  tinybytes/src/test.rs
Labels: none

And add libm to numtraits
  Cargo.lock
  tinybytes/Cargo.toml
Labels: none

Test with patched proptest
  Cargo.lock
  Cargo.toml
  tinybytes/Cargo.toml
Labels: none

Add a tiny bytes::Bytes like implementation
  .codecov.yml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.yml
  tinybytes/Cargo.toml
  tinybytes/src/lib.rs
  tinybytes/src/test.rs
  tools/docker/Dockerfile.build
Labels: none

Add a tiny bytes::Bytes like implementation
  .codecov.yml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.yml
  tinybytes/Cargo.toml
  tinybytes/src/lib.rs
  tinybytes/src/test.rs
  tools/docker/Dockerfile.build
Labels: none

Fix clippy warnings
  data-pipeline/src/concentrator/aggregation.rs
  data-pipeline/src/concentrator/mod.rs
Labels: data-pipeline

Use helper function to ignore span
  data-pipeline/src/concentrator/mod.rs
Labels: data-pipeline

Move concentrator
  data-pipeline/src/concentrator/aggregation.rs
  data-pipeline/src/concentrator/mod.rs
Labels: data-pipeline

Change visibility to super
  data-pipeline/src/concentrator/aggregation.rs
Labels: data-pipeline

Make struct fields private
  data-pipeline/src/concentrator/aggregation.rs
  data-pipeline/src/concentrator/mod.rs
Labels: data-pipeline

Add stats exporter and compute stats from traces
  Cargo.lock
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/Cargo.toml
  data-pipeline/src/lib.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon/src/lib.rs
  examples/ffi/trace_exporter.c
Labels: common, data-pipeline

Move tests to a separate module
  data-pipeline/src/concentrator/mod.rs
  data-pipeline/src/concentrator/tests.rs
Labels: data-pipeline

Add client-side stats to headers
  data-pipeline/src/concentrator/aggregation.rs
  data-pipeline/src/concentrator/mod.rs
  data-pipeline/src/concentrator/tests.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Fix clippy lint
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Drop chunks once stats have been computed
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Send client side stats header to the agent
  data-pipeline/src/trace_exporter.rs
  trace-utils/src/tracer_header_tags.rs
Labels: mini-agent, data-pipeline

Add test for drop_chunks
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Update LICENSE-3rdparty
  Cargo.lock
  LICENSE-3rdparty.yml
Labels: none

Fix header tags test
  trace-utils/src/tracer_header_tags.rs
Labels: mini-agent

Ignore shutdown test on miri
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Add support for client computed top level
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Allow using abstract namespace for crashtracker unix socket (#594)
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/receiver.rs
  sidecar/src/crashtracker.rs
  sidecar/src/setup/unix.rs
Labels: sidecar

Add docs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Fix accidental blocking socket in crashtracking
  crashtracker/src/receiver.rs
Labels: none

Fix typos and remove TODOs
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/stats_exporter.rs
Labels: data-pipeline

Fix accidental blocking socket in crashtracking (#599)
  crashtracker/src/receiver.rs
Labels: none

Use hard libc::_exit to prevent side effects
  spawn_worker/src/unix/spawn.rs
Labels: none

Only run one proptest case when using miri
  .github/workflows/miri.yml
Labels: ci-build

Only run one proptest case when using miri
  .github/workflows/miri.yml
Labels: ci-build

Hard-disable LSAN in sidecar process
  sidecar/src/entry.rs
Labels: sidecar

Explicitly disable log_method when it could not be opened
  sidecar/src/entry.rs
Labels: sidecar

Add document describing the new build process.
  docs/RFCs/build-process.md
Labels: none

Add numbering so RFCs can be addressed better.
  docs/RFCs/build-process.md
Labels: none

Add build system infrastructure.
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.yml
  builder/Cargo.toml
  builder/build/arch/apple.rs
  builder/build/arch/linux.rs
  builder/build/arch/mod.rs
  builder/build/arch/musl.rs
  builder/build/arch/windows.rs
  builder/build/common.rs
  builder/build/crashtracker.rs
  builder/build/data_pipeline.rs
  builder/build/main.rs
  builder/build/module.rs
  builder/build/profiling.rs
  builder/build/symbolizer.rs
  builder/src/bin/dummy.rs
  crashtracker/CMakeLists.txt
  tools/docker/Dockerfile.build
  tools/src/bin/dedup_headers.rs
  tools/src/lib.rs
Labels: ci-build

Modify CI files to use the new build system.
  .github/workflows/test.yml
  builder/build/arch/musl.rs
  tools/docker/Dockerfile.build
Labels: ci-build

Solve PR comments.
  .github/workflows/test.yml
  Cargo.lock
  build-common/src/cbindgen.rs
  builder/Cargo.toml
  builder/build/main.rs
  builder/build/module.rs
Labels: ci-build

Fix bugs
  .github/workflows/lint.yml
  Cargo.toml
  LICENSE-3rdparty.yml
  builder/build/arch/apple.rs
  builder/build/arch/linux.rs
  builder/build/arch/musl.rs
  builder/build/main.rs
  builder/build/profiling.rs
Labels: ci-build

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
