Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

remove unused import
  sidecar/src/service/blocking.rs
Labels: sidecar

Update readme
  README.md
Labels: none

more unused
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

Add variant check
  dogstatsd-client/src/lib.rs
Labels: none

Increase elements
  trace-obfuscation/benches/benchmarks/credit_cards_bench.rs
Labels: mini-agent

add test that fails when dogstatsdAction is updated
  dogstatsd-client/src/lib.rs
Labels: none

fix: make entry public
  dogstatsd/src/aggregator.rs
Labels: none

add: stand alone dogstatsd binary as example
  Cargo.lock
  dogstatsd/rust-toolchain.toml
  dogstatsd/src/main.rs
Labels: none

feat: upstream dogstatsd from datadog lambda extension
  dogstatsd/src/aggregator.rs
Labels: none

fix: make test utils public
  dogstatsd/src/aggregator.rs
Labels: none

fix: imports
  Cargo.lock
  dogstatsd/src/aggregator.rs
Labels: none

fix: more test utils public
  dogstatsd/src/aggregator.rs
Labels: none

fix: make test config public
  dogstatsd/src/aggregator.rs
  dogstatsd/src/dogstatsd.rs
Labels: none

refactor: use type for sorted tags and ustr
  dogstatsd/src/aggregator.rs
  dogstatsd/src/constants.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/main.rs
  dogstatsd/src/metric.rs
  dogstatsd/tests/integration_test.rs
Labels: none

fix: duplicate dependencies from conflicts
  Cargo.lock
Labels: none

fix: clippy
  dogstatsd/src/aggregator.rs
  dogstatsd/src/main.rs
Labels: none

fix: make fields public for tests and assertions
  dogstatsd/src/aggregator.rs
Labels: none

fix: statsd parsing and tests
  dogstatsd/src/aggregator.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
Labels: none

Revert "fix: make test config public"
  dogstatsd/src/aggregator.rs
  dogstatsd/src/dogstatsd.rs
Labels: none

fix: use only minimum regexp
  dogstatsd/Cargo.toml
Labels: none

refactor: do one step parsing
  Cargo.lock
  dogstatsd/Cargo.toml
  dogstatsd/src/aggregator.rs
  dogstatsd/src/constants.rs
  dogstatsd/src/datadog.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
Labels: none

format: format and clippy test: fix test format with # for tags. It also changed the byte wise test expected result
  dogstatsd/src/aggregator.rs
  dogstatsd/src/constants.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
  dogstatsd/tests/integration_test.rs
Labels: none

refactor: remove unused error
  dogstatsd/src/datadog.rs
Labels: none

fix: use empty tags
  dogstatsd/src/metric.rs
  serverless/src/main.rs
Labels: mini-agent

fix: increase to 10k context size, lost in refactors/moving
  dogstatsd/src/constants.rs
Labels: none

fix: restore previous cargo.lock
  Cargo.lock
Labels: none

fix: missing error dep
  dogstatsd/src/datadog.rs
Labels: none

style: fix comment too long not picked up by rustfmt
  dogstatsd/src/aggregator.rs
Labels: none

fix: remove custom toolchain
  dogstatsd/rust-toolchain.toml
Labels: none

fix: update license
  Cargo.lock
Labels: none

fix: nightly rustc 1.83 format
  serverless/src/main.rs
Labels: mini-agent

fix: clippy
  dogstatsd/src/aggregator.rs
Labels: none

fix tests
  data-pipeline/src/trace_exporter.rs
  dogstatsd-client/src/lib.rs
Labels: data-pipeline

use either to simplify emit_metric code
  Cargo.lock
  data-pipeline/Cargo.toml
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

resolve todo
  data-pipeline/src/trace_exporter.rs
  dogstatsd-client/src/lib.rs
Labels: data-pipeline

Increase iterations for credit card bench
  trace-obfuscation/benches/benchmarks/credit_cards_bench.rs
Labels: mini-agent

Increase iterations
  trace-obfuscation/benches/benchmarks/credit_cards_bench.rs
Labels: mini-agent

Increase samples
  trace-obfuscation/benches/benchmarks/credit_cards_bench.rs
Labels: mini-agent

Apply suggestions
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/stats_exporter.rs
Labels: data-pipeline

Add doc
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
