Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

Revert "fix: revert senddata proxy change from tests"
  trace-utils/src/test_utils/mod.rs
Labels: mini-agent

Revert "fix: revert hyper-proxy, use system proxy"
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, sidecar, data-pipeline

Revert "fix: revert proxy, use system"
  trace-mini-agent/src/trace_processor.rs
Labels: mini-agent

Revert "fix: revert hyper-proxy, just use system proxy"
  Cargo.lock
  trace-utils/Cargo.toml
  trace-utils/src/send_data/mod.rs
Labels: mini-agent

fix: re-commit tests
  dogstatsd/tests/integration_test.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils/datadog_test_agent.rs
Labels: mini-agent

fix: fmt
  trace-utils/src/test_utils/datadog_test_agent.rs
Labels: mini-agent

[Crashtracking] Add PDB info to crash info (#655)
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker/src/crash_info/stacktrace.rs
  examples/ffi/crashinfo.cpp
Labels: none

Increase delay for stats_exporter to send stats
  data-pipeline/src/stats_exporter.rs
Labels: data-pipeline

add more data-pipeline to nuget and ffi feats
  build-profiling-ffi.sh
  windows/libdatadog.csproj
Labels: ci-build

Increase delay for stats_exporter to send stats (#659)
  data-pipeline/src/stats_exporter.rs
Labels: data-pipeline

Fetch info and use config in trace_exporter
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/benches/span_concentrator_bench.rs
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/agent_info/schema.rs
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/span_concentrator/tests.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon/src/lib.rs
Labels: common, data-pipeline

Use ArcSwap to avoid &mut in send
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Remove append_to_path
  ddcommon/src/lib.rs
Labels: common

Update get_headers signature
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Refactor and test parsing and evaluating
  Cargo.lock
  ddcommon-ffi/src/option.rs
  ddcommon-ffi/src/slice.rs
  live-debugger-ffi/Cargo.toml
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger-ffi/src/lib.rs
  live-debugger-ffi/src/parse.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/src/debugger_defs.rs
  live-debugger/src/expr_defs.rs
  live-debugger/src/expr_eval.rs
  live-debugger/src/lib.rs
  live-debugger/src/parse_json.rs
  live-debugger/src/parse_json_expr.rs
  live-debugger/src/parse_util.rs
  live-debugger/src/probe_defs.rs
  live-debugger/src/sender.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
Labels: common, sidecar

Revert "Remove live debugger stuff"
  Cargo.lock
  Cargo.toml
  live-debugger-ffi/Cargo.toml
  live-debugger-ffi/cbindgen.toml
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger-ffi/src/lib.rs
  live-debugger-ffi/src/query.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/Cargo.toml
  live-debugger/src/debugger_defs.rs
  live-debugger/src/expr_defs.rs
  live-debugger/src/expr_eval.rs
  live-debugger/src/lib.rs
  live-debugger/src/parse_json.rs
  live-debugger/src/parse_json_expr.rs
  live-debugger/src/parse_util.rs
  live-debugger/src/probe_defs.rs
  live-debugger/src/sender.rs
  remote-config/Cargo.toml
  remote-config/src/parse.rs
  sidecar-ffi/Cargo.toml
  sidecar-ffi/cbindgen.toml
  sidecar-ffi/src/lib.rs
  sidecar/Cargo.toml
  sidecar/src/service/blocking.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_remote_config.rs
Labels: sidecar

Address a couple CR comments
  Cargo.lock
  live-debugger-ffi/src/sender.rs
  live-debugger/Cargo.toml
  live-debugger/src/redacted_names.rs
  live-debugger/src/sender.rs
Labels: none

Update redacted names list
  live-debugger/src/redacted_names.rs
Labels: none

Fix windows build
  Cargo.lock
  sidecar/Cargo.toml
  sidecar/src/shm_limiters.rs
Labels: sidecar

Provide effective rate too
  sidecar/src/shm_limiters.rs
Labels: sidecar

Add debugger diagnostics
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/send_data.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/src/debugger_defs.rs
  live-debugger/src/parse_json.rs
  live-debugger/src/sender.rs
  remote-config/src/fetch/multitarget.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_remote_config.rs
Labels: sidecar

Fixes
  live-debugger-ffi/src/sender.rs
  live-debugger/src/expr_eval.rs
  live-debugger/src/redacted_names.rs
  live-debugger/src/sender.rs
  sidecar/src/shm_limiters.rs
  sidecar/src/tokio_util.rs
Labels: sidecar

Uglify
  ddcommon-ffi/src/option.rs
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger-ffi/src/lib.rs
  live-debugger-ffi/src/parse.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/src/debugger_defs.rs
  live-debugger/src/expr_defs.rs
  live-debugger/src/expr_eval.rs
  live-debugger/src/lib.rs
  live-debugger/src/parse_json.rs
  live-debugger/src/probe_defs.rs
  live-debugger/src/sender.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
Labels: common, sidecar

Buffer debugger data sending
  Cargo.lock
  ipc/src/platform/mem_handle.rs
  live-debugger/Cargo.toml
  live-debugger/src/sender.rs
  sidecar/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/runtime_info.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/tokio_util.rs
Labels: sidecar

Add PII redaction
  Cargo.lock
  live-debugger-ffi/src/evaluator.rs
  live-debugger-ffi/src/send_data.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/Cargo.toml
  live-debugger/src/expr_eval.rs
  live-debugger/src/lib.rs
  live-debugger/src/redacted_names.rs
  live-debugger/src/sender.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/runtime_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

Add log line
  live-debugger-ffi/src/sender.rs
Labels: none

Fixes
  live-debugger-ffi/src/send_data.rs
Labels: none

Add live debugger sender FFI
  Cargo.lock
  live-debugger-ffi/Cargo.toml
  live-debugger-ffi/src/lib.rs
  live-debugger-ffi/src/send_data.rs
  live-debugger-ffi/src/sender.rs
Labels: none

Introduce shm limiter
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/src/debugger_defs.rs
  live-debugger/src/expr_eval.rs
  live-debugger/src/parse_json.rs
  live-debugger/src/probe_defs.rs
  live-debugger/src/sender.rs
  sidecar/src/entry.rs
  sidecar/src/lib.rs
  sidecar/src/shm_limiters.rs
  sidecar/src/shm_remote_config.rs
  sidecar/src/tracer.rs
Labels: sidecar

Parse line numbers into integer
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger-ffi/src/send_data.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/src/parse_json.rs
  live-debugger/src/probe_defs.rs
  live-debugger/src/redacted_names.rs
  live-debugger/src/sender.rs
  sidecar/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/runtime_info.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_limiters.rs
  sidecar/src/tokio_util.rs
Labels: sidecar

Allow tag sending
  Cargo.lock
  live-debugger-ffi/Cargo.toml
  live-debugger-ffi/build.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger-ffi/src/send_data.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/Cargo.toml
  live-debugger/src/expr_eval.rs
  live-debugger/src/sender.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/runtime_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_limiters.rs
Labels: sidecar

Fixes
  Cargo.lock
  live-debugger-ffi/Cargo.toml
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/src/redacted_names.rs
  sidecar/src/service/runtime_info.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

Defaults for capture config
  live-debugger/src/probe_defs.rs
Labels: none

Amend names to new format
  live-debugger-ffi/src/send_data.rs
  live-debugger/src/debugger_defs.rs
Labels: none

Add const fn for creating an empty ffi Vec
  ddcommon-ffi/src/vec.rs
Labels: common

Send frame location info in exception replay log
  ddcommon-ffi/src/vec.rs
  live-debugger-ffi/src/send_data.rs
  sidecar/src/service/session_info.rs
  sidecar/src/shm_remote_config.rs
Labels: common, sidecar

Don't tie the exception replay rate limit globally
  ipc/src/platform/mem_handle.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/exception_hash_rate_limiter.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/remote_configs.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

Use a shorter fetch interval for tests
  remote-config/src/fetch/multitarget.rs
  sidecar/src/shm_remote_config.rs
Labels: sidecar

Add stats and explicitly set poll interval
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/shared.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/remote_configs.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_remote_config.rs
Labels: sidecar

Add sort-of-ugly rate limit for exception replay
  Cargo.lock
  Cargo.toml
  ddcommon/src/rate_limiter.rs
  ipc/src/rate_limiter.rs
  live-debugger/src/sender.rs
  sidecar-ffi/src/lib.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/exception_hash_rate_limiter.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  tools/docker/Dockerfile.build
Labels: common, sidecar

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
