Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

bump datadog-serverless-trace-mini-agent version to 0.7.1 (#633)
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

[Serverless Mini Agent] Upload Serverless Binaries Instead of Generating Release (#634)
  .github/workflows/publish-serverless-agent.yml
Labels: ci-build

bump datadog-serverless-trace-mini-agent version to 0.7.2
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

Nothing to see here...
  README.md
Labels: none

Don't run all the workflows
  .github/workflows/fuzz.yml.disabled
  .github/workflows/miri.yml.disabled
  .github/workflows/test-ruby.yml.disabled
  .github/workflows/test.yml
  .gitlab-ci.yml
Labels: ci-build

Add support for timeout in shutdown
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Add example to send traces and stats to an agent
  data-pipeline/examples/send-traces-with-stats.rs
Labels: data-pipeline

Removing version for ddcommon
  agent-info/Cargo.toml
Labels: none

Update cargo.lock
  Cargo.lock
Labels: none

Fix lifetimes of DogstatsDAction
  dogstatsd-client/src/lib.rs
Labels: none

bump datadog-serverless-trace-mini-agent version to 0.7.2 (#635)
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

Actually also allow &Vec<Tag> and &[Tag]
  dogstatsd-client/src/lib.rs
Labels: none

cargo fmt
  dogstatsd-client/src/lib.rs
Labels: none

disable cargo bench in dogstatd-client, we use criterion
  dogstatsd-client/Cargo.toml
Labels: none

Try using iterators in data-pipeline for metrics
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

remove superfluous Arc for shared mem handle when converting to bytes
  ipc/src/platform/mem_handle.rs
  sidecar/src/service/sidecar_server.rs
  tinybytes/src/lib.rs
Labels: sidecar

move no_alloc_string to tinybytes crate and rename to bytes_string
  Cargo.lock
  tinybytes/Cargo.toml
  tinybytes/src/bytes_string.rs
  tinybytes/src/lib.rs
  trace-utils/Cargo.toml
  trace-utils/benches/deserialization.rs
  trace-utils/src/lib.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/span_v04.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/tracer_payload.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent

introducing the use of tinybytes::Bytes in the sidecar and trace-utils
  Cargo.lock
  sidecar/Cargo.toml
  sidecar/src/service/sidecar_server.rs
  trace-utils/Cargo.toml
  trace-utils/benches/deserialization.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent, sidecar

Drop redundant clone
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
Labels: mini-agent

WIP: Cleanup and add an unchecked way to create NoAllocStrings
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/no_alloc_string.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/tracer_payload.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent

impl UnderlyingBytes for ShmHandle so we do not have to do a full copy for tinybytes
  Cargo.lock
  sidecar/Cargo.toml
  sidecar/src/service/sidecar_server.rs
  tinybytes/Cargo.toml
  tinybytes/src/lib.rs
Labels: sidecar

move UnderlyingBytes impl for ShmHandle to ipc
  Cargo.lock
  ipc/Cargo.toml
  ipc/src/platform/mem_handle.rs
  sidecar/Cargo.toml
  tinybytes/Cargo.toml
  tinybytes/src/lib.rs
Labels: sidecar

improve decoding tests
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
Labels: mini-agent

WIP: Cleanup
  trace-utils/src/lib.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/no_alloc_string.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/span_v04.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent

WIP: Move to using no allocations spans for v04
  data-pipeline/src/trace_exporter.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/lib.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/no_alloc_string.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/span_v04.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, data-pipeline

mark unchecked functions as unsafe and improve documentation for NoAllocString
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/no_alloc_string.rs
Labels: mini-agent

Refactor BytesWrapper away
  Cargo.lock
  tinybytes/Cargo.toml
  tinybytes/src/bytes_string.rs
  tinybytes/src/lib.rs
  trace-utils/Cargo.toml
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/msgpack_decoder/v04/number.rs
  trace-utils/src/span_v04.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/tracer_payload.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent

include the underlying slice in the BytesWrapper
  tinybytes/src/bytes_string.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
Labels: mini-agent

Don't run all the workflows
  .github/workflows/fuzz.yml.disabled
  .github/workflows/miri.yml.disabled
  .github/workflows/test-ruby.yml.disabled
  .github/workflows/test.yml
  .gitlab-ci.yml
Labels: ci-build

Switch to per iteration measurements
  benchmark/data-pipeline-benches/benches/span_concentrator_bench.rs
  benchmark/trace-normalization-benches/benches/normalization_utils.rs
  benchmark/trace-obfuscation-benches/benches/benchmarks/credit_cards_bench.rs
  benchmark/trace-obfuscation-benches/benches/benchmarks/redis_obfuscation_bench.rs
  benchmark/trace-obfuscation-benches/benches/benchmarks/replace_trace_tags_bench.rs
  benchmark/trace-obfuscation-benches/benches/benchmarks/sql_obfuscation_bench.rs
  benchmark/trace-utils-benches/benches/deserialization.rs
Labels: none

Move benchmarks to separate project
  Cargo.lock
  benchmark/Cargo.lock
  benchmark/Cargo.toml
  benchmark/data-pipeline-benches/Cargo.toml
  benchmark/data-pipeline-benches/benches/main.rs
  benchmark/data-pipeline-benches/benches/span_concentrator_bench.rs
  benchmark/data-pipeline-benches/src/lib.rs
  benchmark/ipc-benches/Cargo.toml
  benchmark/ipc-benches/benches/ipc.rs
  benchmark/ipc-benches/src/lib.rs
  benchmark/profiling-benches/Cargo.toml
  benchmark/profiling-benches/benches/interning_strings.rs
  benchmark/profiling-benches/benches/main.rs
  benchmark/profiling-benches/src/lib.rs
  benchmark/run_benchmarks_ci.sh
  benchmark/trace-normalization-benches/Cargo.toml
  benchmark/trace-normalization-benches/benches/normalization_utils.rs
  benchmark/trace-normalization-benches/src/lib.rs
  benchmark/trace-obfuscation-benches/Cargo.toml
  benchmark/trace-obfuscation-benches/benches/benchmarks/credit_cards_bench.rs
  benchmark/trace-obfuscation-benches/benches/benchmarks/mod.rs
  benchmark/trace-obfuscation-benches/benches/benchmarks/redis_obfuscation_bench.rs
  benchmark/trace-obfuscation-benches/benches/benchmarks/replace_trace_tags_bench.rs
  benchmark/trace-obfuscation-benches/benches/benchmarks/sql_obfuscation_bench.rs
  benchmark/trace-obfuscation-benches/benches/trace_obfuscation.rs
  benchmark/trace-obfuscation-benches/src/lib.rs
  benchmark/trace-utils-benches/Cargo.toml
  benchmark/trace-utils-benches/benches/deserialization.rs
  benchmark/trace-utils-benches/benches/main.rs
  benchmark/trace-utils-benches/src/lib.rs
  data-pipeline/Cargo.toml
  ipc/Cargo.toml
  profiling/Cargo.toml
  trace-normalization/Cargo.toml
  trace-obfuscation/Cargo.toml
  trace-utils/Cargo.toml
Labels: profiling, mini-agent, data-pipeline

Run more times per iteration for short benchmarks
  benchmark/Cargo.lock
  benchmark/run_benchmarks_ci.sh
  benchmark/trace-normalization-benches/benches/normalization_utils.rs
  benchmark/trace-obfuscation-benches/benches/benchmarks/credit_cards_bench.rs
Labels: none

Nothing to see here...
  README.md
Labels: none

I also want to test benchmarks
  .gitlab/benchmarks.yml
  trace-normalization/benches/normalization_utils.rs
  trace-obfuscation/benches/benchmarks/credit_cards_bench.rs
Labels: mini-agent

bump ver
  Cargo.lock
Labels: none

more metrics
  data-pipeline/src/trace_exporter.rs
  dogstatsd-client/src/lib.rs
Labels: data-pipeline

Move agent-info to data-pipeline
  Cargo.lock
  Cargo.toml
  agent-info/Cargo.toml
  data-pipeline/Cargo.toml
  data-pipeline/src/agent_info/fetcher.rs
  data-pipeline/src/agent_info/mod.rs
  data-pipeline/src/agent_info/schema.rs
  data-pipeline/src/lib.rs
  data-pipeline/tests/test_fetch_info.rs
  tools/docker/Dockerfile.build
Labels: data-pipeline

Split dogstatsdaction type to simplify code
  dogstatsd-client/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

Back to 1000
  trace-normalization/benches/normalization_utils.rs
  trace-obfuscation/benches/benchmarks/credit_cards_bench.rs
Labels: mini-agent

move to owned type for sidecar-ffi
  sidecar-ffi/src/lib.rs
Labels: sidecar

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
