Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline, crashtracker

feat(profiling): add zstd as a compression option
  Cargo.lock
  datadog-profiling/Cargo.toml
  datadog-profiling/src/internal/profile/mod.rs
  datadog-profiling/src/serializer/compressed_streaming_encoder.rs
  datadog-profiling/src/serializer/mod.rs
Labels: profiling

Add PausableWorker
  data-pipeline/src/agent_info/fetcher.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter/mod.rs
Labels: data-pipeline

Add pausable worker for telemetry
  data-pipeline/src/telemetry/mod.rs
  data-pipeline/src/trace_exporter/mod.rs
  ddtelemetry/src/worker/mod.rs
  ddtelemetry/src/worker/store.rs
Labels: telemetry, data-pipeline

[crashtracker] API to enable/disable crash report collection
  datadog-crashtracker-ffi/src/collector/mod.rs
  datadog-crashtracker/src/collector/api.rs
  datadog-crashtracker/src/collector/crash_handler.rs
  datadog-crashtracker/src/collector/mod.rs
  datadog-crashtracker/src/lib.rs
Labels: crashtracker

Simplify names for `enable/disable_crashtracker`
  datadog-crashtracker-ffi/src/collector/mod.rs
  datadog-crashtracker/src/collector/api.rs
  datadog-crashtracker/src/collector/crash_handler.rs
  datadog-crashtracker/src/collector/mod.rs
  datadog-crashtracker/src/lib.rs
Labels: crashtracker

Add `reconfigure` API to crashtracker
  datadog-crashtracker-ffi/src/collector/mod.rs
  datadog-crashtracker/src/collector/api.rs
  datadog-crashtracker/src/lib.rs
Labels: crashtracker

Fix formatting
  datadog-crashtracker/src/collector/api.rs
  datadog-crashtracker/src/collector/mod.rs
  datadog-crashtracker/src/lib.rs
Labels: crashtracker

Move PausableWorker to a separate file
  data-pipeline/src/lib.rs
  data-pipeline/src/pausable_worker.rs
  data-pipeline/src/trace_exporter/mod.rs
Labels: data-pipeline

feat(data-pipeline-ffi): remove macros expansion for function signatures
  data-pipeline-ffi/cbindgen.toml
  data-pipeline-ffi/src/span.rs
Labels: data-pipeline

feat(data-pipeline-ffi): add functions to manipulate span from C
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/cbindgen.toml
  data-pipeline-ffi/src/lib.rs
  data-pipeline-ffi/src/span.rs
Labels: data-pipeline

Make FFI mod pub
  data-pipeline-ffi/src/lib.rs
  data-pipeline-ffi/src/span.rs
Labels: data-pipeline

feat(data-pipeline-ffi): add getter functions for SpanBytes
  data-pipeline-ffi/src/span.rs
  tinybytes/src/lib.rs
Labels: data-pipeline

chore: apply feedbacks
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/span.rs
  datadog-sidecar-ffi/Cargo.toml
  datadog-sidecar-ffi/src/lib.rs
Labels: sidecar, data-pipeline

feat(data-pipeline-ffi): add function to manipulate meta_struct
  data-pipeline-ffi/src/span.rs
Labels: data-pipeline

feat(data-pipeline-ffi): use CharSlice as return type for stronger safety
  data-pipeline-ffi/src/span.rs
Labels: data-pipeline

feat(data-pipeline-ffi): add proper logging
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/span.rs
Labels: data-pipeline

feat(data-pipeline-ffi): add function to send traces to the sidecar
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/span.rs
Labels: data-pipeline

feat(data-pipeline-ffi): migrate export function to sidecar-ffi
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/span.rs
  datadog-sidecar-ffi/Cargo.toml
  datadog-sidecar-ffi/src/lib.rs
Labels: sidecar, data-pipeline

chore: revert to previous Charslice convertion
  data-pipeline-ffi/src/span.rs
Labels: data-pipeline

[PROF-11827] Bootstrap publishing ruby gem from CI using trusted publishing
  .github/workflows/publish-ruby.yml
  rakefile.rb
  ruby/README.md
  ruby/Rakefile
  ruby/docker-compose.yml
  ruby/gems.rb
Labels: ci-build

build: bump MSRV from 1.78 to 1.84
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/verify-proto-files.yml
  Cargo.toml
  README.md
  local-linux.Dockerfile
  tools/docker/Dockerfile.build
Labels: ci-build

Avoid retrieving all the roots all the time in remote config
  datadog-remote-config/src/fetch/fetcher.rs
  datadog-remote-config/src/targets.rs
Labels: none

feat: use MSRV version resolver
  Cargo.toml
Labels: none

feat: move span code to sidecar-ffi
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/cbindgen.toml
  data-pipeline-ffi/src/lib.rs
  datadog-sidecar-ffi/Cargo.toml
  datadog-sidecar-ffi/cbindgen.toml
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/src/span.rs
Labels: sidecar, data-pipeline

WIP refactoring, use io::Write
  datadog-alloc/src/buffer.rs
  datadog-alloc/src/vec.rs
  datadog-profiling-core/Cargo.toml
  datadog-profiling-core/src/lib.rs
  datadog-profiling-core/src/protobuf/buffer.rs
  datadog-profiling-core/src/protobuf/function.rs
  datadog-profiling-core/src/protobuf/label.rs
  datadog-profiling-core/src/protobuf/location.rs
  datadog-profiling-core/src/protobuf/mapping.rs
  datadog-profiling-core/src/protobuf/mod.rs
  datadog-profiling-core/src/protobuf/sample.rs
  datadog-profiling-core/src/protobuf/string.rs
  datadog-profiling-core/src/protobuf/value_type.rs
  datadog-profiling-core/src/store.rs
  datadog-profiling/Cargo.toml
  datadog-profiling/src/internal/profile/mod.rs
  datadog-profiling/src/serializer/compressed_streaming_encoder.rs
Labels: profiling

prune unused code
  Cargo.lock
  datadog-profiling-core/Cargo.toml
  datadog-profiling-core/src/ffi/mod.rs
  datadog-profiling-core/src/lib.rs
  datadog-profiling-core/src/protobuf/location.rs
  datadog-profiling-core/src/protobuf/mod.rs
  datadog-profiling-core/src/protobuf/sample.rs
  datadog-profiling-core/src/protobuf/string.rs
  datadog-profiling-core/src/store.rs
  datadog-profiling/src/serializer/compressed_streaming_encoder.rs
Labels: profiling

clean up misleading error message
  datadog-alloc/examples/no_panic.rs
Labels: none

more cutting
  datadog-alloc/src/buffer.rs
  datadog-alloc/src/vec.rs
  datadog-profiling-core/src/lib.rs
Labels: none

fix: design and r4eview stuff
  datadog-tracer-flare/Cargo.toml
  datadog-tracer-flare/src/lib.rs
Labels: none

fix: update cargo lock
  Cargo.lock
Labels: none

fix: clippy
  datadog-tracer-flare/src/lib.rs
Labels: none

[PROF-11827] Bootstrap publishing ruby gem from CI using trusted publishing (#1067)
  .github/workflows/publish-ruby.yml
  rakefile.rb
  ruby/README.md
  ruby/Rakefile
  ruby/docker-compose.yml
  ruby/gems.rb
Labels: ci-build

fix: nit review
  datadog-tracer-flare/src/lib.rs
Labels: none

build(profiling): drop unused deps from Cargo.toml (#1039)
  Cargo.lock
  profiling-ffi/Cargo.toml
  profiling/Cargo.toml
Labels: none

upgrade(library-config): Allow all config keys & stop enumerating them (#934)
  examples/ffi/library_config.c
  library-config-ffi/src/lib.rs
  library-config/src/lib.rs
Labels: none

build: upgrade tokio to avoid potential unsoundness (#1043)
  Cargo.lock
Labels: none

fix(data-pipeline): add a wait loop in the test checking if data has been swapped (#1042)
  data-pipeline/src/agent_info/fetcher.rs
Labels: data-pipeline

build: bump prost-build (#1041)
  Cargo.lock
  ddsketch/Cargo.toml
  ddsketch/src/pb.rs
  sidecar/Cargo.toml
  trace-protobuf/Cargo.toml
  trace-protobuf/src/pb.rs
  trace-protobuf/src/remoteconfig.rs
Labels: none

feat: [SVLS-6272] fips features for bottlecap (#1028)
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Cargo.lock
  ddcommon/Cargo.toml
  ddcommon/src/connector/mod.rs
  local-linux.Dockerfile
  trace-utils/Cargo.toml
Labels: common, ci-build

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'datadog-profiling/**/*',
      'datadog-profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'datadog-trace-normalization/**/*',
      'datadog-trace-obfuscation/**/*',
      'datadog-trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'datadog-sidecar/**/*',
      'datadog-sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]

crashtracker:
- changed-files:
  - any-glob-to-any-file: [
    'datadog-crashtracker/**/*',
    'datadog-crashtracker-ffi/**/*',
  ]
