Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

Add tests
  crashtracker/src/collector/api.rs
Labels: none

These tests should only run on Linux
  crashtracker/src/collector/api.rs
Labels: none

Ignore Miri, since it can't support fork
  crashtracker/src/collector/api.rs
Labels: none

Fix examples.
  builder/src/builder.rs
  builder/src/lib.rs
  builder/src/module.rs
Labels: none

Be more specific about the paradox test
  crashtracker/src/collector/api.rs
Labels: none

Revert "Try building the old way to see if it fails or not"
  windows/build-artifacts.ps1
Labels: ci-build

Pass RUSTFLAGS to each architecture.
  builder/src/arch/apple.rs
  builder/src/arch/linux.rs
  builder/src/arch/musl.rs
  builder/src/arch/windows.rs
  builder/src/profiling.rs
Labels: none

Fix windows constant.
  builder/src/arch/windows.rs
Labels: none

Add names to memfds
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  ipc/src/platform/windows/mem_handle.rs
  sidecar-ffi/src/lib.rs
Labels: sidecar

Revert commit on build from profiling-ffi
  builder/src/profiling.rs
Labels: none

[crashtracking] fix SA_ONSTACK (#713)
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
Labels: none

Bump to v14.1.0
  Cargo.lock
  Cargo.toml
Labels: none

log build in gitlab
  builder/src/profiling.rs
Labels: none

[crashtracker] RFC to mitigate hangs
  docs/RFCs/0004-crashtracker-prevent-hangs.md
Labels: none

[crashtracking] fix SA_ONSTACK (#713)
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
Labels: none

Bump version to v14.0.0 (#708)
  Cargo.lock
  Cargo.toml
  ipc/Cargo.toml
Labels: none

v14.0.0 release for Ruby (#709)
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Labels: none

PR Comments
  crashtracker/src/receiver.rs
Labels: none

chore(ci): stop using macos-12 in github actions (#710)
  .github/workflows/test.yml
Labels: ci-build

Collect agent info from sidecar (#701)
  Cargo.lock
  data-pipeline/src/agent_info/fetcher.rs
  data-pipeline/src/agent_info/mod.rs
  data-pipeline/src/agent_info/schema.rs
  sidecar-ffi/src/lib.rs
  sidecar/Cargo.toml
  sidecar/src/service/agent_info.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar, data-pipeline

[crashtracker] Enable timeout on receiver (#702)
  crashtracker/src/receiver.rs
Labels: none

Fixup?
  Cargo.lock
  ddcommon/Cargo.toml
Labels: common

Bump to v14.1.0 (#715)
  Cargo.lock
  Cargo.toml
  ddcommon/Cargo.toml
Labels: common

Initial
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Labels: none

Initial (#718)
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Labels: none

Rename version to app_version
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Don't build crashtracker since it's being built through profiling.
  builder/src/crashtracker.rs
  builder/src/profiling.rs
Labels: none

Update docs/RFCs/0004-crashtracker-prevent-hangs.md
  docs/RFCs/0004-crashtracker-prevent-hangs.md
Labels: none

PR Comments
  docs/RFCs/0004-crashtracker-prevent-hangs.md
Labels: none

typo
  docs/RFCs/0004-crashtracker-prevent-hangs.md
Labels: none

set actual timeouts and heartbeat
  docs/RFCs/0004-crashtracker-prevent-hangs.md
Labels: none

[crashtracker] RFC to mitigate hangs (#716)
  docs/RFCs/0004-crashtracker-prevent-hangs.md
Labels: none

Add explicit test for extra children
  crashtracker/src/collector/api.rs
Labels: none

fmt
  crashtracker/src/collector/api.rs
Labels: none

[APMSP-1512] Add metadata headers for stats (#712)
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Add named UDS support back to crashtracking
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/shared/configuration.rs
Labels: none

update span namespace for azure spring apps and google cloud run functions v1
  trace-utils/src/trace_utils.rs
Labels: mini-agent

WIP
  crashtracker/src/collector/faultinfo.rs
Labels: none

bump datadog-serverless-trace-mini-agent version to 0.9.0
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

update span namespace for azure spring apps and google cloud run functions v1 (#711)
  trace-utils/src/trace_utils.rs
Labels: mini-agent

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
