Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

reformat
  profiling/src/internal/profile.rs
Labels: profiling

reformat
  profiling/src/internal/owned_types.rs
Labels: profiling

remove arbitrary from deps
  Cargo.lock
  profiling/Cargo.toml
Labels: profiling

clippy
  profiling/src/internal/profile.rs
Labels: profiling

use the same pattern for fixed_sample_length
  profiling/src/internal/profile.rs
Labels: profiling

comments
  profiling/src/internal/owned_types.rs
Labels: profiling

api function calls
  profiling/src/internal/profile.rs
Labels: profiling

update comments
  profiling/src/internal/profile.rs
Labels: profiling

sort not needed
  profiling/src/internal/profile/fuzz_tests.rs
Labels: profiling

[profiling] Fuzz profiler API (#449)
  profiling/src/api.rs
  profiling/src/internal/endpoint_stats.rs
  profiling/src/internal/mod.rs
  profiling/src/internal/owned_types.rs
  profiling/src/internal/owned_types/mod.rs
  profiling/src/internal/profile/fuzz_tests.rs
  profiling/src/internal/profile/mod.rs
  profiling/src/pprof/proto.rs
Labels: profiling

Update copyright header
  ddsketch/Cargo.toml
  ddsketch/build.rs
  ddsketch/src/lib.rs
  ddsketch/src/pb.rs
  ddsketch/src/pb/DDSketch.proto
Labels: none

Add owners for ddsketch
  .github/CODEOWNERS
Labels: ci-build

minor refactor of trace_utils::SendData to reduce send_payload length
  trace-utils/src/send_data/mod.rs
  trace-utils/src/send_data/retry_strategy.rs
  trace-utils/src/send_data/send_data_result.rs
Labels: mini-agent

Remove no longer relevant TODO for retry logic in sidecar trace flusher
  sidecar/src/service/tracing/trace_flusher.rs
Labels: sidecar

Reduce visibility of trace_utils::send_data::RetryStrategy struct fields
  trace-utils/src/send_data/mod.rs
  trace-utils/src/send_data/retry_strategy.rs
Labels: mini-agent

Move SendDataResult and RetryStrategy for trace_utils::SendDataResult
  trace-utils/src/send_data/mod.rs
  trace-utils/src/send_data/retry_strategy.rs
  trace-utils/src/send_data/send_data_result.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

ekump/APMSP-1076 break up trace utils send data file (#471)
  sidecar/src/service/tracing/trace_flusher.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/send_data/retry_strategy.rs
  trace-utils/src/send_data/send_data_result.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent, sidecar

Add wrapper for unix specific functions
  ddcommon/src/entity_id/fallback.rs
  ddcommon/src/entity_id/mod.rs
Labels: common

More dynamic configs, fixes and address several review comments
  remote-config/src/dynamic_configuration/data.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/shared.rs
  remote-config/src/fetch/single.rs
  remote-config/src/lib.rs
  remote-config/src/parse.rs
  sidecar-ffi/cbindgen.toml
  sidecar-ffi/src/lib.rs
  sidecar/src/entry.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_remote_config.rs
  trace-protobuf/src/pb/remoteconfig.proto
  trace-protobuf/src/remoteconfig.rs
Labels: sidecar

Add tests
  Cargo.lock
  ipc/src/lib.rs
  remote-config/Cargo.toml
  remote-config/src/dynamic_configuration/data.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/mod.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/shared.rs
  remote-config/src/fetch/test_server.rs
  remote-config/src/parse.rs
  remote-config/src/targets.rs
  sidecar/Cargo.toml
  sidecar/src/shm_remote_config.rs
  trace-protobuf/build.rs
  trace-protobuf/src/remoteconfig.rs
  trace-protobuf/src/serde.rs
Labels: sidecar

Windows support
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/remote_configs.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_remote_config.rs
Labels: sidecar

Bump rustls version to 0.23
  ddcommon/Cargo.toml
  ddcommon/src/connector/conn_stream.rs
  ddcommon/src/connector/mod.rs
  trace-utils/Cargo.toml
  trace-utils/src/stats_utils.rs
Labels: common, mini-agent

Apply suggestions
  ddsketch/src/lib.rs
Labels: none

Rename sketches to distribution in public interfaces
  ddtelemetry/examples/tm-metrics-worker-test.rs
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/examples/tm-worker-test.rs
  ddtelemetry/src/data/metrics.rs
  ddtelemetry/src/data/payload.rs
  ddtelemetry/src/data/payloads.rs
  ddtelemetry/src/metrics.rs
  ddtelemetry/src/worker/mod.rs
  sidecar/src/self_telemetry.rs
Labels: telemetry, sidecar

Add wrapper for unix specific functions (#482)
  ddcommon/src/entity_id/fallback.rs
  ddcommon/src/entity_id/mod.rs
Labels: common

[crashtracker] Send pid to the receiver
  crashtracker/src/constants.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/crash_info.rs
  crashtracker/src/receiver.rs
  crashtracker/src/telemetry.rs
Labels: none

[crashtracker] Ignore slow release tests
  bin_tests/tests/crashtracker_bin_test.rs
  bin_tests/tests/test_the_tests.rs
Labels: none

Disable rustfmt on automatically generated files
  ddsketch/build.rs
  ddsketch/src/pb.rs
  rustfmt.toml
Labels: none

Upgrade base64
  Cargo.lock
  ddtelemetry/Cargo.toml
Labels: telemetry

pass along the receiver type to the tests
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/tests/crashtracker_bin_test.rs
Labels: none

passes along the info to run either unix or stdin
  bin_tests/src/lib.rs
  bin_tests/tests/crashtracker_bin_test.rs
Labels: none

run the stdin case
  bin_tests/src/bin/crashtracker_bin_test.rs
Labels: none

Finished, works for both sockets and stdin
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker/src/receiver.rs
Labels: none

check for extra args
  bin_tests/src/bin/crashtracker_bin_test.rs
Labels: none

better comment
  bin_tests/src/bin/crashtracker_bin_test.rs
Labels: none

avoid unneeded temp
  bin_tests/src/bin/crashtracker_bin_test.rs
Labels: none

Update DDSketch version
  Cargo.lock
Labels: none

Update 3rd party LICENSE
  LICENSE-3rdparty.yml
Labels: none

add missing file
  bin_tests/src/bin/crashtracker_unix_socket_receiver.rs
Labels: none

style: fix clippy lints from Rust 1.79 release
  profiling-ffi/src/crashtracker/collector.rs
  profiling-ffi/src/exporter.rs
  profiling-ffi/src/profiles.rs
  profiling/src/internal/profile/mod.rs
  trace-normalization/src/normalizer.rs
Labels: profiling, mini-agent

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
