Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]

Fix link to document.
  docs/RFCs/0002-build-process.md
Labels: none

Add numbering so RFCs can be addressed better.
  docs/RFCs/0002-build-process.md
Labels: none

Add document describing the new build process.
  docs/RFCs/build-process.md
Labels: none

feat: upstream dogstatsd from datadog lambda extension
  dogstatsd/Cargo.toml
  dogstatsd/src/aggregator.rs
  dogstatsd/src/constants.rs
  dogstatsd/src/datadog.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/errors.rs
  dogstatsd/src/lib.rs
  dogstatsd/src/metric.rs
Labels: none

add: stand alone dogstatsd binary as example
  Cargo.lock
  Cargo.toml
  dogstatsd/Cargo.toml
  dogstatsd/rust-toolchain.toml
  dogstatsd/src/flusher.rs
  dogstatsd/src/lib.rs
  dogstatsd/src/main.rs
Labels: none

fix: imports
  Cargo.lock
  dogstatsd/Cargo.toml
  dogstatsd/src/aggregator.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
Labels: none

fix: make test utils public
  dogstatsd/src/aggregator.rs
Labels: none

fix: more test utils public
  dogstatsd/src/aggregator.rs
Labels: none

fix: make entry public
  dogstatsd/src/aggregator.rs
Labels: none

fix: clippy
  dogstatsd/src/aggregator.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/lib.rs
  dogstatsd/src/main.rs
  dogstatsd/src/metric.rs
Labels: none

fix: make test config public
  dogstatsd/src/aggregator.rs
  dogstatsd/src/dogstatsd.rs
Labels: none

Revert "fix: make test config public"
  dogstatsd/src/aggregator.rs
  dogstatsd/src/dogstatsd.rs
Labels: none

fix: make fields public for tests and assertions
  dogstatsd/src/aggregator.rs
Labels: none

Rename Concentrator to SpanConcentrator
  data-pipeline/src/lib.rs
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/span_concentrator/tests.rs
Labels: data-pipeline

Retry when poll_read_ready immediately succeeds in AsyncChannel
  ipc/src/platform/unix/channel/async_channel.rs
Labels: none

Solve PR comment.
  docs/RFCs/0002-build-process.md
Labels: none

Add document describing the new build process. (#579)
  docs/RFCs/0002-build-process.md
Labels: none

[Data-Pipeline] [APMSP-1240] Add concentrator (#570)
  Cargo.lock
  data-pipeline/Cargo.toml
  data-pipeline/src/lib.rs
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/span_concentrator/tests.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent, data-pipeline

Retry when poll_read_ready immediately succeeds in AsyncChannel (#592)
  ipc/src/platform/unix/channel/async_channel.rs
Labels: none

Implement fallback for when memfd is not available on Linux
  ipc/src/platform/unix/mem_handle.rs
  spawn_worker/src/unix/spawn.rs
Labels: none

Add fallback for fexecve() failure
  spawn_worker/Cargo.toml
  spawn_worker/src/unix/spawn.rs
Labels: none

Implement fallback for when memfd is not available on Linux (#591)
  ipc/src/platform/unix/mem_handle.rs
  spawn_worker/Cargo.toml
  spawn_worker/src/unix/spawn.rs
Labels: none

Allow using abstract namespace for crashtracker unix socket
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/receiver.rs
  sidecar/src/crashtracker.rs
  sidecar/src/setup/unix.rs
Labels: sidecar

Test with opt-level = 3 for benchmarks
  Cargo.toml
Labels: none

Add back #test_case
  Cargo.lock
  tinybytes/Cargo.toml
  tinybytes/src/lib.rs
  tinybytes/src/test.rs
Labels: none

Remove tests
  Cargo.lock
  LICENSE-3rdparty.yml
  tinybytes/Cargo.toml
  tinybytes/src/lib.rs
  tinybytes/src/test.rs
Labels: none

Add a tiny bytes::Bytes like implementation
  .codecov.yml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.yml
  tinybytes/Cargo.toml
  tinybytes/src/lib.rs
  tinybytes/src/test.rs
  tools/docker/Dockerfile.build
Labels: none

Try another property based test library
  Cargo.lock
  LICENSE-3rdparty.yml
  tinybytes/Cargo.toml
  tinybytes/src/test.rs
Labels: none

Test with proptest again
  Cargo.lock
  LICENSE-3rdparty.yml
  tinybytes/Cargo.toml
Labels: none

Include proptest dependency
  Cargo.lock
  LICENSE-3rdparty.yml
  tinybytes/Cargo.toml
Labels: none

Check if panic-message is the culprit
  Cargo.lock
  tinybytes/Cargo.toml
Labels: none

Add all the small deps
  Cargo.lock
  tinybytes/Cargo.toml
Labels: none

So anything rand breaks it?
  Cargo.lock
  tinybytes/Cargo.toml
Labels: none

Could it be rand_chacha?
  Cargo.lock
  tinybytes/Cargo.toml
Labels: none

Or just rand?
  Cargo.lock
  tinybytes/Cargo.toml
Labels: none

Limit proptest features
  tinybytes/Cargo.toml
  tinybytes/src/test.rs
Labels: none

Only keep rnd*
  Cargo.lock
  tinybytes/Cargo.toml
Labels: none

Test with only rand added
  Cargo.lock
  LICENSE-3rdparty.yml
  tinybytes/Cargo.toml
Labels: none

TEST with rust 1.73.0
  .gitlab-ci.yml
Labels: ci-build

Append Crashtracker to file to avoid overwrites with telemetry
  crashtracker/src/crash_info/mod.rs
Labels: none
