Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

[crashtracker] Gate compilation using cargo features (#541)
  build-profiling-ffi.sh
  crashtracker/Cargo.toml
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/counters.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/collector/spans.rs
  crashtracker/src/crash_info/metadata.rs
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/stacktrace.rs
  crashtracker/src/crash_info/telemetry.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  crashtracker/src/shared/configuration.rs
  crashtracker/src/shared/constants.rs
  crashtracker/src/shared/mod.rs
  examples/ffi/crashinfo.cpp
  profiling-ffi/Cargo.toml
  profiling-ffi/src/crashtracker/collector/counters.rs
  profiling-ffi/src/crashtracker/collector/datatypes.rs
  profiling-ffi/src/crashtracker/collector/mod.rs
  profiling-ffi/src/crashtracker/collector/spans.rs
  profiling-ffi/src/crashtracker/crash_info/datatypes.rs
  profiling-ffi/src/crashtracker/crash_info/mod.rs
  profiling-ffi/src/crashtracker/datatypes.rs
  profiling-ffi/src/crashtracker/datatypes/mod.rs
  profiling-ffi/src/crashtracker/demangler/datatypes.rs
  profiling-ffi/src/crashtracker/demangler/mod.rs
  profiling-ffi/src/crashtracker/mod.rs
  profiling-ffi/src/crashtracker/receiver.rs
Labels: profiling, ci-build

Fix typos + add a missing func in profiling-ffi
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/bin/crashtracker_unix_socket_receiver.rs
  crashtracker/CMakeLists.txt
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  profiling-ffi/src/crashtracker/collector/mod.rs
Labels: profiling

Init CrashTracker support in the sidecar
  Cargo.lock
  crashtracker/Cargo.toml
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/telemetry.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  ddcommon/src/lib.rs
  profiling-ffi/Cargo.toml
  sidecar/Cargo.toml
  sidecar/src/entry.rs
Labels: profiling, common, sidecar

Fix typo
  sidecar-ffi/src/lib.rs
  sidecar/src/crashtracker.rs
  sidecar/src/entry.rs
Labels: sidecar

Fix CI
  crashtracker/src/crash_info/mod.rs
  ddcommon/src/lib.rs
  ddtelemetry/src/worker/http_client.rs
  sidecar/src/entry.rs
Labels: common, telemetry, sidecar

cargo fmt
  sidecar-ffi/src/lib.rs
  sidecar/src/crashtracker.rs
  sidecar/src/entry.rs
  sidecar/src/lib.rs
Labels: sidecar

Create one socket per spawned sidecar
  sidecar-ffi/src/lib.rs
  sidecar/src/crashtracker.rs
  sidecar/src/entry.rs
  sidecar/src/lib.rs
Labels: sidecar

Fix rebase
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/lib.rs
  profiling-ffi/src/crashtracker/collector/mod.rs
  profiling-ffi/src/crashtracker/receiver.rs
Labels: profiling

update mini agent trace endpoint status code and response body to work with java tracer
  trace-mini-agent/src/http_utils.rs
  trace-mini-agent/src/trace_processor.rs
Labels: mini-agent

Fix clippy
  sidecar/src/entry.rs
Labels: sidecar

use different environment variable to identify azure spring apps
  trace-utils/src/config_utils.rs
Labels: mini-agent

only update http response for success responses to traces endpoint
  trace-mini-agent/src/http_utils.rs
  trace-mini-agent/src/trace_processor.rs
Labels: mini-agent

Fix doc coverage CI job
  profiling-ffi/src/crashtracker/collector/mod.rs
Labels: profiling

address lint errors
  trace-mini-agent/src/http_utils.rs
Labels: mini-agent

Remove unnecessary strip_prefix("file")
  crashtracker/src/crash_info/mod.rs
  ddtelemetry/src/worker/http_client.rs
  examples/ffi/crashinfo.cpp
Labels: telemetry

updates comment and formatting
  trace-mini-agent/src/http_utils.rs
Labels: mini-agent

add _dd.mini_agent_version to spans in all environments
  Cargo.lock
  serverless/src/main.rs
  trace-mini-agent/Cargo.toml
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

apply formatting
  trace-utils/src/trace_utils.rs
Labels: mini-agent

[crashtracker] Use common Endpoint to further decouple from profiler
  ddcommon-ffi/src/endpoint.rs
  examples/ffi/crashtracking.c
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/crashtracker/collector/datatypes.rs
Labels: profiling, common

cargo clippy fix for 1.80
  crashtracker/src/receiver.rs
  ddcommon/src/tag.rs
  ddsketch/src/lib.rs
  ipc/Cargo.toml
  ipc/src/platform/mem_handle.rs
  ipc/tarpc/tarpc/src/client.rs
  ipc/tarpc/tarpc/src/serde_transport.rs
  profiling/src/collections/string_table/mod.rs
  profiling/src/collections/string_table/wordpress_test_data.rs
  profiling/src/internal/profile/mod.rs
  profiling/src/pprof/sliced_proto.rs
  sidecar-ffi/Cargo.toml
  sidecar/Cargo.toml
  sidecar/src/service/tracing/trace_flusher.rs
  spawn_worker/Cargo.toml
  tests/spawn_from_lib/tests/spawn.rs
  trace-mini-agent/src/http_utils.rs
  trace-normalization/src/normalizer.rs
Labels: profiling, common, mini-agent, sidecar

make windows happy
  sidecar/Cargo.toml
Labels: sidecar

windows unexpected cfgs
  sidecar-ffi/Cargo.toml
Labels: sidecar

typo
  sidecar-ffi/Cargo.toml
Labels: sidecar

Fixes to make clippy version 1.80 happy (#550)
  crashtracker/src/receiver.rs
  ddcommon/src/tag.rs
  ddsketch/src/lib.rs
  ipc/Cargo.toml
  ipc/src/platform/mem_handle.rs
  ipc/tarpc/tarpc/src/client.rs
  ipc/tarpc/tarpc/src/serde_transport.rs
  profiling/src/collections/string_table/mod.rs
  profiling/src/collections/string_table/wordpress_test_data.rs
  profiling/src/internal/profile/mod.rs
  profiling/src/pprof/sliced_proto.rs
  sidecar-ffi/Cargo.toml
  sidecar/Cargo.toml
  sidecar/src/service/tracing/trace_flusher.rs
  spawn_worker/Cargo.toml
  tests/spawn_from_lib/tests/spawn.rs
  trace-mini-agent/src/http_utils.rs
  trace-normalization/src/normalizer.rs
Labels: profiling, common, mini-agent, sidecar

[crashtracker] Use common Endpoint to further decouple from profiler (#549)
  ddcommon-ffi/src/endpoint.rs
  examples/ffi/crashtracking.c
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/crashtracker/collector/datatypes.rs
Labels: profiling, common

crashtracker in its own ffi library
  Cargo.lock
  LICENSE-3rdparty.yml
  crashtracker-ffi/Cargo.toml
  crashtracker-ffi/src/collector/counters.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker-ffi/src/collector/spans.rs
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker-ffi/src/crash_info/mod.rs
  crashtracker-ffi/src/datatypes/mod.rs
  crashtracker-ffi/src/demangler/datatypes.rs
  crashtracker-ffi/src/demangler/mod.rs
  crashtracker-ffi/src/lib.rs
  crashtracker-ffi/src/receiver.rs
Labels: none

[crashtracker] Move FFI into its own library
  Cargo.lock
  Cargo.toml
  crashtracker-ffi/Cargo.toml
  crashtracker-ffi/build.rs
  crashtracker-ffi/cbindgen.toml
  crashtracker-ffi/src/lib.rs
Labels: none

ddcommon endpoint explicit
  ddcommon-ffi/src/endpoint.rs
Labels: common

use the common endpoint
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/crash_info/mod.rs
  crashtracker-ffi/src/receiver.rs
  ddcommon-ffi/src/endpoint.rs
  profiling-ffi/src/crashtracker/collector/datatypes.rs
Labels: profiling, common

builds as its own crate
  Cargo.lock
  build-profiling-ffi.sh
  crashtracker-ffi/cbindgen.toml
  crashtracker/libdatadog-crashtracking-receiver.c
  profiling-ffi/Cargo.toml
  profiling-ffi/src/crashtracker/collector/counters.rs
  profiling-ffi/src/crashtracker/collector/datatypes.rs
  profiling-ffi/src/crashtracker/collector/mod.rs
  profiling-ffi/src/crashtracker/collector/spans.rs
  profiling-ffi/src/crashtracker/crash_info/datatypes.rs
  profiling-ffi/src/crashtracker/crash_info/mod.rs
  profiling-ffi/src/crashtracker/datatypes/mod.rs
  profiling-ffi/src/crashtracker/demangler/datatypes.rs
  profiling-ffi/src/crashtracker/demangler/mod.rs
  profiling-ffi/src/crashtracker/mod.rs
  profiling-ffi/src/crashtracker/receiver.rs
  profiling-ffi/src/lib.rs
Labels: profiling, ci-build

Actually seems to work
  crashtracker-ffi/cbindgen.toml
  crashtracker-ffi/src/collector/counters.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker-ffi/src/collector/spans.rs
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker-ffi/src/crash_info/mod.rs
  crashtracker-ffi/src/datatypes/mod.rs
  crashtracker-ffi/src/receiver.rs
  crashtracker/libdatadog-crashtracking-receiver.c
  crashtracker/src/README.md
  crashtracker/src/receiver.rs
  examples/ffi/crashinfo.cpp
  examples/ffi/crashtracking.c
Labels: none

fix the dockerfile
  tools/docker/Dockerfile.build
Labels: none

trailing newline
  examples/ffi/crashinfo.cpp
Labels: none

don't use unnecessart quantification
  ddcommon-ffi/src/endpoint.rs
Labels: common

[ddcommon] Add token bucket rate limiter implementation
  Cargo.lock
  ddcommon/Cargo.toml
  ddcommon/src/lib.rs
  ddcommon/src/rate_limiter.rs
Labels: common

Use the security ID of the user as sidecar identifier
  Cargo.lock
  sidecar/Cargo.toml
  sidecar/src/setup/windows.rs
  sidecar/src/windows.rs
Labels: sidecar

fix clippy warnings
  ddcommon/src/rate_limiter.rs
Labels: common

fix formatting
  ddcommon/src/rate_limiter.rs
Labels: common

fix doctest
  crashtracker-ffi/src/collector/mod.rs
Labels: none

FIXUP: Address clippy warnings and remove ignores
  trace-utils/src/msgpack/decoder.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
