Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]

Disable workflows and test benchmarks comments
  .github/workflows/all-checks.yml.bkp
  .github/workflows/coverage.yml.bkp
  .github/workflows/fuzz.yml.bkp
  .github/workflows/lint.yml.bkp
  .github/workflows/miri.yml.bkp
  .github/workflows/pr-auto-labeler.yml.bkp
  .github/workflows/publish-serverless-agent.yml.bkp
  .github/workflows/stale.yml.bkp
  .github/workflows/test-ruby.yml.bkp
  .github/workflows/test.yml.bkp
  .github/workflows/verify-proto-files.yml.bkp
  .github/workflows/weekly-verify-proto-files.yml.bkp
Labels: ci-build

Update blazesym to 0.2.0-rc.2
  crashtracker/Cargo.toml
  symbolizer-ffi/Cargo.toml
  symbolizer-ffi/src/blazesym.h
Labels: none

Update blazesym to 0.2.0-rc.2 (#721)
  crashtracker/Cargo.toml
  symbolizer-ffi/Cargo.toml
  symbolizer-ffi/src/blazesym.h
Labels: none

Add names to memfds (#714)
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  ipc/src/platform/windows/mem_handle.rs
  sidecar-ffi/src/lib.rs
Labels: sidecar

increase the volume of traces for deserialization benchmarks
  trace-utils/benches/deserialization.rs
Labels: mini-agent

Add bench path to trace-obfuscation
  trace-obfuscation/Cargo.toml
Labels: mini-agent

increase the volume of traces for deserialization benchmarks (#732)
  trace-utils/benches/deserialization.rs
Labels: mini-agent

Add bench path to trace-obfuscation (#735)
  trace-obfuscation/Cargo.toml
Labels: mini-agent

Final changes
  docs/RFCs/0005-crashtracker-structured-log-format.md
  docs/RFCs/artifacts/0005-crashtracker-example.json
  docs/RFCs/artifacts/0005-crashtracker-schema.json
Labels: none

cleaned up the kind field
  docs/RFCs/0005-crashtracker-structured-log-format.md
Labels: none

[crashtracker] RFC for structured log format (#554)
  docs/RFCs/0005-crashtracker-structured-log-format.md
  docs/RFCs/artifacts/0005-crashtracker-example.json
  docs/RFCs/artifacts/0005-crashtracker-schema.json
Labels: none

[crashtracker] Fixup link in RFC
  docs/RFCs/0005-crashtracker-structured-log-format.md
Labels: none

[crashtracker] Implement RFC 0005
  Cargo.lock
  crashtracker/Cargo.toml
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/lib.rs
  crashtracker/src/rfc5_crash_info/error_data.rs
  crashtracker/src/rfc5_crash_info/metadata.rs
  crashtracker/src/rfc5_crash_info/mod.rs
  crashtracker/src/rfc5_crash_info/os_info.rs
  crashtracker/src/rfc5_crash_info/proc_info.rs
  crashtracker/src/rfc5_crash_info/sig_info.rs
  crashtracker/src/rfc5_crash_info/spans.rs
  crashtracker/src/rfc5_crash_info/stacktrace.rs
Labels: none

[crashtracker] Fixup link in RFC (#737)
  docs/RFCs/0005-crashtracker-structured-log-format.md
Labels: none

Try to fix windows build
  crashtracker/src/rfc5_crash_info/sig_info.rs
Labels: none

Windows lint
  crashtracker/src/rfc5_crash_info/sig_info.rs
Labels: none

PR Comments
  crashtracker/src/rfc5_crash_info/error_data.rs
  crashtracker/src/rfc5_crash_info/stacktrace.rs
Labels: none

[chore] Reduce fuzz time to 30s for PRs
  .github/workflows/fuzz.yml
Labels: ci-build

Deduplicate Debugger diagnostics in sidecar
  live-debugger-ffi/src/send_data.rs
  live-debugger/src/debugger_defs.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/debugger_diagnostics_bookkeeper.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

[crashtracker] Implement RFC 0005 (#738)
  Cargo.lock
  crashtracker/Cargo.toml
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/lib.rs
  crashtracker/src/rfc5_crash_info/error_data.rs
  crashtracker/src/rfc5_crash_info/metadata.rs
  crashtracker/src/rfc5_crash_info/mod.rs
  crashtracker/src/rfc5_crash_info/os_info.rs
  crashtracker/src/rfc5_crash_info/proc_info.rs
  crashtracker/src/rfc5_crash_info/sig_info.rs
  crashtracker/src/rfc5_crash_info/spans.rs
  crashtracker/src/rfc5_crash_info/stacktrace.rs
Labels: none

clippy & add tests
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/debugger_diagnostics_bookkeeper.rs
Labels: sidecar

[chore] Reduce fuzz time to 30s for PRs (#740)
  .github/workflows/fuzz.yml
Labels: ci-build

ci: setup building nuget packages in CI
  .github/workflows/dotnet.yml
  windows/build-artifacts.ps1
  windows/build/build.ps1
  windows/build/build.sh
  windows/libdatadog.csproj
  windows/libdatadog.props
  windows/libdatadog.targets
Labels: ci-build

try parallel builds
  .github/workflows/dotnet.yml
Labels: ci-build

try removing unwanted platforms
  .github/workflows/dotnet.yml
Labels: ci-build

Initial
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker/src/collector/alt_fork.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/collector/saguard.rs
  crashtracker/src/receiver.rs
  crashtracker/src/shared/configuration.rs
  crashtracker/src/shared/constants.rs
Labels: none

split jobs
  .github/workflows/dotnet.yml
Labels: ci-build

fix targets
  .github/workflows/dotnet.yml
Labels: ci-build

Clarify comment
  crashtracker/src/collector/crash_handler.rs
Labels: none

Deduplicate Debugger diagnostics in sidecar (#736)
  live-debugger-ffi/src/send_data.rs
  live-debugger/src/debugger_defs.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/debugger_diagnostics_bookkeeper.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

Handle case where the applictaion is stopped without other telemetry sent
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

Add header so we get real http status codes from the trace agent
  trace-utils/src/send_data/mod.rs
Labels: mini-agent

Add header so we get real http status codes from the trace agent (#744)
  trace-utils/src/send_data/mod.rs
Labels: mini-agent

improve err message
  trace-utils/src/test_utils/datadog_test_agent.rs
Labels: mini-agent

improve err message (#745)
  trace-utils/src/test_utils/datadog_test_agent.rs
Labels: mini-agent

Handle case where the applictaion is stopped without other telemetry sent (#743)
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

pack everything
  .github/workflows/dotnet.yml
Labels: ci-build

reduce artifact size by removing build related files
  .github/workflows/dotnet.yml
Labels: ci-build

add source control information
  .github/workflows/dotnet.yml
  windows/libdatadog.csproj
Labels: ci-build

unique version to get around nuget cache gotchas
  .github/workflows/dotnet.yml
Labels: ci-build
