Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]

Revert 1 commits
  trace-obfuscation/benches/benchmarks/credit_cards_bench.rs
Labels: mini-agent

Fix leaking sessions
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

Add bp ui
  .gitlab/benchmarks.yml
Labels: none

Fix leaking sessions (#642)
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

introducing the use of tinybytes::Bytes in the sidecar and trace-utils
  Cargo.lock
  sidecar/Cargo.toml
  sidecar/src/service/sidecar_server.rs
  trace-utils/Cargo.toml
  trace-utils/benches/deserialization.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent, sidecar

WIP: Cleanup and add an unchecked way to create NoAllocStrings
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/no_alloc_string.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/tracer_payload.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent

move no_alloc_string to tinybytes crate and rename to bytes_string
  Cargo.lock
  tinybytes/Cargo.toml
  tinybytes/src/bytes_string.rs
  tinybytes/src/lib.rs
  trace-utils/Cargo.toml
  trace-utils/benches/deserialization.rs
  trace-utils/src/lib.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/span_v04.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/tracer_payload.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent

improve decoding tests
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
Labels: mini-agent

WIP: Move to using no allocations spans for v04
  data-pipeline/src/trace_exporter.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/lib.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/no_alloc_string.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/span_v04.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, data-pipeline

include the underlying slice in the BytesWrapper
  tinybytes/src/bytes_string.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
Labels: mini-agent

mark unchecked functions as unsafe and improve documentation for NoAllocString
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/no_alloc_string.rs
Labels: mini-agent

WIP: Cleanup
  trace-utils/src/lib.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/no_alloc_string.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/span_v04.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent

Drop redundant clone
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
Labels: mini-agent

Refactor BytesWrapper away
  Cargo.lock
  tinybytes/Cargo.toml
  tinybytes/src/bytes_string.rs
  tinybytes/src/lib.rs
  trace-utils/Cargo.toml
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/msgpack_decoder/v04/number.rs
  trace-utils/src/span_v04.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/tracer_payload.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent

impl UnderlyingBytes for ShmHandle so we do not have to do a full copy for tinybytes
  Cargo.lock
  sidecar/Cargo.toml
  sidecar/src/service/sidecar_server.rs
  tinybytes/Cargo.toml
  tinybytes/src/lib.rs
Labels: sidecar

move UnderlyingBytes impl for ShmHandle to ipc
  Cargo.lock
  ipc/Cargo.toml
  ipc/src/platform/mem_handle.rs
  sidecar/Cargo.toml
  tinybytes/Cargo.toml
  tinybytes/src/lib.rs
Labels: sidecar

ignoring miri for false positives
  tinybytes/src/bytes_string.rs
Labels: none

remove superfluous Arc for shared mem handle when converting to bytes
  ipc/src/platform/mem_handle.rs
  sidecar/src/service/sidecar_server.rs
  tinybytes/src/lib.rs
Labels: sidecar

ignore miri for false positives
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
Labels: mini-agent

Add docs and initial PR review comments
  data-pipeline/src/trace_exporter.rs
  dogstatsd-client/src/lib.rs
Labels: data-pipeline

more miri ignores
  tinybytes/src/test.rs
Labels: none

fixing odd merge
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

remove unnecessary comments in tinybytes
  tinybytes/Cargo.toml
Labels: none

reduced allocation v04 span representation (#598)
  Cargo.lock
  data-pipeline/src/trace_exporter.rs
  ipc/Cargo.toml
  ipc/src/platform/mem_handle.rs
  sidecar/Cargo.toml
  sidecar/src/service/sidecar_server.rs
  tinybytes/Cargo.toml
  tinybytes/src/bytes_string.rs
  tinybytes/src/lib.rs
  tinybytes/src/test.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/Cargo.toml
  trace-utils/benches/deserialization.rs
  trace-utils/src/lib.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/msgpack_decoder/v04/number.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/span_v04.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, sidecar, data-pipeline

more docs and readme
  dogstatsd-client/Cargo.toml
  dogstatsd-client/README.md
Labels: none

add ticket for todo
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

fix: do not use a map, support duplicate tag values
  dogstatsd/src/metric.rs
Labels: none

revert to og branch
  .gitlab/benchmarks.yml
Labels: none

[APMSP-1013] Add stats exporter (#584)
  Cargo.lock
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/Cargo.toml
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/lib.rs
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon/src/lib.rs
  examples/ffi/trace_exporter.c
  trace-utils/src/tracer_header_tags.rs
Labels: common, mini-agent, data-pipeline

Remove Cargo.toml default-members since builder has no default feature
  Cargo.toml
Labels: none

PR comments
  Cargo.toml
  data-pipeline/src/health_metrics.rs
  data-pipeline/src/lib.rs
  data-pipeline/src/trace_exporter.rs
  dogstatsd-client/src/lib.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar, data-pipeline

Fix CI
  Cargo.toml
  tools/docker/Dockerfile.build
Labels: none

remove unused import
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Remove Cargo.toml default-members since builder has no default feature (#644)
  Cargo.toml
Labels: none

license header
  data-pipeline/src/health_metrics.rs
Labels: data-pipeline

Fix rustfmt
  profiling/src/collections/string_table/mod.rs
Labels: profiling

Increase wait time
  data-pipeline/src/stats_exporter.rs
Labels: data-pipeline

Fix rustfmt error (#645)
  profiling/src/collections/string_table/mod.rs
Labels: profiling

Add bp ui (#643)
  .gitlab/benchmarks.yml
Labels: none

Fix test agent tests in CI
  .github/workflows/test.yml
  Cargo.toml
  tools/docker/Dockerfile.build
Labels: ci-build
