Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]

fix(ddcommon): warning on unused import
  ddcommon/src/connector/mod.rs
Labels: common

minor refactors
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
Labels: none

add unit tests
  Cargo.lock
  dogstatsd/Cargo.toml
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
Labels: none

Fix heap allocations
  bin_tests/src/modes/unix/test_007_chaining.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/collector/saguard.rs
Labels: none

remove explicit drops
  dogstatsd/src/dogstatsd.rs
Labels: none

Increase DogStatsD Buffer Size and Pattern Match Container Ids (#698)
  Cargo.lock
  dogstatsd/Cargo.toml
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
  serverless/Cargo.toml
  serverless/src/main.rs
Labels: mini-agent

Remove debug line
  crashtracker/src/collector/crash_handler.rs
Labels: none

Update crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/crash_handler.rs
Labels: none

Fixups
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker/src/shared/configuration.rs
Labels: none

Final PR comments
  docs/RFCs/0004-crashtracker-design.md
Labels: none

Refactor tests to use Path instead of str
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/unix/test_000_donothing.rs
  bin_tests/src/modes/unix/test_001_sigpipe.rs
  bin_tests/src/modes/unix/test_002_sigchld.rs
  bin_tests/src/modes/unix/test_003_sigchld_with_exec.rs
  bin_tests/src/modes/unix/test_004_donothing_sigstack.rs
  bin_tests/src/modes/unix/test_005_sigpipe_sigstack.rs
  bin_tests/src/modes/unix/test_006_sigchld_sigstack.rs
  bin_tests/src/modes/unix/test_007_chaining.rs
  crashtracker/src/collector/crash_handler.rs
Labels: none

Comments mostly
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/unix/test_001_sigpipe.rs
  crashtracker/src/collector/crash_handler.rs
Labels: none

Fix collector debug line
  crashtracker/src/collector/api.rs
Labels: none

Fixups
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
Labels: none

Fixups
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/collector/saguard.rs
  crashtracker/src/shared/configuration.rs
  crashtracker/src/shared/constants.rs
Labels: none

Oops
  crashtracker/src/collector/atomguard.rs
Labels: none

Add fork test, add waitpid back, style
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/unix/mod.rs
  bin_tests/src/modes/unix/test_008_fork.rs
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker/src/collector/atomguard.rs
  crashtracker/src/collector/crash_handler.rs
Labels: none

Fix fork test
  bin_tests/src/modes/unix/test_008_fork.rs
  crashtracker/src/collector/crash_handler.rs
Labels: none

Macos fixups
  bin_tests/src/modes/unix/test_001_sigpipe.rs
  bin_tests/src/modes/unix/test_002_sigchld.rs
  bin_tests/src/modes/unix/test_003_sigchld_with_exec.rs
  bin_tests/src/modes/unix/test_005_sigpipe_sigstack.rs
  bin_tests/src/modes/unix/test_006_sigchld_sigstack.rs
Labels: none

Isolate tests to Unices
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/mod.rs
Labels: none

Isolate to Unix
  bin_tests/src/modes/behavior.rs
Labels: none

Update bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/bin/crashtracker_bin_test.rs
Labels: none

Fix typo referencing old const
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/modes/unix/test_007_chaining.rs
Labels: none

Remove panic potential in timeout arithmetic
  crashtracker/src/collector/counters.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/receiver.rs
Labels: none

Remove the AtomGuard
  crashtracker/src/collector/atomguard.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/mod.rs
Labels: none

Fix arch specific char signedness
  crashtracker/src/collector/crash_handler.rs
Labels: none

Remove superfluous scoping in crash_handler
  crashtracker/src/collector/crash_handler.rs
Labels: none

Fix comments
  crashtracker/src/collector/saguard.rs
Labels: none

one more risk
  docs/RFCs/0004-crashtracker-design.md
Labels: none

Renamed as 0003, since this merged faster than expected
  docs/RFCs/0003-crashtracker-design.md
Labels: none

Design RFC for crashtracker (#696)
  docs/RFCs/0003-crashtracker-design.md
Labels: none

Streamline parent call, make receiver better
  crashtracker/src/collector/crash_handler.rs
Labels: none

Crashtracker receiver is spawned on crash (#692)
  Cargo.lock
  bin_tests/Cargo.toml
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/bin/crashtracker_unix_socket_receiver.rs
  bin_tests/src/lib.rs
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/mod.rs
  bin_tests/src/modes/unix/mod.rs
  bin_tests/src/modes/unix/test_000_donothing.rs
  bin_tests/src/modes/unix/test_001_sigpipe.rs
  bin_tests/src/modes/unix/test_002_sigchld.rs
  bin_tests/src/modes/unix/test_003_sigchld_with_exec.rs
  bin_tests/src/modes/unix/test_004_donothing_sigstack.rs
  bin_tests/src/modes/unix/test_005_sigpipe_sigstack.rs
  bin_tests/src/modes/unix/test_006_sigchld_sigstack.rs
  bin_tests/src/modes/unix/test_007_chaining.rs
  bin_tests/src/modes/unix/test_008_fork.rs
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker/Cargo.toml
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/counters.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/collector/saguard.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  crashtracker/src/shared/configuration.rs
  crashtracker/src/shared/constants.rs
  examples/ffi/crashtracking.c
Labels: none

Bump version number to v14.0.0
  Cargo.lock
  Cargo.toml
  crashtracker/src/crash_info/stacktrace.rs
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Labels: none

Fixup IPC and cargo to satisfy updates
  examples/ffi/symbolizer.cpp
  ipc/Cargo.toml
  symbolizer-ffi/src/blazesym.h
Labels: none

Try to fix crypto provider issues in ddcommon
  ddcommon/src/connector/mod.rs
Labels: common

fix(ddcommon): warning on unused import (#699)
  ddcommon/src/connector/mod.rs
Labels: common

Try to fix windows properly
  ddcommon/src/connector/mod.rs
Labels: common

Fix clippy nags
  ddcommon/src/connector/mod.rs
Labels: common

Refactor the cfg to clarify
  ddcommon/src/connector/mod.rs
Labels: common
