Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

Send whole collection instead of each trace separately.
  trace-utils/src/send_data/mod.rs
Labels: mini-agent

feat: add Lambda
  trace-utils/src/config_utils.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

feat: env verifier
  trace-mini-agent/src/env_verifier.rs
Labels: mini-agent

add default values for peer_tags and is_trace_root when generating trace metrics
  trace-protobuf/src/pb.rs
Labels: none

Remove coalesce data.
  sidecar/src/service/tracing/trace_flusher.rs
  trace-utils/src/send_data/mod.rs
Labels: mini-agent, sidecar

Enable trace_api_bytes
  sidecar/src/self_telemetry.rs
Labels: sidecar

Add trace.
  trace-utils/src/send_data/mod.rs
Labels: mini-agent

Fix trace count.
  trace-utils/src/tracer_payload.rs
Labels: mini-agent

Remove todo comments
  ddtelemetry/src/worker/mod.rs
Labels: telemetry

Remove unnecessary TODO comment from trace_utils.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

Remove unnecessary TODO comment from trace_utils.rs (#495)
  trace-utils/src/trace_utils.rs
Labels: mini-agent

feat: set origin tag correctly
  trace-utils/src/trace_utils.rs
Labels: mini-agent

blazesym update - Add a lifetime parameter
  crashtracker/src/stacktrace.rs
Labels: none

PR comments
  .github/workflows/all-checks.yml
Labels: ci-build

[chore] Fix issue with the 'lint' github action
  .github/workflows/lint.yml
Labels: ci-build

Refactor and test parsing and evaluating
  Cargo.lock
  ddcommon-ffi/src/option.rs
  ddcommon-ffi/src/slice.rs
  live-debugger-ffi/Cargo.toml
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger-ffi/src/lib.rs
  live-debugger-ffi/src/parse.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/src/debugger_defs.rs
  live-debugger/src/expr_defs.rs
  live-debugger/src/expr_eval.rs
  live-debugger/src/lib.rs
  live-debugger/src/parse_json.rs
  live-debugger/src/parse_json_expr.rs
  live-debugger/src/parse_util.rs
  live-debugger/src/probe_defs.rs
  live-debugger/src/sender.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
Labels: common, sidecar

[chore] Require all checks to pass on a PR (#490)
  .github/workflows/all-checks.yml
  profiling/src/internal/profile/fuzz_tests.rs
Labels: profiling, ci-build

use actionlint
  .github/workflows/lint.yml
Labels: ci-build

run on PR and push
  .github/workflows/lint.yml
Labels: ci-build

temp suppress Double quote to prevent globbing and word splitting [shellcheck]
  .github/workflows/lint.yml
Labels: ci-build

Fix: Use ./*glob* or -- *glob* so names with dashes won't become options
  .github/workflows/publish-serverless-agent.yml
Labels: ci-build

Try to fix SC2046
  .github/workflows/lint.yml
Labels: ci-build

Fix find/xargs lint SC2038
  .github/workflows/lint.yml
Labels: ci-build

debug: what is v5 sending us
  trace-utils/src/trace_utils.rs
Labels: mini-agent

[chore] Add actionlint to CI, and fix issues it detects (#496)
  .github/workflows/lint.yml
  .github/workflows/publish-serverless-agent.yml
Labels: ci-build

revert
  trace-utils/src/trace_utils.rs
Labels: mini-agent

Try this
  cmake/DataPipelineConfig.cmake.in
  cmake/DatadogConfig.cmake.in
Labels: none

Check how it's linked against the runtime
  cmake/DataPipelineConfig.cmake.in
  cmake/DatadogConfig.cmake.in
Labels: none

Encode the file path in url authority so we don't crash on whitespaces
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker/src/crash_info.rs
  crashtracker/src/telemetry.rs
  ddcommon/src/lib.rs
  ddtelemetry/src/config.rs
  ddtelemetry/src/worker/http_client.rs
Labels: common, telemetry

fix windiws clippy lint
  ddcommon/src/lib.rs
Labels: common

adds unit tests for trace stat deserialization to ClientStatsPayload
  Cargo.lock
  trace-protobuf/Cargo.toml
  trace-protobuf/src/pb.rs
  trace-utils/src/stats_utils.rs
Labels: mini-agent

apply formatting
  trace-protobuf/src/pb.rs
  trace-utils/src/stats_utils.rs
Labels: mini-agent

Skip serialization of field Span.error if equals to 0
  trace-protobuf/build.rs
  trace-protobuf/src/pb.rs
Labels: none

Add tests
  Cargo.lock
  LICENSE-3rdparty.yml
  trace-protobuf/Cargo.toml
  trace-protobuf/build.rs
  trace-protobuf/src/lib.rs
  trace-protobuf/src/pb.rs
  trace-protobuf/src/pb_test.rs
Labels: none

Move serde_json in dev-dependencies
  trace-protobuf/Cargo.toml
  trace-protobuf/src/pb_test.rs
Labels: none

Fix clippy
  trace-protobuf/src/pb_test.rs
Labels: none

remove unused dependencies from trace-protobuf
  trace-protobuf/Cargo.toml
Labels: none

Update doc
  ddsketch/src/lib.rs
Labels: none

Skip serialization of field Span.error if equals to 0 (#500)
  Cargo.lock
  LICENSE-3rdparty.yml
  trace-protobuf/Cargo.toml
  trace-protobuf/build.rs
  trace-protobuf/src/lib.rs
  trace-protobuf/src/pb.rs
  trace-protobuf/src/pb_test.rs
Labels: none

Add support for sending v04 payloads.
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/tracer.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/lib.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent, sidecar, data-pipeline

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
