Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

cargo fmt
  ddcommon-ffi/src/array_queue.rs
Labels: common

cargo clippy
  ddcommon-ffi/src/array_queue.rs
Labels: common

Discard changes to profiling-ffi/cbindgen.toml
  profiling-ffi/cbindgen.toml
Labels: profiling

safety comment
  ddcommon-ffi/src/array_queue.rs
  examples/ffi/array_queue.cpp
Labels: common

update cbindgen
  ddcommon-ffi/cbindgen.toml
Labels: common

resolve more comments
  ddcommon-ffi/src/array_queue.rs
Labels: common

make compiler happy again
  examples/ffi/CMakeLists.txt
Labels: none

Discard changes to examples/ffi/cmake_install.cmake
  examples/ffi/cmake_install.cmake
Labels: none

push another
  ddcommon-ffi/src/array_queue.rs
Labels: common

fix typo
  LICENSE-3rdparty.yml
Labels: none

no leak
  ddcommon-ffi/src/array_queue.rs
  examples/ffi/array_queue.cpp
Labels: common

single thread fuzzing
  Cargo.lock
  ddcommon-ffi/Cargo.toml
  ddcommon-ffi/src/array_queue.rs
Labels: common

put in ddcommon-ffi
  Cargo.lock
  ddcommon-ffi/Cargo.toml
  ddcommon-ffi/cbindgen.toml
  ddcommon-ffi/src/array_queue.rs
  ddcommon-ffi/src/lib.rs
  profiling-ffi/Cargo.toml
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/lib.rs
Labels: profiling, common

clippy fix
  ddcommon-ffi/src/array_queue.rs
Labels: common

len,is_empty,pop
  profiling-ffi/src/array_queue.rs
Labels: profiling

array_queue
  Cargo.lock
  profiling-ffi/Cargo.toml
  profiling-ffi/src/array_queue.rs
  profiling-ffi/src/lib.rs
Labels: profiling

use as_inner_ref
  ddcommon-ffi/src/array_queue.rs
Labels: common

safety comments
  ddcommon-ffi/src/array_queue.rs
Labels: common

compiles
  ddcommon-ffi/src/array_queue.rs
  examples/ffi/.gitignore
  examples/ffi/CMakeLists.txt
  examples/ffi/array_queue.cpp
  examples/ffi/cmake_install.cmake
  examples/ffi/crashinfo.cpp
Labels: common

not sure whether this is right way? but builds and passes lint
  Cargo.lock
  profiling-ffi/Cargo.toml
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/array_queue.rs
  profiling/Cargo.toml
  profiling/src/internal/array_queue.rs
  profiling/src/internal/mod.rs
Labels: profiling

compiles
  profiling-ffi/src/array_queue.rs
Labels: profiling

address comments
  ddcommon-ffi/src/array_queue.rs
Labels: common

fix lint
  profiling-ffi/src/array_queue.rs
Labels: profiling

Discard changes to examples/ffi/crashinfo.cpp
  examples/ffi/crashinfo.cpp
Labels: none

fix miri
  ddcommon-ffi/src/array_queue.rs
Labels: common

use while instead of dowhile
  examples/ffi/array_queue.cpp
Labels: none

address ivo's comments
  ddcommon-ffi/src/array_queue.rs
  examples/ffi/array_queue.cpp
Labels: common

pointer magic
  Cargo.lock
  profiling-ffi/Cargo.toml
  profiling-ffi/src/array_queue.rs
  profiling/Cargo.toml
  profiling/src/internal/array_queue.rs
  profiling/src/internal/mod.rs
Labels: profiling

run fuzzing for ddcommon-ffi
  .github/workflows/fuzz.yml
Labels: ci-build

add rest of the api
  ddcommon-ffi/src/array_queue.rs
Labels: common

minimal testing
  ddcommon-ffi/src/array_queue.rs
Labels: common

optional function pointer
  ddcommon-ffi/src/array_queue.rs
Labels: common

simple mpmsc example
  ddcommon-ffi/src/array_queue.rs
  examples/ffi/.gitignore
  examples/ffi/CMakeLists.txt
  examples/ffi/array_queue.cpp
Labels: common

fix clippy
  ddcommon-ffi/src/array_queue.rs
Labels: common

format
  crashtracker-ffi/src/collector/spans.rs
  crashtracker-ffi/src/crash_info/mod.rs
Labels: none

Option_U32
  crashtracker-ffi/cbindgen.toml
  ddcommon-ffi/src/lib.rs
  ddcommon-ffi/src/option.rs
  examples/ffi/crashinfo.cpp
Labels: common

licence
  LICENSE-3rdparty.yml
Labels: none

wip fuzzing, fixing bugs
  Cargo.lock
  trace-utils/Cargo.toml
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/number.rs
Labels: mini-agent

Timespec
  Cargo.lock
  Cargo.toml
  crashtracker-ffi/Cargo.toml
  crashtracker-ffi/src/crash_info/mod.rs
  ddcommon-ffi/Cargo.toml
  ddcommon-ffi/src/lib.rs
  examples/ffi/crashinfo.cpp
  profiling-ffi/Cargo.toml
  profiling-ffi/src/exporter.rs
  profiling-ffi/src/lib.rs
  profiling-ffi/src/profiles.rs
Labels: profiling, common

Config
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/collector/mod.rs
  examples/ffi/crashtracking.c
Labels: none

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
