Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

Add tests
  Cargo.lock
  agent-info/Cargo.toml
  agent-info/src/lib.rs
Labels: none

adding some initial stats and tests
  Cargo.lock
  data-pipeline/Cargo.toml
  data-pipeline/src/trace_exporter.rs
  dogstatsd-client/src/lib.rs
Labels: data-pipeline

make traceexporter mut
  data-pipeline-ffi/src/trace_exporter.rs
Labels: data-pipeline

convert env var value to lowercase and nest dogstatsd logic
  serverless/src/main.rs
Labels: mini-agent

Fix example
  examples/ffi/crashinfo.cpp
  examples/ffi/crashtracking.c
Labels: none

check if ddog_crasht_demangle can be linked against
  examples/ffi/crashtracking.c
Labels: none

enable demangler feature
  builder/Cargo.toml
  profiling-ffi/Cargo.toml
Labels: profiling

update powershell script
  windows/build-artifacts.ps1
  windows/libdatadog.csproj
Labels: ci-build

Clean up examples build folder
  .github/workflows/test.yml
Labels: ci-build

Fix CI
  Cargo.lock
  Cargo.toml
  agent-info/Cargo.toml
  agent-info/src/fetcher.rs
  examples/ffi/crashinfo.cpp
  tools/docker/Dockerfile.build
Labels: none

[profiling] Ensure shared library name has no soname set.
  build-profiling-ffi.sh
Labels: ci-build

miri can ignore unit test
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

refactor to move loop outside of conditional dogstatsd block
  serverless/src/main.rs
Labels: mini-agent

add environment variables for hardcoded values and refactor start_dogstatsd
  serverless/src/main.rs
Labels: mini-agent

fix unit test
  trace-mini-agent/src/config.rs
Labels: mini-agent

add env var for default dogstatsd port
  trace-mini-agent/src/config.rs
Labels: mini-agent

showing example to make TraceExporter not so mutable
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

adds readme for dogstatsd
  dogstatsd/README.md
Labels: none

[Profiling/Build] Add crashtracking feature for windows (event it's not ready yet) (#613)
  .github/workflows/test.yml
  windows/build-artifacts.ps1
  windows/libdatadog.csproj
Labels: ci-build

adds readme for dogstatsd (#621)
  dogstatsd/README.md
Labels: none

Don't run all the workflows
  .github/workflows/fuzz.yml.disabled
  .github/workflows/miri.yml.disabled
  .github/workflows/test-ruby.yml.disabled
  .github/workflows/test.yml
  .gitlab-ci.yml
Labels: ci-build

Improve tests speed
  agent-info/src/fetcher.rs
Labels: none

Add integration tests with test-agent
  .github/workflows/test.yml
  Cargo.lock
  agent-info/Cargo.toml
  agent-info/tests/test_fetch_info.rs
  trace-utils/tests/test_send_data.rs
Labels: ci-build, mini-agent

Add span_kinds to schema
  agent-info/src/schema.rs
Labels: none

Update README
  README.md
Labels: none

Apply suggestions
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

bump datadog-serverless-trace-mini-agent version to 0.7.0
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

Update shutdown signature
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

refactor dogstatsd-client to not need mutability
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/src/trace_exporter.rs
  dogstatsd-client/src/lib.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar, data-pipeline

use vec default to avoid unneeded allocation
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

fmt
  data-pipeline/src/trace_exporter.rs
  dogstatsd-client/src/lib.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar, data-pipeline

Fix soname
  .github/workflows/test.yml
  builder/build/arch/apple.rs
  builder/build/arch/linux.rs
  builder/build/arch/musl.rs
  builder/build/arch/windows.rs
  builder/build/profiling.rs
Labels: ci-build

add dogstatsd-client to docker build tool
  tools/docker/Dockerfile.build
Labels: none

clean up cargo.toml
  Cargo.toml
Labels: none

remove unneeded dep
  Cargo.lock
  dogstatsd-client/Cargo.toml
Labels: none

use AsRef for metric strings, improve perf and simplify usage
  data-pipeline/src/trace_exporter.rs
  dogstatsd-client/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar, data-pipeline

simplify emitting stats in data-pipeline
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

fix lint
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Fix CI failure: update libdatadog_profiling.so SONAME (#624)
  .github/workflows/test.yml
  builder/build/arch/apple.rs
  builder/build/arch/linux.rs
  builder/build/arch/musl.rs
  builder/build/arch/windows.rs
  builder/build/profiling.rs
Labels: ci-build

Move benchmarks to separate project
  Cargo.lock
  benchmark/Cargo.lock
  benchmark/Cargo.toml
  benchmark/data-pipeline-benches/Cargo.toml
  benchmark/data-pipeline-benches/benches/main.rs
  benchmark/data-pipeline-benches/benches/span_concentrator_bench.rs
  benchmark/data-pipeline-benches/src/lib.rs
  benchmark/ipc-benches/Cargo.toml
  benchmark/ipc-benches/benches/ipc.rs
  benchmark/ipc-benches/src/lib.rs
  benchmark/profiling-benches/Cargo.toml
  benchmark/profiling-benches/benches/interning_strings.rs
  benchmark/profiling-benches/benches/main.rs
  benchmark/profiling-benches/src/lib.rs
  benchmark/run_benchmarks_ci.sh
  benchmark/trace-normalization-benches/Cargo.toml
  benchmark/trace-normalization-benches/benches/normalization_utils.rs
  benchmark/trace-normalization-benches/src/lib.rs
  benchmark/trace-obfuscation-benches/Cargo.toml
  benchmark/trace-obfuscation-benches/benches/benchmarks/credit_cards_bench.rs
  benchmark/trace-obfuscation-benches/benches/benchmarks/mod.rs
  benchmark/trace-obfuscation-benches/benches/benchmarks/redis_obfuscation_bench.rs
  benchmark/trace-obfuscation-benches/benches/benchmarks/replace_trace_tags_bench.rs
  benchmark/trace-obfuscation-benches/benches/benchmarks/sql_obfuscation_bench.rs
  benchmark/trace-obfuscation-benches/benches/trace_obfuscation.rs
  benchmark/trace-obfuscation-benches/src/lib.rs
  benchmark/trace-utils-benches/Cargo.toml
  benchmark/trace-utils-benches/benches/deserialization.rs
  benchmark/trace-utils-benches/benches/main.rs
  benchmark/trace-utils-benches/src/lib.rs
  data-pipeline/Cargo.toml
  ipc/Cargo.toml
  profiling/Cargo.toml
  trace-normalization/Cargo.toml
  trace-obfuscation/Cargo.toml
  trace-utils/Cargo.toml
Labels: profiling, mini-agent, data-pipeline

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
