Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

version in artifacts name
  .github/workflows/dotnet.yml
Labels: ci-build

try different scheme
  .github/workflows/dotnet.yml
Labels: ci-build

name is fine
  .github/workflows/dotnet.yml
Labels: ci-build

Allow dynamic linking on Windows
  windows/libdatadog.csproj
Labels: ci-build

Adjust test for dyn linking
  tests/windows_package/windows_package.vcxproj
  windows/libdatadog.props
Labels: ci-build

Fix test
  tests/windows_package/windows_package.vcxproj
  windows/libdatadog.props
Labels: ci-build

[crashtracker] Implement telemetry for RFC5
  crashtracker/src/collector/api.rs
  crashtracker/src/lib.rs
  crashtracker/src/rfc5_crash_info/error_data.rs
  crashtracker/src/rfc5_crash_info/metadata.rs
  crashtracker/src/rfc5_crash_info/mod.rs
  crashtracker/src/rfc5_crash_info/proc_info.rs
  crashtracker/src/rfc5_crash_info/sig_info.rs
  crashtracker/src/rfc5_crash_info/stacktrace.rs
  crashtracker/src/rfc5_crash_info/telemetry.rs
  crashtracker/src/rfc5_crash_info/test_utils.rs
Labels: none

version detection in same step
  .github/workflows/dotnet.yml
Labels: ci-build

Make it better
  tests/windows_package/windows_package.vcxproj
  windows/libdatadog.props
Labels: ci-build

Allow dynamic linking on Windows (#746)
  tests/windows_package/windows_package.vcxproj
  windows/libdatadog.csproj
  windows/libdatadog.props
Labels: ci-build

fix stacktrace for test
  crashtracker/src/rfc5_crash_info/stacktrace.rs
  crashtracker/src/rfc5_crash_info/telemetry.rs
Labels: none

licence header
  crashtracker/src/rfc5_crash_info/telemetry.rs
Labels: none

[telemetry] Add missing origin field
  crashtracker/src/crash_info/telemetry.rs
  ddtelemetry/examples/tm-ping.rs
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/src/data/common.rs
  ddtelemetry/src/worker/mod.rs
Labels: telemetry

style: sort Cargo dependencies
  ddcommon/Cargo.toml
  profiling-ffi/Cargo.toml
  profiling/Cargo.toml
Labels: profiling, common

WIP ddcommon-net crate + profiling updated
  Cargo.lock
  Cargo.toml
  ddcommon-net/Cargo.toml
  ddcommon-net/src/compat.rs
  ddcommon-net/src/http.rs
  ddcommon-net/src/lib.rs
  profiling/Cargo.toml
  profiling/src/exporter/config.rs
  profiling/src/exporter/mod.rs
Labels: profiling

test: fix removal of config:: items
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/exporter/config.rs
  profiling/tests/form.rs
Labels: profiling

Bump v14.2.0
  Cargo.lock
  Cargo.toml
Labels: none

Bump v14.2.0 (#749)
  Cargo.lock
  Cargo.toml
Labels: none

[chore] Use elapsed() if possible when calculating durations
  bin_tests/src/lib.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/crash_info/telemetry.rs
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/span_concentrator/mod.rs
  ddtelemetry/examples/tm-metrics-worker-test.rs
  ddtelemetry/examples/tm-ping.rs
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/examples/tm-worker-test.rs
  ddtelemetry/src/metrics.rs
  ddtelemetry/src/worker/mod.rs
  dogstatsd/src/aggregator.rs
  sidecar/src/service/blocking.rs
  trace-mini-agent/src/stats_processor.rs
  trace-mini-agent/src/trace_processor.rs
  trace-normalization/src/normalize_utils.rs
  trace-normalization/src/normalizer.rs
Labels: mini-agent, telemetry, sidecar, data-pipeline

[chore] Use elapsed() if possible when calculating durations (#750)
  bin_tests/src/lib.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/crash_info/telemetry.rs
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/span_concentrator/mod.rs
  ddtelemetry/examples/tm-metrics-worker-test.rs
  ddtelemetry/examples/tm-ping.rs
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/examples/tm-worker-test.rs
  ddtelemetry/src/metrics.rs
  ddtelemetry/src/worker/mod.rs
  dogstatsd/src/aggregator.rs
  sidecar/src/service/blocking.rs
  trace-mini-agent/src/stats_processor.rs
  trace-mini-agent/src/trace_processor.rs
  trace-normalization/src/normalize_utils.rs
  trace-normalization/src/normalizer.rs
Labels: mini-agent, telemetry, sidecar, data-pipeline

chore: enable data-pipeline feature in shipped artifacts
  build-profiling-ffi.sh
  windows/build-artifacts.ps1
Labels: ci-build

[crashtracker] Add builder class for CrashInfo
  crashtracker/src/lib.rs
  crashtracker/src/rfc5_crash_info/builder.rs
  crashtracker/src/rfc5_crash_info/metadata.rs
  crashtracker/src/rfc5_crash_info/mod.rs
  crashtracker/src/rfc5_crash_info/os_info.rs
  crashtracker/src/rfc5_crash_info/stacktrace.rs
  crashtracker/src/rfc5_crash_info/unknown_value.rs
Labels: none

Initial move to use SendData in trace exporter
  Cargo.lock
  data-pipeline/Cargo.toml
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

rust fmt
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

wrap macro
  crashtracker-ffi/src/crash_info/stacktrace.rs
  crashtracker-ffi/src/crash_info/to_inner.rs
Labels: none

use the wrap macro more
  Cargo.lock
  crashtracker-ffi/Cargo.toml
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker-ffi/src/crash_info/mod.rs
  crashtracker-ffi/src/crash_info/stacktrace.rs
  crashtracker/src/rfc5_crash_info/builder.rs
  crashtracker/src/rfc5_crash_info/mod.rs
  crashtracker/src/rfc5_crash_info/stacktrace.rs
Labels: none

stacktrace
  crashtracker-ffi/src/crash_info/mod.rs
  crashtracker-ffi/src/crash_info/stacktrace.rs
  crashtracker/src/rfc5_crash_info/stacktrace.rs
Labels: none

chore: enable data-pipeline feature in shipped artifacts
  build-profiling-ffi.sh
  windows/build-artifacts.ps1
Labels: ci-build

stackframe
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker-ffi/src/crash_info/mod.rs
  crashtracker-ffi/src/crash_info/stackframe.rs
  crashtracker-ffi/src/datatypes/mod.rs
  ddcommon-ffi/src/slice.rs
Labels: common

temporarilly comment out client stats code
  data-pipeline/src/health_metrics.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

[crashtracker] Implement telemetry for RFC5 (#741)
  crashtracker/src/collector/api.rs
  crashtracker/src/lib.rs
  crashtracker/src/rfc5_crash_info/error_data.rs
  crashtracker/src/rfc5_crash_info/metadata.rs
  crashtracker/src/rfc5_crash_info/mod.rs
  crashtracker/src/rfc5_crash_info/proc_info.rs
  crashtracker/src/rfc5_crash_info/sig_info.rs
  crashtracker/src/rfc5_crash_info/stacktrace.rs
  crashtracker/src/rfc5_crash_info/telemetry.rs
  crashtracker/src/rfc5_crash_info/test_utils.rs
Labels: none

more clippy
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Fix const, port to libc
  crashtracker/src/collector/crash_handler.rs
Labels: none

comment out doc comment
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Also give some extra time for reaping
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/shared/constants.rs
Labels: none

add test for failing to deser traces to improve coverage
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Update data-pipeline/src/trace_exporter.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

clean up and add jira tickets from pr review
  data-pipeline/src/health_metrics.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

oops formatting
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

just mark these consts as dead_code
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
