Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

Testing / clippy
  live-debugger-ffi/src/send_data.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/src/debugger_defs.rs
  live-debugger/src/redacted_names.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/parse.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_remote_config.rs
Labels: sidecar

Allow for select remote config manager config unloading
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/shm_remote_config.rs
Labels: sidecar

Fix bad error condition for remote config fetcher
  remote-config/src/fetch/fetcher.rs
Labels: none

Clippy stuff
  .github/workflows/lint.yml
  live-debugger-ffi/Cargo.toml
  live-debugger-ffi/src/send_data.rs
  live-debugger/Cargo.toml
  live-debugger/src/parse_json.rs
  live-debugger/src/redacted_names.rs
  tools/docker/Dockerfile.build
Labels: ci-build

Add a few debug logs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

Fix RC panics
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/multitarget.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

Actually re-apply unloaded configs on future read
  sidecar/src/shm_remote_config.rs
  spawn_worker/src/unix/spawn.rs
Labels: sidecar

Fix payload data names
  live-debugger-ffi/src/send_data.rs
  live-debugger/src/debugger_defs.rs
Labels: none

Use ipc shm implementation
  live-debugger-ffi/Cargo.toml
  live-debugger-ffi/src/send_data.rs
  live-debugger/src/redacted_names.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/multitarget.rs
  sidecar/src/lib.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_limiters.rs
  sidecar/src/shm_remote_config.rs
  sidecar/src/tracer.rs
Labels: sidecar

Rename exception replay snapshot fields
  live-debugger/src/debugger_defs.rs
  sidecar/src/config.rs
  sidecar/src/log.rs
  sidecar/src/watchdog.rs
Labels: sidecar

Fix missing read-resize of rate_limiter
  ipc/src/rate_limiter.rs
Labels: none

Allow CollectionSource for both Count and Len
  live-debugger/src/expr_defs.rs
  live-debugger/src/expr_eval.rs
  live-debugger/src/parse_json.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

Apply suggestions
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

feat: Wrap proxy in feature flag
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/Cargo.toml
  trace-utils/Cargo.toml
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, sidecar, data-pipeline

fix: fmt
  trace-utils/src/send_data/mod.rs
Labels: mini-agent

fix: not sure why the arg is needed in create_send_data
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils/mod.rs
Labels: mini-agent

fix: no api changes for public interfaces
  sidecar/src/service/sidecar_server.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/src/trace_utils.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, sidecar

fix: None
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

add back zipping of serverless binaries with proper github permissions
  .github/workflows/publish-serverless-agent.yml
Labels: ci-build

fix: allow unused
  trace-utils/src/send_data/mod.rs
Labels: mini-agent

fix: None for update_send_results_example
  trace-utils/src/send_data/mod.rs
Labels: mini-agent

fix: remove unused error import
  dogstatsd/src/datadog.rs
Labels: none

feat: Map over sketches attr instead of assigning in map, which Levi thinks avoids a memcpy
  dogstatsd/src/aggregator.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
Labels: none

fix: lint
  dogstatsd/src/aggregator.rs
Labels: none

Support http-proxy for trace agent, remove proxy from dsd (#658)
  Cargo.lock
  data-pipeline/src/trace_exporter.rs
  dogstatsd/src/datadog.rs
  dogstatsd/src/flusher.rs
  dogstatsd/tests/integration_test.rs
  serverless/src/main.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/Cargo.toml
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/Cargo.toml
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, sidecar, data-pipeline

test: ignore dogstatsd tests under miri (#661)
  dogstatsd/src/aggregator.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
Labels: none

Bump to v13.1 for release
  Cargo.lock
  Cargo.toml
Labels: none

Bump to v13.1 for release (#662)
  Cargo.lock
  Cargo.toml
Labels: none

Remove dbg
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Support for remote config in the appsec helper
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  ipc/src/platform/windows/mem_handle.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/parse.rs
  remote-config/src/path.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/one_way_shared_memory.rs
  sidecar/src/shm_remote_config.rs
  spawn_worker/src/trampoline.c
Labels: sidecar

Fix default values
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Support for remote config in the appsec helper
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  ipc/src/platform/windows/mem_handle.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/parse.rs
  remote-config/src/path.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/one_way_shared_memory.rs
  sidecar/src/shm_remote_config.rs
  spawn_worker/src/trampoline.c
Labels: sidecar

Use info config for stats computation (#656)
  data-pipeline/benches/span_concentrator_bench.rs
  data-pipeline/src/agent_info/schema.rs
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/span_concentrator/tests.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Fix dogstatsd aggregator (#654)
  dogstatsd/src/aggregator.rs
  dogstatsd/src/metric.rs
Labels: none

Fix the trace payload size hint
  sidecar/src/service/sidecar_server.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent, sidecar

Add test
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
Labels: mini-agent

Fix the trace payload size hint (#664)
  sidecar/src/service/sidecar_server.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent, sidecar

Use the correct format for capability submission
  remote-config/src/fetch/fetcher.rs
Labels: none

Use the correct format for capability submission (#665)
  remote-config/src/fetch/fetcher.rs
Labels: none

[PROF-10656] Add crash_address to crashtracker reports
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/telemetry.rs
Labels: none

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
