Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline, crashtracker

feat(remote-config): add AGENT_CONFIG and AGENT_FLARE product to the RemoteConfigProduct
  datadog-remote-config/src/path.rs
Labels: none

feat(remote-config): add AGENT_CONFIG and AGENT_FLARE product to the RemoteConfigProduct (#1054)
  datadog-remote-config/src/path.rs
Labels: none

feat: add tracer flare crate with listener
  Cargo.lock
  Cargo.toml
  datadog-tracer-flare/Cargo.toml
  datadog-tracer-flare/src/lib.rs
Labels: none

chore: apply feedbacks
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/span.rs
  datadog-sidecar-ffi/Cargo.toml
  datadog-sidecar-ffi/src/lib.rs
Labels: sidecar, data-pipeline

fix: clippy too many arguments
  datadog-tracer-flare/src/lib.rs
Labels: none

feat(build): optimize Rust compilation with optimization level 3
  Cargo.toml
Labels: none

feat(build): optimize Rust compilation with optimization level 3
  build-profiling-ffi.sh
Labels: ci-build

Revert "feat(build): optimize Rust compilation with optimization level 3"
  Cargo.toml
Labels: none

feat(build): change optimization level to 's' for Rust compilation
  build-profiling-ffi.sh
Labels: ci-build

build v18 again
  README.md
Labels: none

Allow for generic refcounting of tinybytes values
  tinybytes/src/lib.rs
  tinybytes/src/test.rs
Labels: none

chore: move memfd config to datadog-library-config
  Cargo.lock
  datadog-library-config-ffi/Cargo.toml
  datadog-library-config-ffi/src/lib.rs
  datadog-library-config-ffi/src/tracer_metadata.rs
  datadog-library-config/Cargo.toml
  datadog-library-config/src/lib.rs
  datadog-library-config/src/tracer_metadata.rs
  ddcommon-ffi/src/lib.rs
  ddcommon/Cargo.toml
  ddcommon/src/lib.rs
Labels: common

Make from_underlying_refcounted unsafe with a responsibility on the caller to guarantee the safety
  tinybytes/src/lib.rs
Labels: none

feat(tinybytes): use a custom vtable to be able to use custom refounted type
  tinybytes/src/lib.rs
Labels: none

feat: use a custom arc without refcount
  tinybytes/src/lib.rs
Labels: none

use ref to vtable
  tinybytes/src/lib.rs
Labels: none

feat: add a public API to create Bytes from a raw refcount
  tinybytes/src/lib.rs
  tinybytes/src/test.rs
Labels: none

fix: add Acquire memory fence before dropping Arc content
  tinybytes/src/lib.rs
Labels: none

fix: a dress reviews
  tinybytes/src/lib.rs
Labels: none

feat(tinybytes): use a custom ref counted cell for Bytes with dynamic dispatch (#1061)
  tinybytes/src/lib.rs
  tinybytes/src/test.rs
Labels: none

style: allow clippy::large_enum_variant
  datadog-live-debugger/src/probe_defs.rs
  datadog-sidecar/src/shm_remote_config.rs
Labels: sidecar

style: fix clippy::double_ended_iterator_last
  builder/src/arch/apple.rs
Labels: none

style: fix clippy::io_other_error
  spawn_worker/src/unix/spawn.rs
Labels: none

style: fix lints from Rust 1.87 (#1063)
  builder/src/arch/apple.rs
  datadog-live-debugger/src/probe_defs.rs
  datadog-sidecar/src/shm_remote_config.rs
  spawn_worker/src/unix/spawn.rs
Labels: sidecar

WIP datadog-profiling-core
  Cargo.lock
  Cargo.toml
  datadog-alloc/Cargo.toml
  datadog-alloc/examples/no_panic.rs
  datadog-alloc/rustfmt.toml
  datadog-alloc/src/buffer.rs
  datadog-alloc/src/chain.rs
  datadog-alloc/src/lib.rs
  datadog-alloc/src/linear.rs
  datadog-alloc/src/utils.rs
  datadog-alloc/src/vec.rs
  datadog-alloc/src/virtual_alloc.rs
  datadog-profiling-core/Cargo.toml
  datadog-profiling-core/src/error.rs
  datadog-profiling-core/src/ffi/mod.rs
  datadog-profiling-core/src/lib.rs
  datadog-profiling-core/src/prost_impls.rs
  datadog-profiling-core/src/protobuf/buffer.rs
  datadog-profiling-core/src/protobuf/function.rs
  datadog-profiling-core/src/protobuf/label.rs
  datadog-profiling-core/src/protobuf/location.rs
  datadog-profiling-core/src/protobuf/mapping.rs
  datadog-profiling-core/src/protobuf/mod.rs
  datadog-profiling-core/src/protobuf/sample.rs
  datadog-profiling-core/src/protobuf/string.rs
  datadog-profiling-core/src/protobuf/value_type.rs
  datadog-profiling-core/src/store.rs
  datadog-profiling-core/src/u31.rs
  datadog-profiling/Cargo.toml
  datadog-profiling/src/collections/identifiable/string_id.rs
  datadog-profiling/src/internal/function.rs
  datadog-profiling/src/internal/profile/mod.rs
  datadog-profiling/src/lib.rs
  datadog-profiling/src/pprof/proto.rs
  datadog-profiling/src/serializer/compressed_streaming_encoder.rs
Labels: profiling

deduplicate prost impls and purge unused
  Cargo.lock
  datadog-profiling-core/src/protobuf/mod.rs
  datadog-profiling-core/src/protobuf/sample.rs
  datadog-profiling-core/src/protobuf/string.rs
  datadog-profiling-replayer/Cargo.toml
  datadog-profiling-replayer/src/main.rs
  datadog-profiling-replayer/src/profile_index.rs
  datadog-profiling-replayer/src/replayer.rs
  datadog-profiling/Cargo.toml
  datadog-profiling/src/api.rs
  datadog-profiling/src/collections/identifiable/mod.rs
  datadog-profiling/src/internal/function.rs
  datadog-profiling/src/internal/label.rs
  datadog-profiling/src/internal/location.rs
  datadog-profiling/src/internal/mapping.rs
  datadog-profiling/src/internal/mod.rs
  datadog-profiling/src/internal/profile/fuzz_tests.rs
  datadog-profiling/src/internal/profile/mod.rs
  datadog-profiling/src/internal/value_type.rs
  datadog-profiling/src/lib.rs
  datadog-profiling/src/pprof/mod.rs
  datadog-profiling/src/pprof/proto.rs
  datadog-profiling/src/pprof/sliced_proto.rs
  datadog-profiling/src/pprof/test_utils.rs
  datadog-profiling/tests/wordpress.rs
Labels: profiling

ci: fix docker bake (maybe)
  tools/docker/Dockerfile.build
Labels: none

fix: implement as_mut_ptr directly for miri
  datadog-alloc/src/buffer.rs
  datadog-alloc/src/vec.rs
  datadog-profiling-core/src/protobuf/buffer.rs
Labels: none

fix: compat with Rust 1.78
  datadog-alloc/src/buffer.rs
  datadog-alloc/src/lib.rs
  datadog-alloc/src/vec.rs
Labels: none

style: fix clippy lints
  datadog-alloc/src/buffer.rs
  datadog-profiling-core/src/protobuf/buffer.rs
Labels: none

style: fix clippy::expect-fun-call
  datadog-profiling/src/pprof/proto.rs
Labels: profiling

ci: skip benches in datadog-profiling-core
  datadog-profiling-core/Cargo.toml
Labels: none

adjust cold paths
  datadog-profiling/src/serializer/compressed_streaming_encoder.rs
Labels: profiling

fix: clippy too many arguments
  datadog-tracer-flare/src/lib.rs
Labels: none

feat: add tracer flare crate with listener
  Cargo.lock
  Cargo.toml
  datadog-tracer-flare/Cargo.toml
  datadog-tracer-flare/src/lib.rs
Labels: none

fix: review and docker
  datadog-tracer-flare/src/lib.rs
  tools/docker/Dockerfile.build
Labels: none

feat(profiling)!: Add upload compression config
  datadog-profiling-ffi/src/profiles/datatypes.rs
  datadog-profiling-replayer/src/main.rs
  datadog-profiling/examples/profiles.rs
  datadog-profiling/src/internal/profile/mod.rs
  datadog-profiling/src/pprof/test_utils.rs
  datadog-profiling/src/serializer/compressed_streaming_encoder.rs
  datadog-profiling/src/serializer/mod.rs
Labels: profiling

style: clippy::large_enum_variant and clippy::derivable_impls
  datadog-profiling-ffi/src/profiles/datatypes.rs
  datadog-profiling/src/serializer/compressed_streaming_encoder.rs
  datadog-profiling/src/serializer/mod.rs
Labels: profiling

fix: exporter FFI example
  examples/ffi/exporter.cpp
Labels: none

fix: UploadCompression should be Copy
  datadog-profiling/src/serializer/mod.rs
Labels: profiling

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'datadog-profiling/**/*',
      'datadog-profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'datadog-trace-normalization/**/*',
      'datadog-trace-obfuscation/**/*',
      'datadog-trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'datadog-sidecar/**/*',
      'datadog-sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]

crashtracker:
- changed-files:
  - any-glob-to-any-file: [
    'datadog-crashtracker/**/*',
    'datadog-crashtracker-ffi/**/*',
  ]
