Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

[Serverless Mini Agent] Add Azure App Service Runtime Tags (#512)
  ddcommon/src/azure_app_services.rs
  trace-utils/src/trace_utils.rs
Labels: common, mini-agent

Update cargo.lock and license file with changes for DatadogTestAgent
  Cargo.lock
  LICENSE-3rdparty.yml
Labels: none

Add DatadogTestAgent that runs the test agent for tracing in an ephemeral docker container. Also, add initial baseline snapshot test.
  trace-utils/Cargo.toml
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/tests/snapshots/compare_v04_trace_snapshot_test.json
  trace-utils/tests/test_send_data.rs
Labels: mini-agent

Update CI workflows to support tracing integration tests
  .github/workflows/test.yml
Labels: ci-build

[PROF-10099] Package libdatadog v10.0.0 for Ruby
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Labels: none

[PROF-10099] Package libdatadog v10.0.0 for Ruby (#517)
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Labels: none

Add timeout field to Endpoint struct.
  ddcommon/src/lib.rs
Labels: common

Fix Endpoint use to handle the new timeout field.
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/telemetry.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon-ffi/src/endpoint.rs
  ddtelemetry-ffi/src/lib.rs
  ddtelemetry/examples/tm-metrics-worker-test.rs
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/examples/tm-worker-test.rs
  ddtelemetry/src/config.rs
  profiling/src/exporter/config.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/src/config.rs
  sidecar/src/dogstatsd.rs
  sidecar/src/service/tracing/trace_flusher.rs
  sidecar/src/tracer.rs
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/trace_processor.rs
Labels: profiling, common, mini-agent, telemetry, sidecar, data-pipeline

Implement timeouts in trace-utils and ddtelemetry.
  ddcommon-ffi/src/endpoint.rs
  ddcommon/src/lib.rs
  ddtelemetry/src/config.rs
  ddtelemetry/src/worker/mod.rs
  profiling/src/exporter/config.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils.rs
Labels: profiling, common, mini-agent, telemetry

Encode the file path in url authority so we don't crash on whitespaces (#499)
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker/src/crash_info.rs
  crashtracker/src/telemetry.rs
  ddcommon-ffi/src/endpoint.rs
  ddcommon/src/lib.rs
  ddtelemetry/src/config.rs
  ddtelemetry/src/worker/http_client.rs
Labels: common, telemetry

Fix test behavior on windows.
  trace-utils/src/send_data/mod.rs
Labels: mini-agent

unwrap loop in bench
  trace-normalization/benches/normalization_utils.rs
Labels: mini-agent

* Fix ascii range * Fix early exit in ascci case * Make unicode handling faster by checking lowercase class before computing the lowercasing
  trace-normalization/src/normalize_utils.rs
Labels: mini-agent

* Fix ascii range (#520)
  trace-normalization/src/normalize_utils.rs
Labels: mini-agent

Add benchmark to ci
  benchmark/run_benchmarks_ci.sh
Labels: none

Revert "Add benchmark to ci"
  benchmark/run_benchmarks_ci.sh
Labels: none

Add macro benchmark
  trace-normalization/benches/normalization_utils.rs
Labels: mini-agent

rename benchmark
  trace-normalization/Cargo.toml
  trace-normalization/benches/normalization.rs
Labels: mini-agent

rename benchmark
  trace-normalization/Cargo.toml
  trace-normalization/benches/normalization_utils.rs
Labels: mini-agent

Bump blazesym to release blaze-v0.2.0-rc.0 (#487)
  Cargo.lock
  LICENSE-3rdparty.yml
  crashtracker/Cargo.toml
  crashtracker/src/stacktrace.rs
  symbolizer-ffi/Cargo.toml
  symbolizer-ffi/src/blazesym.h
Labels: none

Use inplace normalization and add benchmark (#506)
  Cargo.lock
  tools/docker/Dockerfile.build
  trace-normalization/Cargo.toml
  trace-normalization/benches/normalization_utils.rs
  trace-normalization/src/lib.rs
  trace-normalization/src/normalize_utils.rs
  trace-normalization/src/normalizer.rs
  trace-normalization/src/utf8_helpers.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

Bump rustls version to 0.23
  .github/workflows/test.yml
  ddcommon/Cargo.toml
  ddcommon/src/connector/conn_stream.rs
  ddcommon/src/connector/mod.rs
  tools/docker/Dockerfile.build
  trace-utils/Cargo.toml
  trace-utils/src/stats_utils.rs
Labels: common, ci-build, mini-agent

Require at least aws-lc-rs 1.8
  Cargo.lock
  ddcommon/Cargo.toml
Labels: common

Use ring instead of aws-lc-sys due to https://github.com/aws/aws-lc-rs/issues/453
  .github/workflows/test.yml
  Cargo.lock
  ddcommon/Cargo.toml
Labels: common, ci-build

Fix sidecar logging
  sidecar/src/config.rs
Labels: sidecar

Use ring for windows only, as aws-lc-sys has link issues on windows. But aws-lc-sys is actually preferable.
  Cargo.lock
  LICENSE-3rdparty.yml
  ddcommon/Cargo.toml
Labels: common

Fix sidecar logging (#521)
  sidecar/src/config.rs
Labels: sidecar

Bump rustls version to 0.23 (#459)
  .github/workflows/test.yml
  Cargo.lock
  LICENSE-3rdparty.yml
  ddcommon/Cargo.toml
  ddcommon/src/connector/conn_stream.rs
  ddcommon/src/connector/mod.rs
  tools/docker/Dockerfile.build
  trace-utils/Cargo.toml
  trace-utils/src/stats_utils.rs
Labels: common, ci-build, mini-agent

More dynamic configs, fixes and address several review comments
  remote-config/src/dynamic_configuration/data.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/shared.rs
  remote-config/src/fetch/single.rs
  remote-config/src/lib.rs
  remote-config/src/parse.rs
  sidecar-ffi/cbindgen.toml
  sidecar-ffi/src/lib.rs
  sidecar/src/entry.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_remote_config.rs
  trace-protobuf/src/pb/remoteconfig.proto
  trace-protobuf/src/remoteconfig.rs
Labels: sidecar

Windows support
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/remote_configs.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_remote_config.rs
Labels: sidecar

Add tests
  ipc/src/lib.rs
  remote-config/Cargo.toml
  remote-config/src/dynamic_configuration/data.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/mod.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/shared.rs
  remote-config/src/fetch/test_server.rs
  remote-config/src/parse.rs
  remote-config/src/targets.rs
  sidecar/Cargo.toml
  sidecar/src/shm_remote_config.rs
  trace-protobuf/build.rs
  trace-protobuf/src/remoteconfig.rs
  trace-protobuf/src/serde.rs
Labels: sidecar

Minor live-debugger stuff
  live-debugger-ffi/src/evaluator.rs
  live-debugger/src/expr_eval.rs
Labels: none

Remove live debugger stuff
  Cargo.lock
  Cargo.toml
  live-debugger-ffi/Cargo.toml
  live-debugger-ffi/cbindgen.toml
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger-ffi/src/lib.rs
  live-debugger-ffi/src/query.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/Cargo.toml
  live-debugger/src/debugger_defs.rs
  live-debugger/src/expr_defs.rs
  live-debugger/src/expr_eval.rs
  live-debugger/src/lib.rs
  live-debugger/src/parse_json.rs
  live-debugger/src/parse_json_expr.rs
  live-debugger/src/parse_util.rs
  live-debugger/src/probe_defs.rs
  live-debugger/src/sender.rs
  remote-config/Cargo.toml
  remote-config/src/parse.rs
  sidecar-ffi/Cargo.toml
  sidecar-ffi/cbindgen.toml
  sidecar-ffi/src/lib.rs
  sidecar/Cargo.toml
  sidecar/src/service/blocking.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_remote_config.rs
Labels: sidecar

Uglify with cargo fmt
  ddcommon-ffi/src/slice.rs
  remote-config/src/dynamic_configuration/data.rs
  remote-config/src/dynamic_configuration/mod.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/mod.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/shared.rs
  remote-config/src/fetch/single.rs
  remote-config/src/fetch/test_server.rs
  remote-config/src/lib.rs
  remote-config/src/parse.rs
  remote-config/src/targets.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/remote_configs.rs
  sidecar/src/service/runtime_info.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_remote_config.rs
  trace-protobuf/build.rs
  trace-protobuf/src/pb.rs
Labels: common, sidecar

start timeout handling
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/shared.rs
  trace-protobuf/src/pb.rs
Labels: none

clippy
  Cargo.lock
  LICENSE-3rdparty.yml
  ipc/src/platform/unix/mem_handle_macos.rs
  remote-config/Cargo.toml
  remote-config/src/dynamic_configuration/data.rs
  remote-config/src/dynamic_configuration/mod.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/mod.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/shared.rs
  remote-config/src/fetch/single.rs
  remote-config/src/fetch/test_server.rs
  remote-config/src/lib.rs
  remote-config/src/parse.rs
  remote-config/src/targets.rs
  sidecar-ffi/src/lib.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/src/service/remote_configs.rs
  sidecar/src/shm_remote_config.rs
  sidecar/src/tracer.rs
  tools/docker/Dockerfile.build
  trace-protobuf/src/pb.rs
  trace-protobuf/src/serde.rs
Labels: sidecar

Update lib.rs
  ipc/src/lib.rs
Labels: none

Update remote-config/src/parse.rs
  remote-config/src/parse.rs
Labels: none

Make remote config usable in process, without manual FileStorage interaction
  remote-config/examples/remote_config_fetch.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/single.rs
  remote-config/src/file_change_tracker.rs
  remote-config/src/file_storage.rs
  remote-config/src/lib.rs
Labels: none

Avoid multiple QueueId HashMaps for RuntimeInfo
  sidecar/src/service/runtime_info.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/service/telemetry/mod.rs
Labels: sidecar

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
