Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

Remove sed invocation from profiling plugin.
  builder/build/profiling.rs
Labels: none

Ignore weak symbols in mockgen
  tools/sidecar_mockgen/src/lib.rs
Labels: none

free up large packages to provide more disk space to CI
  .github/workflows/test.yml
Labels: ci-build

add stale PR GH workflow (#688)
  .github/workflows/stale.yml
  .github/workflows/test.yml
Labels: ci-build

Add SAMPLING prefix
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

[APMSP-1458] Fix single-span sampling (#689)
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Ignore weak symbols in mockgen (#691)
  tools/sidecar_mockgen/src/lib.rs
Labels: none

Initial
  bin_tests/Cargo.toml
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/bin/crashtracker_unix_socket_receiver.rs
  bin_tests/src/lib.rs
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker/Cargo.toml
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  crashtracker/src/shared/configuration.rs
Labels: none

Initia;
  crashtracker/src/collector/crash_handler.rs
Labels: none

Formatting and revert altstack change
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/lib.rs
Labels: none

Remove sleep which is no longer required
  bin_tests/tests/crashtracker_bin_test.rs
Labels: none

Lint
  crashtracker/src/collector/crash_handler.rs
Labels: none

Initia; (#693)
  crashtracker/src/collector/crash_handler.rs
Labels: none

Fix saguard name
  crashtracker/src/collector/crash_handler.rs
Labels: none

Minor: Move read of `sig_info` inside `handle_posix_signal_impl`
  crashtracker/src/collector/crash_handler.rs
Labels: none

Add dropped-p0 headers
  data-pipeline/src/trace_exporter.rs
  trace-utils/src/tracer_header_tags.rs
Labels: mini-agent, data-pipeline

Fix vendor header name
  trace-utils/src/send_data/mod.rs
  trace-utils/src/tracer_header_tags.rs
Labels: mini-agent

Fix vendor header name (#694)
  trace-utils/src/send_data/mod.rs
  trace-utils/src/tracer_header_tags.rs
Labels: mini-agent

Add default for missing fields
  sidecar-ffi/src/lib.rs
  sidecar/src/service/serialized_tracer_header_tags.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/tracer_header_tags.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, sidecar

Minor: Use `if let` instead of `match`
  crashtracker/src/collector/emitters.rs
Labels: none

Fix FFI example
  examples/ffi/crashtracking.c
Labels: none

Design RFC for crashtracker
  docs/RFCs/0004-crashtracker-design.md
Labels: none

[PROF-10656] Add faulting_address to crashtracker reports (#663)
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/telemetry.rs
Labels: none

[APMSP-1350] Add dropped-p0 headers (#695)
  data-pipeline/src/trace_exporter.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/serialized_tracer_header_tags.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/tracer_header_tags.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, sidecar, data-pipeline

show dogstatsd logs in serverless mini agent
  Cargo.lock
  serverless/Cargo.toml
  serverless/src/main.rs
Labels: mini-agent

increase buffer size to 8192 bytes
  dogstatsd/src/dogstatsd.rs
Labels: none

update metric pattern to exclude service checks and to account for container ids
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
Labels: none

PR comments:
  docs/RFCs/0004-crashtracker-design.md
Labels: none

Crashtracking fixups, add some tests
  Cargo.lock
  bin_tests/Cargo.toml
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/lib.rs
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/mod.rs
  bin_tests/src/modes/unix/mod.rs
  bin_tests/src/modes/unix/test_000_donothing.rs
  bin_tests/src/modes/unix/test_001_sigpipe.rs
  bin_tests/src/modes/unix/test_002_sigchld.rs
  bin_tests/src/modes/unix/test_003_sigchld_with_exec.rs
  bin_tests/src/modes/unix/test_004_donothing_sigstack.rs
  bin_tests/src/modes/unix/test_005_sigpipe_sigstack.rs
  bin_tests/src/modes/unix/test_006_sigchld_sigstack.rs
  bin_tests/src/modes/unix/test_007_chaining.rs
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/shared/configuration.rs
Labels: none

Add and fix chaining test
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/unix/test_001_sigpipe.rs
  bin_tests/src/modes/unix/test_002_sigchld.rs
  bin_tests/src/modes/unix/test_003_sigchld_with_exec.rs
  bin_tests/src/modes/unix/test_005_sigpipe_sigstack.rs
  bin_tests/src/modes/unix/test_006_sigchld_sigstack.rs
  bin_tests/src/modes/unix/test_007_chaining.rs
Labels: none

Fix crashtracker test to abide by new API
  crashtracker/src/collector/api.rs
Labels: none

Fix FFI issue
  crashtracker-ffi/src/collector/datatypes.rs
Labels: none

Fix formatting
  bin_tests/src/modes/unix/test_001_sigpipe.rs
  bin_tests/src/modes/unix/test_002_sigchld.rs
  bin_tests/src/modes/unix/test_003_sigchld_with_exec.rs
  bin_tests/src/modes/unix/test_005_sigpipe_sigstack.rs
  bin_tests/src/modes/unix/test_006_sigchld_sigstack.rs
  bin_tests/src/modes/unix/test_007_chaining.rs
  crashtracker-ffi/src/collector/datatypes.rs
Labels: none

Try to fix macos
  crashtracker/src/collector/crash_handler.rs
Labels: none

exclude events from being parsed
  dogstatsd/src/dogstatsd.rs
Labels: none

add comment for 8KB max buffer size matching default value in Go Agent
  dogstatsd/src/dogstatsd.rs
Labels: none

Fix license
  bin_tests/src/modes/mod.rs
  bin_tests/src/modes/unix/mod.rs
  bin_tests/src/modes/unix/test_000_donothing.rs
  bin_tests/src/modes/unix/test_001_sigpipe.rs
  bin_tests/src/modes/unix/test_002_sigchld.rs
  bin_tests/src/modes/unix/test_003_sigchld_with_exec.rs
  bin_tests/src/modes/unix/test_004_donothing_sigstack.rs
  bin_tests/src/modes/unix/test_005_sigpipe_sigstack.rs
  bin_tests/src/modes/unix/test_006_sigchld_sigstack.rs
  bin_tests/src/modes/unix/test_007_chaining.rs
Labels: none

Factor saguard into its own file
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/collector/saguard.rs
Labels: none

lazily initialize static regex for dogstatsd metrics
  Cargo.lock
  dogstatsd/Cargo.toml
  dogstatsd/src/metric.rs
Labels: none

More PR comments
  docs/RFCs/0004-crashtracker-design.md
Labels: none

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
