Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]

Ignore entity test in miri
  ddcommon/src/entity_id/unix/container_id.rs
  ddcommon/src/entity_id/unix/mod.rs
Labels: common

Add benchmark for concentrator
  Cargo.lock
  data-pipeline/Cargo.toml
  data-pipeline/benches/main.rs
  data-pipeline/benches/span_concentrator.rs
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
Labels: data-pipeline

Disable autobenches
  data-pipeline/Cargo.toml
Labels: data-pipeline

Improve miri job runtime (#601)
  ddcommon/src/entity_id/unix/container_id.rs
  ddcommon/src/entity_id/unix/mod.rs
Labels: common

[PROF-9476] Managed string storage for interning over several profiles
  build-profiling-ffi.sh
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/lib.rs
  profiling-ffi/src/profiles.rs
  profiling-ffi/src/string_storage.rs
  profiling-replayer/src/main.rs
  profiling-replayer/src/replayer.rs
  profiling/examples/profiles.rs
  profiling/src/api.rs
  profiling/src/collections/mod.rs
  profiling/src/collections/string_storage.rs
  profiling/src/internal/observation/observations.rs
  profiling/src/internal/observation/trimmed_observation.rs
  profiling/src/internal/profile/fuzz_tests.rs
  profiling/src/internal/profile/mod.rs
  profiling/tests/wordpress.rs
Labels: profiling, ci-build

[PROF-9476] ? to expect
  profiling-ffi/src/profiles.rs
Labels: profiling

[PROF-9476] Prints
  profiling-ffi/src/profiles.rs
Labels: profiling

[PROF-9476] Bypass debug printing of mapping/result
  profiling-ffi/src/profiles.rs
Labels: profiling

[PROF-9476] Readd mapping debug print
  profiling-ffi/src/profiles.rs
Labels: profiling

Revert to 537af
  profiling-ffi/src/profiles.rs
Labels: profiling

Fix log file and disable LSAN usage in sidecar (#602)
  sidecar/src/entry.rs
  spawn_worker/src/unix/spawn.rs
Labels: sidecar

Add defensive ddcommon_ffi checks for Slice
  ddcommon-ffi/src/slice.rs
Labels: common

test: add panic test for null but non-zero len
  ddcommon-ffi/src/slice.rs
Labels: common

Update rate_limiter.rs
  ddcommon/src/rate_limiter.rs
Labels: common

use reqwest 0.12.4 in Cargo.lock
  Cargo.lock
  dogstatsd/Cargo.toml
Labels: none

add copyright headers
  dogstatsd/src/aggregator.rs
  dogstatsd/src/constants.rs
  dogstatsd/src/datadog.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/errors.rs
  dogstatsd/src/flusher.rs
  dogstatsd/src/lib.rs
  dogstatsd/src/main.rs
  dogstatsd/src/metric.rs
Labels: none

apply formatting
  dogstatsd/src/aggregator.rs
  dogstatsd/src/metric.rs
Labels: none

upgrade rust to 1.77.2
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/verify-proto-files.yml
  Cargo.toml
  README.md
Labels: ci-build

Use blazesym from registry instead of git
  Cargo.lock
  crashtracker/Cargo.toml
  symbolizer-ffi/Cargo.toml
Labels: none

blazesym-c API header update Synchronize header from release 0.1.0-rc.0
  symbolizer-ffi/src/blazesym.h
Labels: none

Update LICENSE-3rdparty.yml
  LICENSE-3rdparty.yml
Labels: none

install protoc binary for lint, test, and miri workflows
  .github/workflows/lint.yml
  .github/workflows/miri.yml
  .github/workflows/test.yml
  scripts/install-protoc.sh
Labels: ci-build

install protoc binary for cross on centos7
  Cross.toml
  tools/docker/Dockerfile.centos
Labels: none

add dogstatsd to alpine build and upgrade alpine version
  tools/docker/Dockerfile.build
Labels: none

Use blazesym from registry instead of git (#605)
  Cargo.lock
  LICENSE-3rdparty.yml
  crashtracker/Cargo.toml
  symbolizer-ffi/Cargo.toml
  symbolizer-ffi/src/blazesym.h
Labels: none

install protoc binary for coverage
  .github/workflows/coverage.yml
Labels: ci-build

use rust 1.76.0 and forked saluki-backport repo
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/verify-proto-files.yml
  Cargo.lock
  Cargo.toml
  README.md
  dogstatsd/Cargo.toml
  tools/docker/Dockerfile.build
Labels: ci-build

remove package specific toolchain
  dogstatsd/rust-toolchain.toml
Labels: none

Revert "[PROF-9476] ? to expect"
  profiling-ffi/src/profiles.rs
Labels: profiling

Revert commenting of trimmed observation drop
  profiling/src/internal/observation/trimmed_observation.rs
Labels: profiling

[ruby] Prepare gem release for version 12
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Labels: none

Remove pofiling as default feature.
  Cargo.lock
  builder/Cargo.toml
Labels: none

refactor protoc install script to pass install path as an argument
  .github/workflows/coverage.yml
  .github/workflows/lint.yml
  .github/workflows/miri.yml
  .github/workflows/test.yml
  scripts/install-protoc.sh
  tools/docker/Dockerfile.centos
Labels: ci-build

install protoc for benchmark ci job
  .gitlab/benchmarks.yml
  dogstatsd/Cargo.toml
  dogstatsd/src/main.rs
Labels: none

[ruby] Use standardrb formatter
  ruby/lib/libdatadog/version.rb
Labels: none

Add building documentation.
  LICENSE-3rdparty.yml
  README.md
Labels: none

Change bench name
  data-pipeline/benches/main.rs
  data-pipeline/benches/span_concentrator_bench.rs
Labels: data-pipeline

[ruby] Prepare gem release for version 12 (#608)
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Labels: none

Provide a common atomic Rate Limiter implementation (#560)
  .github/workflows/lint.yml
  Cargo.lock
  LICENSE-3rdparty.yml
  ddcommon/Cargo.toml
  ddcommon/src/lib.rs
  ddcommon/src/rate_limiter.rs
  ipc/Cargo.toml
  ipc/src/lib.rs
  ipc/src/platform/mem_handle.rs
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  ipc/src/platform/windows/mem_handle.rs
  ipc/src/rate_limiter.rs
  sidecar/src/one_way_shared_memory.rs
Labels: common, ci-build, sidecar

Add benchmark for SpanConcentrator (#603)
  Cargo.lock
  data-pipeline/Cargo.toml
  data-pipeline/benches/main.rs
  data-pipeline/benches/span_concentrator_bench.rs
  data-pipeline/src/lib.rs
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
Labels: data-pipeline
