Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

bump datadog-serverless-trace-mini-agent version to 0.8.0
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

[Serverless Mini Agent] Add Span Tags for Azure Spring Apps (#672)
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

Fix rustfmt error (#645)
  profiling/src/collections/string_table/mod.rs
Labels: profiling

add back zipping of serverless binaries with proper github permissions (#660)
  .github/workflows/publish-serverless-agent.yml
Labels: ci-build

[Serverless Mini Agent] Add Span Tags for Azure Spring Apps (#672)
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

bump datadog-serverless-trace-mini-agent version to 0.8.0 (#677)
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

bump datadog-serverless-trace-mini-agent version to 0.8.0 (#677)
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

Optimize is_card_number to use array
  trace-obfuscation/src/credit_cards.rs
Labels: mini-agent

Explicitly pin version of deps from saluki-backport repo
  Cargo.lock
  dogstatsd/Cargo.toml
Labels: none

[NO-TICKET] Upgrade "datadog-protos"/"ddketch-agent" to unlock tonic 0.12.3
  Cargo.lock
Labels: none

Bump a few more dependencies and make sure there are no downgrades
  Cargo.lock
Labels: none

Explicitly pin version of deps from saluki-backport repo
  Cargo.lock
  dogstatsd/Cargo.toml
Labels: none

Enable code coverage.
  .github/workflows/all-checks.yml
  .github/workflows/coverage.yml
Labels: ci-build

Enable code coverage. (#681)
  .github/workflows/all-checks.yml
  .github/workflows/coverage.yml
Labels: ci-build

feat: Prefer DD_PROXY_HTTPS over HTTPS_PROXY (#673)
  dogstatsd/src/datadog.rs
  dogstatsd/src/flusher.rs
  dogstatsd/tests/integration_test.rs
  serverless/src/main.rs
  trace-mini-agent/src/config.rs
Labels: mini-agent

Restrict RC path to a definite 31 chars (#676)
  sidecar/src/shm_remote_config.rs
Labels: sidecar

Use ELF virtual address instead of file offset
  crashtracker/src/crash_info/stacktrace.rs
Labels: none

[PROF-10680] Use ELF virtual address instead of file offset (#680)
  crashtracker/src/crash_info/stacktrace.rs
Labels: none

Enable backports/deprecated features on hyper crate
  bin_tests/Cargo.toml
  crashtracker-ffi/Cargo.toml
  crashtracker/Cargo.toml
  data-pipeline/Cargo.toml
  ddcommon-ffi/Cargo.toml
  ddcommon/Cargo.toml
  ddtelemetry/Cargo.toml
  dogstatsd-client/Cargo.toml
  live-debugger/Cargo.toml
  profiling-ffi/Cargo.toml
  profiling/Cargo.toml
  remote-config/Cargo.toml
  sidecar-ffi/Cargo.toml
  sidecar/Cargo.toml
  trace-mini-agent/Cargo.toml
  trace-utils/Cargo.toml
Labels: profiling, common, mini-agent, telemetry, sidecar, data-pipeline

Fix all compatibility warnings emitted by hyper crate
  data-pipeline/src/agent_info/fetcher.rs
  data-pipeline/src/trace_exporter.rs
  ddtelemetry/src/worker/http_client.rs
  live-debugger/src/sender.rs
  profiling-ffi/src/exporter.rs
  profiling/tests/form.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/test_server.rs
  sidecar/src/service/tracing/trace_flusher.rs
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/http_utils.rs
  trace-utils/src/send_data/send_data_result.rs
  trace-utils/src/stats_utils.rs
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/src/trace_utils.rs
Labels: profiling, mini-agent, telemetry, sidecar, data-pipeline

Remove hyper dependency from crates that don't seem to use it
  Cargo.lock
  bin_tests/Cargo.toml
  dogstatsd-client/Cargo.toml
Labels: none

Fix build error due to "set_http1_header_read_timeout" not being found
  data-pipeline/Cargo.toml
Labels: data-pipeline

Fix latest stable rust clippy complaints
  profiling/src/exporter/mod.rs
Labels: profiling

Stabilize credit_cards_bench inlining
  trace-obfuscation/benches/benchmarks/credit_cards_bench.rs
Labels: mini-agent

Stabilize credit_cards_bench inlining
  trace-obfuscation/benches/benchmarks/credit_cards_bench.rs
Labels: mini-agent

format
  crashtracker/src/crash_info/structured_log_format/thread.rs
Labels: none

Resolve clippy warnings
  builder/build/arch/apple.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

Resolve clippy warnings (#684)
  builder/build/arch/apple.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

adding temp comment to trigger gh actions
  data-pipeline/tests/test_fetch_info.rs
Labels: data-pipeline

Optimize is_card_number to use array
  trace-obfuscation/src/credit_cards.rs
Labels: mini-agent

Optimize is_card_number to use array
  trace-obfuscation/src/credit_cards.rs
Labels: mini-agent

fix single-span sampling
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Allow attaching to the sidecar via gdb
  spawn_worker/src/trampoline.c
  trace-utils/Cargo.toml
Labels: mini-agent

Allow attaching to the sidecar via gdb (#687)
  spawn_worker/src/trampoline.c
  trace-utils/Cargo.toml
Labels: mini-agent

Lock down nightly version for reproducible builds
  .github/workflows/coverage.yml
  .github/workflows/fuzz.yml
  .github/workflows/lint.yml
  .github/workflows/miri.yml
  .github/workflows/test.yml
  README.md
  bin_tests/src/bin/test_the_tests.rs
  bin_tests/tests/crashtracker_bin_test.rs
  builder/build/arch/apple.rs
  builder/build/arch/linux.rs
  crashtracker-ffi/src/collector/spans.rs
  data-pipeline/src/health_metrics.rs
  ddcommon-ffi/src/slice.rs
  ddcommon/src/connector/named_pipe.rs
  ddcommon/src/entity_id/unix/mod.rs
  ddtelemetry/src/metrics.rs
  ipc/tarpc/plugins/src/lib.rs
  ipc/tarpc/plugins/tests/server.rs
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger/src/expr_defs.rs
  live-debugger/src/expr_eval.rs
  profiling/src/api.rs
  profiling/src/collections/string_table/wordpress_test_data.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/file_storage.rs
  remote-config/src/path.rs
  remote-config/src/targets.rs
  sidecar/src/log.rs
  sidecar/src/one_way_shared_memory.rs
  spawn_worker/src/win32.rs
Labels: profiling, common, ci-build, telemetry, sidecar, data-pipeline

Lock down nightly version for reproducible builds
  .github/workflows/coverage.yml
  .github/workflows/fuzz.yml
  .github/workflows/lint.yml
  .github/workflows/miri.yml
  .github/workflows/test.yml
  README.md
  bin_tests/src/bin/test_the_tests.rs
  bin_tests/tests/crashtracker_bin_test.rs
  builder/build/arch/apple.rs
  builder/build/arch/linux.rs
  crashtracker-ffi/src/collector/spans.rs
  data-pipeline/src/health_metrics.rs
  ddcommon-ffi/src/slice.rs
  ddcommon/src/connector/named_pipe.rs
  ddcommon/src/entity_id/unix/mod.rs
  ddtelemetry/src/metrics.rs
  ipc/tarpc/plugins/src/lib.rs
  ipc/tarpc/plugins/tests/server.rs
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger/src/expr_defs.rs
  live-debugger/src/expr_eval.rs
  profiling/src/api.rs
  profiling/src/collections/string_table/wordpress_test_data.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/file_storage.rs
  remote-config/src/path.rs
  remote-config/src/targets.rs
  sidecar/src/log.rs
  sidecar/src/one_way_shared_memory.rs
  spawn_worker/src/win32.rs
Labels: profiling, common, ci-build, telemetry, sidecar, data-pipeline

define keys as const and fix analytics key
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Regroup same branches for clippy
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

add stale PR GH workflow
  .github/workflows/stale.yml
Labels: ci-build

update pr message with keep-open label instructions
  .github/workflows/stale.yml
Labels: ci-build

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
