Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

Remove unused field
  ipc/src/platform/mem_handle.rs
  ipc/src/platform/windows/mem_handle.rs
Labels: none

Format protobuf generated module
  ddsketch/src/lib.rs
  ddsketch/src/pb.rs
Labels: none

Bump libdatadog version to 10.0.0 in preparation for release
  Cargo.lock
  Cargo.toml
Labels: none

Deprecate telemetry distribution
  ddtelemetry/examples/tm-metrics-worker-test.rs
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/examples/tm-worker-test.rs
  ddtelemetry/src/data/metrics.rs
  ddtelemetry/src/data/payload.rs
  ddtelemetry/src/data/payloads.rs
  ddtelemetry/src/metrics.rs
  ddtelemetry/src/worker/mod.rs
  sidecar/src/self_telemetry.rs
Labels: telemetry, sidecar

Bump libdatadog version to 10.0.0 in preparation for release (#470)
  Cargo.lock
  Cargo.toml
Labels: none

Remove telemetry distributions
  ddtelemetry/src/data/metrics.rs
  ddtelemetry/src/data/payload.rs
  ddtelemetry/src/data/payloads.rs
  ddtelemetry/src/metrics.rs
  ddtelemetry/src/worker/mod.rs
Labels: telemetry

debugging info for CI
  bin_tests/tests/crashtracker_bin_test.rs
Labels: none

If parsing the input fails, give a partial crash report, instead of borking
  crashtracker/src/receiver.rs
Labels: none

Add another possible expected error to the test
  bin_tests/tests/crashtracker_bin_test.rs
Labels: none

[crashtracker] Enable collecting to a UNIX socket (#420)
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/bin/crashtracker_receiver.rs
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker/libdatadog-crashtracking-receiver.c
  crashtracker/src/api.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  examples/ffi/crashtracking.c
  profiling-ffi/src/crashtracker/collector.rs
Labels: profiling

Spawn one sidecar per user (#469)
  ipc/Cargo.toml
  ipc/src/platform/mem_handle.rs
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  ipc/src/platform/unix/mod.rs
  ipc/src/platform/windows/channel/metadata.rs
  ipc/src/platform/windows/mem_handle.rs
  sidecar/src/agent_remote_config.rs
  sidecar/src/setup/unix.rs
  sidecar/src/setup/windows.rs
  sidecar/src/unix.rs
  sidecar/src/windows.rs
Labels: sidecar

Explicitly use the <string> header in crashinfo.cpp
  examples/ffi/crashinfo.cpp
Labels: none

Explicitly use the <string> header in crashinfo.cpp (#472)
  examples/ffi/crashinfo.cpp
Labels: none

[crashtracker] Take relative address and build id for remote symbolication
  crashtracker/src/stacktrace.rs
  profiling-ffi/src/crashtracker/datatypes.rs
Labels: profiling

Fix Windows signature compatibility in entity_id functions
  ddcommon/src/entity_id/fallback.rs
Labels: common

Fix Windows signature compatibility in entity_id functions (#474)
  ddcommon/src/entity_id/fallback.rs
Labels: common

Skip normalization & obfuscation and coalesce instead
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/Cargo.toml
  trace-utils/src/trace_utils.rs
Labels: mini-agent, sidecar, data-pipeline

Update trace-utils/src/trace_utils.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

Update trace-utils/src/trace_utils.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

Update trace-mini-agent/src/trace_processor.rs
  trace-mini-agent/src/trace_processor.rs
Labels: mini-agent

Add comment back
  trace-utils/Cargo.toml
Labels: mini-agent

Skip normalization & obfuscation and coalesce instead (#475)
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/Cargo.toml
  trace-utils/src/trace_utils.rs
Labels: mini-agent, sidecar, data-pipeline

Fix the wrong thing being not normalized
  trace-utils/src/trace_utils.rs
Labels: mini-agent

Fix the wrong thing being not normalized (#476)
  trace-utils/src/trace_utils.rs
Labels: mini-agent

[crashtracker] Add a 'wait_for_receiver' param, and use it in both the stdin and unix socket cases
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/configuration.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/receiver.rs
  crashtracker/src/telemetry.rs
  profiling-ffi/src/crashtracker/datatypes.rs
Labels: profiling

avoid unneeded temporary
  crashtracker/src/crash_handler.rs
Labels: none

[crashtracker] Add a 'wait_for_receiver' param, and use it in both the stdin and unix socket cases (#477)
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/configuration.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/receiver.rs
  crashtracker/src/telemetry.rs
  profiling-ffi/src/crashtracker/datatypes.rs
Labels: profiling

build: use debug line-tables-only
  Cargo.toml
Labels: none

style: avoid redundant imports
  crashtracker/src/receiver.rs
  ipc/src/sequential.rs
  ipc/tarpc/tarpc/src/client.rs
  ipc/tarpc/tarpc/src/context.rs
  ipc/tarpc/tarpc/src/server.rs
  ipc/tarpc/tarpc/src/server/limits/channels_per_key.rs
  ipc/tarpc/tarpc/src/trace.rs
  profiling-ffi/src/profiles.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/serialized_tracer_header_tags.rs
Labels: profiling, sidecar

style: avoid redundant imports (#478)
  crashtracker/src/receiver.rs
  ipc/src/sequential.rs
  ipc/tarpc/tarpc/src/client.rs
  ipc/tarpc/tarpc/src/context.rs
  ipc/tarpc/tarpc/src/server.rs
  ipc/tarpc/tarpc/src/server/limits/channels_per_key.rs
  ipc/tarpc/tarpc/src/trace.rs
  profiling-ffi/src/profiles.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/serialized_tracer_header_tags.rs
Labels: profiling, sidecar

build: use debug line-tables-only (#479)
  Cargo.toml
Labels: none

Update protobuf files for stats for new trilean type
  .github/workflows/verify-proto-files.yml
  trace-protobuf/src/pb.rs
  trace-protobuf/src/pb/stats.proto
Labels: ci-build

Update protobuf files for stats for new trilean type (#480)
  .github/workflows/verify-proto-files.yml
  trace-protobuf/src/pb.rs
  trace-protobuf/src/pb/stats.proto
Labels: ci-build

Drop fd acking in sidecar transport
  ipc/src/platform/unix/channel.rs
  ipc/src/platform/unix/channel/async_channel.rs
  ipc/src/platform/unix/channel/metadata.rs
  ipc/src/platform/unix/message.rs
Labels: none

Drop fd acking in sidecar transport (#481)
  ipc/src/platform/unix/channel.rs
  ipc/src/platform/unix/channel/async_channel.rs
  ipc/src/platform/unix/channel/metadata.rs
  ipc/src/platform/unix/message.rs
Labels: none

[profiling] Fuzz profiler API
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/api.rs
  profiling/src/internal/profile.rs
Labels: profiling

fuzz with right length samples
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/internal/profile.rs
Labels: profiling

add comment
  profiling/src/internal/profile/fuzz_tests.rs
Labels: profiling

use saturating add
  profiling/src/internal/endpoint_stats.rs
  profiling/src/internal/profile.rs
Labels: profiling

helper functions
  profiling/src/internal/profile.rs
Labels: profiling

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
