Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

pass over PR comments
  docs/RFCs/0002-crashtracker-user-visable-log.md
Labels: none

more PR comments
  docs/RFCs/0002-crashtracker-user-visable-log.md
Labels: none

Update api.rs
  crashtracker/src/collector/api.rs
Labels: none

[crashtracking] Add explicit test for extra children (#720)
  crashtracker/src/collector/api.rs
Labels: none

[WIP] refactor proxy handling.
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/src/trace_flusher.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/Cargo.toml
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, sidecar, data-pipeline

Refactor proxy handling.
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/src/trace_flusher.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/Cargo.toml
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, sidecar, data-pipeline

Pass RUSTFLAGS to each architecture.
  builder/src/arch/apple.rs
  builder/src/arch/linux.rs
  builder/src/arch/musl.rs
  builder/src/arch/windows.rs
  builder/src/common.rs
  builder/src/crashtracker.rs
  builder/src/profiling.rs
Labels: none

Revert changes in windows build script
  builder/src/bin/release.rs
  builder/src/crashtracker.rs
  builder/src/profiling.rs
  windows/build-artifacts.ps1
  windows/libdatadog.csproj
Labels: ci-build

Refactor to support different target compilations.
  .github/workflows/test.yml
  Cargo.lock
  builder/Cargo.toml
  builder/build/arch/apple.rs
  builder/build/arch/linux.rs
  builder/build/arch/mod.rs
  builder/build/arch/musl.rs
  builder/build/arch/windows.rs
  builder/build/common.rs
  builder/build/crashtracker.rs
  builder/build/data_pipeline.rs
  builder/build/main.rs
  builder/build/module.rs
  builder/build/profiling.rs
  builder/build/symbolizer.rs
  builder/src/arch/apple.rs
  builder/src/arch/linux.rs
  builder/src/arch/mod.rs
  builder/src/arch/musl.rs
  builder/src/arch/windows.rs
  builder/src/bin/dummy.rs
  builder/src/bin/release.rs
  builder/src/builder.rs
  builder/src/common.rs
  builder/src/crashtracker.rs
  builder/src/lib.rs
  builder/src/module.rs
  builder/src/profiling.rs
  builder/src/utils.rs
  tools/docker/Dockerfile.build
  tools/src/bin/dedup_headers.rs
  tools/src/lib.rs
  windows/build-artifacts.ps1
  windows/libdatadog.csproj
Labels: ci-build

Initial
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/collector/faultinfo.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/collector/siginfo_strings.rs
Labels: none

Repurpose builder to support crosscompilation. (#690)
  .github/workflows/test.yml
  Cargo.lock
  builder/Cargo.toml
  builder/build/arch/apple.rs
  builder/build/arch/linux.rs
  builder/build/arch/mod.rs
  builder/build/arch/musl.rs
  builder/build/arch/windows.rs
  builder/build/common.rs
  builder/build/crashtracker.rs
  builder/build/data_pipeline.rs
  builder/build/main.rs
  builder/build/module.rs
  builder/build/profiling.rs
  builder/build/symbolizer.rs
  builder/src/arch/apple.rs
  builder/src/arch/linux.rs
  builder/src/arch/mod.rs
  builder/src/arch/musl.rs
  builder/src/arch/windows.rs
  builder/src/bin/dummy.rs
  builder/src/bin/release.rs
  builder/src/builder.rs
  builder/src/common.rs
  builder/src/crashtracker.rs
  builder/src/lib.rs
  builder/src/module.rs
  builder/src/profiling.rs
  builder/src/utils.rs
  tools/docker/Dockerfile.build
  tools/src/bin/dedup_headers.rs
  tools/src/lib.rs
  windows/build-artifacts.ps1
  windows/libdatadog.csproj
Labels: ci-build

Add tests
  Cargo.lock
  crashtracker/Cargo.toml
  crashtracker/src/collector/emitters.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/collector/siginfo_strings.rs
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/telemetry.rs
  crashtracker/src/receiver.rs
Labels: none

bump datadog-serverless-trace-mini-agent version to 0.9.0 (#723)
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

Propagate state better in tests
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/collector/siginfo_strings.rs
Labels: none

Comment
  crashtracker/src/collector/emitters.rs
Labels: none

Fix FFI
  crashtracker-ffi/src/crash_info/datatypes.rs
Labels: none

Consolidate interface differently
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/receiver.rs
  crashtracker/src/shared/configuration.rs
Labels: none

Format
  crashtracker-ffi/src/collector/mod.rs
Labels: none

Fix bin tests
  bin_tests/src/bin/crashtracker_bin_test.rs
Labels: none

All PR comments to this point
  docs/RFCs/0002-crashtracker-user-visable-log.md
Labels: none

Oops, fix empty receiver case
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
Labels: none

Renamed to 0005 since new RFCs have come in
  0005-crashtracker-structured-log-format.md
Labels: none

Update crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/crash_handler.rs
Labels: none

Refactor API
  crashtracker-ffi/src/collector/mod.rs
Labels: none

Ignore flaky test
  crashtracker/src/collector/api.rs
Labels: none

Ignore flaky crashtracking test (#729)
  crashtracker/src/collector/api.rs
Labels: none

Disable workflows and test benchmarks comments
  .github/workflows/all-checks.yml.bkp
  .github/workflows/coverage.yml.bkp
  .github/workflows/fuzz.yml.bkp
  .github/workflows/lint.yml.bkp
  .github/workflows/miri.yml.bkp
  .github/workflows/pr-auto-labeler.yml.bkp
  .github/workflows/publish-serverless-agent.yml.bkp
  .github/workflows/stale.yml.bkp
  .github/workflows/test-ruby.yml.bkp
  .github/workflows/test.yml.bkp
  .github/workflows/verify-proto-files.yml.bkp
  .github/workflows/weekly-verify-proto-files.yml.bkp
Labels: ci-build

Fix receiver-less crashtracker initialization via the FFI function
  crashtracker-ffi/src/collector/mod.rs
Labels: none

Put unix sockets into the unix namespace
  crashtracker/src/collector/crash_handler.rs
Labels: none

In the right folder
  docs/RFCs/0005-crashtracker-structured-log-format.md
Labels: none

more PR comments
  docs/RFCs/0005-crashtracker-structured-log-format.md
Labels: none

increase the volume of traces for deserialization benchmarks
  trace-utils/benches/deserialization.rs
Labels: mini-agent

Update trace-utils/benches/deserialization.rs
  trace-utils/benches/deserialization.rs
Labels: mini-agent

Update trace-utils/benches/deserialization.rs
  trace-utils/benches/deserialization.rs
Labels: mini-agent

adjust payload size down to 10mb
  trace-utils/benches/deserialization.rs
Labels: mini-agent

proper schema
  docs/RFCs/artifacts/0002-crashtracker-schema.json
  docs/RFCs/artifacts/0005-crashtracker-example.json
  docs/RFCs/artifacts/0005-crashtracker-schema.json
Labels: none

thread name
  docs/RFCs/0005-crashtracker-structured-log-format.md
Labels: none

fmt
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/shared/configuration.rs
Labels: none

[crashtracking]: add named socket support back in (#722)
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/receiver.rs
  crashtracker/src/shared/configuration.rs
Labels: none

Initial
  crashtracker/src/collector/alt_fork.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/collector/mod.rs
Labels: none

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
