Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

.github/labeler.yml:

profiling:
- profiling/**/*
- profiling-ffi/**/*

common:
- ddcommon/**/*
- ddcommon-ffi/**/*

ci-build:
- .github/**/*
- .gitlab-ci.yml
- windows/**/*
- build-*

mini-agent:
- trace-mini-agent/**/*
- serverless/**/*
- trace-normalization/**/*
- trace-obfuscation/**/*
- trace-utils/**/*

telemetry:
- ddtelemetry/**/*
- ddtelemetry-ffi/**/*

dogstatsd:
- dogstatsd-collector/**/*

sidecar:
- sidecar/**/*
- sidecar-ffi/**/*

data-pipeline:
- data-pipeline/**/*
- data-pipeline-ffi/**/*

Refactor trace normalization utils
  Cargo.lock
  trace-normalization/Cargo.toml
  trace-normalization/benches/normalization_utils.rs
  trace-normalization/src/lib.rs
  trace-normalization/src/normalize_utils.rs
  trace-normalization/src/normalizer.rs
  trace-normalization/src/utf8_helpers.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

Add stats computation and encoding to pb
  Cargo.lock
  Cargo.toml
  data-pipeline/Cargo.toml
  data-pipeline/src/lib.rs
  data-pipeline/src/stats_aggregator.rs
  ddsketch/Cargo.toml
  ddsketch/build.rs
  ddsketch/src/lib.rs
  ddsketch/src/pb.rs
  ddsketch/src/pb/DDSketch.proto
Labels: data-pipeline

Stats exporter ffi bindings
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/lib.rs
  data-pipeline-ffi/src/stats_exporter.rs
  data-pipeline/Cargo.toml
  data-pipeline/src/lib.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon/src/lib.rs
Labels: common, data-pipeline

fix tests
  trace-normalization/src/normalize_utils.rs
Labels: mini-agent

return error from send
  data-pipeline-ffi/src/stats_exporter.rs
Labels: data-pipeline

Fix build
  data-pipeline-ffi/src/stats_exporter.rs
Labels: data-pipeline

Fix windows packaging
  windows/libdatadog.csproj
Labels: ci-build

Bump to version 7.0.0 In preparation for a release.
  Cargo.lock
  Cargo.toml
Labels: none

Rename profiling-ffi Endpoint to ProfilingEndpoint/prof_Endpoint to remove confusion with ddcommon::Endpoint
  bin_tests/src/bin/crashtracker_bin_test.rs
  build-common/src/cbindgen.rs
  crashtracker/src/crash_info.rs
  examples/ffi/exporter.cpp
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/crashtracker.rs
  profiling-ffi/src/exporter.rs
  profiling/src/exporter/mod.rs
Labels: profiling

fmt
  crashtracker/src/crash_info.rs
  profiling/src/exporter/mod.rs
Labels: profiling

Undo unwanted cbindgen build change
  build-common/src/cbindgen.rs
Labels: none

Skip building crash tracking example on Windows
  examples/ffi/CMakeLists.txt
Labels: none

Update crashtracking example
  examples/ffi/crashtracking.c
Labels: none

Rename profiling-ffi Endpoint to ProfilingEndpoint/prof_Endpoint to remove confusion with ddcommon::Endpoint (#359)
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/crash_info.rs
  examples/ffi/crashtracking.c
  examples/ffi/exporter.cpp
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/crashtracker.rs
  profiling-ffi/src/exporter.rs
  profiling/src/exporter/mod.rs
Labels: profiling

* Fix stats duration and start time * Add request timeout
  data-pipeline-ffi/src/stats_exporter.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon/src/tag.rs
  ddsketch/src/lib.rs
  ddsketch/src/pb.rs
  trace-normalization/src/lib.rs
  trace-normalization/src/normalize_utils.rs
  trace-utils/src/trace_utils.rs
Labels: common, mini-agent, data-pipeline

Bump to version 7.0.0 (#358)
  Cargo.lock
  Cargo.toml
Labels: none

[POC] Java native bindings
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.yml
  data-pipline-java/Cargo.toml
  data-pipline-java/java/.gitattributes
  data-pipline-java/java/.gitignore
  data-pipline-java/java/build.gradle.kts
  data-pipline-java/java/gradle/wrapper/gradle-wrapper.jar
  data-pipline-java/java/gradle/wrapper/gradle-wrapper.properties
  data-pipline-java/java/gradlew
  data-pipline-java/java/gradlew.bat
  data-pipline-java/java/settings.gradle.kts
  data-pipline-java/java/src/main/java/datadog/data_pipeline/NativeLibLoader.java
  data-pipline-java/java/src/main/java/datadog/data_pipeline/TraceExporter.java
  data-pipline-java/java/src/test/java/datadog/data_pipeline/TraceExporterTest.java
  data-pipline-java/src/lib.rs
  tools/docker/Dockerfile.build
Labels: none

Temporary: package only needed files - no pdb, no debug
  windows/libdatadog.csproj
Labels: ci-build

* use rmp_serde::encode::to_vec_named to serialize to the right format * Add a rust example to do manual tests
  data-pipeline/examples/stats_exporter_example.rs
  data-pipeline/src/stats_exporter.rs
Labels: data-pipeline

Add further data for the example
  data-pipeline/examples/stats_exporter_example.rs
  data-pipeline/src/stats_exporter.rs
Labels: data-pipeline
