Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]

Fix token cancellation flakiness (#646)
  data-pipeline/src/stats_exporter.rs
Labels: data-pipeline

Add logs
  data-pipeline/src/agent_info/fetcher.rs
Labels: data-pipeline

Remove agent-info from docker
  tools/docker/Dockerfile.build
Labels: none

Refactor FFI API to use a builder approach.
  data-pipeline-ffi/src/trace_exporter.rs
  examples/ffi/trace_exporter.c
Labels: data-pipeline

rename flusher to client
  data-pipeline/src/trace_exporter.rs
  dogstatsd-client/src/lib.rs
  sidecar/src/service/session_info.rs
Labels: sidecar, data-pipeline

feat: support HTTPS_PROXY for traces
  Cargo.lock
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/Cargo.toml
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, sidecar, data-pipeline

fix names
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

fix: https_proxy only.
  dogstatsd/src/datadog.rs
  dogstatsd/src/flusher.rs
  dogstatsd/tests/integration_test.rs
  serverless/src/main.rs
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/send_data/mod.rs
Labels: mini-agent

Upstream dogstatsd refactors (#617)
  Cargo.lock
  dogstatsd/Cargo.toml
  dogstatsd/src/aggregator.rs
  dogstatsd/src/constants.rs
  dogstatsd/src/datadog.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
  dogstatsd/tests/integration_test.rs
  serverless/src/main.rs
Labels: mini-agent

fix: maybe native-tls works in lambda?
  trace-utils/Cargo.toml
Labels: mini-agent

feat: try rust-tls
  trace-utils/Cargo.toml
Labels: mini-agent

fix: rusttls oops
  trace-utils/Cargo.toml
Labels: mini-agent

fix: reee it's rustls why
  Cargo.lock
  trace-utils/Cargo.toml
Labels: mini-agent

fix: default-features must be false
  Cargo.lock
  trace-utils/Cargo.toml
Labels: mini-agent

Implement deadlock watchdog for sidecar
  sidecar/src/watchdog.rs
Labels: sidecar

Do suggested renames
  sidecar/src/watchdog.rs
Labels: sidecar

Add dogstatd-client.
  .codecov.yml
Labels: none

Implement deadlock watchdog for sidecar (#647)
  sidecar/src/watchdog.rs
Labels: sidecar

try using an emit_metric macro
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

add more anyhow errors for easier debugging building dogstatsd client
  dogstatsd-client/src/lib.rs
Labels: none

Health Metrics for data-pipeline + Dogstatsd-Client Crate (#638)
  .codecov.yml
  Cargo.lock
  Cargo.toml
  data-pipeline/Cargo.toml
  data-pipeline/src/health_metrics.rs
  data-pipeline/src/lib.rs
  data-pipeline/src/trace_exporter.rs
  dogstatsd-client/Cargo.toml
  dogstatsd-client/README.md
  dogstatsd-client/src/lib.rs
  sidecar-ffi/Cargo.toml
  sidecar-ffi/src/lib.rs
  sidecar/Cargo.toml
  sidecar/src/dogstatsd.rs
  sidecar/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  tools/docker/Dockerfile.build
Labels: sidecar, data-pipeline

Revert to tracing_integration_tests
  .github/workflows/test.yml
  README.md
  data-pipeline/tests/test_fetch_info.rs
  trace-utils/tests/test_send_data.rs
Labels: ci-build, mini-agent, data-pipeline

[APMSP-1317] Fetch agent info endpoint (#619)
  Cargo.lock
  data-pipeline/Cargo.toml
  data-pipeline/src/agent_info/fetcher.rs
  data-pipeline/src/agent_info/mod.rs
  data-pipeline/src/agent_info/schema.rs
  data-pipeline/src/lib.rs
  data-pipeline/tests/test_fetch_info.rs
Labels: data-pipeline

add data-pipeline-ffi to nuget build
  windows/build-artifacts.ps1
Labels: ci-build

Add missing crates to code coverage.
  .codecov.yml
Labels: none

Add missing crates to code coverage. (#652)
  .codecov.yml
Labels: none

WIP: debug log, will revert
  dogstatsd/src/datadog.rs
Labels: none

Increase test delay
  data-pipeline/src/agent_info/fetcher.rs
Labels: data-pipeline

Wait for spawn child in order to avoid concurrency problems.
  builder/build/arch/linux.rs
  builder/build/arch/musl.rs
Labels: none

fix: id public and use optional for tags
  dogstatsd/src/aggregator.rs
  dogstatsd/src/metric.rs
Labels: none

change: utility to easily create values
  dogstatsd/src/aggregator.rs
  dogstatsd/src/metric.rs
Labels: none

fix: reqwest honors system proxies, hyper doesn't seem to. Only proxy https traffic
  dogstatsd/src/datadog.rs
  dogstatsd/src/flusher.rs
  serverless/src/main.rs
  trace-utils/src/send_data/mod.rs
Labels: mini-agent

Wait for spawn child in order to avoid concurrency problems. (#651)
  builder/build/arch/linux.rs
  builder/build/arch/musl.rs
Labels: none

Increase test delay (#653)
  data-pipeline/src/agent_info/fetcher.rs
Labels: data-pipeline

Add PDB info to crash info
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker/src/crash_info/stacktrace.rs
Labels: none

fix: revert hyper-proxy, just use system proxy
  Cargo.lock
  trace-utils/Cargo.toml
  trace-utils/src/send_data/mod.rs
Labels: mini-agent

fix: revert proxy, use system
  trace-mini-agent/src/trace_processor.rs
Labels: mini-agent

fix: revert hyper-proxy, use system proxy
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, sidecar, data-pipeline

fix: revert senddata proxy change from tests
  trace-utils/src/test_utils/mod.rs
Labels: mini-agent

Add normalized frames in example
  examples/ffi/crashinfo.cpp
Labels: none
