Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]

Update docs/RFCs/0002-build-process.md
  docs/RFCs/0002-build-process.md
Labels: none

Add stats exporter and compute stats from traces
  Cargo.lock
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/Cargo.toml
  data-pipeline/src/lib.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon/src/lib.rs
  examples/ffi/trace_exporter.c
Labels: common, data-pipeline

Apply suggestions from code review
  remote-config/examples/remote_config_fetch.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/shared.rs
  remote-config/src/fetch/single.rs
Labels: none

Use append() for writing telemetry lock to file
  ddtelemetry/src/worker/http_client.rs
  tools/docker/Dockerfile.build
Labels: telemetry

Use append() for writing telemetry lock to file (#585)
  ddtelemetry/src/worker/http_client.rs
  tools/docker/Dockerfile.build
Labels: telemetry

Support x-datadog-test-session-token for parallel tests with the test agent
  ddcommon-ffi/src/endpoint.rs
  ddcommon-ffi/src/slice.rs
  ddcommon/src/lib.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/agent_remote_config.rs
  sidecar/src/config.rs
  sidecar/src/dogstatsd.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/trace_utils.rs
Labels: common, mini-agent, sidecar

Support x-datadog-test-session-token for parallel tests with the test agent (#578)
  ddcommon-ffi/src/endpoint.rs
  ddcommon-ffi/src/slice.rs
  ddcommon/src/lib.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/agent_remote_config.rs
  sidecar/src/config.rs
  sidecar/src/dogstatsd.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/trace_utils.rs
Labels: common, mini-agent, sidecar

Add NoAllocString for decoding v04 traces
  trace-utils/benches/deserialization.rs
  trace-utils/src/lib.rs
  trace-utils/src/msgpack_decoder/no_alloc_v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/no_alloc_v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/no_alloc_v04/decoder/span_link.rs
  trace-utils/src/msgpack_decoder/no_alloc_v04/error.rs
  trace-utils/src/msgpack_decoder/no_alloc_v04/mod.rs
  trace-utils/src/msgpack_decoder/no_alloc_v04/number.rs
  trace-utils/src/no_alloc_span.rs
  trace-utils/src/no_alloc_string.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent

init collections with capacity
  trace-utils/src/msgpack_decoder/no_alloc_v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/no_alloc_v04/decoder/span_link.rs
Labels: mini-agent

improve benchmarks for better comparison
  trace-utils/benches/deserialization.rs
  trace-utils/src/msgpack_decoder/no_alloc_v04/decoder/mod.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent

Fix windows build
  remote-config/examples/remote_config_fetch.rs
  remote-config/src/fetch/fetcher.rs
  sidecar/src/service/remote_configs.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

Skip the demangle test under miri
  crashtracker-ffi/src/demangler/mod.rs
Labels: none

Skip the demangle test under miri (#589)
  crashtracker-ffi/src/demangler/mod.rs
Labels: none

Use proper high resolution monotonic timer on windows
  ddcommon/Cargo.toml
  ddcommon/src/rate_limiter.rs
Labels: common

Provide a common atomic Rate Limiter implementation
  .github/workflows/lint.yml
  Cargo.lock
  LICENSE-3rdparty.yml
  ddcommon/Cargo.toml
  ddcommon/src/lib.rs
  ddcommon/src/rate_limiter.rs
  ipc/Cargo.toml
  ipc/src/lib.rs
  ipc/src/platform/mem_handle.rs
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  ipc/src/platform/windows/mem_handle.rs
  ipc/src/rate_limiter.rs
  sidecar/src/one_way_shared_memory.rs
Labels: common, ci-build, sidecar

Add minimal sleep for test stability
  ddcommon/src/rate_limiter.rs
Labels: common

Disable shellcheck warning
  .github/workflows/lint.yml
Labels: ci-build

Fix aftrer rebase
  ddcommon/src/rate_limiter.rs
  ipc/src/rate_limiter.rs
  sidecar/src/one_way_shared_memory.rs
Labels: common, sidecar

Validate rate() in test
  ddcommon/src/rate_limiter.rs
Labels: common

Validate limit change in test
  ddcommon/src/rate_limiter.rs
Labels: common

Work around floating point precision issues
  ddcommon/src/rate_limiter.rs
Labels: common

improve crashtracker config deserialization
  crashtracker/src/crash_info/metadata.rs
  crashtracker/src/shared/configuration.rs
  ddcommon/src/lib.rs
Labels: common

fix lint
  crashtracker/src/shared/configuration.rs
  ddcommon/src/lib.rs
Labels: common

Fix typos + add a missing func in profiling-ffi
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/bin/crashtracker_unix_socket_receiver.rs
  crashtracker/CMakeLists.txt
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
Labels: none

Init CrashTracker support in the sidecar
  Cargo.lock
  crashtracker/Cargo.toml
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/telemetry.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  ddcommon/src/lib.rs
  profiling-ffi/Cargo.toml
  sidecar/Cargo.toml
  sidecar/src/entry.rs
Labels: profiling, common, sidecar

Restore profiling-ffi/Cargo.toml as change is not required anymore
  profiling-ffi/Cargo.toml
Labels: profiling

Remove unnecessary strip_prefix("file")
  crashtracker/src/crash_info/mod.rs
Labels: none

Fix rebase
  crashtracker-ffi/src/receiver.rs
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/lib.rs
Labels: none

Fix clippy
  sidecar/src/entry.rs
Labels: sidecar

Fix rebase
  crashtracker-ffi/src/collector/mod.rs
Labels: none

cargo fmt
  sidecar-ffi/src/lib.rs
  sidecar/src/crashtracker.rs
  sidecar/src/entry.rs
  sidecar/src/lib.rs
Labels: sidecar

Fix typo
  sidecar-ffi/src/lib.rs
  sidecar/src/crashtracker.rs
  sidecar/src/entry.rs
Labels: sidecar

Create one socket per spawned sidecar
  sidecar-ffi/src/lib.rs
  sidecar/src/crashtracker.rs
  sidecar/src/entry.rs
  sidecar/src/lib.rs
Labels: sidecar

Fix CI
  crashtracker/src/crash_info/mod.rs
  ddcommon/src/lib.rs
  sidecar/src/entry.rs
Labels: common, sidecar

Cleanup
  crashtracker/src/crash_info/mod.rs
  sidecar/src/crashtracker.rs
Labels: sidecar

Init CrashTracker support in the sidecar (#535)
  Cargo.lock
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/bin/crashtracker_unix_socket_receiver.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker-ffi/src/receiver.rs
  crashtracker/CMakeLists.txt
  crashtracker/Cargo.toml
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/telemetry.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  sidecar-ffi/src/lib.rs
  sidecar/Cargo.toml
  sidecar/src/crashtracker.rs
  sidecar/src/entry.rs
  sidecar/src/lib.rs
Labels: sidecar

Make struct fields private
  data-pipeline/src/concentrator/aggregation.rs
  data-pipeline/src/concentrator/mod.rs
Labels: data-pipeline

Change visibility to super
  data-pipeline/src/concentrator/aggregation.rs
Labels: data-pipeline

Move tests to a separate module
  data-pipeline/src/concentrator/mod.rs
  data-pipeline/src/concentrator/tests.rs
Labels: data-pipeline

Update docs/RFCs/0002-build-process.md
  docs/RFCs/0002-build-process.md
Labels: none
