Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]

Update tests
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker/src/crash_info/telemetry.rs
Labels: none

Avoid allocating pretty-printed string for crash_adddress inside signal handler
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/telemetry.rs
Labels: none

Rename `crash_address` => `faulting_address`, as suggested in PR review
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/telemetry.rs
Labels: none

Fix telemetry metric name
  sidecar/src/self_telemetry.rs
Labels: sidecar

Fix telemetry metric name (#666)
  sidecar/src/self_telemetry.rs
Labels: sidecar

telemetry worker: flush data after stops
  ddtelemetry/src/worker/mod.rs
Labels: telemetry

[WIP] refactor proxy handling.
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/src/trace_flusher.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/Cargo.toml
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, sidecar, data-pipeline

[WIP] refactor proxy handling.
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/src/trace_flusher.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/Cargo.toml
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, sidecar, data-pipeline

Fix codecov
  .github/workflows/coverage.yml
Labels: ci-build

Bump cargo-llvm-cov version.
  .github/workflows/coverage.yml
Labels: ci-build

Code coverage tool is failing on some cargo edgecase - that no one fixed for some time now.
  .github/workflows/coverage.yml
Labels: ci-build

Update dependencies
  Cargo.lock
  build-common/Cargo.toml
  crashtracker/Cargo.toml
  ddcommon/Cargo.toml
  ddtelemetry/Cargo.toml
  ddtelemetry/src/worker/store.rs
  ipc/Cargo.toml
  ipc/src/platform/mem_handle.rs
  ipc/src/platform/unix/channel.rs
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/sockets.rs
  remote-config/Cargo.toml
  sidecar/Cargo.toml
  spawn_worker/Cargo.toml
Labels: common, telemetry, sidecar

Exclude ipc.
  .github/workflows/coverage.yml
  ipc/macros/Cargo.toml
Labels: ci-build

Update dependencies
  Cargo.lock
  build-common/Cargo.toml
  crashtracker/Cargo.toml
  ddcommon/Cargo.toml
  ddcommon/src/connector/mod.rs
  ddtelemetry/Cargo.toml
  ddtelemetry/src/worker/store.rs
  ipc/Cargo.toml
  ipc/src/platform/mem_handle.rs
  ipc/src/platform/unix/channel.rs
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  ipc/src/platform/unix/sockets.rs
  remote-config/Cargo.toml
  sidecar/Cargo.toml
  spawn_worker/Cargo.toml
  spawn_worker/src/win32.rs
Labels: common, telemetry, sidecar

Export library path.
  .github/workflows/coverage.yml
Labels: ci-build

Allow sending tags via RC
  ddcommon/src/tag.rs
  remote-config/examples/remote_config_fetch.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/shared.rs
  remote-config/src/lib.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/remote_configs.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_remote_config.rs
Labels: common, sidecar

Make coverage success optional in CI
  .github/workflows/all-checks.yml
Labels: ci-build

Make coverage success optional in CI (#670)
  .github/workflows/all-checks.yml
Labels: ci-build

Update dependencies
  Cargo.lock
  build-common/Cargo.toml
  crashtracker/Cargo.toml
  ddcommon/Cargo.toml
  ddcommon/src/connector/mod.rs
  ddtelemetry/Cargo.toml
  ddtelemetry/src/worker/store.rs
  ipc/Cargo.toml
  ipc/src/platform/mem_handle.rs
  ipc/src/platform/unix/channel.rs
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  ipc/src/platform/unix/sockets.rs
  remote-config/Cargo.toml
  sidecar/Cargo.toml
  spawn_worker/Cargo.toml
  spawn_worker/src/win32.rs
Labels: common, telemetry, sidecar

Update dependencies (#669)
  Cargo.lock
  build-common/Cargo.toml
  crashtracker/Cargo.toml
  ddcommon/Cargo.toml
  ddcommon/src/connector/mod.rs
  ddtelemetry/Cargo.toml
  ddtelemetry/src/worker/store.rs
  ipc/Cargo.toml
  ipc/src/platform/mem_handle.rs
  ipc/src/platform/unix/channel.rs
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  ipc/src/platform/unix/sockets.rs
  remote-config/Cargo.toml
  sidecar/Cargo.toml
  spawn_worker/Cargo.toml
  spawn_worker/src/win32.rs
Labels: common, telemetry, sidecar

Allow sending tags via RC
  ddcommon/src/tag.rs
  remote-config/examples/remote_config_fetch.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/shared.rs
  remote-config/src/lib.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/remote_configs.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_remote_config.rs
Labels: common, sidecar

Allow sending tags via RC (#671)
  ddcommon/src/tag.rs
  remote-config/examples/remote_config_fetch.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/shared.rs
  remote-config/src/lib.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/remote_configs.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_remote_config.rs
Labels: common, sidecar

Export library path.
  .github/workflows/coverage.yml
Labels: ci-build

add span tags for azure spring apps
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

fix unit test
  trace-mini-agent/src/env_verifier.rs
Labels: mini-agent

feat: Prefer DD_PROXY_HTTPS over HTTPS_PROXY
  dogstatsd/src/datadog.rs
  dogstatsd/src/flusher.rs
  serverless/src/main.rs
  trace-mini-agent/src/config.rs
Labels: mini-agent

fix: no proxy on ints
  dogstatsd/tests/integration_test.rs
Labels: none

fix: clippy thx
  dogstatsd/src/datadog.rs
Labels: none

add back zipping of serverless binaries with proper github permissions (#660)
  .github/workflows/publish-serverless-agent.yml
Labels: ci-build

add back zipping of serverless binaries with proper github permissions (#660)
  .github/workflows/publish-serverless-agent.yml
Labels: ci-build

add span tags for azure spring apps
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

fix unit test
  trace-mini-agent/src/env_verifier.rs
Labels: mini-agent

bump version
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

Fix rustfmt error (#645)
  profiling/src/collections/string_table/mod.rs
Labels: profiling

[PROF-10603] Package libdatadog v13.1.0 for Ruby
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Labels: none

Minor: Add some tips on local testing to Ruby README
  ruby/README.md
Labels: none

[NO-TICKET] Upgrade "datadog-protos"/"ddketch-agent" to unlock tonic 0.12.3
  Cargo.lock
Labels: none

Bump a few more dependencies and make sure there are no downgrades
  Cargo.lock
Labels: none

Restrict RC path to a definite 31 chars
  sidecar/src/shm_remote_config.rs
Labels: sidecar

telemetry worker: flush data after stops
  ddtelemetry/src/worker/mod.rs
Labels: telemetry
