Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]

Remove normalization result in benchmark
  trace-normalization/benches/normalization_utils.rs
Labels: mini-agent

Make trace-obfuscation benchmarks compile standalone
  Cargo.lock
  trace-obfuscation/Cargo.toml
  trace-obfuscation/benches/benchmarks/sql_obfuscation_bench.rs
Labels: mini-agent

Add script to run benchmarks from CI
  benchmark/run_benchmarks_ci.sh
Labels: none

feat: Rename methods to use v05. Add v05 string method. Temp debugging log to figure out json string encoding stuff
  trace-utils/src/trace_utils.rs
Labels: mini-agent

wip: more debugging
  trace-utils/src/trace_utils.rs
Labels: mini-agent

fix: use into_str instead of to_string to avoid string escaping
  trace-utils/src/trace_utils.rs
Labels: mini-agent

feat: clean up match
  trace-utils/src/trace_utils.rs
Labels: mini-agent

Enable benchmarks in gitlab CI
  .gitlab-ci.yml
  .gitlab/benchmarks.yml
Labels: ci-build

Fix typos + add a missing func in profiling-ffi
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/bin/crashtracker_unix_socket_receiver.rs
  crashtracker/CMakeLists.txt
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  profiling-ffi/src/crashtracker/collector.rs
Labels: profiling

Enable benchmarks in gitlab CI
  .gitlab-ci.yml
  .gitlab/benchmarks.yml
Labels: ci-build

Make trace-obfuscation benchmarks compile standalone
  Cargo.lock
  trace-obfuscation/Cargo.toml
  trace-obfuscation/benches/benchmarks/sql_obfuscation_bench.rs
Labels: mini-agent

Add script to run benchmarks from CI
  benchmark/run_benchmarks_ci.sh
Labels: none

feat: Rename last method to get_v05 nomenclature
  trace-utils/src/trace_utils.rs
Labels: mini-agent

Slow down test...
  trace-obfuscation/benches/benchmarks/sql_obfuscation_bench.rs
Labels: mini-agent

Speed up test...
  trace-obfuscation/benches/benchmarks/sql_obfuscation_bench.rs
Labels: mini-agent

Support v0.5 trace endpoint (#505)
  Cargo.lock
  LICENSE-3rdparty.yml
  trace-mini-agent/src/env_verifier.rs
  trace-utils/Cargo.toml
  trace-utils/src/config_utils.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

Add support for external env
  ddcommon/src/entity_id/mod.rs
  ddcommon/src/entity_id/unix/mod.rs
  ddcommon/src/lib.rs
Labels: common

update azure resource group regex to account for windows (#504)
  ddcommon/src/azure_app_services.rs
Labels: common

Add option to skip checks when building profiling
  build-profiling-ffi.sh
Labels: ci-build

Document cbindgen dependency
  README.md
Labels: none

Add option to skip checks when building profiling (#513)
  build-profiling-ffi.sh
Labels: ci-build

add azure spring app environment type for serverless mini agent
  trace-mini-agent/src/env_verifier.rs
  trace-utils/src/config_utils.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

Add support for external env (#509)
  ddcommon/src/entity_id/mod.rs
  ddcommon/src/entity_id/unix/mod.rs
  ddcommon/src/lib.rs
Labels: common

Add test verifying that this no longer returns a null pointer in case of valid path
  ddcommon-ffi/src/endpoint.rs
Labels: common

telemetry worker: flush data after stops
  ddtelemetry/src/worker/mod.rs
Labels: telemetry

adds azure runtime tags for serverless traces
  ddcommon/src/azure_app_services.rs
  trace-utils/src/trace_utils.rs
Labels: common, mini-agent

apply formatting
  ddcommon/src/azure_app_services.rs
  trace-utils/src/trace_utils.rs
Labels: common, mini-agent

update unit test for new fields
  ddcommon/src/azure_app_services.rs
Labels: common

adds unit test for get_value_or_unknown
  ddcommon/src/azure_app_services.rs
Labels: common

filter empty strings during construction
  ddcommon/src/azure_app_services.rs
Labels: common

handle empty strings for azure app service tags
  ddcommon/src/azure_app_services.rs
Labels: common

DEBUG-2510 Document cbindgen dependency (#514)
  README.md
Labels: none

move trace_utils/test_utils.rs to test_utils module
  trace-utils/src/test_utils/mod.rs
Labels: mini-agent

add integration tests to trace-utils that call the test-agent
  Cargo.lock
  trace-utils/Cargo.toml
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/tests/snapshots/compare_v04_trace_snapshot_test.json
  trace-utils/tests/test_send_data.rs
Labels: mini-agent

update github test workflows to run tracing integration tests
  .github/workflows/test.yml
Labels: ci-build

Update 3rd party license for adding testcontainers-rs to trace-utils
  LICENSE-3rdparty.yml
Labels: none

WIP: cleaning up docs
  trace-utils/src/test_utils/datadog_test_agent.rs
Labels: mini-agent

Fix double free
  live-debugger-ffi/src/data.rs
  live-debugger/src/redacted_names.rs
Labels: none

WIP test runner flakiness
  trace-utils/src/test_utils/datadog_test_agent.rs
Labels: mini-agent

WIP trying to fix CI
  .github/workflows/test.yml
  trace-utils/src/test_utils/datadog_test_agent.rs
Labels: ci-build, mini-agent
