Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

Fixes
  live-debugger-ffi/src/sender.rs
  live-debugger/src/expr_eval.rs
  live-debugger/src/redacted_names.rs
  live-debugger/src/sender.rs
  sidecar/src/shm_limiters.rs
  sidecar/src/tokio_util.rs
Labels: sidecar

Fixes
  live-debugger-ffi/src/send_data.rs
Labels: none

Buffer debugger data sending
  Cargo.lock
  ipc/src/platform/mem_handle.rs
  live-debugger/Cargo.toml
  live-debugger/src/sender.rs
  sidecar/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/runtime_info.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/tokio_util.rs
Labels: sidecar

Defaults for capture config
  live-debugger/src/probe_defs.rs
Labels: none

Fix test_ddog_ph_file_handling sidecar test
  sidecar-ffi/tests/sidecar.rs
  spawn_worker/src/unix/fork.rs
Labels: sidecar

Fix sidecar tests testing handling of closed file descriptors (#572)
  sidecar-ffi/tests/sidecar.rs
  spawn_worker/src/unix/fork.rs
Labels: sidecar

move http_client to ddcommon
  crashtracker/src/crash_info/telemetry.rs
  ddcommon/src/http_client.rs
  ddcommon/src/lib.rs
  ddtelemetry/examples/tm-ping.rs
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/src/worker/http_client.rs
  ddtelemetry/src/worker/mod.rs
Labels: common, telemetry

use ddcommon
  crashtracker/src/crash_info/telemetry.rs
  ddcommon/src/http_client.rs
  ddtelemetry/examples/tm-ping.rs
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/src/worker/http_client.rs
  ddtelemetry/src/worker/mod.rs
  profiling/src/exporter/mod.rs
Labels: profiling, common, telemetry

Fix error check in trampoline.c
  spawn_worker/src/trampoline.c
Labels: none

Fix error check in trampoline.c (#569)
  spawn_worker/src/trampoline.c
Labels: none

[NO-TICKET] Validate that all public symbols are prefixed in Ruby releases
  ruby/spec/gem_packaging.rb
Labels: none

[NO-TICKET] Validate that all public symbols are prefixed in Ruby releases (#573)
  ruby/spec/gem_packaging.rb
Labels: none

[SVLS-5049] It is okay to have a stats payload without stats
  trace-mini-agent/src/stats_processor.rs
  trace-utils/src/stats_utils.rs
Labels: mini-agent

[SVLS-5049] apply cargo fmt
  trace-utils/src/stats_utils.rs
Labels: mini-agent

[SVLS-5049] It is okay to have a stats payload without stats (#567)
  trace-mini-agent/src/stats_processor.rs
  trace-utils/src/stats_utils.rs
Labels: mini-agent

[Serverless Mini Agent] bump version to 0.6.1
  serverless/Cargo.toml
Labels: mini-agent

[Serverless Mini Agent] also bump the version in Cargo.lock
  Cargo.lock
Labels: none

[Serverless Mini Agent] bump version to 0.6.1 (#575)
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

Bump up
  Cargo.lock
  Cargo.toml
Labels: none

Add helpers to trace utils
  trace-utils/src/trace_utils.rs
Labels: mini-agent

Move concentrator
  data-pipeline/src/concentrator/aggregation.rs
  data-pipeline/src/concentrator/mod.rs
  data-pipeline/src/lib.rs
Labels: data-pipeline

Fix clippy warnings
  data-pipeline/src/concentrator/aggregation.rs
  data-pipeline/src/concentrator/mod.rs
Labels: data-pipeline

Bump up to 12.0.0 in preparation for a new release (#574)
  Cargo.lock
  Cargo.toml
Labels: none

Fix trace utils
  trace-utils/src/trace_utils.rs
Labels: mini-agent

Add ddsketch to datapipeline
  Cargo.lock
  data-pipeline/Cargo.toml
Labels: data-pipeline

Use helper function to ignore span
  data-pipeline/src/concentrator/mod.rs
Labels: data-pipeline

Add test for has_top_level
  trace-utils/src/trace_utils.rs
Labels: mini-agent

address comments and clippy errors
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/number.rs
Labels: mini-agent

Add trace-utils to fuzz testing on CI
  .github/workflows/fuzz.yml
Labels: ci-build

FIXUP: Address clippy warnings and remove ignores
  trace-utils/src/msgpack/decoder.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent

FIXUP: Refactor decoder to be more readable and maintainable
  trace-utils/src/lib.rs
  trace-utils/src/msgpack_decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/msgpack_decoder/v04/error.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
  trace-utils/src/msgpack_decoder/v04/number.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent

improve messages in decoding errors and fix tests to use public functions
  trace-utils/src/msgpack_decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/msgpack_decoder/v04/error.rs
  trace-utils/src/msgpack_decoder/v04/number.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent

add support for map16 and map32 decoding
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
Labels: mini-agent

addressing benchmark regression suggestions
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
Labels: mini-agent

make number decoding and casting more flexible
  trace-utils/src/msgpack_decoder/v04/number.rs
Labels: mini-agent

add some basic fuzz tests for span decoding
  Cargo.lock
  trace-utils/Cargo.toml
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
Labels: mini-agent

Add basic decoding for v0.4 msgpack traces.
  trace-utils/src/lib.rs
  trace-utils/src/msgpack/decoder.rs
  trace-utils/src/msgpack/error.rs
  trace-utils/src/msgpack/mod.rs
  trace-utils/src/msgpack/number.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent

Add document describing the new build process.
  docs/RFCs/build-process.md
Labels: none

[crashtracker] Implement structured log format from RFC
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/stacktrace.rs
  crashtracker/src/crash_info/structured_log_format/mod.rs
  crashtracker/src/crash_info/structured_log_format/stacktrace.rs
Labels: none

Add basic decoding for v0.4 msgpack traces (#545)
  .github/workflows/fuzz.yml
  Cargo.lock
  trace-utils/Cargo.toml
  trace-utils/src/lib.rs
  trace-utils/src/msgpack_decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/msgpack_decoder/v04/error.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
  trace-utils/src/msgpack_decoder/v04/number.rs
  trace-utils/src/tracer_payload.rs
Labels: ci-build, mini-agent

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
