Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

Apply suggestions from code review
  remote-config/src/dynamic_configuration/data.rs
Labels: none

Move dynamic-configuration into its own crate
  Cargo.lock
  Cargo.toml
  dynamic-configuration/Cargo.toml
  dynamic-configuration/src/data.rs
  dynamic-configuration/src/lib.rs
  remote-config/Cargo.toml
  remote-config/examples/remote_config_fetch.rs
  remote-config/src/dynamic_configuration/mod.rs
  remote-config/src/lib.rs
  remote-config/src/parse.rs
  sidecar/Cargo.toml
  sidecar/src/shm_remote_config.rs
  tools/docker/Dockerfile.build
Labels: sidecar

Clippy
  .github/CODEOWNERS
  dynamic-configuration/Cargo.toml
  remote-config/src/parse.rs
  sidecar/src/service/remote_configs.rs
  sidecar/src/shm_remote_config.rs
  trace-protobuf/src/lib.rs
  trace-protobuf/src/pb.rs
  trace-protobuf/src/serde.rs
Labels: ci-build, sidecar

fall back to web pki certificates if unable to load platform certs
  Cargo.lock
  ddcommon/Cargo.toml
  ddcommon/src/connector/mod.rs
Labels: common

add allow_fallback_to_webpki_certs parameter and unit tests
  ddcommon/src/connector/mod.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/stats_utils.rs
Labels: common, mini-agent

fix formatting and regenerate license
  LICENSE-3rdparty.yml
  ddcommon/src/connector/mod.rs
Labels: common

Add DatadogTestAgent that runs the test agent for tracing in an ephemeral docker container. Also, add initial baseline snapshot test.
  trace-utils/Cargo.toml
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/tests/snapshots/compare_v04_trace_snapshot_test.json
  trace-utils/tests/test_send_data.rs
Labels: mini-agent

Update CI workflows to support tracing integration tests
  .github/workflows/test.yml
Labels: ci-build

Update cargo.lock and license file with changes for DatadogTestAgent
  Cargo.lock
  LICENSE-3rdparty.yml
Labels: none

address comments
  trace-utils/Cargo.toml
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/tests/snapshots/compare_v04_trace_snapshot_test.json
Labels: mini-agent

move free disk space step up to run first
  .github/workflows/test.yml
Labels: ci-build

cleanup
  .github/workflows/test.yml
Labels: ci-build

Update README.md
  README.md
Labels: none

Update readme
  README.md
Labels: none

ekump/adding-test-agent-to-trace-utils (#516)
  .github/workflows/test.yml
  Cargo.lock
  LICENSE-3rdparty.yml
  README.md
  trace-utils/Cargo.toml
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/tests/snapshots/compare_v04_trace_snapshot_test.json
  trace-utils/tests/test_send_data.rs
Labels: ci-build, mini-agent

Enable all benchmarks
  alloc/Cargo.toml
  benchmark/run_benchmarks_ci.sh
  bin_tests/Cargo.toml
  build-common/Cargo.toml
  crashtracker/Cargo.toml
  data-pipeline-ffi/Cargo.toml
  data-pipeline/Cargo.toml
  ddcommon-ffi/Cargo.toml
  ddcommon/Cargo.toml
  ddsketch/Cargo.toml
  ddtelemetry-ffi/Cargo.toml
  ddtelemetry/Cargo.toml
  ipc/Cargo.toml
  ipc/benches/ipc.rs
  ipc/macros/Cargo.toml
  ipc/tarpc/plugins/Cargo.toml
  ipc/tarpc/tarpc/Cargo.toml
  profiling-ffi/Cargo.toml
  profiling-replayer/Cargo.toml
  profiling/Cargo.toml
  serverless/Cargo.toml
  sidecar-ffi/Cargo.toml
  sidecar/Cargo.toml
  sidecar/macros/Cargo.toml
  spawn_worker/Cargo.toml
  symbolizer-ffi/Cargo.toml
  tests/spawn_from_lib/Cargo.toml
  tools/Cargo.toml
  tools/cc_utils/Cargo.toml
  tools/docker/Dockerfile.build
  tools/sidecar_mockgen/Cargo.toml
  trace-mini-agent/Cargo.toml
  trace-normalization/Cargo.toml
  trace-obfuscation/Cargo.toml
  trace-obfuscation/benches/benchmarks/sql_obfuscation_bench.rs
  trace-protobuf/Cargo.toml
  trace-utils/Cargo.toml
Labels: profiling, common, mini-agent, telemetry, sidecar, data-pipeline

Enable all benchmarks
  alloc/Cargo.toml
  benchmark/run_benchmarks_ci.sh
  bin_tests/Cargo.toml
  build-common/Cargo.toml
  crashtracker/Cargo.toml
  data-pipeline-ffi/Cargo.toml
  data-pipeline/Cargo.toml
  ddcommon-ffi/Cargo.toml
  ddcommon/Cargo.toml
  ddsketch/Cargo.toml
  ddtelemetry-ffi/Cargo.toml
  ddtelemetry/Cargo.toml
  ipc/Cargo.toml
  ipc/benches/ipc.rs
  ipc/macros/Cargo.toml
  ipc/tarpc/plugins/Cargo.toml
  ipc/tarpc/tarpc/Cargo.toml
  profiling-ffi/Cargo.toml
  profiling-replayer/Cargo.toml
  profiling/Cargo.toml
  serverless/Cargo.toml
  sidecar-ffi/Cargo.toml
  sidecar/Cargo.toml
  sidecar/macros/Cargo.toml
  spawn_worker/Cargo.toml
  symbolizer-ffi/Cargo.toml
  tests/spawn_from_lib/Cargo.toml
  tools/Cargo.toml
  tools/cc_utils/Cargo.toml
  tools/docker/Dockerfile.build
  tools/sidecar_mockgen/Cargo.toml
  trace-mini-agent/Cargo.toml
  trace-normalization/Cargo.toml
  trace-obfuscation/Cargo.toml
  trace-obfuscation/benches/benchmarks/sql_obfuscation_bench.rs
  trace-protobuf/Cargo.toml
  trace-utils/Cargo.toml
Labels: profiling, common, mini-agent, telemetry, sidecar, data-pipeline

add webpki_cert_fallback feature to ddcommon
  ddcommon/Cargo.toml
  ddcommon/src/connector/mod.rs
  trace-utils/Cargo.toml
  trace-utils/src/send_data/mod.rs
  trace-utils/src/stats_utils.rs
Labels: common, mini-agent

conditionally enable hyper-rustls/webpki-roots when webpki_cert_fallback is enabled
  ddcommon/Cargo.toml
Labels: common

fix unit test
  ddcommon/src/connector/mod.rs
Labels: common

Add FFI call to set the timeout in the endpoint struct.
  ddcommon-ffi/src/endpoint.rs
  ddcommon/src/lib.rs
Labels: common

Implement timeouts in trace-utils and ddtelemetry.
  ddcommon-ffi/src/endpoint.rs
  ddcommon/src/lib.rs
  ddtelemetry/src/config.rs
  ddtelemetry/src/worker/mod.rs
  profiling/src/exporter/config.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils/mod.rs
Labels: profiling, common, mini-agent, telemetry

Fix test behavior on windows.
  trace-utils/src/send_data/mod.rs
Labels: mini-agent

Fix Endpoint use to handle the new timeout field.
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/telemetry.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon-ffi/src/endpoint.rs
  ddtelemetry-ffi/src/lib.rs
  ddtelemetry/examples/tm-metrics-worker-test.rs
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/examples/tm-worker-test.rs
  ddtelemetry/src/config.rs
  profiling/src/exporter/config.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/src/config.rs
  sidecar/src/dogstatsd.rs
  sidecar/src/service/tracing/trace_flusher.rs
  sidecar/src/tracer.rs
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/trace_processor.rs
Labels: profiling, common, mini-agent, telemetry, sidecar, data-pipeline

Add timeout field to Endpoint struct.
  ddcommon/src/lib.rs
Labels: common

Solve PR comments.
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/telemetry.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon-ffi/src/endpoint.rs
  ddcommon/src/lib.rs
  ddtelemetry/src/worker/mod.rs
  profiling/src/exporter/config.rs
  sidecar/src/dogstatsd.rs
  trace-utils/src/send_data/mod.rs
Labels: profiling, common, mini-agent, telemetry, sidecar, data-pipeline

Make Endpoint instantiation more idiomatic.
  data-pipeline/src/trace_exporter.rs
  ddtelemetry-ffi/src/lib.rs
  ddtelemetry/Cargo.toml
  ddtelemetry/examples/tm-metrics-worker-test.rs
  sidecar/src/dogstatsd.rs
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, telemetry, sidecar, data-pipeline

disable webpki_cert_fallback feature for unit tests
  ddcommon/Cargo.toml
  ddcommon/src/connector/mod.rs
Labels: common

update to explicity use webpki roots instead of falling back
  ddcommon/Cargo.toml
  ddcommon/src/connector/mod.rs
  trace-utils/Cargo.toml
Labels: common, mini-agent

Solve PR comments:
  ddcommon/src/lib.rs
  sidecar/src/config.rs
  trace-utils/src/send_data/mod.rs
Labels: common, mini-agent, sidecar

Fix file expiration logic
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/shared.rs
Labels: none

feat: move these to debug logs
  trace-mini-agent/src/http_utils.rs
Labels: mini-agent

fix: import debug
  trace-mini-agent/src/http_utils.rs
Labels: mini-agent

fix: alpabetize
  trace-mini-agent/src/http_utils.rs
Labels: mini-agent

Update codecov.
  .github/workflows/coverage.yml
Labels: ci-build

Add action to free space during codecov stage.
  .github/workflows/coverage.yml
Labels: ci-build

Add action to free space during codecov stage. (#526)
  .github/workflows/coverage.yml
Labels: ci-build

Add timeout field to Endpoint struct.
  ddcommon/src/lib.rs
Labels: common

Fix Endpoint use to handle the new timeout field.
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/telemetry.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon-ffi/src/endpoint.rs
  ddtelemetry-ffi/src/lib.rs
  ddtelemetry/examples/tm-metrics-worker-test.rs
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/examples/tm-worker-test.rs
  ddtelemetry/src/config.rs
  profiling/src/exporter/config.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/src/config.rs
  sidecar/src/dogstatsd.rs
  sidecar/src/service/tracing/trace_flusher.rs
  sidecar/src/tracer.rs
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/trace_processor.rs
Labels: profiling, common, mini-agent, telemetry, sidecar, data-pipeline

Make Endpoint instantiation more idiomatic.
  data-pipeline/src/trace_exporter.rs
  ddtelemetry-ffi/src/lib.rs
  ddtelemetry/Cargo.toml
  ddtelemetry/examples/tm-metrics-worker-test.rs
  sidecar/src/dogstatsd.rs
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, telemetry, sidecar, data-pipeline

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
