Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

Allow setting config apply state explicitly
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/shared.rs
  remote-config/src/fetch/single.rs
  remote-config/src/file_storage.rs
  remote-config/src/lib.rs
  remote-config/src/parse.rs
  remote-config/src/path.rs
  sidecar/src/shm_remote_config.rs
Labels: sidecar

add span and trace ids to the crashinfo
  crashtracker/src/crash_info.rs
  crashtracker/src/lib.rs
  crashtracker/src/spans.rs
  crashtracker/src/telemetry.rs
Labels: none

Collect and receive trace/span types
  crashtracker/src/api.rs
  crashtracker/src/constants.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/crash_info.rs
  crashtracker/src/receiver.rs
  crashtracker/src/spans.rs
Labels: none

add a way to clear spans
  crashtracker/src/lib.rs
  crashtracker/src/spans.rs
Labels: none

wip
  trace-utils/src/tracer_payload.rs
Labels: mini-agent

minor cleanup
  trace-utils/src/tracer_payload.rs
Labels: mini-agent

fixing example code
  trace-utils/src/tracer_payload.rs
Labels: mini-agent

Extract logic to build TracerPayloadCollection from sidecar into TracerPayload.
  sidecar/src/service/sidecar_server.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent, sidecar

fixing new benchmarks
  trace-utils/benches/deserialization.rs
Labels: mini-agent

fix rustfmt issues
  trace-utils/benches/deserialization.rs
Labels: mini-agent

attempting to fix benchmarking on CI
  tools/docker/Dockerfile.build
  trace-utils/Cargo.toml
Labels: mini-agent

Adding some initial benchmarks for deserializing traces from msgpack
  Cargo.lock
  trace-utils/Cargo.toml
  trace-utils/benches/deserialization.rs
  trace-utils/benches/main.rs
Labels: mini-agent

WIP: Switch the chunk processing to use a trait impl instead of dyn
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent, sidecar, data-pipeline

change the chunk processor from a closure to a trait to reduce dynamic dispatch
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  tools/docker/Dockerfile.build
  trace-mini-agent/src/trace_processor.rs
  trace-utils/Cargo.toml
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent, sidecar, data-pipeline

cleanup
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

FFI for spans
  crashtracker/src/api.rs
  profiling-ffi/src/crashtracker/datatypes.rs
  profiling-ffi/src/crashtracker/mod.rs
Labels: profiling

Update trace-utils/Cargo.toml
  trace-utils/Cargo.toml
Labels: mini-agent

spans in ffi
  profiling-ffi/src/crashtracker/spans.rs
Labels: profiling

ekump/APMSP-1279 benchmark trace exporting (#531)
  Cargo.lock
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  tools/docker/Dockerfile.build
  trace-mini-agent/src/trace_processor.rs
  trace-utils/Cargo.toml
  trace-utils/benches/deserialization.rs
  trace-utils/benches/main.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent, sidecar, data-pipeline

Add FFI call to set the timeout in the endpoint struct.
  ddcommon-ffi/src/endpoint.rs
  ddcommon/src/lib.rs
Labels: common

Add timeout field to Endpoint struct.
  ddcommon/src/lib.rs
Labels: common

Fix Endpoint use to handle the new timeout field.
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/telemetry.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon-ffi/src/endpoint.rs
  ddtelemetry-ffi/src/lib.rs
  ddtelemetry/examples/tm-metrics-worker-test.rs
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/examples/tm-worker-test.rs
  ddtelemetry/src/config.rs
  profiling/src/exporter/config.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/src/config.rs
  sidecar/src/dogstatsd.rs
  sidecar/src/service/tracing/trace_flusher.rs
  sidecar/src/tracer.rs
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/trace_processor.rs
Labels: profiling, common, mini-agent, telemetry, sidecar, data-pipeline

Implement timeouts in trace-utils and ddtelemetry.
  ddcommon-ffi/src/endpoint.rs
  ddcommon/src/lib.rs
  ddtelemetry/src/config.rs
  ddtelemetry/src/worker/mod.rs
  profiling/src/exporter/config.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils/mod.rs
Labels: profiling, common, mini-agent, telemetry

Update profling and crashtracker API to use the new endpoint.
  .github/workflows/test.yml
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/configuration.rs
  crashtracker/src/crash_info.rs
  crashtracker/src/telemetry.rs
  ddtelemetry/src/config.rs
  examples/ffi/exporter.cpp
  profiling-ffi/src/crashtracker/datatypes.rs
  profiling-ffi/src/exporter.rs
  profiling/src/exporter/mod.rs
  profiling/tests/form.rs
Labels: profiling, ci-build, telemetry

Fix test behavior on windows.
  trace-utils/src/send_data/mod.rs
Labels: mini-agent

Solve PR comments.
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/telemetry.rs
  examples/ffi/exporter.cpp
  profiling-ffi/src/exporter.rs
  profiling/tests/form.rs
  trace-utils/src/send_data/mod.rs
Labels: profiling, mini-agent

Make Endpoint instantiation more idiomatic.
  data-pipeline/src/trace_exporter.rs
  ddtelemetry-ffi/src/lib.rs
  ddtelemetry/Cargo.toml
  ddtelemetry/examples/tm-metrics-worker-test.rs
  sidecar/src/dogstatsd.rs
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, telemetry, sidecar, data-pipeline

Solve PR comments:
  ddcommon/src/lib.rs
  sidecar/src/config.rs
  trace-utils/src/send_data/mod.rs
Labels: common, mini-agent, sidecar

Solve PR comments.
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/telemetry.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon-ffi/src/endpoint.rs
  ddcommon/src/lib.rs
  ddtelemetry/src/worker/mod.rs
  profiling/src/exporter/config.rs
  sidecar/src/dogstatsd.rs
  trace-utils/src/send_data/mod.rs
Labels: profiling, common, mini-agent, telemetry, sidecar, data-pipeline

Implement timeouts for both sending traces and telemetry. (#518)
  .github/workflows/test.yml
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/configuration.rs
  crashtracker/src/crash_info.rs
  crashtracker/src/telemetry.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon-ffi/src/endpoint.rs
  ddcommon/src/lib.rs
  ddtelemetry-ffi/src/lib.rs
  ddtelemetry/Cargo.toml
  ddtelemetry/examples/tm-metrics-worker-test.rs
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/examples/tm-worker-test.rs
  ddtelemetry/src/config.rs
  ddtelemetry/src/worker/mod.rs
  examples/ffi/exporter.cpp
  profiling-ffi/src/crashtracker/datatypes.rs
  profiling-ffi/src/exporter.rs
  profiling/src/exporter/config.rs
  profiling/src/exporter/mod.rs
  profiling/tests/form.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/src/config.rs
  sidecar/src/dogstatsd.rs
  sidecar/src/service/tracing/trace_flusher.rs
  sidecar/src/tracer.rs
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/tests/test_send_data.rs
Labels: profiling, common, ci-build, mini-agent, telemetry, sidecar, data-pipeline

fix for windows
  crashtracker/src/spans.rs
Labels: none

Make windows happy
  crashtracker/src/spans.rs
Labels: none

[crashtracker] Make C example emit a file
  examples/ffi/crashtracking.c
Labels: none

comment out
  examples/ffi/crashtracking.c
Labels: none

Add Example
  examples/ffi/crashtracking.c
Labels: none

Use serde_bytes for meta_struct
  trace-protobuf/build.rs
  trace-protobuf/src/pb.rs
Labels: none

Make bench file not need by pecl package (#530)
  trace-normalization/Cargo.toml
Labels: mini-agent

[Crashtracker] Track active spans and traces (#536)
  Cargo.lock
  LICENSE-3rdparty.yml
  crashtracker/Cargo.toml
  crashtracker/src/api.rs
  crashtracker/src/constants.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/crash_info.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  crashtracker/src/spans.rs
  crashtracker/src/telemetry.rs
  profiling-ffi/src/crashtracker/datatypes.rs
  profiling-ffi/src/crashtracker/mod.rs
  profiling-ffi/src/crashtracker/spans.rs
Labels: profiling

update to handle additional data
  examples/ffi/crashtracking.c
Labels: none

[crashtracker] Make C example emit a file (#539)
  examples/ffi/crashtracking.c
Labels: none

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
