Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]

Solve PR comments.
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/telemetry.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon-ffi/src/endpoint.rs
  ddcommon/src/lib.rs
  ddtelemetry/src/worker/mod.rs
  profiling/src/exporter/config.rs
  sidecar/src/dogstatsd.rs
  trace-utils/src/send_data/mod.rs
Labels: profiling, common, mini-agent, telemetry, sidecar, data-pipeline

Add FFI call to set the timeout in the endpoint struct.
  ddcommon-ffi/src/endpoint.rs
  ddcommon/src/lib.rs
Labels: common

Solve PR comments:
  ddcommon/src/lib.rs
  sidecar/src/config.rs
  trace-utils/src/send_data/mod.rs
Labels: common, mini-agent, sidecar

Fix test behavior on windows.
  trace-utils/src/send_data/mod.rs
Labels: mini-agent

Implement timeouts in trace-utils and ddtelemetry.
  ddcommon-ffi/src/endpoint.rs
  ddcommon/src/lib.rs
  ddtelemetry/src/config.rs
  ddtelemetry/src/worker/mod.rs
  profiling/src/exporter/config.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils/mod.rs
Labels: profiling, common, mini-agent, telemetry

telemetry worker: flush data after stops
  ddtelemetry/src/worker/mod.rs
Labels: telemetry

Make flush interval in telemetry configurable via sidecar
  sidecar-ffi/src/lib.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

[Serverless Mini Agent] Use Web PKI certificates for HTTPS Connections for Serverless Mini Agent (#523)
  Cargo.lock
  LICENSE-3rdparty.yml
  ddcommon/Cargo.toml
  ddcommon/src/connector/mod.rs
  trace-utils/Cargo.toml
Labels: common, mini-agent

bump versions of datadog-serverless-trace-mini-agent and datadog-trace-mini-agent to 0.5.0
  Cargo.lock
  serverless/Cargo.toml
  trace-mini-agent/Cargo.toml
Labels: mini-agent

Make flush interval in telemetry configurable via sidecar
  sidecar-ffi/src/lib.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

Make flush interval in telemetry configurable via sidecar (#527)
  sidecar-ffi/src/lib.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

bump versions of datadog-serverless-trace-mini-agent and datadog-trace-mini-agent to 0.5.0 (#528)
  Cargo.lock
  serverless/Cargo.toml
  trace-mini-agent/Cargo.toml
Labels: mini-agent

Set version on remote config
  remote-config/src/fetch/fetcher.rs
Labels: none

Increase log-level of remote config received message
  remote-config/src/fetch/fetcher.rs
Labels: none

Update profling and crashtracker API to use the new endpoint.
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/configuration.rs
  crashtracker/src/crash_info.rs
  crashtracker/src/telemetry.rs
  ddtelemetry/src/config.rs
  examples/ffi/exporter.cpp
  profiling-ffi/src/crashtracker/datatypes.rs
  profiling-ffi/src/exporter.rs
  profiling/src/exporter/mod.rs
  profiling/tests/form.rs
Labels: profiling, telemetry

Bump version number to v11.0.0
  Cargo.lock
  Cargo.toml
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Labels: none

Bump version number to v11.0.0 (#529)
  Cargo.lock
  Cargo.toml
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Labels: none

telemetry worker: flush data after stops
  ddtelemetry/src/worker/mod.rs
Labels: telemetry

Make bench file not need by pecl package
  trace-normalization/Cargo.toml
Labels: mini-agent

Tel v2 schema for app-started payload requires 'configuration'
  ddtelemetry/src/data/payloads.rs
Labels: telemetry

Add stats exporter
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/lib.rs
  data-pipeline-ffi/src/stats_exporter.rs
  data-pipeline/Cargo.toml
  data-pipeline/examples/stats_exporter_example.rs
  data-pipeline/src/lib.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon/src/lib.rs
  ddcommon/src/tag.rs
Labels: common, data-pipeline

Add stats exporter
  Cargo.lock
  data-pipeline/Cargo.toml
Labels: data-pipeline

Add documentation and rename fields
  data-pipeline-ffi/src/lib.rs
  data-pipeline-ffi/src/stats_exporter.rs
  data-pipeline/examples/stats_exporter_example.rs
  data-pipeline/src/stats_exporter.rs
Labels: data-pipeline

Move try_c! to ddcommon_ffi
  Cargo.lock
  LICENSE-3rdparty.yml
  data-pipeline-ffi/src/lib.rs
  data-pipeline-ffi/src/stats_exporter.rs
  ddcommon-ffi/src/error.rs
  ddtelemetry-ffi/src/builder.rs
  ddtelemetry-ffi/src/lib.rs
  ddtelemetry-ffi/src/worker_handle.rs
  sidecar-ffi/src/lib.rs
Labels: common, telemetry, sidecar, data-pipeline

Extract logic to build TracerPayloadCollection from sidecar into TracerPayload.
  sidecar/src/service/sidecar_server.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent, sidecar

Adding some initial benchmarks for deserializing traces from msgpack
  Cargo.lock
  trace-utils/Cargo.toml
  trace-utils/benches/deserialization.rs
  trace-utils/benches/main.rs
Labels: mini-agent

attempting to fix benchmarking on CI
  tools/docker/Dockerfile.build
  trace-utils/Cargo.toml
Labels: mini-agent

Add unit tests for stats computation
  Cargo.lock
  data-pipeline/src/stats_exporter.rs
Labels: data-pipeline

Add httpmock tests
  Cargo.lock
  data-pipeline-ffi/src/stats_exporter.rs
  data-pipeline/Cargo.toml
  data-pipeline/src/stats_exporter.rs
Labels: data-pipeline

[ddsketch] add DDSketch.count() -> f64 to return number of points in the sketch
  ddsketch/src/lib.rs
Labels: none

minor cleanup
  trace-utils/src/tracer_payload.rs
Labels: mini-agent

Remove tags parameter
  data-pipeline-ffi/src/stats_exporter.rs
  data-pipeline/src/stats_exporter.rs
Labels: data-pipeline

[ddsketch] add DDSketch.count() -> f64 to return number of points in the sketch (#532)
  ddsketch/src/lib.rs
Labels: none

[crashtracker] Remove debug print statement
  crashtracker/src/crash_handler.rs
Labels: none

[crashtracker] Remove debug print statement (#533)
  crashtracker/src/crash_handler.rs
Labels: none

add atomic library
  Cargo.lock
  LICENSE-3rdparty.yml
  crashtracker/Cargo.toml
Labels: none

added the basic functionality
  Cargo.lock
  crashtracker/Cargo.toml
  crashtracker/src/lib.rs
Labels: none

tests pass
  crashtracker/src/spans.rs
Labels: none

cleaner format for emit
  crashtracker/src/spans.rs
Labels: none

WIP: Switch the chunk processing to use a trait impl instead of dyn
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent, sidecar, data-pipeline
