Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

Implement timeouts
  remote-config/examples/remote_config_fetch.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/shared.rs
  remote-config/src/fetch/single.rs
  remote-config/src/fetch/test_server.rs
Labels: none

add config.statsd_port to mini agent info endpoint
  trace-mini-agent/src/mini_agent.rs
Labels: mini-agent

Collector folder
  crashtracker/src/collector/mod.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/lib.rs
Labels: none

Moved telemetry
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/telemetry.rs
  crashtracker/src/lib.rs
Labels: none

moved more stuff to the collector folder
  crashtracker/src/api.rs
  crashtracker/src/collector/counters.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/collector/spans.rs
  crashtracker/src/lib.rs
Labels: none

remove unneeded pub
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/collector/mod.rs
Labels: none

crash_info module with seperate files
  crashtracker/src/crash_info/metadata.rs
  crashtracker/src/crash_info/mod.rs
Labels: none

add features
  crashtracker/Cargo.toml
  crashtracker/src/collector/mod.rs
  crashtracker/src/lib.rs
Labels: none

Move emitters to their own file
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/collector/mod.rs
Labels: none

Moved stacktrace
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/stacktrace.rs
  crashtracker/src/lib.rs
Labels: none

Sort functions alphabetically
  crashtracker/src/collector/emitters.rs
Labels: none

share common components
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/counters.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/collector/spans.rs
  crashtracker/src/common/configuration.rs
  crashtracker/src/common/constants.rs
  crashtracker/src/common/mod.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
Labels: none

moved api
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/crash_info/metadata.rs
  crashtracker/src/lib.rs
Labels: none

actually name it shared
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/counters.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/collector/spans.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  crashtracker/src/shared/configuration.rs
  crashtracker/src/shared/constants.rs
  crashtracker/src/shared/mod.rs
Labels: none

fix linux build
  crashtracker/src/collector/crash_handler.rs
Labels: none

Don't use shared stuff on windows
  crashtracker/src/lib.rs
Labels: none

telemetry only needs an endpoint
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/telemetry.rs
  crashtracker/src/receiver.rs
  profiling-ffi/src/crashtracker/crash_info.rs
Labels: profiling

Add basic decoding for v0.4 msgpack traces.
  trace-utils/src/lib.rs
  trace-utils/src/msgpack/decoder.rs
  trace-utils/src/msgpack/error.rs
  trace-utils/src/msgpack/mod.rs
  trace-utils/src/msgpack/number.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent

Tel v2 schema for app-started payload requires 'configuration'
  ddtelemetry/src/data/payloads.rs
Labels: telemetry

[PROF-10208] Package libdatadog v11.0.0 for Ruby
  ruby/Rakefile
Labels: none

[PROF-10208] Package libdatadog v11.0.0 for Ruby (#544)
  ruby/Rakefile
Labels: none

Tel v2 schema for app-started payload requires 'configuration' (#543)
  ddtelemetry/src/data/payloads.rs
Labels: telemetry

Make bench file not need by pecl package (#530)
  trace-normalization/Cargo.toml
Labels: mini-agent

[crashtracker] Make C example emit a file (#539)
  examples/ffi/crashtracking.c
Labels: none

Tel v2 schema for app-started payload requires 'configuration' (#543)
  ddtelemetry/src/data/payloads.rs
Labels: telemetry

[PROF-10208] Package libdatadog v11.0.0 for Ruby (#544)
  ruby/Rakefile
Labels: none

[Crashtracker] Track active spans and traces (#536)
  Cargo.lock
  LICENSE-3rdparty.yml
  crashtracker/Cargo.toml
  crashtracker/src/api.rs
  crashtracker/src/constants.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/crash_info.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  crashtracker/src/spans.rs
  crashtracker/src/telemetry.rs
  profiling-ffi/src/crashtracker/datatypes.rs
  profiling-ffi/src/crashtracker/mod.rs
  profiling-ffi/src/crashtracker/spans.rs
Labels: profiling

move ffi files, and fix the c example
  examples/ffi/crashinfo.cpp
  profiling-ffi/src/crashtracker/collector/counters.rs
  profiling-ffi/src/crashtracker/collector/mod.rs
  profiling-ffi/src/crashtracker/collector/spans.rs
  profiling-ffi/src/crashtracker/mod.rs
Labels: profiling

use features
  build-profiling-ffi.sh
  examples/ffi/crashinfo.cpp
  profiling-ffi/Cargo.toml
Labels: profiling, ci-build

give receiver its own ffi file
  profiling-ffi/src/crashtracker/collector/mod.rs
  profiling-ffi/src/crashtracker/mod.rs
  profiling-ffi/src/crashtracker/receiver.rs
Labels: profiling

make datatypes a module
  profiling-ffi/src/crashtracker/datatypes/mod.rs
Labels: profiling

moved more stuff
  profiling-ffi/src/crashtracker/collector/datatypes.rs
  profiling-ffi/src/crashtracker/collector/mod.rs
  profiling-ffi/src/crashtracker/crash_info.rs
  profiling-ffi/src/crashtracker/datatypes/mod.rs
  profiling-ffi/src/crashtracker/mod.rs
  profiling-ffi/src/crashtracker/receiver.rs
Labels: profiling

crash_info datatypes
  profiling-ffi/src/crashtracker/crash_info/datatypes.rs
  profiling-ffi/src/crashtracker/crash_info/mod.rs
  profiling-ffi/src/crashtracker/datatypes/mod.rs
Labels: profiling

crashinfo types
  profiling-ffi/src/crashtracker/crash_info/datatypes.rs
  profiling-ffi/src/crashtracker/crash_info/mod.rs
  profiling-ffi/src/crashtracker/datatypes/mod.rs
Labels: profiling

move demangler datatypes
  profiling-ffi/src/crashtracker/datatypes/mod.rs
  profiling-ffi/src/crashtracker/demangler/datatypes.rs
  profiling-ffi/src/crashtracker/demangler/mod.rs
Labels: profiling

metadata
  profiling-ffi/src/crashtracker/collector/mod.rs
  profiling-ffi/src/crashtracker/crash_info/datatypes.rs
  profiling-ffi/src/crashtracker/crash_info/mod.rs
  profiling-ffi/src/crashtracker/datatypes/mod.rs
Labels: profiling

moved as much as possible out of datatypes
  profiling-ffi/src/crashtracker/collector/datatypes.rs
  profiling-ffi/src/crashtracker/collector/spans.rs
  profiling-ffi/src/crashtracker/datatypes/mod.rs
Labels: profiling

actually use the features
  profiling-ffi/src/crashtracker/mod.rs
Labels: profiling

ProfilingOpTypes goes behind the config
  profiling-ffi/src/crashtracker/collector/counters.rs
  profiling-ffi/src/crashtracker/datatypes/mod.rs
Labels: profiling

fix link
  crashtracker/src/collector/emitters.rs
Labels: none

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
