Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

[chore] Number RFCs so they're easier to reference
  docs/RFCs/0001-delivering-different-features.md
Labels: none

Put the RFC where it actually goes
  docs/RFCs/0002-crashtracker-user-visable-log.md
Labels: none

split into internal and structured
  crashtracker/src/crash_info/internal/metadata.rs
  crashtracker/src/crash_info/internal/mod.rs
  crashtracker/src/crash_info/internal/stacktrace.rs
  crashtracker/src/crash_info/internal/telemetry.rs
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/structured_log_format/mod.rs
Labels: none

[chore] Number RFCs so they're easier to reference (#580)
  docs/RFCs/0001-delivering-different-features.md
Labels: none

Add numbering so RFCs can be addressed better.
  docs/RFCs/0001-delivering-different-features.md
  docs/RFCs/0002-build-process.md
Labels: none

split it up
  crashtracker/src/crash_info/structured_log_format/error_data.rs
  crashtracker/src/crash_info/structured_log_format/metadata.rs
  crashtracker/src/crash_info/structured_log_format/mod.rs
  crashtracker/src/crash_info/structured_log_format/stacktrace.rs
Labels: none

[crashtracker] Build static binary
  crashtracker/src/bin/crashtracker_receiver.rs
Labels: none

clippy
  crashtracker/src/crash_info/structured_log_format/error_data.rs
  crashtracker/src/crash_info/structured_log_format/metadata.rs
  crashtracker/src/crash_info/structured_log_format/mod.rs
Labels: none

working on From function
  crashtracker/src/crash_info/structured_log_format/error_data.rs
  crashtracker/src/crash_info/structured_log_format/mod.rs
Labels: none

explicit bin section in the cargo.toml
  crashtracker/Cargo.toml
Labels: none

[crashtracker] Build static binary (#581)
  crashtracker/Cargo.toml
  crashtracker/src/bin/crashtracker_receiver.rs
Labels: none

working on converting the types
  crashtracker/src/crash_info/structured_log_format/mod.rs
Labels: none

PR comments
  docs/RFCs/0002-crashtracker-user-visable-log.md
Labels: none

more PR comments
  docs/RFCs/0002-crashtracker-user-visable-log.md
Labels: none

clarify thread id
  docs/RFCs/0002-crashtracker-user-visable-log.md
Labels: none

uuid v4
  docs/RFCs/0002-crashtracker-user-visable-log.md
Labels: none

clearer placement of optional
  docs/RFCs/0002-crashtracker-user-visable-log.md
Labels: none

Support x-datadog-test-session-token for parallel tests with the test agent
  ddcommon-ffi/src/endpoint.rs
  ddcommon-ffi/src/slice.rs
  ddcommon/src/lib.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/agent_remote_config.rs
  sidecar/src/config.rs
  sidecar/src/dogstatsd.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/trace_utils.rs
Labels: common, mini-agent, sidecar

Stabilize criterion benchmark results
  benchmark/run_benchmarks_ci.sh
  trace-normalization/benches/normalization_utils.rs
  trace-obfuscation/benches/benchmarks/credit_cards_bench.rs
  trace-obfuscation/benches/benchmarks/redis_obfuscation_bench.rs
  trace-obfuscation/benches/benchmarks/replace_trace_tags_bench.rs
  trace-obfuscation/benches/benchmarks/sql_obfuscation_bench.rs
  trace-utils/benches/deserialization.rs
Labels: mini-agent

run the benchmarks
  README.md
Labels: none

Adjust comment slightly
  remote-config/src/fetch/shared.rs
Labels: none

into for processinfo
  crashtracker/src/crash_info/structured_log_format/mod.rs
Labels: none

Stabilize criterion benchmark results
  benchmark/run_benchmarks_ci.sh
  trace-normalization/benches/normalization_utils.rs
  trace-obfuscation/benches/benchmarks/credit_cards_bench.rs
  trace-obfuscation/benches/benchmarks/redis_obfuscation_bench.rs
  trace-obfuscation/benches/benchmarks/replace_trace_tags_bench.rs
  trace-obfuscation/benches/benchmarks/sql_obfuscation_bench.rs
  trace-utils/benches/deserialization.rs
Labels: mini-agent

modify stacktrace to make it easier to convert
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker/src/crash_info/internal/stacktrace.rs
  crashtracker/src/crash_info/structured_log_format/mod.rs
  crashtracker/src/crash_info/structured_log_format/stacktrace.rs
Labels: none

use iter collect rather than mut vec
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker/src/crash_info/structured_log_format/mod.rs
  crashtracker/src/crash_info/structured_log_format/stacktrace.rs
Labels: none

test output
  crashtracker/src/collector/api.rs
  crashtracker/src/crash_info/internal/mod.rs
  crashtracker/src/crash_info/structured_log_format/error_data.rs
  crashtracker/src/crash_info/structured_log_format/mod.rs
  crashtracker/src/crash_info/structured_log_format/stacktrace.rs
Labels: none

continued transforming into the structured format
  crashtracker/src/crash_info/structured_log_format/error_data.rs
  crashtracker/src/crash_info/structured_log_format/mod.rs
Labels: none

output metadata
  crashtracker/src/crash_info/structured_log_format/metadata.rs
  crashtracker/src/crash_info/structured_log_format/mod.rs
  crashtracker/src/crash_info/structured_log_format/process_info.rs
Labels: none

we now fully translate the structures
  Cargo.lock
  crashtracker/Cargo.toml
  crashtracker/src/crash_info/structured_log_format/mod.rs
Labels: none

the final structures
  crashtracker/src/crash_info/structured_log_format/error_data.rs
  crashtracker/src/crash_info/structured_log_format/metadata.rs
  crashtracker/src/crash_info/structured_log_format/mod.rs
  crashtracker/src/crash_info/structured_log_format/os_info.rs
  crashtracker/src/crash_info/structured_log_format/process_info.rs
  crashtracker/src/crash_info/structured_log_format/stacktrace.rs
Labels: none

add schema emission
  crashtracker/src/crash_info/structured_log_format/mod.rs
Labels: none

include the file, see if this works
  docs/RFCs/0002-crashtracker-schema.json
  docs/RFCs/0002-crashtracker-user-visable-log.md
Labels: none

try linking
  docs/RFCs/0002-crashtracker-schema.json
  docs/RFCs/0002-crashtracker-user-visable-log.md
Labels: none

Normalize directly in the same String instance
  trace-normalization/src/normalize_utils.rs
Labels: mini-agent

Normalize directly in the same String instance
  trace-normalization/src/normalize_utils.rs
Labels: mini-agent

Threads instead of additional stacktraces
  crashtracker/src/crash_info/structured_log_format/error_data.rs
  crashtracker/src/crash_info/structured_log_format/mod.rs
  crashtracker/src/crash_info/structured_log_format/thread.rs
Labels: none

multiple tags in test
  crashtracker/src/collector/api.rs
Labels: none

better appendecies
  docs/RFCs/0002-crashtracker-schema.json
  docs/RFCs/0002-crashtracker-user-visable-log.md
  docs/RFCs/artifacts/0002-crashtracker-example.json
  docs/RFCs/artifacts/0002-crashtracker-schema.json
Labels: none

RFC comment
  crashtracker/src/crash_info/internal/mod.rs
  crashtracker/src/crash_info/structured_log_format/error_data.rs
  crashtracker/src/crash_info/structured_log_format/mod.rs
Labels: none

source_type
  docs/RFCs/0002-crashtracker-user-visable-log.md
  docs/RFCs/artifacts/0002-crashtracker-example.json
  docs/RFCs/artifacts/0002-crashtracker-schema.json
Labels: none

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
