Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

style: fix clippy lints from Rust 1.79 release (#486)
  profiling-ffi/src/crashtracker/collector.rs
  profiling-ffi/src/exporter.rs
  profiling-ffi/src/profiles.rs
  profiling/src/internal/profile/mod.rs
  trace-normalization/src/normalizer.rs
Labels: profiling, mini-agent

Bump blazesym to release blaze-v0.2.0-rc.0
  Cargo.lock
  LICENSE-3rdparty.yml
  crashtracker/Cargo.toml
  symbolizer-ffi/Cargo.toml
  symbolizer-ffi/src/blazesym.h
Labels: none

Blazesym blaze-v0.2.0-rc.0 - adjust license file
  LICENSE-3rdparty.yml
Labels: none

Run clippy on windows in CI
  .github/workflows/lint.yml
Labels: ci-build

Revert clippy rust_version check
  .github/workflows/lint.yml
Labels: ci-build

Fix win32 clippy error
  spawn_worker/src/win32.rs
Labels: none

Fix clippy error on windows
  profiling-ffi/src/lib.rs
Labels: profiling

Run clippy on windows in CI (#485)
  .github/workflows/lint.yml
  profiling-ffi/src/lib.rs
  spawn_worker/src/win32.rs
Labels: profiling, ci-build

Rename field in payload for serialization
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/src/data/payload.rs
  ddtelemetry/src/worker/mod.rs
Labels: telemetry

Use Errors for add_point
  ddsketch/src/lib.rs
  ddtelemetry/src/metrics.rs
Labels: telemetry

Fix tests
  ddsketch/src/lib.rs
Labels: none

better name
  crashtracker/src/stacktrace.rs
  profiling-ffi/src/crashtracker/datatypes.rs
Labels: profiling

use the blazesym format for normalized values
  crashtracker/src/stacktrace.rs
  profiling-ffi/src/crashtracker/datatypes.rs
Labels: profiling

FFI to normalize
  crashtracker/src/crash_info.rs
  profiling-ffi/src/crashtracker/crash_info.rs
Labels: profiling

FFI now takes normalized addresses
  profiling-ffi/src/crashtracker/datatypes.rs
Labels: profiling

normalize ips
  crashtracker/src/crash_info.rs
  crashtracker/src/stacktrace.rs
  profiling-ffi/src/crashtracker/datatypes.rs
Labels: profiling

translation for types from FFI to internal:
  crashtracker/src/lib.rs
  crashtracker/src/stacktrace.rs
  profiling-ffi/src/crashtracker/datatypes.rs
Labels: profiling

store the normalized value
  crashtracker/src/stacktrace.rs
Labels: none

blazesym doesn't work on windows
  crashtracker/src/stacktrace.rs
Labels: none

[crashtracker] Send pid to the receiver (#483)
  crashtracker/src/constants.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/crash_info.rs
  crashtracker/src/receiver.rs
  crashtracker/src/telemetry.rs
Labels: none

[crashtracker] Send pid to the receiver (#483)
  crashtracker/src/constants.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/crash_info.rs
  crashtracker/src/receiver.rs
  crashtracker/src/telemetry.rs
Labels: none

ignore slow test in miri
  profiling/src/internal/profile/fuzz_tests.rs
Labels: profiling

also ignore fuzz_api_function_calls as it's taking more than 15 mins for miri
  profiling/src/internal/profile/fuzz_tests.rs
Labels: profiling

[profiling] Turn off slow fuzz tests for miri (#489)
  profiling/src/internal/profile/fuzz_tests.rs
Labels: profiling

more stuff under unix::
  crashtracker/src/crash_info.rs
Labels: none

PR comments
  Cargo.lock
  LICENSE-3rdparty.yml
  bin_tests/Cargo.toml
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/lib.rs
  bin_tests/tests/crashtracker_bin_test.rs
  bin_tests/tests/test_the_tests.rs
Labels: none

[crashtracker] Add tests for unix socket receiver, and mark slow tests ignore (#484)
  Cargo.lock
  LICENSE-3rdparty.yml
  bin_tests/Cargo.toml
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/bin/crashtracker_unix_socket_receiver.rs
  bin_tests/src/lib.rs
  bin_tests/tests/crashtracker_bin_test.rs
  bin_tests/tests/test_the_tests.rs
  crashtracker/src/receiver.rs
Labels: none

[chore] Require all checks to pass on a PR
  .github/workflows/all-checks.yml
Labels: ci-build

Mark slow fuzz test miri ignore
  profiling/src/internal/profile/fuzz_tests.rs
Labels: profiling

Retry 20 times
  .github/workflows/all-checks.yml
Labels: ci-build

fix indentation, see if that makes things better
  .github/workflows/all-checks.yml
Labels: ci-build

windows whackamole
  profiling-ffi/src/crashtracker/crash_info.rs
Labels: profiling

[crashtracker] Take relative address and build id for remote symbolication (#473)
  crashtracker/src/crash_info.rs
  crashtracker/src/lib.rs
  crashtracker/src/stacktrace.rs
  profiling-ffi/src/crashtracker/crash_info.rs
  profiling-ffi/src/crashtracker/datatypes.rs
Labels: profiling

Make it 30 minutes to give a better buffer for long running jobs
  .github/workflows/all-checks.yml
Labels: ci-build

Add support for handling v04 payloads.
  trace-utils/src/lib.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent

Change trace exporter, mini-agent and sidecar to handle TracerPayloadCollection type.
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/src/trace_processor.rs
Labels: mini-agent, sidecar, data-pipeline

bump hyper-rustls to 0.25
  Cargo.lock
  trace-utils/Cargo.toml
  trace-utils/src/stats_utils.rs
Labels: mini-agent

update license
  LICENSE-3rdparty.yml
Labels: none

Change url to use v0.4 endpoint when traces are sent to the agent.
  sidecar/src/tracer.rs
Labels: sidecar

Add drop function on Telemetry builder object
  ddtelemetry-ffi/src/builder.rs
Labels: telemetry

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
