Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]

remove unzip install since it is now part of base image
  .gitlab/benchmarks.yml
Labels: none

Test length too
  ddcommon-ffi/src/slice.rs
Labels: common

add dogstatsd integration test
  Cargo.lock
  dogstatsd/Cargo.toml
  dogstatsd/tests/integration_test.rs
Labels: none

fix license
  dogstatsd/tests/integration_test.rs
Labels: none

fix merge
  Cargo.lock
Labels: none

fix lint error
  .github/workflows/lint.yml
Labels: ci-build

use localhost address for dogstatsd test
  dogstatsd/tests/integration_test.rs
Labels: none

use port 18125 for dogstatsd test
  dogstatsd/tests/integration_test.rs
Labels: none

disable dogstatsd test for miri
  dogstatsd/tests/integration_test.rs
Labels: none

dogstatsd cleanup
  dogstatsd/Cargo.toml
  dogstatsd/tests/integration_test.rs
Labels: none

Add build system infrastructure. (#586)
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.yml
  README.md
  build-common/src/cbindgen.rs
  builder/Cargo.toml
  builder/build/arch/apple.rs
  builder/build/arch/linux.rs
  builder/build/arch/mod.rs
  builder/build/arch/musl.rs
  builder/build/arch/windows.rs
  builder/build/common.rs
  builder/build/crashtracker.rs
  builder/build/data_pipeline.rs
  builder/build/main.rs
  builder/build/module.rs
  builder/build/profiling.rs
  builder/build/symbolizer.rs
  builder/src/bin/dummy.rs
  crashtracker/CMakeLists.txt
  tools/docker/Dockerfile.build
  tools/src/bin/dedup_headers.rs
  tools/src/lib.rs
Labels: ci-build

fix merge conflicts
  Cargo.lock
  Cargo.toml
Labels: none

update alpine base image to 3.19.3
  tools/docker/Dockerfile.build
Labels: none

Consider ifunc symbols also defined
  tools/sidecar_mockgen/src/lib.rs
Labels: none

Minor fix for newest stable clippy
  remote-config/src/fetch/test_server.rs
Labels: none

Consider ifunc symbols also defined (#609)
  remote-config/src/fetch/test_server.rs
  tools/sidecar_mockgen/src/lib.rs
Labels: none

improve assert failure message for send_data retry tests
  trace-utils/src/send_data/retry_strategy.rs
Labels: mini-agent

wip
  trace-utils/src/send_data/retry_strategy.rs
Labels: mini-agent

wip
  trace-utils/src/send_data/retry_strategy.rs
Labels: mini-agent

upgrade to rust 1.76.0
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/verify-proto-files.yml
  Cargo.toml
  README.md
  crashtracker-ffi/src/collector/spans.rs
  tools/docker/Dockerfile.build
Labels: ci-build

improve assert failure message for send_data retry tests and bump tolerance.
  trace-utils/src/send_data/retry_strategy.rs
Labels: mini-agent

improve assert failure message for send_data retry tests and increase tolerance for time measurements (#610)
  trace-utils/src/send_data/retry_strategy.rs
Labels: mini-agent

Add defensive ddcommon_ffi checks for Slice (#604)
  ddcommon-ffi/src/slice.rs
Labels: common

upgrade to rust 1.76.0 (#612)
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/verify-proto-files.yml
  Cargo.toml
  README.md
  crashtracker-ffi/src/collector/spans.rs
  tools/docker/Dockerfile.build
Labels: ci-build

Add DogStatsD Package (#606)
  .github/workflows/coverage.yml
  .github/workflows/lint.yml
  .github/workflows/miri.yml
  .github/workflows/test.yml
  .gitlab/benchmarks.yml
  Cargo.lock
  Cargo.toml
  Cross.toml
  dogstatsd/Cargo.toml
  dogstatsd/src/aggregator.rs
  dogstatsd/src/constants.rs
  dogstatsd/src/datadog.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/errors.rs
  dogstatsd/src/flusher.rs
  dogstatsd/src/lib.rs
  dogstatsd/src/metric.rs
  dogstatsd/tests/integration_test.rs
  scripts/install-protoc.sh
  tools/docker/Dockerfile.build
  tools/docker/Dockerfile.centos
Labels: ci-build

Require docs on all public things in data-pipeline
  data-pipeline/src/lib.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

just use allow missing_docs until we have a template for our docs here
  data-pipeline/src/lib.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

rust fmt
  data-pipeline/src/lib.rs
Labels: data-pipeline

feat: 10k contexts
  dogstatsd/src/constants.rs
Labels: none

use dogstatsd in serverless
  Cargo.lock
  serverless/Cargo.toml
  serverless/src/main.rs
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/mini_agent.rs
  trace-mini-agent/src/trace_processor.rs
Labels: mini-agent

move dogstatsd-client to separate crate so it can be shared
  Cargo.lock
  Cargo.toml
  dogstatsd-client/Cargo.toml
  dogstatsd-client/src/lib.rs
  sidecar-ffi/Cargo.toml
  sidecar-ffi/src/lib.rs
  sidecar/Cargo.toml
  sidecar/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

Require docs on all public things in data-pipeline (#614)
  data-pipeline/src/lib.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

enable demangler feature
  builder/Cargo.toml
  profiling-ffi/Cargo.toml
Labels: profiling

check if ddog_crasht_demangle can be linked against
  examples/ffi/crashtracking.c
Labels: none

Fix example
  examples/ffi/crashinfo.cpp
  examples/ffi/crashtracking.c
Labels: none

Use ArcSwapOption
  agent-info/src/lib.rs
Labels: none

Add docs
  agent-info/src/lib.rs
Labels: none

Move mods to separate files
  agent-info/src/fetcher.rs
  agent-info/src/lib.rs
  agent-info/src/schema.rs
Labels: none

Add AgentInfoFetcher
  Cargo.lock
  Cargo.toml
  agent-info/Cargo.toml
  agent-info/src/lib.rs
Labels: none

Add test for fetch_info
  agent-info/src/lib.rs
Labels: none
