Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

added timespec file for real
  ddcommon-ffi/src/timespec.rs
Labels: common

put back toml change
  Cargo.toml
Labels: none

chrono needed the std feature to compile ddcommon-ffi
  Cargo.lock
  LICENSE-3rdparty.yml
  ddcommon-ffi/Cargo.toml
Labels: common

try a different format to see if msvc is happy
  examples/ffi/crashinfo.cpp
Labels: none

Provide a common atomic Rate Limiter implementation
  .github/workflows/lint.yml
  Cargo.lock
  LICENSE-3rdparty.yml
  ddcommon/Cargo.toml
  ddcommon/src/lib.rs
  ddcommon/src/rate_limiter.rs
  ipc/Cargo.toml
  ipc/src/lib.rs
  ipc/src/platform/mem_handle.rs
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  ipc/src/platform/windows/mem_handle.rs
  ipc/src/rate_limiter.rs
  sidecar/src/one_way_shared_memory.rs
Labels: common, ci-build, sidecar

Use proper high resolution monotonic timer on windows
  ddcommon/Cargo.toml
  ddcommon/src/rate_limiter.rs
Labels: common

Update crashtracker-ffi/Cargo.toml
  crashtracker-ffi/Cargo.toml
Labels: none

demangle feature and naming
  crashtracker-ffi/Cargo.toml
  crashtracker-ffi/src/demangler/mod.rs
  crashtracker-ffi/src/lib.rs
Labels: none

fix readme
  crashtracker/src/README.md
Labels: none

[crashtracker] Move FFI to its own crate (#551)
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.yml
  build-profiling-ffi.sh
  crashtracker-ffi/Cargo.toml
  crashtracker-ffi/build.rs
  crashtracker-ffi/cbindgen.toml
  crashtracker-ffi/src/collector/counters.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker-ffi/src/collector/spans.rs
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker-ffi/src/crash_info/mod.rs
  crashtracker-ffi/src/datatypes/mod.rs
  crashtracker-ffi/src/demangler/datatypes.rs
  crashtracker-ffi/src/demangler/mod.rs
  crashtracker-ffi/src/lib.rs
  crashtracker-ffi/src/receiver.rs
  crashtracker/libdatadog-crashtracking-receiver.c
  crashtracker/src/README.md
  crashtracker/src/receiver.rs
  ddcommon-ffi/Cargo.toml
  ddcommon-ffi/src/lib.rs
  ddcommon-ffi/src/option.rs
  ddcommon-ffi/src/timespec.rs
  examples/ffi/crashinfo.cpp
  examples/ffi/crashtracking.c
  profiling-ffi/Cargo.toml
  profiling-ffi/src/exporter.rs
  profiling-ffi/src/lib.rs
  profiling-ffi/src/profiles.rs
  tools/docker/Dockerfile.build
Labels: profiling, common, ci-build

Support loading appsec helper in sidecar
  sidecar/src/config.rs
  sidecar/src/entry.rs
  sidecar/src/unix.rs
Labels: sidecar

Support loading appsec helper in sidecar (#565)
  sidecar/src/config.rs
  sidecar/src/entry.rs
  sidecar/src/unix.rs
Labels: sidecar

[crashtracker] Remove outdated reference to profiling
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker-ffi/src/receiver.rs
  crashtracker/src/crash_info/metadata.rs
  crashtracker/src/crash_info/telemetry.rs
  crashtracker/src/receiver.rs
  examples/ffi/crashinfo.cpp
  examples/ffi/crashtracking.c
Labels: none

Apply suggestions from code review
  ddcommon-ffi/src/array_queue.rs
Labels: common

ArrayQueue
  ddcommon-ffi/src/array_queue.rs
Labels: common

Update ddcommon-ffi/src/array_queue.rs
  ddcommon-ffi/src/array_queue.rs
Labels: common

fix type
  ddcommon-ffi/src/array_queue.rs
Labels: common

verify json schema
  .github/workflows/lint.yml
  rfc/0001-crashtracker-user-visable-log/schema.json
  rfc/0001-crashtracker-user-visable-log/valid-example-1.json
  rfc/0001-crashtracker-user-visable-log/verify_examples.sh
Labels: ci-build

[profiling] add ffi for crossbeam::ArrayQueue (#538)
  .github/workflows/fuzz.yml
  Cargo.lock
  LICENSE-3rdparty.yml
  ddcommon-ffi/Cargo.toml
  ddcommon-ffi/cbindgen.toml
  ddcommon-ffi/src/array_queue.rs
  ddcommon-ffi/src/lib.rs
  examples/ffi/.gitignore
  examples/ffi/CMakeLists.txt
  examples/ffi/array_queue.cpp
Labels: common, ci-build

op types aren't only for profiling
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/counters.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/counters.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/lib.rs
  examples/ffi/crashtracking.c
Labels: none

format
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker/src/collector/counters.rs
  crashtracker/src/lib.rs
Labels: none

fix tests
  bin_tests/tests/crashtracker_bin_test.rs
Labels: none

[crashtracker] Remove outdated reference to profiling (#542)
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/counters.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker-ffi/src/receiver.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/counters.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/crash_info/metadata.rs
  crashtracker/src/crash_info/telemetry.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  examples/ffi/crashinfo.cpp
  examples/ffi/crashtracking.c
Labels: none

Do not submit client_agent ever
  trace-protobuf/build.rs
  trace-protobuf/src/remoteconfig.rs
Labels: none

Fully reject a partially invalid RC payload
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/shared.rs
  remote-config/src/fetch/single.rs
  sidecar/src/shm_remote_config.rs
Labels: sidecar

Introduce shm limiter
  ipc/src/platform/mem_handle.rs
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  ipc/src/platform/windows/mem_handle.rs
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/src/debugger_defs.rs
  live-debugger/src/expr_eval.rs
  live-debugger/src/parse_json.rs
  live-debugger/src/probe_defs.rs
  live-debugger/src/sender.rs
  sidecar/src/entry.rs
  sidecar/src/lib.rs
  sidecar/src/one_way_shared_memory.rs
  sidecar/src/shm_limiters.rs
  sidecar/src/shm_remote_config.rs
  sidecar/src/tracer.rs
Labels: sidecar

Fixes
  Cargo.lock
  live-debugger-ffi/Cargo.toml
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/src/redacted_names.rs
  sidecar/src/service/runtime_info.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

Add live debugger sender FFI
  Cargo.lock
  live-debugger-ffi/Cargo.toml
  live-debugger-ffi/src/lib.rs
  live-debugger-ffi/src/send_data.rs
  live-debugger-ffi/src/sender.rs
Labels: none

Address a couple CR comments
  Cargo.lock
  live-debugger-ffi/src/sender.rs
  live-debugger/Cargo.toml
  live-debugger/src/redacted_names.rs
  live-debugger/src/sender.rs
Labels: none

Revert "Remove live debugger stuff"
  Cargo.lock
  Cargo.toml
  live-debugger-ffi/Cargo.toml
  live-debugger-ffi/cbindgen.toml
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger-ffi/src/lib.rs
  live-debugger-ffi/src/query.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/Cargo.toml
  live-debugger/src/debugger_defs.rs
  live-debugger/src/expr_defs.rs
  live-debugger/src/expr_eval.rs
  live-debugger/src/lib.rs
  live-debugger/src/parse_json.rs
  live-debugger/src/parse_json_expr.rs
  live-debugger/src/parse_util.rs
  live-debugger/src/probe_defs.rs
  live-debugger/src/sender.rs
  remote-config/Cargo.toml
  remote-config/src/parse.rs
  sidecar-ffi/Cargo.toml
  sidecar-ffi/cbindgen.toml
  sidecar-ffi/src/lib.rs
  sidecar/Cargo.toml
  sidecar/src/service/blocking.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_remote_config.rs
Labels: sidecar

Uglify
  ddcommon-ffi/src/option.rs
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger-ffi/src/lib.rs
  live-debugger-ffi/src/parse.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/src/debugger_defs.rs
  live-debugger/src/expr_defs.rs
  live-debugger/src/expr_eval.rs
  live-debugger/src/lib.rs
  live-debugger/src/parse_json.rs
  live-debugger/src/probe_defs.rs
  live-debugger/src/sender.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
Labels: common, sidecar

Add PII redaction
  Cargo.lock
  live-debugger-ffi/src/evaluator.rs
  live-debugger-ffi/src/send_data.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/Cargo.toml
  live-debugger/src/expr_eval.rs
  live-debugger/src/lib.rs
  live-debugger/src/redacted_names.rs
  live-debugger/src/sender.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/runtime_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

Update redacted names list
  live-debugger/src/redacted_names.rs
Labels: none

Allow tag sending
  Cargo.lock
  live-debugger-ffi/Cargo.toml
  live-debugger-ffi/build.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger-ffi/src/send_data.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/Cargo.toml
  live-debugger/src/expr_eval.rs
  live-debugger/src/sender.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/runtime_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_limiters.rs
Labels: sidecar

Refactor and test parsing and evaluating
  Cargo.lock
  ddcommon-ffi/src/option.rs
  ddcommon-ffi/src/slice.rs
  live-debugger-ffi/Cargo.toml
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger-ffi/src/lib.rs
  live-debugger-ffi/src/parse.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/src/debugger_defs.rs
  live-debugger/src/expr_defs.rs
  live-debugger/src/expr_eval.rs
  live-debugger/src/lib.rs
  live-debugger/src/parse_json.rs
  live-debugger/src/parse_json_expr.rs
  live-debugger/src/parse_util.rs
  live-debugger/src/probe_defs.rs
  live-debugger/src/sender.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
Labels: common, sidecar

Add debugger diagnostics
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/send_data.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/src/debugger_defs.rs
  live-debugger/src/parse_json.rs
  live-debugger/src/sender.rs
  remote-config/src/fetch/multitarget.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_remote_config.rs
Labels: sidecar

Fix windows build
  Cargo.lock
  sidecar/Cargo.toml
  sidecar/src/shm_limiters.rs
Labels: sidecar

Add log line
  live-debugger-ffi/src/sender.rs
Labels: none

Parse line numbers into integer
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger-ffi/src/send_data.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/src/parse_json.rs
  live-debugger/src/probe_defs.rs
  live-debugger/src/redacted_names.rs
  live-debugger/src/sender.rs
  sidecar/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/runtime_info.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_limiters.rs
  sidecar/src/tokio_util.rs
Labels: sidecar

Provide effective rate too
  sidecar/src/shm_limiters.rs
Labels: sidecar

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
