Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]

add support for map16 decoding
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
Labels: mini-agent

Add basic decoding for v0.4 msgpack traces.
  trace-utils/src/lib.rs
  trace-utils/src/msgpack/decoder.rs
  trace-utils/src/msgpack/error.rs
  trace-utils/src/msgpack/mod.rs
  trace-utils/src/msgpack/number.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent

improve messages in decoding errors and fix tests to use public functions
  trace-utils/src/msgpack_decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/msgpack_decoder/v04/error.rs
  trace-utils/src/msgpack_decoder/v04/number.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent

FIXUP: Refactor decoder to be more readable and maintainable
  trace-utils/src/lib.rs
  trace-utils/src/msgpack_decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/msgpack_decoder/v04/error.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
  trace-utils/src/msgpack_decoder/v04/number.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent

more edits
  rfc/0001-crashtracker-user-visable-log.md
Labels: none

actually added the file
  rfc/0001-crashtracker-user-visable-log.md
Labels: none

[crashtracker] RFC for structured log format
  Cargo.lock
  crashtracker/Cargo.toml
  crashtracker/src/crash_info/stacktrace.rs
Labels: none

more fields
  rfc/0001-crashtracker-user-visable-log.md
Labels: none

schema
  Cargo.lock
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/schema.rs
  crashtracker/src/crash_info/stacktrace.rs
  ddcommon/Cargo.toml
  ddcommon/src/tag.rs
  rfc/0001-crashtracker-user-visable-log.md
Labels: common

finish stack frame
  rfc/0001-crashtracker-user-visable-log.md
Labels: none

stacktrace format
  rfc/0001-crashtracker-user-visable-log.md
Labels: none

collapsable
  rfc/0001-crashtracker-user-visable-log.md
Labels: none

base format
  rfc/0001-crashtracker-user-visable-log.md
Labels: none

cleanup mandadory and optional fields
  rfc/0001-crashtracker-user-visable-log.md
Labels: none

tags
  rfc/0001-crashtracker-user-visable-log.md
Labels: none

more fields
  rfc/0001-crashtracker-user-visable-log.md
Labels: none

seperate html and json
  rfc/0001-crashtracker-user-visable-log.md
Labels: none

rename appendecies
  rfc/0001-crashtracker-user-visable-log.md
Labels: none

fix bold
  rfc/0001-crashtracker-user-visable-log.md
Labels: none

just the rfc
  Cargo.lock
  crashtracker/Cargo.toml
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/schema.rs
  crashtracker/src/crash_info/stacktrace.rs
  ddcommon/Cargo.toml
  ddcommon/src/tag.rs
Labels: common

[crashtracker] RFC for structured log format
  rfc/0001-crashtracker-user-visable-log.md
Labels: none

update trace-mini-agent description to include Azure Spring Apps
  trace-mini-agent/Cargo.toml
Labels: mini-agent

[Serverless Mini Agent] Add _dd.mini_agent_version tag to all spans for Azure Functions, Google Cloud Functions, and Azure Spring Apps (#548)
  Cargo.lock
  serverless/src/main.rs
  trace-mini-agent/Cargo.toml
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

fix formatting
  trace-mini-agent/src/http_utils.rs
Labels: mini-agent

[Serverless Mini Agent] Run in Azure Spring Apps (#547)
  trace-mini-agent/Cargo.toml
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/http_utils.rs
  trace-mini-agent/src/mini_agent.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/config_utils.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

bump datadog-serverless-trace-mini-agent version to 0.6.0
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

bump datadog-serverless-trace-mini-agent version to 0.6.0 (#555)
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

Make clippy happy
  sidecar/src/windows.rs
Labels: sidecar

Use the Windows User ID as sidecar identifier instead of the Session ID (#558)
  Cargo.lock
  sidecar/Cargo.toml
  sidecar/src/setup/windows.rs
  sidecar/src/windows.rs
Labels: sidecar

Update crashtracker-ffi/src/collector/mod.rs
  crashtracker-ffi/src/collector/mod.rs
Labels: none

rename to datadog-crashtracker-ffi
  Cargo.lock
  crashtracker-ffi/Cargo.toml
  profiling-ffi/Cargo.toml
  profiling-ffi/src/lib.rs
Labels: profiling

[Serverless Mini Agent] Add _dd.mini_agent_version tag to all spans for Azure Functions, Google Cloud Functions, and Azure Spring Apps (#548)
  Cargo.lock
  serverless/src/main.rs
  trace-mini-agent/Cargo.toml
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

function name
  crashtracker-ffi/src/collector/mod.rs
Labels: none

_crasht_
  crashtracker-ffi/src/receiver.rs
  crashtracker/libdatadog-crashtracking-receiver.c
Labels: none

[Serverless Mini Agent] Run in Azure Spring Apps (#547)
  trace-mini-agent/Cargo.toml
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/http_utils.rs
  trace-mini-agent/src/mini_agent.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/config_utils.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

go with lib for the ffi crate
  crashtracker-ffi/Cargo.toml
Labels: none

_crasht_
  crashtracker-ffi/cbindgen.toml
  crashtracker-ffi/src/collector/counters.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker-ffi/src/collector/spans.rs
  crashtracker-ffi/src/crash_info/mod.rs
  examples/ffi/crashinfo.cpp
  examples/ffi/crashtracking.c
Labels: none

bump datadog-serverless-trace-mini-agent version to 0.6.0 (#555)
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

delete when error
  examples/ffi/array_queue.cpp
Labels: none

add license
  LICENSE-3rdparty.yml
  profiling-ffi/src/array_queue.rs
Labels: profiling
