Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

fix merge conflict
  Cargo.lock
  trace-protobuf/Cargo.toml
Labels: none

Refactor trace normalization utils
  Cargo.lock
  trace-normalization/Cargo.toml
  trace-normalization/benches/normalization_utils.rs
  trace-normalization/src/lib.rs
  trace-normalization/src/normalize_utils.rs
  trace-normalization/src/normalizer.rs
  trace-normalization/src/utf8_helpers.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

Add stats computation and encoding to pb
  Cargo.lock
  Cargo.toml
  data-pipeline/Cargo.toml
  data-pipeline/src/lib.rs
  data-pipeline/src/stats_aggregator.rs
  ddsketch/Cargo.toml
  ddsketch/build.rs
  ddsketch/src/lib.rs
  ddsketch/src/pb.rs
  ddsketch/src/pb/DDSketch.proto
Labels: data-pipeline

Stats exporter ffi bindings
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/lib.rs
  data-pipeline-ffi/src/stats_exporter.rs
  data-pipeline/Cargo.toml
  data-pipeline/src/lib.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon/src/lib.rs
  ddsketch/src/pb.rs
Labels: common, data-pipeline

fix tests
  trace-normalization/src/normalize_utils.rs
Labels: mini-agent

return error from send
  data-pipeline-ffi/src/stats_exporter.rs
Labels: data-pipeline

* Fix stats duration and start time * Add request timeout
  data-pipeline-ffi/src/stats_exporter.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon/src/tag.rs
  ddsketch/src/lib.rs
  ddsketch/src/pb.rs
  trace-normalization/src/lib.rs
  trace-normalization/src/normalize_utils.rs
  trace-utils/src/trace_utils.rs
Labels: common, mini-agent, data-pipeline

Add further data for the example
  data-pipeline/examples/stats_exporter_example.rs
  data-pipeline/src/stats_exporter.rs
Labels: data-pipeline

* use rmp_serde::encode::to_vec_named to serialize to the right format * Add a rust example to do manual tests
  data-pipeline/examples/stats_exporter_example.rs
  data-pipeline/src/stats_exporter.rs
Labels: data-pipeline

* Fix licenses * Fix clippy * Fix Dockerfile
  data-pipeline-ffi/src/stats_exporter.rs
  data-pipeline/examples/stats_exporter_example.rs
  data-pipeline/src/stats_exporter.rs
  tools/docker/Dockerfile.build
  trace-normalization/benches/normalization_utils.rs
  trace-normalization/src/normalize_utils.rs
  trace-normalization/src/utf8_helpers.rs
Labels: mini-agent, data-pipeline

update license 3rd party
  LICENSE-3rdparty.yml
Labels: none

Add redis obfuscation
  Cargo.lock
  data-pipeline/Cargo.toml
  data-pipeline/src/stats_exporter.rs
Labels: data-pipeline

update ClientGroupedStats
  data-pipeline/src/stats_exporter.rs
Labels: data-pipeline

add field attributes for trace-protobuf
  trace-protobuf/build.rs
Labels: none

[Serverless Mini Agent] Add Default Values for peer_tags and is_trace_root when Generating Trace Metrics (#493)
  Cargo.lock
  trace-protobuf/Cargo.toml
  trace-protobuf/build.rs
  trace-protobuf/src/pb.rs
  trace-utils/src/stats_utils.rs
Labels: mini-agent

bump version of datadog-trace-mini-agent to 0.4.2
  Cargo.lock
  trace-mini-agent/Cargo.toml
Labels: mini-agent

bump version of datadog-trace-mini-agent to 0.4.2 (#502)
  Cargo.lock
  trace-mini-agent/Cargo.toml
Labels: mini-agent

Move test out of autogenerated pb.rs file
  trace-protobuf/src/pb.rs
  trace-protobuf/src/pb_test.rs
Labels: none

Check that the generated pb.rs file matches
  .github/workflows/verify-proto-files.yml
Labels: ci-build

Check that the generated pb.rs file matches
  .github/workflows/verify-proto-files.yml
Labels: ci-build

Move test out of autogenerated pb.rs file
  trace-protobuf/src/pb.rs
  trace-protobuf/src/pb_test.rs
Labels: none

Fix merge conflicts errors
  data-pipeline/src/stats_exporter.rs
  ddcommon/src/lib.rs
  ddcommon/src/tag.rs
  trace-normalization/src/normalizer.rs
Labels: common, mini-agent, data-pipeline

Solve PR comments.
  trace-utils/src/tracer_payload.rs
Labels: mini-agent

Add support for sending v0.4 traces. (#491)
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/tracer.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/lib.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent, sidecar, data-pipeline

update azure resource group regex to account for windows
  ddcommon/src/azure_app_services.rs
Labels: common

feat: v0.5 trace decompression support
  Cargo.lock
  trace-utils/Cargo.toml
  trace-utils/src/trace_utils.rs
Labels: mini-agent

fix: remove comment and unwraps
  trace-utils/src/trace_utils.rs
Labels: mini-agent

feat: remove erroneous GCP comment from my copypasta
  trace-utils/src/config_utils.rs
Labels: mini-agent

fix: complex type, license for rmpv
  LICENSE-3rdparty.yml
  trace-utils/src/trace_utils.rs
Labels: mini-agent

bump rustls version in ddcommon
  Cargo.lock
  ddcommon/Cargo.toml
  ddcommon/src/connector/mod.rs
Labels: common

regenerate license for ci
  LICENSE-3rdparty.yml
Labels: none

Disable formationg with skip instead of @generated
  ddsketch/build.rs
  ddsketch/src/lib.rs
  ddsketch/src/pb.rs
  rustfmt.toml
Labels: none

Add tests for distribution metrics
  ddtelemetry/src/metrics.rs
Labels: telemetry

[ddtelemetry] Support metric distributions with ddsketch (#268)
  .github/CODEOWNERS
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.yml
  ddsketch/Cargo.toml
  ddsketch/build.rs
  ddsketch/src/lib.rs
  ddsketch/src/pb.rs
  ddsketch/src/pb/DDSketch.proto
  ddtelemetry/Cargo.toml
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/src/data/metrics.rs
  ddtelemetry/src/data/payload.rs
  ddtelemetry/src/data/payloads.rs
  ddtelemetry/src/metrics.rs
  ddtelemetry/src/worker/mod.rs
  rustfmt.toml
  sidecar/src/self_telemetry.rs
  tools/docker/Dockerfile.build
Labels: ci-build, telemetry, sidecar

Remove stale comments
  trace-utils/src/trace_utils.rs
Labels: mini-agent

Use inplace normalization and add benchmark
  tools/docker/Dockerfile.build
  trace-normalization/Cargo.toml
  trace-normalization/benches/normalization_utils.rs
  trace-normalization/src/lib.rs
  trace-normalization/src/normalize_utils.rs
  trace-normalization/src/normalizer.rs
  trace-normalization/src/utf8_helpers.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

Add stats exporter
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/lib.rs
  data-pipeline-ffi/src/stats_exporter.rs
  data-pipeline/Cargo.toml
  data-pipeline/examples/stats_exporter_example.rs
  data-pipeline/src/lib.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon/src/lib.rs
  ddcommon/src/tag.rs
Labels: common, data-pipeline

fix license
  LICENSE-3rdparty.yml
Labels: none

Move try_c! to ddcommon_ffi
  Cargo.lock
  data-pipeline-ffi/src/lib.rs
  data-pipeline-ffi/src/stats_exporter.rs
  ddcommon-ffi/src/error.rs
  ddtelemetry-ffi/src/builder.rs
  ddtelemetry-ffi/src/lib.rs
  ddtelemetry-ffi/src/worker_handle.rs
  sidecar-ffi/src/lib.rs
Labels: common, telemetry, sidecar, data-pipeline

Fix clippy errors
  Cargo.lock
  trace-normalization/src/normalize_utils.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
