Repository DataDog/libdatadog, changes with the labels that .github/labeler.yml gives for each.
All labels: profiling, common, ci-build, mini-agent, telemetry, dogstatsd, sidecar, data-pipeline

Update
  Cargo.lock
  crashtracker/src/crash_info/stacktrace.rs
  examples/ffi/symbolizer.cpp
  symbolizer-ffi/Cargo.toml
  symbolizer-ffi/src/blazesym.h
Labels: none

Try to fix crypto provider issues in ddcommon (#705)
  ddcommon/src/connector/mod.rs
Labels: common

[crashtracker] Implement timeout in the receiver
  crashtracker/src/receiver.rs
Labels: none

Miri ignore the new tests
  crashtracker/src/receiver.rs
Labels: none

Updates blazesym to 0.1.0rc1 (#706)
  Cargo.lock
  crashtracker/src/crash_info/stacktrace.rs
  examples/ffi/symbolizer.cpp
  symbolizer-ffi/Cargo.toml
  symbolizer-ffi/src/blazesym.h
Labels: none

Bump
  Cargo.lock
  Cargo.toml
Labels: none

Windows
  ipc/Cargo.toml
Labels: none

Add metadata headers for stats
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Bump version to v14.0.0 (#708)
  Cargo.lock
  Cargo.toml
  ipc/Cargo.toml
Labels: none

Refactor to support different target compilations.
  Cargo.lock
  builder/Cargo.toml
  builder/build/data_pipeline.rs
  builder/build/main.rs
  builder/build/symbolizer.rs
  builder/src/arch/apple.rs
  builder/src/arch/linux.rs
  builder/src/arch/mod.rs
  builder/src/arch/musl.rs
  builder/src/arch/windows.rs
  builder/src/bin/dummy.rs
  builder/src/bin/release.rs
  builder/src/common.rs
  builder/src/crashtracker.rs
  builder/src/dd_builder.rs
  builder/src/lib.rs
  builder/src/module.rs
  builder/src/profiling.rs
  builder/src/utils.rs
  tools/src/bin/dedup_headers.rs
  tools/src/lib.rs
  windows/build-artifacts.ps1
  windows/libdatadog.csproj
Labels: ci-build

Fix CI scripts to use the new release binary.
  .github/workflows/test.yml
  windows/build-artifacts.ps1
Labels: ci-build

Ruby stuff
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Labels: none

use macos-13
  .github/workflows/test.yml
Labels: ci-build

chore(ci): stop using macos-12 in github actions (#710)
  .github/workflows/test.yml
Labels: ci-build

v14.0.0 release for Ruby (#709)
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Labels: none

Collect agent info from sidecar
  Cargo.lock
  data-pipeline/src/agent_info/fetcher.rs
  data-pipeline/src/agent_info/mod.rs
  data-pipeline/src/agent_info/schema.rs
  sidecar-ffi/src/lib.rs
  sidecar/Cargo.toml
  sidecar/src/service/agent_info.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar, data-pipeline

Add comments and test for AgentInfo in sidecar
  sidecar/src/service/agent_info.rs
Labels: sidecar

Fix compilation for release profile.
  .github/workflows/test.yml
  builder/src/bin/release.rs
  builder/src/crashtracker.rs
  builder/src/dd_builder.rs
  builder/src/profiling.rs
  tools/src/bin/dedup_headers.rs
  tools/src/lib.rs
Labels: ci-build

Fix compilation in alpine.
  builder/build/main.rs
  builder/src/bin/release.rs
  builder/src/builder.rs
  builder/src/lib.rs
  tools/docker/Dockerfile.build
Labels: none

Save more space in centos7.
  .github/workflows/test.yml
Labels: ci-build

Fix gitlab build
  windows/build-artifacts.ps1
Labels: ci-build

hack to fix the issue
  builder/src/profiling.rs
Labels: none

Fix x86 build
  builder/src/bin/release.rs
  windows/build-artifacts.ps1
Labels: ci-build

Fix format
  builder/src/bin/release.rs
  builder/src/lib.rs
  builder/src/profiling.rs
Labels: none

Refactor to support different target compilations.
  Cargo.lock
  builder/Cargo.toml
  builder/build/data_pipeline.rs
  builder/build/main.rs
  builder/build/symbolizer.rs
  builder/src/arch/apple.rs
  builder/src/arch/linux.rs
  builder/src/arch/mod.rs
  builder/src/arch/musl.rs
  builder/src/arch/windows.rs
  builder/src/bin/dummy.rs
  builder/src/bin/release.rs
  builder/src/common.rs
  builder/src/crashtracker.rs
  builder/src/dd_builder.rs
  builder/src/lib.rs
  builder/src/module.rs
  builder/src/profiling.rs
  builder/src/utils.rs
  tools/src/bin/dedup_headers.rs
  tools/src/lib.rs
  windows/build-artifacts.ps1
  windows/libdatadog.csproj
Labels: ci-build

Fix CI scripts to use the new release binary.
  .github/workflows/test.yml
  windows/build-artifacts.ps1
Labels: ci-build

Fix compilation in alpine.
  builder/build/main.rs
  builder/src/bin/release.rs
  builder/src/builder.rs
  builder/src/lib.rs
  tools/docker/Dockerfile.build
Labels: none

Fix compilation for release profile.
  .github/workflows/test.yml
  builder/src/bin/release.rs
  builder/src/crashtracker.rs
  builder/src/dd_builder.rs
  builder/src/profiling.rs
  tools/src/bin/dedup_headers.rs
  tools/src/lib.rs
Labels: ci-build

Save more space in centos7.
  .github/workflows/test.yml
Labels: ci-build

Fix gitlab build
  windows/build-artifacts.ps1
Labels: ci-build

Fix x86 build
  builder/src/bin/release.rs
  windows/build-artifacts.ps1
Labels: ci-build

hack to fix the issue
  builder/src/profiling.rs
Labels: none

Try building the old way to see if it fails or not
  windows/build-artifacts.ps1
Labels: ci-build

Disable benchmarking on builder.
  builder/Cargo.toml
Labels: none

Fix merge error.
  builder/src/bin/release.rs
  builder/src/lib.rs
  builder/src/profiling.rs
Labels: none

Collect agent info from sidecar (#701)
  Cargo.lock
  data-pipeline/src/agent_info/fetcher.rs
  data-pipeline/src/agent_info/mod.rs
  data-pipeline/src/agent_info/schema.rs
  sidecar-ffi/src/lib.rs
  sidecar/Cargo.toml
  sidecar/src/service/agent_info.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar, data-pipeline

Add commit_sha and interpreter_vendor to metadata
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

Disable test.
  builder/Cargo.toml
Labels: none

Fix SA_ONSTACK enablement
  crashtracker/src/collector/crash_handler.rs
Labels: none

Add doc for TraceExporterBuilder
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

.github/labeler.yml:

profiling:
- changed-files:
  - any-glob-to-any-file: [
      'profiling/**/*',
      'profiling-ffi/**/*',
    ]

common:
- changed-files:
  - any-glob-to-any-file: [
      'ddcommon/**/*',
      'ddcommon-ffi/**/*',
    ]

ci-build:
- changed-files:
  - any-glob-to-any-file: [
      '.github/**/*',
      '.gitlab-ci.yml',
      'windows/**/*',
      'build-*',
    ]

mini-agent:
- changed-files:
  - any-glob-to-any-file: [
      'trace-mini-agent/**/*',
      'serverless/**/*',
      'trace-normalization/**/*',
      'trace-obfuscation/**/*',
      'trace-utils/**/*',
    ]

telemetry:
- changed-files:
  - any-glob-to-any-file: [
      'ddtelemetry/**/*',
      'ddtelemetry-ffi/**/*',
    ]

dogstatsd:
- changed-files:
  - any-glob-to-any-file: [
      'dogstatsd-collector/**/*',
    ]

sidecar:
- changed-files:
  - any-glob-to-any-file: [
      'sidecar/**/*',
      'sidecar-ffi/**/*',
    ]

data-pipeline:
- changed-files:
  - any-glob-to-any-file: [
      'data-pipeline/**/*',
      'data-pipeline-ffi/**/*',
    ]
