Repository DataDog/libdatadog, pull requests merged in 2023-05, with the labels that each got.

#155 Add PR automatic labeler
  .github/labeler.yml
  .github/workflows/pr-auto-labeler.yml
Labels: ci-build

#161 Fixing all the outstanding issues with the sidecar
  Cargo.lock
  LICENSE-3rdparty.yml
  ddtelemetry/Cargo.toml
  ddtelemetry/src/config.rs
  ddtelemetry/src/ipc/interface.rs
  ddtelemetry/src/ipc/sidecar/config.rs
  ipc/src/lib.rs
  ipc/src/sequential.rs
  spawn_worker/src/trampoline.c
  spawn_worker/src/unix/spawn.rs
Labels: telemetry

#160 Add dogstatsd to labeller
  .github/labeler.yml
Labels: ci-build

#163 Use a better name for the sidecar process
  sidecar/src/unix.rs
Labels: sidecar

#166 Update proto files
  .github/workflows/verify-proto-files.yml
  trace-protobuf/src/pb.rs
  trace-protobuf/src/pb/agent_payload.proto
  trace-protobuf/src/pb/span.proto
  trace-protobuf/src/pb/tracer_payload.proto
Labels: ci-build

#168 Mini Agent: Target linux musl when publishing
  .github/workflows/publish-serverless-agent.yml
Labels: ci-build

#159 Report downstream gitlab pipeline failures to github
  .gitlab-ci.yml
Labels: ci-build
