Repository DataDog/libdatadog, pull requests merged in 2023-12, with the labels that each got.

#284 build: update dependencies [PROF-8753]
  Cargo.lock
  LICENSE-3rdparty.yml
  ipc/tarpc/tarpc/src/server.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

#287 Fix codewoner ordering
  .github/CODEOWNERS
Labels: ci-build

#286 [ddtelemetry] Use log count property instead of modifying log message
  ddtelemetry/src/data/payloads.rs
  ddtelemetry/src/worker/mod.rs
Labels: telemetry
