Repository DataDog/libdatadog, pull requests merged in 2023-07, with the labels that each got.

#187 Bump libdatadog to 3.0.0
  Cargo.lock
  ddcommon-ffi/Cargo.toml
  ddcommon/Cargo.toml
  ddtelemetry-ffi/Cargo.toml
  ddtelemetry/Cargo.toml
  profiling-ffi/Cargo.toml
  profiling/Cargo.toml
Labels: profiling, telemetry, common

#189 Package libdatadog v3.0.0 for Ruby
  .github/workflows/test-ruby.yml
  ruby/Rakefile
  ruby/docker-compose.yml
  ruby/lib/libdatadog/version.rb
Labels: ci-build

#186 [ddtelemetry] Flush logs and metrics
  ddtelemetry/src/worker/mod.rs
Labels: telemetry

#191 Add basic telemetry self-monitoring
  ruby/gems.rb
  sidecar/src/interface.rs
  sidecar/src/unix.rs
Labels: sidecar

#194 style: fix clippy::default-constructed-unit-structs
  ddcommon-ffi/src/vec.rs
Labels: ci-build, common

#195 Mini Agent: Integrate tag replacement
  Cargo.lock
  trace-mini-agent/Cargo.toml
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/trace_processor.rs
  trace-obfuscation/Cargo.toml
  trace-obfuscation/benches/replace_trace_tags_bench.rs
  trace-obfuscation/src/replacer.rs
Labels: mini-agent
