Repository DataDog/libdatadog, pull requests merged in 2023-06, with the labels that each got.

#172 Mini Agent: Support env var set custom trace & trace stats intake urls
  trace-mini-agent/src/config.rs
Labels: mini-agent

#176 Put Connector::default() into lazy_static! to avoid repeated overhead of root cert fetching
  ddcommon/src/connector/mod.rs
  ddtelemetry/src/worker/http_client.rs
  profiling/src/exporter/mod.rs
Labels: profiling, telemetry, common

#174 Mini Agent: Verify azure function env w/ filesystem
  Cargo.lock
  trace-mini-agent/Cargo.toml
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/mini_agent.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

#177 Mini Agent: Dotnet support
  trace-mini-agent/src/mini_agent.rs
  trace-mini-agent/src/stats_processor.rs
  trace-mini-agent/src/trace_processor.rs
  trace-protobuf/build.rs
  trace-protobuf/src/pb.rs
Labels: mini-agent

#182 Minor: Add help message on CI failure
  .gitlab-ci.yml
Labels: ci-build

#184 Fix bug in yaml syntax introduced in #182
  .gitlab-ci.yml
Labels: ci-build

#185 profiling: fix sample types error message
  profiling/src/profile/mod.rs
Labels: profiling

#181 [PROF-7645] Add support for attaching internal metadata in profiling export
  Cargo.lock
  examples/ffi/exporter.cpp
  profiling-ffi/Cargo.toml
  profiling-ffi/src/exporter.rs
  profiling/src/exporter/mod.rs
  profiling/tests/form.rs
Labels: profiling
