Repository DataDog/libdatadog, pull requests merged in 2023-09, with the labels that each got.

#237 Profiler: Take timestamp as an explicit argument, rather than hiding in the label
  examples/ffi/exporter.cpp
  examples/ffi/profiles.c
  profiling-ffi/src/profiles.rs
  profiling-replayer/src/main.rs
  profiling-replayer/src/replayer.rs
  profiling/examples/profiles.rs
  profiling/src/profile/mod.rs
Labels: profiling

#247 Use Cargo workspace properties and document MSRV
  Cargo.lock
  Cargo.toml
  README.md
  ddcommon-ffi/Cargo.toml
  ddcommon/Cargo.toml
  ddtelemetry-ffi/Cargo.toml
  ddtelemetry/Cargo.toml
  profiling-ffi/Cargo.toml
  profiling-replayer/Cargo.toml
  profiling/Cargo.toml
  tools/Cargo.toml
  trace-normalization/Cargo.toml
  trace-obfuscation/Cargo.toml
  trace-protobuf/Cargo.toml
  trace-utils/Cargo.toml
Labels: profiling, telemetry, mini-agent, common

#243 Profiler: Rewrite serializer to stream compressed output, reducing memory usage
  ddcommon-ffi/src/error.rs
  ddcommon-ffi/src/slice.rs
  examples/ffi/exporter.cpp
  profiling-ffi/src/exporter.rs
  profiling-ffi/src/profiles.rs
  profiling-replayer/src/main.rs
  profiling/examples/profiles.rs
  profiling/src/collections/identifiable/mod.rs
  profiling/src/exporter/mod.rs
  profiling/src/lib.rs
  profiling/src/profile/internal/observation/observations.rs
  profiling/src/profile/internal/observation/trimmed_observation.rs
  profiling/src/profile/internal/upscaling.rs
  profiling/src/profile/mod.rs
  profiling/src/profile/pprof/mod.rs
  profiling/src/profile/pprof/profile.proto
  profiling/src/profile/pprof/proto.rs
  profiling/src/profile/pprof/sliced_proto.rs
  profiling/src/profile/pprof/test_utils.rs
  profiling/src/serializer/compressed_streaming_encoder.rs
  profiling/src/serializer/mod.rs
  profiling/tests/form.rs
Labels: profiling, common

#250 Profiling: refactor upscaler
  profiling/src/profile/api.rs
  profiling/src/profile/internal/upscaling.rs
  profiling/src/profile/mod.rs
Labels: profiling

#252 refactor!(profiling-ffi): ddog_prof_Profile_new can fail
  ddcommon-ffi/src/vec.rs
  examples/ffi/exporter.cpp
  examples/ffi/profiles.c
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/profiles.rs
Labels: profiling, common

#263 Add a metric interval to telemetry metrics and set it to 10s
  ddtelemetry/src/data/metrics.rs
  ddtelemetry/src/metrics.rs
  ddtelemetry/src/worker/mod.rs
Labels: telemetry

#265 Fix version in sidecar ffi for dependencies and integrations
  sidecar-ffi/src/unix.rs
Labels: sidecar

#264 Refactor: reorganize functions in internal/profile to clarify the public api
  profiling-ffi/src/profiles.rs
  profiling-replayer/src/main.rs
  profiling/examples/profiles.rs
  profiling/src/internal/profile.rs
Labels: profiling
