Repository DataDog/libdatadog, pull requests merged in 2023-08, with the labels that each got.

#198 Bump Rust version to 1.69
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: ci-build

#192 Implement sending via sidecar
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.yml
  ddcommon-ffi/Cargo.toml
  ddcommon-ffi/src/endpoint.rs
  ddcommon-ffi/src/lib.rs
  ddcommon/src/lib.rs
  ddtelemetry-ffi/Cargo.toml
  ddtelemetry-ffi/src/builder.rs
  ddtelemetry-ffi/src/lib.rs
  ddtelemetry/src/config.rs
  ddtelemetry/src/worker/builder.rs
  ddtelemetry/src/worker/http_client.rs
  ipc/Cargo.toml
  ipc/build.rs
  ipc/macros/Cargo.toml
  ipc/macros/src/lib.rs
  ipc/src/example_interface.rs
  ipc/src/platform/unix/channel.rs
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/mod.rs
  ipc/src/transport/blocking.rs
  sidecar-ffi/Cargo.toml
  sidecar-ffi/src/unix.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/Cargo.toml
  sidecar/src/agent_remote_config.rs
  sidecar/src/config.rs
  sidecar/src/interface.rs
  sidecar/src/lib.rs
  sidecar/src/tracer.rs
  sidecar/src/unix.rs
  tools/docker/Dockerfile.build
  trace-mini-agent/Cargo.toml
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/mini_agent.rs
  trace-mini-agent/src/stats_flusher.rs
  trace-mini-agent/src/trace_flusher.rs
  trace-mini-agent/src/trace_processor.rs
  trace-protobuf/build.rs
  trace-protobuf/src/pb.rs
  trace-utils/Cargo.toml
  trace-utils/src/config_utils.rs
  trace-utils/src/lib.rs
  trace-utils/src/stats_utils.rs
  trace-utils/src/trace_utils.rs
Labels: ci-build, telemetry, mini-agent, sidecar, common

#199 Intern stacktraces to reduce memory usage
  examples/ffi/profiles.c
  profiling/src/profile/mod.rs
Labels: profiling

#200 Abstract OneWayShm out from AgentRemoteConfig
  sidecar-ffi/src/unix.rs
  sidecar/src/agent_remote_config.rs
  sidecar/src/lib.rs
  sidecar/src/one_way_shared_memory.rs
Labels: sidecar

#203 Fix outdated comment
  profiling/src/profile/pprof.rs
Labels: profiling

#207 Use a unique type for StringId
  profiling/src/profile/mod.rs
Labels: profiling

#208 Use unique types for PProfIds
  profiling/src/profile/mod.rs
Labels: profiling

#214 refactor(profiling): rework internal types
  profiling/src/profile/api.rs
  profiling/src/profile/internal/function.rs
  profiling/src/profile/internal/label.rs
  profiling/src/profile/internal/line.rs
  profiling/src/profile/internal/location.rs
  profiling/src/profile/internal/mapping.rs
  profiling/src/profile/internal/mod.rs
  profiling/src/profile/internal/stack_trace.rs
  profiling/src/profile/internal/string.rs
  profiling/src/profile/internal/value_type.rs
  profiling/src/profile/mod.rs
  profiling/src/profile/pprof.rs
Labels: profiling

#197 Fix verify proto CI
  .github/workflows/verify-proto-files.yml
  trace-protobuf/build.rs
  trace-protobuf/src/pb.rs
  trace-protobuf/src/pb/agent_payload.proto
  trace-protobuf/src/pb/gogo.proto
  trace-protobuf/src/pb/span.proto
  trace-protobuf/src/pb/stats.proto
  trace-protobuf/src/pb/tracer_payload.proto
Labels: ci-build

#212 feat: add datadog-profiling-replayer
  Cargo.toml
  profiling-replayer/Cargo.toml
  profiling-replayer/src/main.rs
  profiling-replayer/src/profile_index.rs
  profiling-replayer/src/replayer.rs
  profiling/src/profile/api.rs
  profiling/src/profile/pprof.rs
Labels: profiling

#215 perf!: make profiling Location contain a function
  examples/ffi/exporter.cpp
  examples/ffi/profiles.c
  profiling-ffi/src/profiles.rs
  profiling/examples/profiles.rs
  profiling/src/profile/api.rs
  profiling/src/profile/internal/line.rs
  profiling/src/profile/internal/location.rs
  profiling/src/profile/internal/mod.rs
  profiling/src/profile/mod.rs
  profiling/tests/wordpress.rs
Labels: profiling

#220 Add sidecar metrics into their own namespace, fix seq id
  ddtelemetry/examples/tm-worker-test.rs
  ddtelemetry/src/data/metrics.rs
  ddtelemetry/src/metrics.rs
  ddtelemetry/src/worker/mod.rs
  ipc/src/platform/unix/mem_handle.rs
  sidecar/src/unix.rs
Labels: telemetry, sidecar

#210 Reduce memory impact of timestamps by factoring out timestamped and aggregated data
  profiling-ffi/src/profiles.rs
  profiling/examples/profiles.rs
  profiling/src/profile/mod.rs
  profiling/src/profile/pprof.rs
Labels: profiling

#223 refactor: Move profiler internal types to the internal module
  profiling/src/profile/internal/endpoints.rs
  profiling/src/profile/internal/mod.rs
  profiling/src/profile/internal/sample.rs
  profiling/src/profile/internal/upscaling.rs
  profiling/src/profile/mod.rs
Labels: profiling

#205 Intern profiling labels
  profiling/src/profile/internal/label.rs
  profiling/src/profile/internal/observation/observations.rs
  profiling/src/profile/internal/sample.rs
  profiling/src/profile/mod.rs
Labels: profiling

#230 cicd rfc
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ci-build

#226 Refactor common unit test create_test_span function into trace-utils
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/lib.rs
  trace-utils/src/trace_test_utils.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

#232 fix: warnings on new Rust 1.72.0 toolchain
  ddcommon-ffi/src/slice.rs
  ddcommon-ffi/src/vec.rs
  ddcommon/src/cstr.rs
  ddtelemetry/src/metrics.rs
  ipc/src/platform/unix/mod.rs
  ipc/tarpc/tarpc/src/client.rs
  profiling/src/profile/mod.rs
  sidecar/src/interface.rs
  trace-obfuscation/benches/credit_cards_bench.rs
Labels: profiling, telemetry, sidecar, common

#231 perf(profiling): tune initial buffer sizes
  profiling/src/exporter/mod.rs
  profiling/src/profile/mod.rs
Labels: profiling

#236 Bump ddcommon, ddtelemetry, and profiling crates to v4.0.0
  Cargo.lock
  ddcommon-ffi/Cargo.toml
  ddcommon/Cargo.toml
  ddtelemetry-ffi/Cargo.toml
  ddtelemetry/Cargo.toml
  profiling-ffi/Cargo.toml
  profiling-replayer/Cargo.toml
  profiling/Cargo.toml
Labels: profiling, telemetry, common
