Repository DataDog/libdatadog, pull requests merged in 2023-10, with the labels that each got.

#269 Run Miri everywhere
  .github/workflows/miri.yml
  ddcommon/src/connector/mod.rs
  ddtelemetry-ffi/src/lib.rs
  ddtelemetry/src/worker/http_client.rs
  ipc/src/platform/unix/platform_handle.rs
  ipc/tarpc/tarpc/src/client.rs
  ipc/tarpc/tarpc/src/lib.rs
  ipc/tarpc/tarpc/src/server.rs
  ipc/tarpc/tarpc/src/server/in_flight_requests.rs
  ipc/tarpc/tarpc/src/server/limits/requests_per_channel.rs
  ipc/tarpc/tarpc/src/transport/channel.rs
  ipc/tarpc/tarpc/tests/service_functional.rs
  ipc/tests/blocking_client.rs
  ipc/tests/flock.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/src/setup/unix.rs
  spawn_worker/tests/trampoline_unix.rs
  tests/spawn_from_lib/tests/spawn_unix.rs
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/http_utils.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/trace_utils.rs
Labels: ci-build, telemetry, mini-agent, sidecar, common

#270 Sidecar: propagate environment to telemetry
  sidecar-ffi/src/unix.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/src/interface.rs
Labels: sidecar

#271 Fix daemonization of sidecar closing stderr properly
  sidecar/src/unix.rs
Labels: sidecar

#275 RFC: Allow verify trace-protobuf to continue on error
  .github/workflows/verify-proto-files.yml
Labels: ci-build
