Repository DataDog/libdatadog, pull requests merged in 2024-12, with the labels that each got.

#772 fix(alloc): potentially dangling temporary
  alloc/src/chain.rs
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/debugger_diagnostics_bookkeeper.rs
  sidecar/src/service/session_info.rs
  trace-mini-agent/src/config.rs
  trace-protobuf/src/pb_test.rs
  trace-utils/src/stats_utils.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent, sidecar, data-pipeline

#747 [telemetry] Add missing origin field
  crashtracker/src/crash_info/telemetry.rs
  crashtracker/src/rfc5_crash_info/telemetry.rs
  ddtelemetry/examples/tm-ping.rs
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/src/data/common.rs
  ddtelemetry/src/worker/mod.rs
Labels: telemetry, crashtracker

#764 Implement UnderlyingBytes for ByteSlice so it can be borrowed as underlying for TinyBytes::Bytes
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

#780 Fixes log struct not being able to be sent through the sidecar RPC
  ddtelemetry/src/data/payloads.rs
Labels: telemetry

#768 Refator API for Trace Exporter FFI
  data-pipeline-ffi/cbindgen.toml
  data-pipeline-ffi/src/error.rs
  data-pipeline-ffi/src/lib.rs
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/src/trace_exporter/agent_response.rs
  data-pipeline/src/trace_exporter/error.rs
  data-pipeline/src/trace_exporter/mod.rs
  ddcommon-ffi/src/option.rs
  dogstatsd-client/src/lib.rs
  examples/ffi/trace_exporter.c
  trace-utils/src/send_data/mod.rs
  trace-utils/src/send_data/send_data_result.rs
Labels: mini-agent, common, data-pipeline

#784 Avoid using lock unnecessarily
  ddtelemetry/src/worker/mod.rs
Labels: telemetry

#790 [ffi][tests] Check that ffi::MaybeErr is None in tests invoking ffi functions
  ddcommon-ffi/src/option.rs
  ddtelemetry-ffi/src/lib.rs
  profiling-ffi/src/exporter.rs
  sidecar-ffi/tests/sidecar.rs
Labels: profiling, telemetry, sidecar, common

#781 Support "default if null" behavior for msgpack decoding of v04
  data-pipeline/src/trace_exporter/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/msgpack_decoder/v04/number.rs
Labels: mini-agent, data-pipeline

#793 [crashtracker] Refactor: Use the new FFI helper macros to cleanup the code
  crashtracker-ffi/src/collector/counters.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker-ffi/src/collector/spans.rs
  crashtracker-ffi/src/demangler/mod.rs
  crashtracker-ffi/src/receiver.rs
  crashtracker/src/shared/configuration.rs
  ddcommon-ffi/src/result.rs
  examples/ffi/crashtracking.c
Labels: common, crashtracker

#795 Remove unused container id testing logic
  ddcommon/src/entity_id/mod.rs
  ddcommon/src/entity_id/unix/mod.rs
Labels: common

#796 Allow send empty arrays through the trace exporter
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/src/trace_exporter/mod.rs
Labels: data-pipeline

#798 Change profiling build to first generate the new header in ./target,and then run deduplication
  build-common/src/cbindgen.rs
  build-profiling-ffi.sh
  builder/src/bin/release.rs
Labels: ci-build

#799 [trace-mini-agent] change logging crate
  Cargo.lock
  trace-mini-agent/Cargo.toml
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/http_utils.rs
  trace-mini-agent/src/mini_agent.rs
  trace-mini-agent/src/stats_flusher.rs
  trace-mini-agent/src/stats_processor.rs
  trace-mini-agent/src/trace_flusher.rs
  trace-mini-agent/src/trace_processor.rs
Labels: mini-agent

#786 Make the LogIdentifier's identifier field public
  ddtelemetry/src/worker/mod.rs
Labels: telemetry

#806 [trace-mini-agent] change logs from `info` to `debug`
  trace-mini-agent/src/http_utils.rs
  trace-mini-agent/src/mini_agent.rs
  trace-mini-agent/src/stats_flusher.rs
  trace-mini-agent/src/stats_processor.rs
  trace-mini-agent/src/trace_flusher.rs
  trace-mini-agent/src/trace_processor.rs
Labels: mini-agent

#770 Add _dd.gcrfx.resource_name to serverless compatibility layer for Google Cloud Functions
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent, mergequeue-status: removed, GAS

#808 [fix] Add back set_cgroup_file function.
  ddcommon/Cargo.toml
  ddcommon/src/entity_id/mod.rs
  ddcommon/src/entity_id/unix/mod.rs
Labels: common

#805 Upgrade to Rust 1.78.0
  .github/workflows/coverage.yml
  .github/workflows/fuzz.yml
  .github/workflows/lint.yml
  .github/workflows/miri.yml
  .github/workflows/test.yml
  .github/workflows/verify-proto-files.yml
  Cargo.toml
  README.md
  sidecar/src/self_telemetry.rs
  sidecar/src/setup/windows.rs
  tools/docker/Dockerfile.build
Labels: ci-build, sidecar

#800 Svls 6036 set timeouts
  dogstatsd/src/datadog.rs
  dogstatsd/src/flusher.rs
  dogstatsd/tests/integration_test.rs
  serverless/src/main.rs
Labels: mini-agent

#811 [ddcommon] unpin `cc` crate
  ddcommon/Cargo.toml
Labels: common
