Repository DataDog/libdatadog, pull requests merged in 2024-10, with the labels that each got.

#659 Increase delay for stats_exporter to send stats
  data-pipeline/src/stats_exporter.rs
Labels: data-pipeline

#657 Support for remote config in the appsec helper
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  ipc/src/platform/windows/mem_handle.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/parse.rs
  remote-config/src/path.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/one_way_shared_memory.rs
  sidecar/src/shm_remote_config.rs
  spawn_worker/src/trampoline.c
Labels: sidecar

#656 Use info config for stats computation
  data-pipeline/benches/span_concentrator_bench.rs
  data-pipeline/src/agent_info/schema.rs
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/span_concentrator/tests.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

#664 Fix the trace payload size hint
  sidecar/src/service/sidecar_server.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent, sidecar

#666 Fix telemetry metric name
  sidecar/src/self_telemetry.rs
Labels: sidecar

#670 Make coverage success optional in CI
  .github/workflows/all-checks.yml
Labels: ci-build

#671 Allow sending tags via RC
  ddcommon/src/tag.rs
  remote-config/examples/remote_config_fetch.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/shared.rs
  remote-config/src/lib.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/remote_configs.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_remote_config.rs
Labels: sidecar, common

#660 [Serverless Mini Agent] Add Zipping of Serverless Binaries with Proper Github Permissions
  .github/workflows/publish-serverless-agent.yml
Labels: ci-build

#672 [Serverless Mini Agent] Add Span Tags for Azure Spring Apps
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

#677 [Serverless Mini Agent] Bump datadog-serverless-trace-mini-agent version to 0.8.0
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

#681 Enable code coverage.
  .github/workflows/all-checks.yml
  .github/workflows/coverage.yml
Labels: ci-build

#673 feat: Prefer DD_PROXY_HTTPS over HTTPS_PROXY
  dogstatsd/src/datadog.rs
  dogstatsd/src/flusher.rs
  dogstatsd/tests/integration_test.rs
  serverless/src/main.rs
  trace-mini-agent/src/config.rs
Labels: mini-agent

#682 [NO-TICKET] First step of migration from hyper 0.x to 1.x
  Cargo.lock
  bin_tests/Cargo.toml
  crashtracker-ffi/Cargo.toml
  crashtracker/Cargo.toml
  data-pipeline/Cargo.toml
  data-pipeline/src/agent_info/fetcher.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon-ffi/Cargo.toml
  ddcommon/Cargo.toml
  ddtelemetry/Cargo.toml
  ddtelemetry/src/worker/http_client.rs
  dogstatsd-client/Cargo.toml
  live-debugger/Cargo.toml
  live-debugger/src/sender.rs
  profiling-ffi/Cargo.toml
  profiling-ffi/src/exporter.rs
  profiling/Cargo.toml
  profiling/src/exporter/mod.rs
  profiling/tests/form.rs
  remote-config/Cargo.toml
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/test_server.rs
  sidecar-ffi/Cargo.toml
  sidecar/Cargo.toml
  sidecar/src/service/tracing/trace_flusher.rs
  trace-mini-agent/Cargo.toml
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/http_utils.rs
  trace-utils/Cargo.toml
  trace-utils/src/send_data/send_data_result.rs
  trace-utils/src/stats_utils.rs
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/src/trace_utils.rs
Labels: profiling, telemetry, mini-agent, sidecar, common, data-pipeline

#683 Stabilize credit_cards_bench inlining
  trace-obfuscation/benches/benchmarks/credit_cards_bench.rs
Labels: mini-agent

#684 Resolve clippy warnings
  builder/build/arch/apple.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

#678 Optimize is_card_number to use array
  trace-obfuscation/src/credit_cards.rs
Labels: mini-agent

#687 Allow attaching to the sidecar via gdb
  spawn_worker/src/trampoline.c
  trace-utils/Cargo.toml
Labels: mini-agent

#686 Lock down nightly version for reproducible builds
  .github/workflows/coverage.yml
  .github/workflows/fuzz.yml
  .github/workflows/lint.yml
  .github/workflows/miri.yml
  .github/workflows/test.yml
  README.md
  bin_tests/src/bin/test_the_tests.rs
  bin_tests/tests/crashtracker_bin_test.rs
  builder/build/arch/apple.rs
  builder/build/arch/linux.rs
  crashtracker-ffi/src/collector/spans.rs
  data-pipeline/src/health_metrics.rs
  ddcommon-ffi/src/slice.rs
  ddcommon/src/connector/named_pipe.rs
  ddcommon/src/entity_id/unix/mod.rs
  ddtelemetry/src/metrics.rs
  ipc/tarpc/plugins/src/lib.rs
  ipc/tarpc/plugins/tests/server.rs
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger/src/expr_defs.rs
  live-debugger/src/expr_eval.rs
  profiling/src/api.rs
  profiling/src/collections/string_table/wordpress_test_data.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/file_storage.rs
  remote-config/src/path.rs
  remote-config/src/targets.rs
  sidecar/src/log.rs
  sidecar/src/one_way_shared_memory.rs
  spawn_worker/src/win32.rs
Labels: profiling, ci-build, telemetry, sidecar, common, data-pipeline

#688 add stale PR GH workflow
  .github/workflows/stale.yml
  .github/workflows/test.yml
Labels: ci-build

#689 [APMSP-1458] Fix single-span sampling
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

#694 Fix vendor header name
  trace-utils/src/send_data/mod.rs
  trace-utils/src/tracer_header_tags.rs
Labels: mini-agent

#695 [APMSP-1350] Add dropped-p0 headers
  data-pipeline/src/trace_exporter.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/serialized_tracer_header_tags.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/tracer_header_tags.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, sidecar, data-pipeline

#698 Increase DogStatsD Buffer Size and Pattern Match Container Ids
  Cargo.lock
  dogstatsd/Cargo.toml
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
  serverless/Cargo.toml
  serverless/src/main.rs
Labels: mini-agent
