Repository DataDog/libdatadog, pull requests merged in 2024-01, with the labels that each got.

#288 Fix typo in ProfileExporter docs
  profiling/src/exporter/mod.rs
Labels: profiling

#291 style: fix Rust 1.75 lints
  ipc/src/example_interface.rs
  ipc/src/handles.rs
  ipc/tarpc/tarpc/src/server/limits/requests_per_channel.rs
  profiling/src/internal/profile.rs
  profiling/src/pprof/mod.rs
  profiling/src/pprof/test_utils.rs
  sidecar/src/interface.rs
  trace-normalization/src/normalizer.rs
Labels: profiling, mini-agent, sidecar

#282 Implement crash-tracking handler
  Cargo.lock
  LICENSE-3rdparty.yml
  build-profiling-ffi.sh
  profiling-crashtracking-receiver/CMakeLists.txt
  profiling-crashtracking-receiver/libdatadog-crashtracking-receiver.c
  profiling-ffi/src/crashtracker.rs
  profiling-ffi/src/exporter.rs
  profiling-ffi/src/lib.rs
  profiling/Cargo.toml
  profiling/src/crashtracker/README.md
  profiling/src/crashtracker/api.rs
  profiling/src/crashtracker/collectors.rs
  profiling/src/crashtracker/constants.rs
  profiling/src/crashtracker/counters.rs
  profiling/src/crashtracker/crash_handler.rs
  profiling/src/crashtracker/crash_info.rs
  profiling/src/crashtracker/mod.rs
  profiling/src/crashtracker/receiver.rs
  profiling/src/lib.rs
  tools/docker/Dockerfile.build
Labels: profiling, ci-build

#294 refactor(profiling) Move crashtracker to its own package
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.yml
  build-profiling-ffi.sh
  crashtracker/CMakeLists.txt
  crashtracker/Cargo.toml
  crashtracker/libdatadog-crashtracking-receiver.c
  crashtracker/src/README.md
  crashtracker/src/api.rs
  crashtracker/src/collectors.rs
  crashtracker/src/constants.rs
  crashtracker/src/counters.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/crash_info.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  profiling-ffi/Cargo.toml
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/crashtracker.rs
  profiling/src/lib.rs
  tools/docker/Dockerfile.build
Labels: profiling, ci-build

#295 Improve logging of the sidecar
  .github/workflows/lint.yml
  Cargo.lock
  LICENSE-3rdparty.yml
  ddtelemetry/Cargo.toml
  ipc/tarpc/tarpc/src/server.rs
  sidecar-ffi/src/unix.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/Cargo.toml
  sidecar/src/config.rs
  sidecar/src/dump.rs
  sidecar/src/interface.rs
  sidecar/src/lib.rs
  sidecar/src/log.rs
  sidecar/src/setup/unix.rs
  sidecar/src/unix.rs
Labels: ci-build, telemetry, sidecar

#301 Update protobuf files for stats to avoid GH action failures
  trace-protobuf/src/pb.rs
  trace-protobuf/src/pb/stats.proto
  trace-utils/src/stats_utils.rs
Labels: mini-agent
