Repository DataDog/libdatadog, pull requests merged in 2024-05, with the labels that each got.

#406 [crashtracker] Remove profiling endpoint since we're using IT now
  Cargo.lock
  LICENSE-3rdparty.yml
  crashtracker/Cargo.toml
  crashtracker/src/crash_info.rs
  crashtracker/src/receiver.rs
  examples/ffi/crashinfo.cpp
  profiling-ffi/src/crashtracker/crash_info.rs
Labels: profiling

#411 Fix clippy lints for 1.78
  data-pipeline/src/trace_exporter.rs
  ipc/tarpc/tarpc/src/client.rs
  ipc/tarpc/tarpc/src/context.rs
  ipc/tarpc/tarpc/src/lib.rs
  ipc/tarpc/tarpc/tests/service_functional.rs
  sidecar/src/config.rs
  sidecar/src/interface.rs
  trace-normalization/src/normalizer.rs
Labels: mini-agent, sidecar, data-pipeline

#412 [crashtracker] Take a user defined list of additional files
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/configuration.rs
  crashtracker/src/receiver.rs
  crashtracker/src/telemetry.rs
  profiling-ffi/src/crashtracker/datatypes.rs
Labels: profiling

#407 Add code coverage workflow.
  .codecov.yml
  .github/workflows/coverage.yml
Labels: ci-build

#417 [ASEC-131] Remove reference to nonexisting team
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ci-build

#395 refactor sidecar/interface.rs into smaller files
  sidecar-ffi/src/lib.rs
  sidecar/src/entry.rs
  sidecar/src/interface.rs
  sidecar/src/lib.rs
  sidecar/src/self_telemetry.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/instance_id.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/queue_id.rs
  sidecar/src/service/request_identification.rs
  sidecar/src/service/runtime_info.rs
  sidecar/src/service/runtime_metadata.rs
  sidecar/src/service/serialized_tracer_header_tags.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/service/telemetry/app_instance.rs
  sidecar/src/service/telemetry/enqueued_telemetry_data.rs
  sidecar/src/service/telemetry/enqueued_telemetry_stats.rs
  sidecar/src/service/telemetry/mod.rs
  sidecar/src/service/tracing/mod.rs
  sidecar/src/service/tracing/trace_flusher.rs
  sidecar/src/service/tracing/trace_send_data.rs
Labels: sidecar

#415 Run tests with nextest and publish results
  .config/nextest.toml
  .github/workflows/coverage.yml
  .github/workflows/miri.yml
  .github/workflows/test.yml
  README.md
  crashtracker/src/api.rs
  ddcommon-ffi/src/slice.rs
  ddcommon-ffi/src/vec.rs
  ddtelemetry-ffi/src/lib.rs
  ddtelemetry/src/config.rs
  ddtelemetry/src/metrics.rs
  ipc/src/platform/unix/mod.rs
  profiling-ffi/src/exporter.rs
  profiling-ffi/src/profiles.rs
  profiling/src/api.rs
  profiling/src/collections/identifiable/mod.rs
  profiling/src/internal/observation/observations.rs
  profiling/src/internal/observation/trimmed_observation.rs
  profiling/src/internal/profile.rs
  profiling/src/pprof/proto.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/src/log.rs
  spawn_worker/src/unix/fork.rs
Labels: profiling, ci-build, telemetry, sidecar, common

#424 [PROF-9744] Propagate errors from expect calls
  profiling/src/internal/profile.rs
  profiling/src/internal/upscaling.rs
Labels: profiling, mergequeue-status: in_progress

#402 feat(alloc): new allocator crate
  .codecov.yml
  .github/CODEOWNERS
  .github/workflows/coverage.yml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.yml
  alloc/Cargo.toml
  alloc/src/chain.rs
  alloc/src/lib.rs
  alloc/src/linear.rs
  alloc/src/virtual.rs
  tools/docker/Dockerfile.build
Labels: enhancement, ci-build

#427 Move nightly Datadog agent protobuf validation to weekly
  .github/workflows/weekly-verify-proto-files.yml
Labels: ci-build

#428 [Doc] Add descriptions to packages
  data-pipeline/Cargo.toml
  ddtelemetry/Cargo.toml
  trace-mini-agent/Cargo.toml
  trace-normalization/Cargo.toml
  trace-obfuscation/Cargo.toml
Labels: telemetry, mini-agent, data-pipeline

#432 Fix telemetry shutdown and log max filter
  sidecar/src/log.rs
  sidecar/src/service/runtime_info.rs
Labels: sidecar

#399 Provide a DogStatsD API in the sidecar
  Cargo.lock
  LICENSE-3rdparty.yml
  sidecar-ffi/src/lib.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/Cargo.toml
  sidecar/src/dogstatsd.rs
  sidecar/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/setup/unix.rs
Labels: sidecar

#404 perf(profiling): datadog-alloc based StringTable
  Cargo.lock
  alloc/src/chain.rs
  profiling/Cargo.toml
  profiling/benches/interning_strings.rs
  profiling/benches/main.rs
  profiling/src/collections/mod.rs
  profiling/src/collections/string_table/mod.rs
  profiling/src/collections/string_table/wordpress_test_data.rs
  profiling/src/internal/profile.rs
  profiling/src/iter.rs
  profiling/src/lib.rs
  tools/docker/Dockerfile.build
Labels: profiling

#418 Collect some of the `trace_api.*` metrics in the trace flusher
  data-pipeline/src/trace_exporter.rs
  sidecar/src/self_telemetry.rs
  sidecar/src/service/tracing/trace_flusher.rs
  trace-mini-agent/src/trace_flusher.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/lib.rs
  trace-utils/src/send_data.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_header_tags.rs
Labels: mini-agent, sidecar, data-pipeline

#445 Make PHP and common components teams co-owners of the sidecar
  .github/CODEOWNERS
Labels: ci-build

#441 Refactor sidecar trace_flusher and add basic tests before adding retry logic
  Cargo.lock
  LICENSE-3rdparty.yml
  sidecar/Cargo.toml
  sidecar/src/service/sidecar_server.rs
  sidecar/src/service/tracing/trace_flusher.rs
Labels: sidecar

#443 [profiling] Fuzz chain allocator
  .github/workflows/fuzz.yml
  Cargo.lock
  alloc/Cargo.toml
  alloc/src/chain.rs
  alloc/src/lib.rs
  alloc/src/linear.rs
  alloc/src/utils.rs
Labels: ci-build

#438 [profiling] Add fuzz test for internal::observation
  .github/workflows/fuzz.yml
  .gitignore
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/internal/label.rs
  profiling/src/internal/observation/observations.rs
  profiling/src/internal/observation/trimmed_observation.rs
  profiling/src/internal/sample.rs
  profiling/src/internal/stack_trace.rs
Labels: profiling, ci-build

#446 [profiling] Fuzz virtual allocator
  .github/workflows/fuzz.yml
  alloc/src/lib.rs
  alloc/src/utils.rs
  alloc/src/virtual_alloc.rs
Labels: ci-build

#444 [profiling] Use bolero list to find all bolero fuzz targets
  .github/workflows/fuzz.yml
Labels: ci-build, mergequeue-status: in_progress

#426 Don't validate that endpoint is not empty because it doesn't need to be present
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker/src/telemetry.rs
  ddcommon/src/connector/mod.rs
  ddcommon/src/lib.rs
  ddtelemetry/src/config.rs
  profiling-ffi/src/crashtracker/datatypes.rs
Labels: profiling, telemetry, common

#456 Update cargo nextest and remove the compile fix
  .github/workflows/test.yml
Labels: ci-build

#440 Allow the SidecarTransport to recreate its underlying transport
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
Labels: sidecar

#451 Fix coalescing send data
  trace-utils/src/trace_utils.rs
Labels: mini-agent

#454 [profiling] use internal Label instead of pprof::Label
  profiling/src/collections/identifiable/string_id.rs
  profiling/src/internal/profile.rs
  profiling/src/internal/upscaling.rs
Labels: profiling

#455 Use Box<[ValueType]> instead of Vec<ValueType>
  profiling/src/internal/profile.rs
Labels: profiling

#433 Add retry logic to trace_utils::SendData
  Cargo.lock
  sidecar/src/service/tracing/trace_flusher.rs
  trace-utils/Cargo.toml
  trace-utils/src/send_data.rs
Labels: mini-agent, sidecar

#462 [profiling] Use actions matrix for fuzz
  .github/workflows/fuzz.yml
Labels: profiling, ci-build

#453 feat(common): add tag! macro
  Cargo.lock
  LICENSE-3rdparty.yml
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/telemetry.rs
  ddcommon-ffi/src/tags.rs
  ddcommon/Cargo.toml
  ddcommon/src/tag.rs
  ddtelemetry/examples/tm-metrics-worker-test.rs
  ddtelemetry/examples/tm-worker-test.rs
  ddtelemetry/src/metrics.rs
  profiling-ffi/src/exporter.rs
  profiling/tests/form.rs
  sidecar/src/dogstatsd.rs
  sidecar/src/self_telemetry.rs
Labels: profiling, telemetry, sidecar, common

#450 Add metrics
  sidecar/src/self_telemetry.rs
  sidecar/src/service/tracing/trace_flusher.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/Cargo.toml
  trace-utils/src/send_data.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_header_tags.rs
Labels: mini-agent, sidecar

#464 Transmit size of data in send_trace_v04_shm
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

#466 Ensure responses from flushed traces are handled immediately instead of when all responses returned
  sidecar/src/service/tracing/trace_flusher.rs
Labels: sidecar

#465 Fix bug introduced in APMSP-1020 that was not setting trace count header for msgpack requests to tracer
  trace-utils/src/send_data.rs
Labels: mini-agent
