Repository DataDog/libdatadog, pull requests merged in 2024-11, with the labels that each got.

#705 Try to fix crypto provider issues in ddcommon
  ddcommon/src/connector/mod.rs
Labels: common

#710 chore(ci): stop using macos-12 in github actions
  .github/workflows/test.yml
Labels: ci-build

#712 [APMSP-1512] Add metadata headers for stats
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

#711 [Serverless Mini Agent] Update Namespace for Span Tags from Azure Spring Apps and Google Cloud Functions v1
  trace-utils/src/trace_utils.rs
Labels: mini-agent

#667 Refactor proxy handling.
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/src/trace_flusher.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/Cargo.toml
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, sidecar, data-pipeline

#723 [Serverless Mini Agent] Bump datadog-serverless-trace-mini-agent version to 0.9.0
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

#714 Add names to memfds
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  ipc/src/platform/windows/mem_handle.rs
  sidecar-ffi/src/lib.rs
Labels: sidecar

#732 increase the volume of traces for deserialization benchmarks
  trace-utils/benches/deserialization.rs
Labels: mini-agent

#735 Add bench path to trace-obfuscation
  trace-obfuscation/Cargo.toml
Labels: mini-agent

#740 [chore] Reduce fuzz time to 30s for PRs
  .github/workflows/fuzz.yml
Labels: ci-build

#736 Deduplicate Debugger diagnostics in sidecar
  live-debugger-ffi/src/send_data.rs
  live-debugger/src/debugger_defs.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/debugger_diagnostics_bookkeeper.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

#744 Add header so we get real http status codes from the trace agent (APMSP-1418)
  trace-utils/src/send_data/mod.rs
Labels: mini-agent

#745 Improve err message
  trace-utils/src/test_utils/datadog_test_agent.rs
Labels: mini-agent

#743 Handle case where the applictaion is stopped without other telemetry sent
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

#746 Allow dynamic linking on Windows
  tests/windows_package/windows_package.vcxproj
  windows/libdatadog.csproj
  windows/libdatadog.props
Labels: ci-build

#750 [chore] Use elapsed() if possible when calculating durations
  bin_tests/src/lib.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/crash_info/telemetry.rs
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/span_concentrator/mod.rs
  ddtelemetry/examples/tm-metrics-worker-test.rs
  ddtelemetry/examples/tm-ping.rs
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/examples/tm-worker-test.rs
  ddtelemetry/src/metrics.rs
  ddtelemetry/src/worker/mod.rs
  dogstatsd/src/aggregator.rs
  sidecar/src/service/blocking.rs
  trace-mini-agent/src/stats_processor.rs
  trace-mini-agent/src/trace_processor.rs
  trace-normalization/src/normalize_utils.rs
  trace-normalization/src/normalizer.rs
Labels: telemetry, mini-agent, sidecar, data-pipeline

#751 chore: enable data-pipeline feature in shipped artifacts
  build-profiling-ffi.sh
  windows/build-artifacts.ps1
Labels: ci-build

#753 Initial move to use SendData in trace exporter (APMSP-1586)
  Cargo.lock
  data-pipeline/Cargo.toml
  data-pipeline/src/health_metrics.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

#756 fix(crashtracker) : Fix crash when sending crashinfo
  .github/workflows/test.yml
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker-ffi/src/crash_info/mod.rs
  examples/ffi/crashinfo.cpp
Labels: ci-build

#757 feat(ci) : Add crashracker label
  .github/labeler.yml
Labels: ci-build
