Repository DataDog/libdatadog, pull requests merged in 2024-03, with the labels that each got.

#285 Export crashes through telemetry
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.yml
  bin_tests/Cargo.toml
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/bin/crashtracker_receiver.rs
  bin_tests/src/bin/test_the_tests.rs
  bin_tests/src/lib.rs
  bin_tests/tests/crashtracker_bin_test.rs
  bin_tests/tests/test_the_tests.rs
  crashtracker/Cargo.toml
  crashtracker/src/crash_info.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  crashtracker/src/telemetry.rs
  ddcommon/src/lib.rs
  ddtelemetry/src/config.rs
  ddtelemetry/src/data/payloads.rs
  ddtelemetry/src/worker/builder.rs
  ddtelemetry/src/worker/mod.rs
  tools/docker/Dockerfile.build
Labels: telemetry, common

#337 [ci] Don't fail fast on gh action tests
  .github/workflows/test.yml
Labels: ci-build

#336 Use bincode for much better performance
  Cargo.lock
  ddtelemetry/src/data/payloads.rs
  ipc/Cargo.toml
  ipc/src/sequential.rs
  ipc/src/transport/mod.rs
  sidecar/Cargo.toml
  sidecar/src/interface.rs
Labels: telemetry, sidecar

#340 Add composer installed.json parsing in sidecar
  Cargo.lock
  LICENSE-3rdparty.yml
  sidecar-ffi/src/lib.rs
  sidecar/Cargo.toml
  sidecar/fixtures/installed.json
  sidecar/src/interface.rs
Labels: sidecar

#346 Ignore some PHP specific code on 32 bit, fixing CI
  sidecar/Cargo.toml
  sidecar/src/interface.rs
Labels: sidecar

#339 (profiling-ffi) Expose telemetry through profiling ffi
  Cargo.lock
  LICENSE-3rdparty.yml
  build-profiling-ffi.sh
  cmake/DatadogConfig.cmake.in
  ddtelemetry-ffi/Cargo.toml
  ddtelemetry-ffi/src/builder.rs
  ddtelemetry-ffi/src/builder/expanded.rs
  ddtelemetry-ffi/src/builder/macros.rs
  ddtelemetry-ffi/src/lib.rs
  examples/ffi/CMakeLists.txt
  examples/ffi/telemetry.c
  profiling-ffi/Cargo.toml
  profiling-ffi/src/lib.rs
  windows/build-artifacts.ps1
  windows/libdatadog.csproj
Labels: profiling, ci-build, telemetry

#292 [profiling] Forward Blazesym's symbolization APIs
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Cargo.lock
  LICENSE-3rdparty.yml
  build-common/src/cbindgen.rs
  build-common/src/lib.rs
  build-profiling-ffi.sh
  crashtracker/Cargo.toml
  ddcommon-ffi/cbindgen.toml
  examples/ffi/CMakeLists.txt
  examples/ffi/exporter.cpp
  examples/ffi/symbolizer.cpp
  profiling-ffi/Cargo.toml
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/lib.rs
  symbolizer-ffi/.cargo
  symbolizer-ffi/Cargo.toml
  symbolizer-ffi/README.md
  symbolizer-ffi/build.rs
  symbolizer-ffi/src/blazesym.h
  symbolizer-ffi/src/lib.rs
  symbolizer-ffi/src/symbolize.rs
  tools/docker/Dockerfile.build
Labels: profiling, ci-build, common

#347 Introduce `DDOG_CHARSLICE_C_BARE` and undo change to `DDOG_CHARSLICE_C` helper
  ddcommon-ffi/cbindgen.toml
  examples/ffi/exporter.cpp
  examples/ffi/telemetry_metrics.c
Labels: common

#356 [data-pipeline] Fix ffi generation and Add CI build
  .github/labeler.yml
  .github/workflows/test.yml
  Cargo.lock
  build-data-pipeline-ffi.sh
  cmake/DataPipelineConfig.cmake.in
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/cbindgen.toml
  examples/ffi/data-pipeline/CMakeLists.txt
  examples/ffi/data-pipeline/trace_exporter.c
  windows/build-artifacts.ps1
  windows/libdatadog.csproj
Labels: ci-build, data-pipeline

#351 [PROF-8917] Fix case on crashtracker ffi APIs + add Ruby helper + add example
  crashtracker/libdatadog-crashtracking-receiver.c
  crashtracker/src/README.md
  examples/ffi/CMakeLists.txt
  examples/ffi/crashtracking.c
  profiling-ffi/src/crashtracker.rs
  ruby/lib/libdatadog.rb
  ruby/spec/libdatadog_spec.rb
Labels: profiling

#359 Rename profiling-ffi Endpoint to ProfilingEndpoint/prof_Endpoint to remove confusion with ddcommon::Endpoint
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/crash_info.rs
  examples/ffi/crashtracking.c
  examples/ffi/exporter.cpp
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/crashtracker.rs
  profiling-ffi/src/exporter.rs
  profiling/src/exporter/mod.rs
Labels: profiling

#324 Validate protobuf file diffs on PRs against a fixed tag and add nightly
  .github/workflows/diff-proto-files.sh
  .github/workflows/nightly-verify-proto-files.yml
  .github/workflows/verify-proto-files.yml
Labels: ci-build

#365 Add 2 Sidecar actions to register and push metrics
  ddtelemetry/src/data/metrics.rs
  ddtelemetry/src/metrics.rs
  sidecar/src/interface.rs
Labels: telemetry, sidecar

#369 style(profiling): remove redundant imports
  profiling/src/exporter/mod.rs
  profiling/src/internal/profile.rs
  profiling/src/internal/upscaling.rs
  profiling/tests/form.rs
Labels: profiling

#370 Update protobuf files for stats for new trace root field
  .github/workflows/verify-proto-files.yml
  trace-protobuf/src/pb.rs
  trace-protobuf/src/pb/stats.proto
Labels: ci-build

#372 build: clean up profiling deps
  Cargo.lock
  LICENSE-3rdparty.yml
  profiling/Cargo.toml
Labels: profiling
