Repository DataDog/libdatadog, pull requests merged in 2024-07, with the labels that each got.

#509 [APMSP-1229] Implement new origin detection spec
  ddcommon/src/entity_id/mod.rs
  ddcommon/src/entity_id/unix/mod.rs
  ddcommon/src/lib.rs
Labels: common

#520 Complete normalization
  trace-normalization/src/normalize_utils.rs
Labels: mini-agent

#506 Use inplace normalization and add benchmark
  Cargo.lock
  tools/docker/Dockerfile.build
  trace-normalization/Cargo.toml
  trace-normalization/benches/normalization_utils.rs
  trace-normalization/src/lib.rs
  trace-normalization/src/normalize_utils.rs
  trace-normalization/src/normalizer.rs
  trace-normalization/src/utf8_helpers.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

#521 Fix sidecar logging
  sidecar/src/config.rs
Labels: sidecar

#459 Bump rustls version to 0.23
  .github/workflows/test.yml
  Cargo.lock
  LICENSE-3rdparty.yml
  ddcommon/Cargo.toml
  ddcommon/src/connector/conn_stream.rs
  ddcommon/src/connector/mod.rs
  tools/docker/Dockerfile.build
  trace-utils/Cargo.toml
  trace-utils/src/stats_utils.rs
Labels: ci-build, mini-agent, common

#516 ekump/adding-test-agent-to-trace-utils
  .github/workflows/test.yml
  Cargo.lock
  LICENSE-3rdparty.yml
  README.md
  trace-utils/Cargo.toml
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/tests/snapshots/compare_v04_trace_snapshot_test.json
  trace-utils/tests/test_send_data.rs
Labels: ci-build, mini-agent

#522 Enable all benchmarks
  alloc/Cargo.toml
  benchmark/run_benchmarks_ci.sh
  bin_tests/Cargo.toml
  build-common/Cargo.toml
  crashtracker/Cargo.toml
  data-pipeline-ffi/Cargo.toml
  data-pipeline/Cargo.toml
  ddcommon-ffi/Cargo.toml
  ddcommon/Cargo.toml
  ddsketch/Cargo.toml
  ddtelemetry-ffi/Cargo.toml
  ddtelemetry/Cargo.toml
  ipc/Cargo.toml
  ipc/benches/ipc.rs
  ipc/macros/Cargo.toml
  ipc/tarpc/plugins/Cargo.toml
  ipc/tarpc/tarpc/Cargo.toml
  profiling-ffi/Cargo.toml
  profiling-replayer/Cargo.toml
  profiling/Cargo.toml
  serverless/Cargo.toml
  sidecar-ffi/Cargo.toml
  sidecar/Cargo.toml
  sidecar/macros/Cargo.toml
  spawn_worker/Cargo.toml
  symbolizer-ffi/Cargo.toml
  tests/spawn_from_lib/Cargo.toml
  tools/Cargo.toml
  tools/cc_utils/Cargo.toml
  tools/docker/Dockerfile.build
  tools/sidecar_mockgen/Cargo.toml
  trace-mini-agent/Cargo.toml
  trace-normalization/Cargo.toml
  trace-obfuscation/Cargo.toml
  trace-obfuscation/benches/benchmarks/sql_obfuscation_bench.rs
  trace-protobuf/Cargo.toml
  trace-utils/Cargo.toml
Labels: profiling, telemetry, mini-agent, sidecar, common, data-pipeline

#526 Add action to free space during codecov stage.
  .github/workflows/coverage.yml
Labels: ci-build

#523 [Serverless Mini Agent] Use Web PKI certificates for HTTPS Connections for Serverless Mini Agent
  Cargo.lock
  LICENSE-3rdparty.yml
  ddcommon/Cargo.toml
  ddcommon/src/connector/mod.rs
  trace-utils/Cargo.toml
Labels: mini-agent, common

#527 Make flush interval in telemetry configurable via sidecar
  sidecar-ffi/src/lib.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

#531 ekump/APMSP-1279 benchmark trace exporting
  Cargo.lock
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  tools/docker/Dockerfile.build
  trace-mini-agent/src/trace_processor.rs
  trace-utils/Cargo.toml
  trace-utils/benches/deserialization.rs
  trace-utils/benches/main.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent, sidecar, data-pipeline

#518 Implement timeouts for both sending traces and telemetry.
  .github/workflows/test.yml
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/configuration.rs
  crashtracker/src/crash_info.rs
  crashtracker/src/telemetry.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon-ffi/src/endpoint.rs
  ddcommon/src/lib.rs
  ddtelemetry-ffi/src/lib.rs
  ddtelemetry/Cargo.toml
  ddtelemetry/examples/tm-metrics-worker-test.rs
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/examples/tm-worker-test.rs
  ddtelemetry/src/config.rs
  ddtelemetry/src/worker/mod.rs
  examples/ffi/exporter.cpp
  profiling-ffi/src/crashtracker/datatypes.rs
  profiling-ffi/src/exporter.rs
  profiling/src/exporter/config.rs
  profiling/src/exporter/mod.rs
  profiling/tests/form.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/src/config.rs
  sidecar/src/dogstatsd.rs
  sidecar/src/service/tracing/trace_flusher.rs
  sidecar/src/tracer.rs
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/tests/test_send_data.rs
Labels: profiling, ci-build, telemetry, mini-agent, sidecar, common, data-pipeline

#530 Make bench file not need by pecl package
  trace-normalization/Cargo.toml
Labels: mini-agent

#536 [Crashtracker] Track active spans and traces
  Cargo.lock
  LICENSE-3rdparty.yml
  crashtracker/Cargo.toml
  crashtracker/src/api.rs
  crashtracker/src/constants.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/crash_info.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  crashtracker/src/spans.rs
  crashtracker/src/telemetry.rs
  profiling-ffi/src/crashtracker/datatypes.rs
  profiling-ffi/src/crashtracker/mod.rs
  profiling-ffi/src/crashtracker/spans.rs
Labels: profiling

#543 Tel v2 schema for app-started payload requires 'configuration'
  ddtelemetry/src/data/payloads.rs
Labels: telemetry

#550 Fixes to make clippy version 1.80 happy
  crashtracker/src/receiver.rs
  ddcommon/src/tag.rs
  ddsketch/src/lib.rs
  ipc/Cargo.toml
  ipc/src/platform/mem_handle.rs
  ipc/tarpc/tarpc/src/client.rs
  ipc/tarpc/tarpc/src/serde_transport.rs
  profiling/src/collections/string_table/mod.rs
  profiling/src/collections/string_table/wordpress_test_data.rs
  profiling/src/internal/profile/mod.rs
  profiling/src/pprof/sliced_proto.rs
  sidecar-ffi/Cargo.toml
  sidecar/Cargo.toml
  sidecar/src/service/tracing/trace_flusher.rs
  spawn_worker/Cargo.toml
  tests/spawn_from_lib/tests/spawn.rs
  trace-mini-agent/src/http_utils.rs
  trace-normalization/src/normalizer.rs
Labels: profiling, mini-agent, sidecar, common

#549 [crashtracker] Use common Endpoint to further decouple from profiler
  ddcommon-ffi/src/endpoint.rs
  examples/ffi/crashtracking.c
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/crashtracker/collector/datatypes.rs
Labels: profiling, common

#548 [Serverless Mini Agent] Add _dd.mini_agent_version tag to all spans for Azure Functions, Google Cloud Functions, and Azure Spring Apps
  Cargo.lock
  serverless/src/main.rs
  trace-mini-agent/Cargo.toml
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

#555 [Serverless Mini Agent] Bump Serverless Mini Agent Version to 0.6.0
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

#558 Use the Windows User ID as sidecar identifier instead of the Session ID
  Cargo.lock
  sidecar/Cargo.toml
  sidecar/src/setup/windows.rs
  sidecar/src/windows.rs
Labels: sidecar
