Repository DataDog/libdatadog, pull requests merged in 2024-08, with the labels that each got.

#551 [crashtracker] Move FFI to its own crate
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.yml
  build-profiling-ffi.sh
  crashtracker-ffi/Cargo.toml
  crashtracker-ffi/build.rs
  crashtracker-ffi/cbindgen.toml
  crashtracker-ffi/src/collector/counters.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker-ffi/src/collector/spans.rs
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker-ffi/src/crash_info/mod.rs
  crashtracker-ffi/src/datatypes/mod.rs
  crashtracker-ffi/src/demangler/datatypes.rs
  crashtracker-ffi/src/demangler/mod.rs
  crashtracker-ffi/src/lib.rs
  crashtracker-ffi/src/receiver.rs
  crashtracker/libdatadog-crashtracking-receiver.c
  crashtracker/src/README.md
  crashtracker/src/receiver.rs
  ddcommon-ffi/Cargo.toml
  ddcommon-ffi/src/lib.rs
  ddcommon-ffi/src/option.rs
  ddcommon-ffi/src/timespec.rs
  examples/ffi/crashinfo.cpp
  examples/ffi/crashtracking.c
  profiling-ffi/Cargo.toml
  profiling-ffi/src/exporter.rs
  profiling-ffi/src/lib.rs
  profiling-ffi/src/profiles.rs
  tools/docker/Dockerfile.build
Labels: profiling, ci-build, common

#565 Support loading appsec helper in sidecar
  sidecar/src/config.rs
  sidecar/src/entry.rs
  sidecar/src/unix.rs
Labels: sidecar

#538 [profiling] add ffi for crossbeam::ArrayQueue
  .github/workflows/fuzz.yml
  Cargo.lock
  LICENSE-3rdparty.yml
  ddcommon-ffi/Cargo.toml
  ddcommon-ffi/cbindgen.toml
  ddcommon-ffi/src/array_queue.rs
  ddcommon-ffi/src/lib.rs
  examples/ffi/.gitignore
  examples/ffi/CMakeLists.txt
  examples/ffi/array_queue.cpp
Labels: ci-build, common

#572 Fix sidecar tests testing handling of closed file descriptors
  sidecar-ffi/tests/sidecar.rs
  spawn_worker/src/unix/fork.rs
Labels: sidecar

#567 [SVLS-5049] It is okay to have a stats payload without stats
  trace-mini-agent/src/stats_processor.rs
  trace-utils/src/stats_utils.rs
Labels: mini-agent

#575 [Serverless Mini Agent] bump version to 0.6.1
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

#545 Add basic decoding for v0.4 msgpack traces
  .github/workflows/fuzz.yml
  Cargo.lock
  trace-utils/Cargo.toml
  trace-utils/src/lib.rs
  trace-utils/src/msgpack_decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/msgpack_decoder/v04/error.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
  trace-utils/src/msgpack_decoder/v04/number.rs
  trace-utils/src/tracer_payload.rs
Labels: ci-build, mini-agent

#582 Normalize directly in the same String instance
  trace-normalization/src/normalize_utils.rs
Labels: mini-agent

#585 Use append() for writing telemetry lock to file
  ddtelemetry/src/worker/http_client.rs
  tools/docker/Dockerfile.build
Labels: telemetry

#578 Support x-datadog-test-session-token for parallel tests with the test agent
  ddcommon-ffi/src/endpoint.rs
  ddcommon-ffi/src/slice.rs
  ddcommon/src/lib.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/agent_remote_config.rs
  sidecar/src/config.rs
  sidecar/src/dogstatsd.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent, sidecar, common

#488 Remote configuration support
  .github/CODEOWNERS
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.yml
  ddcommon-ffi/Cargo.toml
  ddcommon-ffi/src/option.rs
  ddcommon-ffi/src/slice.rs
  dynamic-configuration/Cargo.toml
  dynamic-configuration/src/data.rs
  dynamic-configuration/src/lib.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  remote-config/Cargo.toml
  remote-config/examples/remote_config_fetch.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/mod.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/shared.rs
  remote-config/src/fetch/single.rs
  remote-config/src/fetch/test_server.rs
  remote-config/src/file_change_tracker.rs
  remote-config/src/file_storage.rs
  remote-config/src/lib.rs
  remote-config/src/parse.rs
  remote-config/src/path.rs
  remote-config/src/targets.rs
  sidecar-ffi/Cargo.toml
  sidecar-ffi/cbindgen.toml
  sidecar-ffi/src/lib.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/Cargo.toml
  sidecar/src/entry.rs
  sidecar/src/lib.rs
  sidecar/src/one_way_shared_memory.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/remote_configs.rs
  sidecar/src/service/runtime_info.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/service/telemetry/mod.rs
  sidecar/src/shm_remote_config.rs
  tools/docker/Dockerfile.build
  trace-protobuf/build.rs
  trace-protobuf/src/lib.rs
  trace-protobuf/src/pb/remoteconfig.proto
  trace-protobuf/src/remoteconfig.rs
  trace-protobuf/src/serde.rs
  trace-utils/Cargo.toml
Labels: ci-build, mini-agent, sidecar, common

#535 Init CrashTracker support in the sidecar
  Cargo.lock
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/bin/crashtracker_unix_socket_receiver.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker-ffi/src/receiver.rs
  crashtracker/CMakeLists.txt
  crashtracker/Cargo.toml
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/telemetry.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  sidecar-ffi/src/lib.rs
  sidecar/Cargo.toml
  sidecar/src/crashtracker.rs
  sidecar/src/entry.rs
  sidecar/src/lib.rs
Labels: sidecar

#594 Allow using abstract namespace for crashtracker unix socket
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/receiver.rs
  sidecar/src/crashtracker.rs
  sidecar/src/setup/unix.rs
Labels: sidecar

#600 Only run one proptest case when using miri
  .github/workflows/miri.yml
Labels: ci-build

#601 Improve miri job runtime
  ddcommon/src/entity_id/unix/container_id.rs
  ddcommon/src/entity_id/unix/mod.rs
Labels: common

#602 Fix log file and disable LSAN usage in sidecar
  sidecar/src/entry.rs
  spawn_worker/src/unix/spawn.rs
Labels: sidecar
