Repository DataDog/libdatadog, pull requests merged in 2024-04, with the labels that each got.

#343 [crashtracker] FFI Api for CrashInfo
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/libdatadog-crashtracking-receiver.c
  crashtracker/src/api.rs
  crashtracker/src/collectors.rs
  crashtracker/src/configuration.rs
  crashtracker/src/counters.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/crash_info.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  crashtracker/src/stacktrace.rs
  crashtracker/src/telemetry.rs
  ddcommon-ffi/src/option.rs
  examples/ffi/CMakeLists.txt
  examples/ffi/crashinfo.cpp
  examples/ffi/crashtracking.c
  profiling-ffi/src/crashtracker.rs
  profiling-ffi/src/crashtracker/collector.rs
  profiling-ffi/src/crashtracker/counters.rs
  profiling-ffi/src/crashtracker/crash_info.rs
  profiling-ffi/src/crashtracker/datatypes.rs
  profiling-ffi/src/crashtracker/mod.rs
  profiling-ffi/src/exporter.rs
  profiling-ffi/src/lib.rs
  profiling/src/exporter/config.rs
Labels: profiling, common

#378 [crashtracker] Add demangler to FFI interface
  Cargo.lock
  LICENSE-3rdparty.yml
  ddcommon-ffi/src/lib.rs
  ddcommon-ffi/src/string.rs
  profiling-ffi/Cargo.toml
  profiling-ffi/src/crashtracker/datatypes.rs
  profiling-ffi/src/crashtracker/demangler.rs
  profiling-ffi/src/crashtracker/mod.rs
Labels: profiling, common

#376 Use Cargo.lock file as part of the CI cache hash
  .github/actions/cache/action.yaml
Labels: ci-build

#380 Remove unused tools cache to make more space for cross
  .github/workflows/test.yml
Labels: ci-build

#368 Initial code and CI for trace data pipeline
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.yml
  build-profiling-ffi.sh
  cmake/DataPipelineConfig.cmake.in
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/build.rs
  data-pipeline-ffi/cbindgen.toml
  data-pipeline-ffi/src/lib.rs
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/Cargo.toml
  data-pipeline/README.md
  data-pipeline/src/lib.rs
  data-pipeline/src/trace_exporter.rs
  examples/ffi/CMakeLists.txt
  examples/ffi/trace_exporter.c
  profiling-ffi/Cargo.toml
  profiling-ffi/src/lib.rs
  tools/docker/Dockerfile.build
  windows/build-artifacts.ps1
Labels: profiling, ci-build, data-pipeline

#379 [profiling] Refactor FFI implementation to simplify error handling
  profiling-ffi/src/profiles.rs
  profiling-replayer/src/main.rs
  profiling/src/internal/profile.rs
Labels: profiling

#387 [crashtracking] Add set_timestamp API
  crashtracker/src/crash_info.rs
  examples/ffi/crashinfo.cpp
  profiling-ffi/src/crashtracker/crash_info.rs
Labels: profiling

#377 [crashtracker] Set CODEOWNERS
  .github/CODEOWNERS
Labels: ci-build

#391 Fix leaking metrics in the sidecar
  ddtelemetry/src/config.rs
  ddtelemetry/src/worker/builder.rs
  ddtelemetry/src/worker/mod.rs
  ddtelemetry/src/worker/scheduler.rs
  sidecar/src/interface.rs
Labels: telemetry, sidecar

#384 bump MSRV to 1.71
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.yml
  ddtelemetry/src/worker/store.rs
Labels: ci-build, telemetry

#392 Add stats reporting for sidecar and telemetry
  ddtelemetry/src/metrics.rs
  ddtelemetry/src/worker/mod.rs
  ddtelemetry/src/worker/store.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/agent_remote_config.rs
  sidecar/src/interface.rs
  sidecar/src/log.rs
  sidecar/src/one_way_shared_memory.rs
Labels: telemetry, sidecar

#393 Make verify timeout test in datadog-trace-mini-agent trigger timeout
  .github/workflows/test.yml
  serverless/src/main.rs
  trace-mini-agent/src/env_verifier.rs
Labels: ci-build, mini-agent

#388 Minor adjustments to the data-pipeline/TraceExporter
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

#396 Move MaybeError from ddtelemetry-ffi to ddcommon-ffi
  ddcommon-ffi/src/error.rs
  ddtelemetry-ffi/src/builder.rs
  ddtelemetry-ffi/src/builder/expanded.rs
  ddtelemetry-ffi/src/lib.rs
  ddtelemetry-ffi/src/worker_handle.rs
  examples/ffi/telemetry.c
  examples/ffi/telemetry_metrics.c
  sidecar-ffi/src/lib.rs
  sidecar-ffi/tests/sidecar.rs
Labels: telemetry, sidecar, common

#389 [crashtracker] Add `args` and `env` parameters to the receiver
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/configuration.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/lib.rs
  crashtracker/src/telemetry.rs
  examples/ffi/crashtracking.c
  profiling-ffi/src/crashtracker/collector.rs
  profiling-ffi/src/crashtracker/datatypes.rs
Labels: profiling

#401 [crashtracker] Simplify the stack collection options
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/collectors.rs
  crashtracker/src/configuration.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  crashtracker/src/telemetry.rs
  examples/ffi/crashtracking.c
  profiling-ffi/src/crashtracker/datatypes.rs
Labels: profiling
