Repository DataDog/libdatadog, pull requests merged in 2024-02, with the labels that each got.

#298 build: bump prost and indexmap versions
  .github/workflows/lint.yml
  Cargo.lock
  LICENSE-3rdparty.yml
  ddcommon/Cargo.toml
  profiling-replayer/Cargo.toml
  profiling/Cargo.toml
Labels: profiling, ci-build, common

#304 Update protobuf files for span links to avoid failure comments
  trace-normalization/src/normalizer.rs
  trace-obfuscation/benches/replace_trace_tags_bench.rs
  trace-obfuscation/src/replacer.rs
  trace-protobuf/build.rs
  trace-protobuf/src/pb.rs
  trace-protobuf/src/pb/span.proto
  trace-utils/src/trace_test_utils.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

#307 style: fix clippy::ineffective-open-options
  sidecar/src/log.rs
  sidecar/src/unix.rs
Labels: sidecar

#293 [PROF-8967] Reduce memory footprint and allocations for profiling timeline data
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/internal/label.rs
  profiling/src/internal/observation/mod.rs
  profiling/src/internal/observation/observations.rs
  profiling/src/internal/observation/timestamped_observations.rs
  profiling/src/internal/observation/trimmed_observation.rs
  profiling/src/internal/profile.rs
  profiling/src/internal/stack_trace.rs
Labels: profiling

#303 perf: less mem per entry in the string table
  profiling/src/internal/profile.rs
  profiling/src/pprof/sliced_proto.rs
  profiling/src/serializer/compressed_streaming_encoder.rs
Labels: profiling

#314 Minor CI fix - build telemetry ffi
  .github/workflows/test.yml
Labels: ci-build

#315 CI fix - No space left
  .github/workflows/test.yml
Labels: ci-build

#316 Optimize data which gets cached between runs
  .github/actions/cache/action.yaml
Labels: ci-build

#320 [ddtelemetry] Add distirbution metrics
  Cargo.toml
  ddtelemetry/examples/tm-worker-test.rs
  ddtelemetry/src/data/metrics.rs
  ddtelemetry/src/data/payload.rs
  ddtelemetry/src/data/payloads.rs
  ddtelemetry/src/metrics.rs
  ddtelemetry/src/worker/mod.rs
Labels: telemetry

#321 3rd party license check
  .github/workflows/lint.yml
Labels: ci-build

#296 Metrics sidecar shutdown
  Cargo.lock
  LICENSE-3rdparty.yml
  ipc/src/platform/windows/channel/metadata.rs
  ipc/src/platform/windows/mem_handle.rs
  sidecar/Cargo.toml
  sidecar/src/entry.rs
  sidecar/src/lib.rs
  sidecar/src/self_telemetry.rs
  sidecar/src/setup/windows.rs
  sidecar/src/watchdog.rs
  spawn_worker/src/trampoline.c
  spawn_worker/src/win32.rs
  spawn_worker/tests/trampoline_windows.rs
Labels: sidecar

#322 [ddtelemetry][fix] Send configuration list even if it's empty
  ddtelemetry/src/data/payloads.rs
Labels: telemetry

#297 [crashtracker] Enable dynamic updating of metadata and config at runtime
  crashtracker/src/api.rs
  crashtracker/src/constants.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/crash_info.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  profiling-ffi/src/crashtracker.rs
Labels: profiling

#326 Allow the sidecar to spawn, even if the log file could not be opened
  sidecar/src/entry.rs
Labels: sidecar

#333 Hide FFI cbindgen behind a feature flag
  build-common/Cargo.toml
  build-common/src/cbindgen.rs
  build-common/src/lib.rs
  ddcommon-ffi/Cargo.toml
  ddtelemetry-ffi/Cargo.toml
  profiling-ffi/Cargo.toml
  sidecar-ffi/Cargo.toml
Labels: profiling, telemetry, sidecar, common

#335 [Crashtracker] Make crashtracker more resilient to failing signal handlers
  crashtracker/src/api.rs
  crashtracker/src/collectors.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/crash_info.rs
  crashtracker/src/receiver.rs
  profiling-ffi/src/crashtracker.rs
Labels: profiling
