Repository DataDog/libdatadog, pull requests merged in 2024-06, with the labels that each got.

#467 Add explicit synchronous flush capability to sidecar
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/service/tracing/trace_flusher.rs
  sidecar/src/service/tracing/trace_send_data.rs
Labels: sidecar

#463 [Serverless Mini Agent] Add Azure App Service Span Tags
  ddcommon/src/azure_app_services.rs
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/trace_utils.rs
Labels: serverless, mini-agent, common

#468 [Serverless Mini Agent] Bump Serverless Mini Agent Version to 0.4.0
  Cargo.lock
  trace-mini-agent/Cargo.toml
Labels: serverless, mini-agent

#461 move trace_util test helpers behind a feature flag
  LICENSE-3rdparty.yml
  sidecar/Cargo.toml
  sidecar/src/service/tracing/trace_flusher.rs
  trace-mini-agent/Cargo.toml
  trace-mini-agent/src/trace_processor.rs
  trace-obfuscation/src/obfuscate.rs
  trace-utils/Cargo.toml
  trace-utils/src/lib.rs
  trace-utils/src/send_data.rs
  trace-utils/src/test_utils.rs
  trace-utils/src/trace_test_utils.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent, sidecar

#420 [crashtracker] Enable collecting to a UNIX socket
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/bin/crashtracker_receiver.rs
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker/libdatadog-crashtracking-receiver.c
  crashtracker/src/api.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  examples/ffi/crashtracking.c
  profiling-ffi/src/crashtracker/collector.rs
Labels: profiling

#469 Spawn one sidecar per user
  ipc/Cargo.toml
  ipc/src/platform/mem_handle.rs
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  ipc/src/platform/unix/mod.rs
  ipc/src/platform/windows/channel/metadata.rs
  ipc/src/platform/windows/mem_handle.rs
  sidecar/src/agent_remote_config.rs
  sidecar/src/setup/unix.rs
  sidecar/src/setup/windows.rs
  sidecar/src/unix.rs
  sidecar/src/windows.rs
Labels: sidecar

#474 Fix Windows signature compatibility in entity_id functions
  ddcommon/src/entity_id/fallback.rs
Labels: common

#475 Skip normalization & obfuscation and coalesce instead
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/Cargo.toml
  trace-utils/src/trace_utils.rs
Labels: mini-agent, sidecar, data-pipeline

#476 Fix the wrong thing being not normalized
  trace-utils/src/trace_utils.rs
Labels: mini-agent

#477 [crashtracker] Add a 'wait_for_receiver' param, and use it in both the stdin and unix socket cases
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/configuration.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/receiver.rs
  crashtracker/src/telemetry.rs
  profiling-ffi/src/crashtracker/datatypes.rs
Labels: profiling

#478 style: avoid redundant imports
  crashtracker/src/receiver.rs
  ipc/src/sequential.rs
  ipc/tarpc/tarpc/src/client.rs
  ipc/tarpc/tarpc/src/context.rs
  ipc/tarpc/tarpc/src/server.rs
  ipc/tarpc/tarpc/src/server/limits/channels_per_key.rs
  ipc/tarpc/tarpc/src/trace.rs
  profiling-ffi/src/profiles.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/serialized_tracer_header_tags.rs
Labels: profiling, sidecar

#480 Update protobuf files for stats for new trilean type
  .github/workflows/verify-proto-files.yml
  trace-protobuf/src/pb.rs
  trace-protobuf/src/pb/stats.proto
Labels: ci-build

#449 [profiling] Fuzz profiler API
  profiling/src/api.rs
  profiling/src/internal/endpoint_stats.rs
  profiling/src/internal/mod.rs
  profiling/src/internal/owned_types.rs
  profiling/src/internal/owned_types/mod.rs
  profiling/src/internal/profile/fuzz_tests.rs
  profiling/src/internal/profile/mod.rs
  profiling/src/pprof/proto.rs
Labels: profiling

#471 ekump/APMSP-1076 break up trace utils send data file
  sidecar/src/service/tracing/trace_flusher.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/send_data/retry_strategy.rs
  trace-utils/src/send_data/send_data_result.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent, sidecar

#482 Refactor to reduce signature errors risks
  ddcommon/src/entity_id/fallback.rs
  ddcommon/src/entity_id/mod.rs
Labels: common

#485 Run clippy on windows in CI
  .github/workflows/lint.yml
  profiling-ffi/src/lib.rs
  spawn_worker/src/win32.rs
Labels: profiling, ci-build

#489 [profiling] Turn off slow fuzz tests for miri
  profiling/src/internal/profile/fuzz_tests.rs
Labels: profiling, ci-build

#473 [crashtracker] Take relative address and build id for remote symbolication
  crashtracker/src/crash_info.rs
  crashtracker/src/lib.rs
  crashtracker/src/stacktrace.rs
  profiling-ffi/src/crashtracker/crash_info.rs
  profiling-ffi/src/crashtracker/datatypes.rs
Labels: profiling

#495 Remove unnecessary TODO comment from trace_utils.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

#490 [chore] Require all checks to pass on a PR
  .github/workflows/all-checks.yml
  profiling/src/internal/profile/fuzz_tests.rs
Labels: profiling, ci-build

#496 [chore] Add actionlint to CI, and fix issues it detects
  .github/workflows/lint.yml
  .github/workflows/publish-serverless-agent.yml
Labels: ci-build

#493 [Serverless Mini Agent] Add Default Values for peer_tags and is_trace_root when Generating Trace Metrics
  Cargo.lock
  trace-protobuf/Cargo.toml
  trace-protobuf/build.rs
  trace-protobuf/src/pb.rs
  trace-utils/src/stats_utils.rs
Labels: serverless, mini-agent

#502 [Serverless Mini Agent] Bump Serverless Mini Agent Version to 0.4.2
  Cargo.lock
  trace-mini-agent/Cargo.toml
Labels: mini-agent

#491 Add support for sending v0.4 traces.
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/tracer.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/lib.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent, sidecar, data-pipeline

#268 [ddtelemetry] Support metric distributions with ddsketch
  .github/CODEOWNERS
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.yml
  ddsketch/Cargo.toml
  ddsketch/build.rs
  ddsketch/src/lib.rs
  ddsketch/src/pb.rs
  ddsketch/src/pb/DDSketch.proto
  ddtelemetry/Cargo.toml
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/src/data/metrics.rs
  ddtelemetry/src/data/payload.rs
  ddtelemetry/src/data/payloads.rs
  ddtelemetry/src/metrics.rs
  ddtelemetry/src/worker/mod.rs
  rustfmt.toml
  sidecar/src/self_telemetry.rs
  tools/docker/Dockerfile.build
Labels: ci-build, telemetry, sidecar

#505 Support v0.5 trace endpoint
  Cargo.lock
  LICENSE-3rdparty.yml
  trace-mini-agent/src/env_verifier.rs
  trace-utils/Cargo.toml
  trace-utils/src/config_utils.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

#504 [Serverless Mini Agent] Update Azure Resource Group Regex to Account for Windows
  ddcommon/src/azure_app_services.rs
Labels: common

#513 Add option to skip checks when building profiling
  build-profiling-ffi.sh
Labels: ci-build
