Repository DataDog/libdatadog, pull requests merged in 2024-09, with the labels that each got.

#560 Provide a common atomic Rate Limiter implementation
  .github/workflows/lint.yml
  Cargo.lock
  LICENSE-3rdparty.yml
  ddcommon/Cargo.toml
  ddcommon/src/lib.rs
  ddcommon/src/rate_limiter.rs
  ipc/Cargo.toml
  ipc/src/lib.rs
  ipc/src/platform/mem_handle.rs
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  ipc/src/platform/windows/mem_handle.rs
  ipc/src/rate_limiter.rs
  sidecar/src/one_way_shared_memory.rs
Labels: ci-build, sidecar, common

#603 Add benchmark for SpanConcentrator
  Cargo.lock
  data-pipeline/Cargo.toml
  data-pipeline/benches/main.rs
  data-pipeline/benches/span_concentrator_bench.rs
  data-pipeline/src/lib.rs
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
Labels: data-pipeline

#586 Add build system infrastructure.
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.yml
  README.md
  build-common/src/cbindgen.rs
  builder/Cargo.toml
  builder/build/arch/apple.rs
  builder/build/arch/linux.rs
  builder/build/arch/mod.rs
  builder/build/arch/musl.rs
  builder/build/arch/windows.rs
  builder/build/common.rs
  builder/build/crashtracker.rs
  builder/build/data_pipeline.rs
  builder/build/main.rs
  builder/build/module.rs
  builder/build/profiling.rs
  builder/build/symbolizer.rs
  builder/src/bin/dummy.rs
  crashtracker/CMakeLists.txt
  tools/docker/Dockerfile.build
  tools/src/bin/dedup_headers.rs
  tools/src/lib.rs
Labels: ci-build

#610 improve assert failure message for send_data retry tests and increase tolerance for time measurements
  trace-utils/src/send_data/retry_strategy.rs
Labels: mini-agent

#604 Add defensive ddcommon_ffi checks for Slice
  ddcommon-ffi/src/slice.rs
Labels: common

#612 Upgrade to Rust 1.76.0
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/verify-proto-files.yml
  Cargo.toml
  README.md
  crashtracker-ffi/src/collector/spans.rs
  tools/docker/Dockerfile.build
Labels: ci-build

#614 Require docs on all public things in data-pipeline
  data-pipeline/src/lib.rs
  data-pipeline/src/trace_exporter.rs
Labels: data-pipeline

#613 [Profiling/Build] Add crashtracking feature for windows (event it's not ready yet)
  .github/workflows/test.yml
  windows/build-artifacts.ps1
  windows/libdatadog.csproj
Labels: ci-build

#624 Fix CI failure: update `libdatadog_profiling.so` `SONAME`
  .github/workflows/test.yml
  builder/build/arch/apple.rs
  builder/build/arch/linux.rs
  builder/build/arch/musl.rs
  builder/build/arch/windows.rs
  builder/build/profiling.rs
Labels: ci-build

#626 [Gitlab] Fix build in Gitlab
  build-profiling-ffi.sh
Labels: ci-build

#628 Fix SONAME for artifact produced in Gitlab
  build-profiling-ffi.sh
Labels: ci-build

#616 [Serverless Mini Agent] Use DogStatsD in Serverless
  Cargo.lock
  serverless/Cargo.toml
  serverless/src/main.rs
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/mini_agent.rs
  trace-mini-agent/src/trace_processor.rs
Labels: mini-agent

#623 Bump datadog-serverless-trace-mini-agent version to 0.7.0
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

#631 feat: Support DD_HTTP_PROXY and DD_HTTPS_PROXY
  dogstatsd/src/datadog.rs
  dogstatsd/src/flusher.rs
  dogstatsd/tests/integration_test.rs
  serverless/src/main.rs
Labels: mini-agent

#630 [Serverless Mini Agent] Install Protoc for Serverless Release
  .github/workflows/publish-serverless-agent.yml
Labels: ci-build

#633 [Serverless Mini Agent] Bump datadog-serverless-trace-mini-agent version to 0.7.1
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

#634 [Serverless Mini Agent] Upload Serverless Binaries Instead of Generating Release
  .github/workflows/publish-serverless-agent.yml
Labels: ci-build

#635 [Serverless Mini Agent] Bump datadog-serverless-trace-mini-agent version to 0.7.2
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

#642 Fix leaking sessions
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

#646 Fix token cancellation flakiness
  data-pipeline/src/stats_exporter.rs
Labels: data-pipeline

#648 Julio/test codecov
  .codecov.yml
Labels: sidecar, data-pipeline

#647 Implement deadlock watchdog for sidecar
  sidecar/src/watchdog.rs
Labels: sidecar

#653 Increase test delay
  data-pipeline/src/agent_info/fetcher.rs
Labels: data-pipeline
