Repository DataDog/libdatadog, pull requests merged in 2025-08, with the labels that each got.

#1169 Add sidecar transport reconnect functionality
  datadog-ipc-macros/src/lib.rs
  datadog-ipc/benches/ipc.rs
  datadog-ipc/src/handles.rs
  datadog-ipc/src/platform/channel/metadata.rs
  datadog-ipc/src/platform/mem_handle.rs
  datadog-ipc/src/platform/message.rs
  datadog-ipc/src/platform/platform_handle.rs
  datadog-ipc/src/platform/unix/channel/metadata.rs
  datadog-ipc/src/platform/windows/channel/metadata.rs
  datadog-ipc/src/transport/blocking.rs
  datadog-ipc/tests/blocking_client.rs
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/config.rs
  datadog-sidecar/src/service/blocking.rs
Labels: sidecar, mergequeue-status: in_progress

#1165 Add FFI functions to push the stack to the debugger snapshot
  datadog-live-debugger-ffi/src/send_data.rs
  datadog-live-debugger/src/debugger_defs.rs
Labels: mergequeue-status: in_progress

#1150 [PROFILING] comment update: ensure start time is mentioned as optional
  datadog-profiling-ffi/src/profiles/datatypes.rs
Labels: profiling, mergequeue-status: in_progress

#1172 Fix in-process submission of telemetry
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
Labels: sidecar, mergequeue-status: in_progress

#1171 Remove rates payload versioning API.
  data-pipeline-ffi/src/trace_exporter.rs
Labels: data-pipeline, mergequeue-status: in_progress

#1170 Return agent response length.
  data-pipeline-ffi/src/response.rs
  data-pipeline-ffi/src/trace_exporter.rs
Labels: data-pipeline, mergequeue-status: in_progress

#1173 Bump version to 20.0.0
  Cargo.lock
  Cargo.toml
Labels: mergequeue-status: in_progress

#1177 feat: Move error log to debug when no root span exists in a batch
  datadog-trace-utils/src/trace_utils.rs
Labels: mini-agent, mergequeue-status: in_progress

#1178 add mergegate rule to require codeowner approval for data pipeline owned crates
  repository.datadog.yml
Labels: mergequeue-status: in_progress

#1185 re-export ddcommon-ffi types correctly in ddsketch-ffi
  ddsketch-ffi/cbindgen.toml
  examples/ffi/ddsketch.c
Labels: mergequeue-status: in_progress

#1193 Increase retries from 30 to 45 in all-checks.yml
  .github/workflows/all-checks.yml
Labels: ci-build, mergequeue-status: in_progress

#1194 feat(datadog-test-agent): add a method to set the remote config response
  datadog-trace-utils/src/test_utils/datadog_test_agent.rs
  datadog-trace-utils/tests/test_send_data.rs
Labels: mini-agent, mergequeue-status: in_progress
