Repository DataDog/libdatadog, pull requests merged in 2025-01, with the labels that each got.

#813 Fix generated cbindgen compilation for crashtracker FFI
  crashtracker-ffi/src/crash_info/sig_info.rs
Labels: crashtracker

#810 [Crashtracking] Add missing telemetry headers
  crashtracker/src/crash_info/telemetry.rs
  crashtracker/src/rfc5_crash_info/telemetry.rs
Labels: crashtracker

#818 [crashtracker] Refactor receiver code into seperate files.
  crashtracker/src/receiver/entry_points.rs
  crashtracker/src/receiver/mod.rs
  crashtracker/src/receiver/receive_report.rs
Labels: crashtracker

#819 [crashtracker] Add incomplete flag to stack traces
  crashtracker-ffi/src/crash_info/stacktrace.rs
  crashtracker/src/rfc5_crash_info/builder.rs
  crashtracker/src/rfc5_crash_info/stacktrace.rs
  docs/RFCs/0006-crashtraker-incomplete-stacktraces.md
  docs/RFCs/artifacts/0006-crashtracker-schema.json
  examples/ffi/crashinfo.cpp
Labels: crashtracker

#831 Fix RC shmem synchronization protocol
  sidecar/src/one_way_shared_memory.rs
Labels: sidecar

#832 Prepare 15.0.0 release
  Cargo.lock
  Cargo.toml
  build-profiling-ffi.sh
Labels: ci-build

#830 Rename Mini Agent Version tag to Serverless Compat Version
  serverless/src/main.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

#834 [crashtracker] Receiver speaks RFC5
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker-ffi/src/crash_info/builder.rs
  crashtracker-ffi/src/crash_info/metadata.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/counters.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/collector/spans.rs
  crashtracker/src/receiver/entry_points.rs
  crashtracker/src/receiver/mod.rs
  crashtracker/src/receiver/receive_report.rs
  crashtracker/src/rfc5_crash_info/builder.rs
  crashtracker/src/rfc5_crash_info/metadata.rs
  crashtracker/src/rfc5_crash_info/sig_info.rs
  crashtracker/src/rfc5_crash_info/telemetry.rs
Labels: crashtracker

#836 [crashtracker] Remove the old dataformat
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker-ffi/src/crash_info/api.rs
  crashtracker-ffi/src/crash_info/builder.rs
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker-ffi/src/crash_info/metadata.rs
  crashtracker-ffi/src/crash_info/mod.rs
  crashtracker-ffi/src/crash_info/os_info.rs
  crashtracker-ffi/src/crash_info/proc_info.rs
  crashtracker-ffi/src/crash_info/sig_info.rs
  crashtracker-ffi/src/crash_info/span.rs
  crashtracker-ffi/src/crash_info/stackframe.rs
  crashtracker-ffi/src/crash_info/stacktrace.rs
  crashtracker-ffi/src/crash_info/thread_data.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/crash_info/builder.rs
  crashtracker/src/crash_info/error_data.rs
  crashtracker/src/crash_info/metadata.rs
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/os_info.rs
  crashtracker/src/crash_info/proc_info.rs
  crashtracker/src/crash_info/sig_info.rs
  crashtracker/src/crash_info/spans.rs
  crashtracker/src/crash_info/stacktrace.rs
  crashtracker/src/crash_info/telemetry.rs
  crashtracker/src/crash_info/test_utils.rs
  crashtracker/src/crash_info/unknown_value.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver/entry_points.rs
  crashtracker/src/receiver/mod.rs
  crashtracker/src/receiver/receive_report.rs
  crashtracker/src/rfc5_crash_info/metadata.rs
  crashtracker/src/rfc5_crash_info/mod.rs
  crashtracker/src/rfc5_crash_info/stacktrace.rs
  crashtracker/src/rfc5_crash_info/telemetry.rs
Labels: crashtracker

#785 Add build instructions for examples/ffi
  examples/ffi/README.md
Labels: documentation

#841 [crashtracker] Add experimental field to the crash-report, and use it to report ucontext
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/crash_info/builder.rs
  crashtracker/src/crash_info/experimental.rs
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/telemetry.rs
  crashtracker/src/receiver/receive_report.rs
  crashtracker/src/shared/constants.rs
  docs/RFCs/0007-crashtracker-experimental-features.md
  docs/RFCs/artifacts/0007-crashtracker-schema.json
Labels: crashtracker

#843 Add integration test to send_data to cover UDS transport with agent
  Cargo.lock
  data-pipeline/tests/test_fetch_info.rs
  trace-utils/Cargo.toml
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, data-pipeline
