Repository DataDog/libdatadog, pull requests merged in 2025-07, with the labels that each got.

#1125 fix: typos in ddtelemetry and data-pipeline
  data-pipeline-ffi/src/error.rs
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/src/agent_info/fetcher.rs
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/span_concentrator/tests.rs
  data-pipeline/src/telemetry/metrics.rs
  data-pipeline/src/trace_exporter/mod.rs
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/telemetry/enqueued_telemetry_data.rs
  ddtelemetry/src/config.rs
  ddtelemetry/src/metrics.rs
  ddtelemetry/src/worker/mod.rs
  ddtelemetry/src/worker/store.rs
Labels: telemetry, sidecar, data-pipeline, mergequeue-status: in_progress

#1127 [crashtracker] Generate and Set `error.message` field
  bin_tests/tests/crashtracker_bin_test.rs
  datadog-crashtracker-ffi/src/crash_info/builder.rs
  datadog-crashtracker/src/receiver/receive_report.rs
Labels: crashtracker

#1123 [crashtracker] Cache ElfResolver instances
  datadog-crashtracker/src/crash_info/error_data.rs
  datadog-crashtracker/src/crash_info/stacktrace.rs
Labels: mergequeue-status: rejected, crashtracker

#1129 fix span even deserialization to match test agent changes
  data-pipeline/tests/snapshots/compare_exporter_v04_trace_snapshot_test.json
  data-pipeline/tests/snapshots/compare_exporter_v04_trace_snapshot_uds_test.json
  data-pipeline/tests/test_trace_exporter.rs
  datadog-trace-utils/src/msgpack_decoder/decode/span_event.rs
  datadog-trace-utils/src/span/mod.rs
  datadog-trace-utils/tests/snapshots/compare_send_data_v04_trace_snapshot_test.json
  datadog-trace-utils/tests/snapshots/compare_send_data_v04_trace_snapshot_uds_test.json
  datadog-trace-utils/tests/test_send_data.rs
Labels: mini-agent, data-pipeline, mergequeue-status: in_progress

#1134 Implement set_target for SendData
  datadog-trace-utils/src/send_data/mod.rs
Labels: mini-agent

#1137 feat(data-pipeline): Add getter for RequestError message
  data-pipeline/src/trace_exporter/error.rs
Labels: data-pipeline, mergequeue-status: in_progress

#1136 Add function to enable/disable rates payload versioning.
  data-pipeline-ffi/src/trace_exporter.rs
Labels: data-pipeline, mergequeue-status: in_progress

#1139 Implement `with_endpoint` for `SendData`
  datadog-trace-utils/src/send_data/mod.rs
  datadog-trace-utils/src/send_with_retry/retry_strategy.rs
Labels: mini-agent

#1144 fix(ddcommon): fix build on i686
  ddcommon/src/unix_utils/fork.rs
Labels: common, mergequeue-status: in_progress

#1145 Bump version in preparation for releasing v19.1.0
  Cargo.lock
  Cargo.toml
Labels: mergequeue-status: in_progress

#1143 ekump/APMSP-2155 create metrics module for exporter
  data-pipeline/src/trace_exporter/metrics.rs
  data-pipeline/src/trace_exporter/mod.rs
Labels: data-pipeline, mergequeue-status: in_progress

#1140 Add functions to SendDataBuilder
  datadog-trace-utils/src/send_data/mod.rs
Labels: mini-agent, mergequeue-status: in_progress

#1149 fix(datadog-trace-utils): [SVLS-7218] don't hardcode span type on all spans to serverless
  datadog-trace-utils/src/span/trace_utils.rs
  datadog-trace-utils/src/test_utils/mod.rs
  datadog-trace-utils/src/trace_utils.rs
Labels: mini-agent, mergequeue-status: in_progress

#1152 Replace DevFlow stale branch auto-closer with MergeGate rule
  repository.datadog.yml
Labels: mergequeue-status: in_progress

#1153 [NO-TICKET] Fix failing "Ruby gem scaffolding" CI
  ruby/gems.rb
  ruby/spec/libdatadog_spec.rb
  ruby/spec/spec_helper.rb
Labels: mergequeue-status: in_progress

#1157 Fix ddog_free_charslice: CharSlice is not a CString
  datadog-sidecar-ffi/src/span.rs
Labels: sidecar, mergequeue-status: in_progress

#1156 APMSP-2173 Make enabling health metrics configurable for the Trace Exporter
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/src/health_metrics.rs
  data-pipeline/src/trace_exporter/builder.rs
  data-pipeline/src/trace_exporter/mod.rs
Labels: data-pipeline, mergequeue-status: in_progress

#1159 refacto(trace-utils): refacto comments
  datadog-trace-utils/src/trace_utils.rs
Labels: mini-agent, mergequeue-status: in_progress

#1160 move trace exporter stats related functions to separate module
  data-pipeline/src/trace_exporter/mod.rs
  data-pipeline/src/trace_exporter/stats.rs
Labels: data-pipeline, mergequeue-status: in_progress

#1164 ekump/APMSP-2185 extract transport module for trace exporter
  data-pipeline/src/trace_exporter/mod.rs
  data-pipeline/src/trace_exporter/transport.rs
Labels: data-pipeline, mergequeue-status: in_progress

#1167 feat: Move error log to debug when multiple root spans may exist in a batch
  datadog-trace-utils/src/trace_utils.rs
Labels: mini-agent, mergequeue-status: in_progress
