Repository DataDog/libdatadog, pull requests merged in 2025-05, with the labels that each got.

#987 [PROF-11524] Minor tweak: Set profile `start_time` after resetting
  datadog-profiling-ffi/src/profiles/datatypes.rs
Labels: profiling

#1047 APMSP-1969 fix dropped trace payloads for the sidecar
  datadog-sidecar/src/service/tracing/trace_flusher.rs
  datadog-trace-utils/src/test_utils/mod.rs
  datadog-trace-utils/src/trace_utils.rs
Labels: mini-agent, sidecar

#992 feat(data-pipeline): expose API to send spans without going through deserialization
  data-pipeline/Cargo.toml
  data-pipeline/src/trace_exporter/mod.rs
  data-pipeline/tests/test_fetch_info.rs
  data-pipeline/tests/test_trace_exporter.rs
  datadog-trace-utils/src/span/mod.rs
  datadog-trace-utils/src/span/trace_utils.rs
  datadog-trace-utils/src/test_utils/datadog_test_agent.rs
  datadog-trace-utils/tests/test_send_data.rs
  tinybytes/src/bytes_string.rs
  tinybytes/src/lib.rs
Labels: mini-agent, data-pipeline

#1048 fix(crashtracker) Cache virtual memory address to speed up normalization
  datadog-crashtracker/src/crash_info/error_data.rs
Labels: crashtracker

#1052 feat: add client_computed_stats to TraceExporterConfig and expose API to set it
  data-pipeline-ffi/src/trace_exporter.rs
Labels: data-pipeline

#1063 style: fix lints from Rust 1.87
  builder/src/arch/apple.rs
  datadog-live-debugger/src/probe_defs.rs
  datadog-sidecar/src/shm_remote_config.rs
  spawn_worker/src/unix/spawn.rs
Labels: sidecar

#1067 [PROF-11827] Bootstrap publishing ruby gem from CI using trusted publishing
  .github/workflows/publish-ruby.yml
  rakefile.rb
  ruby/README.md
  ruby/Rakefile
  ruby/docker-compose.yml
  ruby/gems.rb
Labels: ci-build

#1072 chore: move memfd config to datadog-library-config
  Cargo.lock
  datadog-library-config-ffi/Cargo.toml
  datadog-library-config-ffi/src/lib.rs
  datadog-library-config-ffi/src/tracer_metadata.rs
  datadog-library-config/Cargo.toml
  datadog-library-config/src/lib.rs
  datadog-library-config/src/tracer_metadata.rs
  ddcommon-ffi/src/lib.rs
  ddcommon/Cargo.toml
  ddcommon/src/lib.rs
Labels: common

#1070 [PROF-11827] Enable publishing ruby gem from CI using trusted publishing
  .github/workflows/publish-ruby.yml
  ruby/Rakefile
  ruby/gems.rb
  ruby/libdatadog.gemspec
  ruby/publish/rakefile.rb
  ruby/spec/gem_packaging.rb
Labels: ci-build

#1005 [crashtracker] Don't send the same stack trace twice
  datadog-crashtracker/src/crash_info/telemetry.rs
Labels: crashtracker
