Repository DataDog/libdatadog, pull requests merged in 2025-09, with the labels that each got.

#1201 [HandsOffConfig] Remove eprintln and return debug messages inside Result
  datadog-library-config-ffi/Cargo.toml
  datadog-library-config-ffi/src/lib.rs
  datadog-library-config/src/lib.rs
  ddcommon-ffi/src/error.rs
  examples/ffi/library_config.c
Labels: common, mergequeue-status: in_progress

#1205 fix: handle some allocation failures in profile building
  datadog-profiling-ffi/src/profiles/datatypes.rs
  datadog-profiling-replayer/src/main.rs
  datadog-profiling/examples/profiles.rs
  datadog-profiling/src/collections/identifiable/mod.rs
  datadog-profiling/src/collections/string_storage.rs
  datadog-profiling/src/collections/string_table/error.rs
  datadog-profiling/src/collections/string_table/mod.rs
  datadog-profiling/src/internal/profile/fuzz_tests.rs
  datadog-profiling/src/internal/profile/interning_api/mod.rs
  datadog-profiling/src/internal/profile/mod.rs
Labels: profiling, mergequeue-status: in_progress

#1189 [crashtracker] Add test to check callstack
  bin_tests/Cargo.toml
  bin_tests/src/bin/crashing_test_app.rs
  bin_tests/tests/crashtracker_bin_test.rs
  tools/docker/Dockerfile.build
Labels: crashtracker

#1220 Bump version to 21.0.0
  Cargo.lock
  Cargo.toml
Labels: mergequeue-status: in_progress

#1221 feat(profiling): `ValueType::new` is const and Hash
  datadog-profiling/src/api.rs
Labels: profiling, mergequeue-status: in_progress

#1216 [chore] Fix clippy warnings
  datadog-crashtracker/benches/receiver_bench.rs
  datadog-crashtracker/src/common.rs
  datadog-crashtracker/src/crash_info/telemetry.rs
  tools/src/lib.rs
Labels: mergequeue-status: in_progress, crashtracker

#1223 Update necessary files to release a new version of the rubygem
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
  ruby/spec/gem_packaging.rb
Labels: mergequeue-status: in_progress

#1225 Add env to telemetry payload
  data-pipeline/src/telemetry/mod.rs
  data-pipeline/src/trace_exporter/builder.rs
Labels: data-pipeline, mergequeue-status: in_progress

#1228 Change the gem publishing such that it changes the executable permissions if they are incorrect
  ruby/Rakefile
  ruby/spec/gem_packaging.rb
Labels: mergequeue-status: in_progress

#1237 fix: add service env field back
  datadog-library-config-ffi/src/tracer_metadata.rs
Labels: mergequeue-status: in_progress

#1246 chore(remote-config): make live debugger optional feature
  datadog-remote-config/Cargo.toml
  datadog-remote-config/src/fetch/fetcher.rs
  datadog-remote-config/src/fetch/test_server.rs
  datadog-remote-config/src/parse.rs
  datadog-remote-config/src/path.rs
  datadog-sidecar/Cargo.toml
Labels: sidecar, mergequeue-status: in_progress
