Repository DataDog/libdatadog, pull requests merged in 2025-03, with the labels that each got.

#896 [PROF-11405] Fix managed string storage causing corrupt profiles
  profiling/src/collections/string_storage.rs
  profiling/src/internal/profile/mod.rs
Labels: profiling

#867 feat: add API for process discovery
  Cargo.lock
  ddcommon/Cargo.toml
  ddcommon/src/lib.rs
  ddcommon/src/tracer_metadata.rs
Labels: common

#906 [APMSP-1816] Add retry logic to the StatsExporter
  data-pipeline/src/stats_exporter.rs
Labels: data-pipeline

#902 [PROF-11456] Add extra validations for incorrect profiling location ids
  profiling/src/collections/identifiable/mod.rs
  profiling/src/internal/profile/mod.rs
Labels: profiling

#907 [trace-mini-agent] add trace aggregator
  serverless/src/main.rs
  trace-mini-agent/src/aggregator.rs
  trace-mini-agent/src/lib.rs
  trace-mini-agent/src/mini_agent.rs
  trace-mini-agent/src/trace_flusher.rs
Labels: mini-agent

#908 Add poisson upscaling without storing count in the sample types
  profiling/src/api.rs
  profiling/src/internal/profile/mod.rs
  profiling/src/internal/upscaling.rs
Labels: profiling

#909 Prepare v15.1.0 release
  Cargo.lock
  Cargo.toml
  profiling/src/api.rs
  profiling/src/internal/profile/mod.rs
  profiling/src/internal/upscaling.rs
Labels: profiling

#905 [PROF-11405] Small managed string table fixes + cleanups
  profiling-ffi/src/string_storage.rs
  profiling/src/collections/string_storage.rs
  profiling/src/internal/profile/mod.rs
Labels: profiling

#898 Add v05 support in the trace exporter
  data-pipeline-ffi/src/error.rs
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/benches/span_concentrator_bench.rs
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/span_concentrator/tests.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter/error.rs
  data-pipeline/src/trace_exporter/mod.rs
  data-pipeline/tests/snapshots/compare_v04_to_v05_trace_snapshot_test.json
  data-pipeline/tests/snapshots/compare_v05_trace_snapshot_test.json
  data-pipeline/tests/test_trace_exporter.rs
  tinybytes/src/bytes_string.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/msgpack_decoder/decode/span_link.rs
  trace-utils/src/msgpack_decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
  trace-utils/src/msgpack_decoder/v04/span.rs
  trace-utils/src/msgpack_decoder/v05/mod.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/span/mod.rs
  trace-utils/src/span/trace_utils.rs
  trace-utils/src/span/v04/mod.rs
  trace-utils/src/span/v04/span.rs
  trace-utils/src/span/v05/dict.rs
  trace-utils/src/span/v05/mod.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent, data-pipeline

#914 chore: update CI variables for artifact size benchmark automation
  .gitlab-ci.yml
Labels: ci-build

#911 feat: Add zstd for traces
  Cargo.lock
  trace-utils/Cargo.toml
  trace-utils/src/send_data/mod.rs
Labels: mini-agent, mergequeue-status: error

#920 perf(profiling): don't unnecessarily copy sample values
  profiling-ffi/src/profiles.rs
  profiling-replayer/src/replayer.rs
  profiling/examples/profiles.rs
  profiling/src/api.rs
  profiling/src/internal/observation/observations.rs
  profiling/src/internal/observation/timestamped_observations.rs
  profiling/src/internal/observation/trimmed_observation.rs
  profiling/src/internal/profile/fuzz_tests.rs
  profiling/src/internal/profile/mod.rs
  profiling/tests/wordpress.rs
Labels: profiling

#912 [ APMSP-1674] Support Span Events in Trace Exporter
  trace-utils/src/msgpack_decoder/decode/mod.rs
  trace-utils/src/msgpack_decoder/decode/span_event.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
  trace-utils/src/msgpack_decoder/v04/span.rs
  trace-utils/src/span/mod.rs
  trace-utils/src/span/trace_utils.rs
  trace-utils/src/span/v05/mod.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/tracer_payload.rs
Labels: data-pipeline

#924 fix: nul terminator missing on ffi::Cstr
  ddcommon-ffi/src/cstr.rs
Labels: common

#922 Rework span links vector decoding
  trace-utils/src/msgpack_decoder/decode/span_link.rs
  trace-utils/src/span/mod.rs
  trace-utils/src/test_utils/mod.rs
Labels: mini-agent

#929 refactor(trace-utils): make flate2 and and hyper-proxy dependencies optionnal
  Cargo.lock
  trace-mini-agent/Cargo.toml
  trace-utils/Cargo.toml
  trace-utils/src/send_with_retry/mod.rs
  trace-utils/src/stats_utils.rs
Labels: mini-agent

#925 perf(profiling): drop unnecessary mapping ID
  profiling/src/internal/location.rs
  profiling/src/internal/profile/fuzz_tests.rs
  profiling/src/internal/profile/mod.rs
Labels: profiling

#940 Push retry strategy into client
  dogstatsd/src/datadog.rs
  dogstatsd/src/flusher.rs
  dogstatsd/tests/integration_test.rs
  serverless/src/main.rs
Labels: mini-agent

#936 [profiler] Only validate sample labels in debug mode
  profiling/src/internal/profile/mod.rs
Labels: profiling

#913 style(profiling): cleanup
  profiling/src/api.rs
Labels: profiling

#950 test: ignore some slow tests on miri, speed up one test
  dogstatsd/src/metric.rs
  live-debugger/src/expr_eval.rs
  sidecar/src/log.rs
  trace-obfuscation/src/obfuscate.rs
  trace-obfuscation/src/replacer.rs
Labels: mini-agent, sidecar

#948 perf(profiling)!: remove Function.start_line
  profiling-ffi/src/profiles.rs
  profiling-replayer/src/replayer.rs
  profiling/src/api.rs
  profiling/src/internal/function.rs
  profiling/src/internal/profile/fuzz_tests.rs
  profiling/src/internal/profile/mod.rs
  profiling/src/pprof/proto.rs
  profiling/tests/wordpress.rs
Labels: profiling

#951 Avoid struct<Generic = ()> in cbindgen-read definitions
  ipc/src/rate_limiter.rs
  sidecar/src/shm_remote_config.rs
  sidecar/src/tracer.rs
Labels: sidecar

#928 Add span links and span events in the integration test
  data-pipeline/tests/snapshots/compare_v04_trace_snapshot_test.json
  data-pipeline/tests/test_trace_exporter.rs
  trace-utils/tests/snapshots/compare_v04_trace_snapshot_test.json
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, data-pipeline

#957 [NO-TICKET] Include libdatadog profiling crate version when reporting profiles
  profiling-ffi/src/exporter.rs
  profiling/src/exporter/mod.rs
  profiling/tests/form.rs
Labels: profiling

#956 ci: use parallel jobs for Miri
  .github/workflows/miri.yml
  Cargo.lock
Labels: ci-build

#926 [profiling] Reduce copying and allocation in exporter
  Cargo.lock
  ddcommon-ffi/src/handle.rs
  ddcommon-ffi/src/result.rs
  examples/ffi/exporter.cpp
  examples/ffi/profiles.c
  profiling-ffi/Cargo.toml
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/exporter.rs
  profiling-ffi/src/profiles.rs
  profiling-replayer/src/main.rs
  profiling/examples/profiles.rs
  profiling/src/exporter/mod.rs
  profiling/src/internal/profile/fuzz_tests.rs
  profiling/src/internal/profile/mod.rs
  profiling/tests/form.rs
Labels: profiling, common

#942 Fix hyper development dependencies in trace-utils.
  trace-utils/Cargo.toml
Labels: mini-agent

#960 Revert "fix: update entity ID computation to support external environment prefixing (#953)"
  ddcommon/src/entity_id/unix/mod.rs
Labels: common

#917 [Profiler] Implement interning API
  ddcommon-ffi/src/lib.rs
  ddcommon-ffi/src/slice_mut.rs
  examples/ffi/CMakeLists.txt
  examples/ffi/exporter.cpp
  examples/ffi/profile_intern.cpp
  examples/ffi/profiles.c
  profiling-ffi/Cargo.toml
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/profiles/datatypes.rs
  profiling-ffi/src/profiles/interning_api.rs
  profiling-ffi/src/profiles/mod.rs
  profiling-ffi/src/string_storage.rs
  profiling/src/api.rs
  profiling/src/collections/identifiable/string_id.rs
  profiling/src/internal/function.rs
  profiling/src/internal/label.rs
  profiling/src/internal/location.rs
  profiling/src/internal/mapping.rs
  profiling/src/internal/profile/interning_api/generational_ids.rs
  profiling/src/internal/profile/interning_api/mod.rs
  profiling/src/internal/profile/mod.rs
  profiling/src/internal/sample.rs
  profiling/src/internal/stack_trace.rs
Labels: profiling, common

#969 fix: support both ENOTSUP and ENOSYS in shm_open fallback
  ddcommon/src/connector/mod.rs
  ipc/src/platform/unix/mem_handle.rs
Labels: common

#965 chore(ddcommon): Update rustls-native-certs to 0.8
  Cargo.lock
  ddcommon/Cargo.toml
  ddcommon/src/connector/mod.rs
Labels: common

#972 [profiler] Don't prefix CancelationToken with prof_
  examples/ffi/exporter.cpp
  profiling-ffi/cbindgen.toml
Labels: profiling

#930 feat(library-config-ffi): Fix API for the php integration
  ddtelemetry/src/data/payloads.rs
  examples/ffi/application_monitoring.yaml
  examples/ffi/library_config.c
  library-config-ffi/src/lib.rs
  library-config/src/lib.rs
Labels: telemetry

#963 [PROF-11524] Fix not being able to set profile start_time at serialization
  examples/ffi/exporter.cpp
  profiling-ffi/src/profiles/datatypes.rs
Labels: profiling

#988 fix: tokio runtime should be multithread
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/src/trace_exporter/mod.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent, data-pipeline

#989 fix(ddcommon_connector): the crypto provider also needs to be initialized with webpkis disabled
  ddcommon/src/connector/mod.rs
Labels: common
