Repository DataDog/libdatadog, pull requests merged in 2025-06, with the labels that each got.

#1037 [crashtracker] implement RFC4
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/unix/test_002_sigchld.rs
  bin_tests/src/modes/unix/test_003_sigchld_with_exec.rs
  bin_tests/src/modes/unix/test_006_sigchld_sigstack.rs
  datadog-crashtracker/src/collector/collector_manager.rs
  datadog-crashtracker/src/collector/crash_handler.rs
  datadog-crashtracker/src/collector/emitters.rs
  datadog-crashtracker/src/collector/mod.rs
  datadog-crashtracker/src/collector/process_handle.rs
  datadog-crashtracker/src/collector/receiver_manager.rs
  ddcommon/src/unix_utils.rs
Labels: common, crashtracker

#1076 remove the crashtracker itself from crash stack trace
  bin_tests/tests/crashtracker_bin_test.rs
  datadog-crashtracker/src/collector/emitters.rs
  datadog-crashtracker/src/crash_info/builder.rs
Labels: crashtracker

#1092 style: fix unused imports for macOS
  ddcommon/src/unix_utils.rs
Labels: common

#1094 Fix flaky test.
  data-pipeline/src/agent_info/fetcher.rs
Labels: data-pipeline

#1095 increase polling window for trace exporter shutdown unit test
  data-pipeline/src/trace_exporter/mod.rs
Labels: data-pipeline

#1090 fix msgpack integer decoder tests to correctly test zero signed numbers
  datadog-trace-utils/src/msgpack_decoder/decode/number.rs
Labels: mini-agent, mergequeue-status: removed

#1097 feat(logging): enhance logging in trace exporter
  data-pipeline/src/health_metrics.rs
  data-pipeline/src/trace_exporter/mod.rs
  datadog-trace-utils/src/send_with_retry/mod.rs
Labels: mini-agent, data-pipeline

#1093 [Crashtracker][bug]Add `is_crash` field to Log message
  datadog-crashtracker/src/crash_info/telemetry.rs
  ddtelemetry/src/data/payloads.rs
  ddtelemetry/src/worker/mod.rs
Labels: telemetry, mergequeue-status: rejected, crashtracker

#1098 fix(ddcommon_ffi): StringWrapper and Error drop
  ddcommon-ffi/src/error.rs
  ddcommon-ffi/src/string.rs
Labels: common

#1105 Make max memory of sidecar configurable
  datadog-sidecar/src/config.rs
  datadog-sidecar/src/entry.rs
  datadog-sidecar/src/watchdog.rs
Labels: sidecar

#1108 [crashtracker] Fix timeout math
  datadog-crashtracker/src/collector/crash_handler.rs
Labels: mergequeue-status: removed, crashtracker

#1103 statically cache agent info responses
  data-pipeline/src/agent_info/fetcher.rs
  data-pipeline/src/agent_info/mod.rs
  data-pipeline/src/trace_exporter/mod.rs
  data-pipeline/tests/test_fetch_info.rs
Labels: data-pipeline

#1110 set squash as the default merge method for mergequeue
  repository.datadog.yml
Labels: mergequeue-status: in_progress

#1117 Enable logging feature for windows builds.
  windows/build-artifacts.ps1
Labels: ci-build, mergequeue-status: in_progress

#1116 [crashtracker] Try actually waiting on child processes
  Cargo.lock
  bin_tests/src/bin/crashtracker_bin_test.rs
  datadog-crashtracker-ffi/src/collector/datatypes.rs
  datadog-crashtracker/src/collector/api.rs
  datadog-crashtracker/src/collector/collector_manager.rs
  datadog-crashtracker/src/collector/crash_handler.rs
  datadog-crashtracker/src/collector/process_handle.rs
  datadog-crashtracker/src/collector/receiver_manager.rs
  datadog-crashtracker/src/receiver/mod.rs
  datadog-crashtracker/src/shared/configuration.rs
  datadog-crashtracker/src/shared/constants.rs
  ddcommon/Cargo.toml
  ddcommon/src/unix_utils.rs
Labels: common, crashtracker

#1113 Refresh info using agent state header
  data-pipeline/src/agent_info/fetcher.rs
  data-pipeline/src/agent_info/mod.rs
  data-pipeline/src/trace_exporter/mod.rs
  data-pipeline/tests/test_fetch_info.rs
Labels: data-pipeline, mergequeue-status: in_progress

#1083 Wrap ffi calls with catch_unwind.
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/error.rs
  data-pipeline-ffi/src/trace_exporter.rs
Labels: data-pipeline, mergequeue-status: in_progress

#1122 style: fix new lints in Rust 1.88
  .devcontainer/devcontainer.json
  bin_tests/src/modes/behavior.rs
  builder/src/arch/apple.rs
  builder/src/bin/release.rs
  data-pipeline/src/telemetry/error.rs
  data-pipeline/src/trace_exporter/error.rs
  data-pipeline/tests/test_trace_exporter.rs
  datadog-crashtracker-ffi/src/collector_windows/api.rs
  datadog-crashtracker-ffi/tests/collector_windows_test.rs
  datadog-crashtracker-ffi/tests/test_app/src/main.rs
  datadog-crashtracker/src/collector/api.rs
  datadog-crashtracker/src/collector/emitters.rs
  datadog-crashtracker/src/collector/process_handle.rs
  datadog-crashtracker/src/receiver/entry_points.rs
  datadog-crashtracker/src/receiver/receive_report.rs
  datadog-ipc/src/platform/windows/mem_handle.rs
  datadog-ipc/tarpc/src/server.rs
  datadog-library-config/src/lib.rs
  datadog-library-config/src/tracer_metadata.rs
  datadog-log/src/logger.rs
  datadog-log/src/writers.rs
  datadog-profiling-replayer/src/main.rs
  datadog-profiling-replayer/src/replayer.rs
  datadog-profiling/src/collections/identifiable/mod.rs
  datadog-profiling/src/internal/observation/trimmed_observation.rs
  datadog-profiling/src/internal/profile/mod.rs
  datadog-remote-config/examples/remote_config_fetch.rs
  datadog-remote-config/src/path.rs
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/debugger_diagnostics_bookkeeper.rs
  datadog-sidecar/src/shm_remote_config.rs
  datadog-trace-obfuscation/src/credit_cards.rs
  datadog-trace-obfuscation/src/redis_tokenizer.rs
  datadog-trace-utils/src/msgpack_decoder/decode/error.rs
  datadog-trace-utils/src/msgpack_decoder/decode/number.rs
  datadog-trace-utils/src/msgpack_decoder/decode/span_event.rs
  datadog-trace-utils/src/msgpack_decoder/decode/span_link.rs
  datadog-trace-utils/src/msgpack_decoder/decode/string.rs
  datadog-trace-utils/src/msgpack_decoder/v04/mod.rs
  datadog-trace-utils/src/span/mod.rs
  datadog-trace-utils/src/stats_utils.rs
  datadog-trace-utils/src/test_utils/datadog_test_agent.rs
  datadog-trace-utils/src/trace_utils.rs
  datadog-tracer-flare/src/error.rs
  datadog-tracer-flare/src/lib.rs
  datadog-tracer-flare/src/zip.rs
  ddcommon/src/timeout.rs
  ddcommon/src/unix_utils/execve.rs
  ddcommon/src/unix_utils/process.rs
  ddcommon/tests/execve_integration.rs
  ddtelemetry-ffi/src/builder/expanded.rs
  spawn_worker/tests/trampoline_windows.rs
  tests/spawn_from_lib/tests/spawn.rs
  tests/spawn_from_lib/tests/spawn_unix.rs
  tools/sidecar_mockgen/src/bin/sidecar_mockgen.rs
  tools/sidecar_mockgen/src/lib.rs
Labels: profiling, telemetry, mini-agent, sidecar, common, data-pipeline, mergequeue-status: in_progress, crashtracker

#1124 refactor(ddcommon-ffi): `AsBytes`/`CharSlice` improvements
  data-pipeline-ffi/src/trace_exporter.rs
  datadog-live-debugger-ffi/src/parse.rs
  datadog-sidecar-ffi/src/lib.rs
  ddcommon-ffi/src/error.rs
  ddcommon-ffi/src/slice.rs
  ddcommon-ffi/src/slice_mut.rs
  ddcommon-ffi/src/string.rs
Labels: sidecar, common, data-pipeline
