Repository DataDog/libdatadog, pull requests merged in 2025-04, with the labels that each got.

#985 feat: Expose ddcommon memfd_create
  ddcommon-ffi/src/lib.rs
  ddcommon-ffi/src/tracer_metadata.rs
  profiling-ffi/Cargo.toml
  profiling-ffi/src/lib.rs
Labels: profiling, common

#997 chore:fix clippy errors and failing cross test
  bin_tests/tests/crashtracker_bin_test.rs
  builder/src/bin/release.rs
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/send_data.rs
  profiling/src/internal/profile/mod.rs
  sidecar/src/one_way_shared_memory.rs
Labels: profiling, sidecar

#866 build: update ffi build script and builder for mac x86_64 cross-compilation
  build-profiling-ffi.sh
  builder/src/crashtracker.rs
Labels: ci-build

#993 docs: add docs for `TelemetryClientConfig`
  data-pipeline-ffi/src/trace_exporter.rs
Labels: data-pipeline

#991 [crashtracker] Continue symbolicating after errors
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker/src/crash_info/error_data.rs
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/stacktrace.rs
  crashtracker/src/crash_info/telemetry.rs
  crashtracker/src/receiver/entry_points.rs
  docs/RFCs/0008-crashtracker-stackframe-comments.md
  docs/RFCs/artifacts/0008-crashtracker-schema.json
Labels: crashtracker

#1002 refactor: cleanup the telemetry configuration api
  crashtracker/src/crash_info/telemetry.rs
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/src/telemetry/metrics.rs
  data-pipeline/src/telemetry/mod.rs
  ddtelemetry-ffi/src/builder.rs
  ddtelemetry-ffi/src/builder/expanded.rs
  ddtelemetry-ffi/src/builder/macros.rs
  ddtelemetry-ffi/src/lib.rs
  ddtelemetry/examples/tm-metrics-worker-test.rs
  ddtelemetry/examples/tm-ping.rs
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/examples/tm-worker-test.rs
  ddtelemetry/src/config.rs
  ddtelemetry/src/worker/builder.rs
  ddtelemetry/src/worker/mod.rs
  sidecar/src/self_telemetry.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/tracer.rs
Labels: telemetry, sidecar, data-pipeline, crashtracker

#1000 [crashtracker] Better handling of chained handlers
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/unix/mod.rs
  bin_tests/src/modes/unix/test_004_donothing_sigstack.rs
  bin_tests/src/modes/unix/test_005_sigpipe_sigstack.rs
  bin_tests/src/modes/unix/test_006_sigchld_sigstack.rs
  bin_tests/src/modes/unix/test_009_prechain_with_abort.rs
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/collector/signal_handler_manager.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver/entry_points.rs
  crashtracker/src/receiver/receive_report.rs
  crashtracker/src/shared/configuration.rs
Labels: crashtracker

#982 Add origin tag to metrics emitted from mini agent
  serverless/src/main.rs
Labels: mini-agent

#1006 Granularize CODEOWNERS
  .github/CODEOWNERS
Labels: ci-build

#1015 APMSP-1930 add retry logic for test setup requests to test agent
  trace-utils/src/test_utils/datadog_test_agent.rs
Labels: mini-agent

#1004 [APMSP-1764] Support borrowed buffer for msgpack decoding
  data-pipeline/src/trace_exporter/mod.rs
  tinybytes/src/bytes_string.rs
  tinybytes/src/lib.rs
  trace-utils/src/msgpack_decoder/decode/error.rs
  trace-utils/src/msgpack_decoder/decode/map.rs
  trace-utils/src/msgpack_decoder/decode/meta_struct.rs
  trace-utils/src/msgpack_decoder/decode/metrics.rs
  trace-utils/src/msgpack_decoder/decode/number.rs
  trace-utils/src/msgpack_decoder/decode/span_event.rs
  trace-utils/src/msgpack_decoder/decode/span_link.rs
  trace-utils/src/msgpack_decoder/decode/string.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
  trace-utils/src/msgpack_decoder/v04/span.rs
  trace-utils/src/msgpack_decoder/v05/mod.rs
  trace-utils/src/span/mod.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent, data-pipeline

#1010 [crashtracker] Refactor receiver manager
  Cargo.lock
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/collector/receiver_manager.rs
  crashtracker/src/collector/signal_handler_manager.rs
  ddcommon/Cargo.toml
  ddcommon/src/lib.rs
  ddcommon/src/unix_utils.rs
Labels: common, crashtracker

#1025 refactor(prof): Labels have T directly, not Option<T>
  profiling-ffi/src/profiles/datatypes.rs
  profiling-ffi/src/profiles/interning_api.rs
  profiling-replayer/src/replayer.rs
  profiling/src/api.rs
  profiling/src/internal/label.rs
  profiling/src/internal/profile/fuzz_tests.rs
  profiling/src/internal/profile/interning_api/mod.rs
  profiling/src/internal/profile/mod.rs
Labels: profiling

#1026 test(prof)!: fix fuzzer, stop sorting label ids
  profiling/src/api.rs
  profiling/src/internal/label.rs
  profiling/src/internal/profile/fuzz_tests.rs
  profiling/src/internal/profile/interning_api/mod.rs
  profiling/src/internal/profile/mod.rs
Labels: profiling

#1027 ci: stop caching buildx bake
  .github/workflows/test.yml
Labels: ci-build

#1021 refactor: split collect_chunks into two methods
  data-pipeline/src/trace_exporter/mod.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/benches/deserialization.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
  trace-utils/src/span/mod.rs
  trace-utils/src/span/trace_utils.rs
  trace-utils/src/span/v05/dict.rs
  trace-utils/src/span/v05/mod.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent, sidecar, data-pipeline

#1029 Switch from sending bytes to slice in TraceExporter
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/span_concentrator/tests.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter/mod.rs
  data-pipeline/tests/test_trace_exporter.rs
Labels: data-pipeline

#1034 fix(ddcommon): Add ubuntu ssl cert directory for unit test
  ddcommon/src/connector/mod.rs
Labels: common

#1038 style: fix some lints from nightly clippy
  ipc/src/platform/channel/metadata.rs
  ipc/src/platform/platform_handle.rs
  ipc/src/transport/blocking.rs
  ipc/src/transport/mod.rs
  profiling-ffi/src/profiles/datatypes.rs
  sidecar/src/entry.rs
  sidecar/src/service/blocking.rs
  tinybytes/src/bytes_string.rs
Labels: profiling, sidecar

#1039 build(profiling): drop unused deps from Cargo.toml
  Cargo.lock
  profiling-ffi/Cargo.toml
  profiling/Cargo.toml
Labels: profiling

#1042 fix(data-pipeline): add a wait loop in the test checking if data has been swapped
  data-pipeline/src/agent_info/fetcher.rs
Labels: data-pipeline

#1041 build: bump prost-build, deduplicate prost
  Cargo.lock
  ddsketch/Cargo.toml
  ddsketch/src/pb.rs
  sidecar/Cargo.toml
  trace-protobuf/Cargo.toml
  trace-protobuf/src/pb.rs
  trace-protobuf/src/remoteconfig.rs
Labels: sidecar
