Repository DataDog/libdatadog, pull requests merged in 2025-02, with the labels that each got.

#848 fix(library_config): Add Windows build support
  windows/build-artifacts.ps1
  windows/libdatadog.csproj
Labels: ci-build

#844 [PROF-9476] Add intern_all/unintern_all for managed string storage
  profiling-ffi/src/string_storage.rs
Labels: profiling

#850 fix: tolerate empty trace payload body
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
  trace-utils/tests/test_send_data.rs
Labels: mini-agent

#842 [crashtracking] Little improvements to the FFI api
  crashtracker-ffi/cbindgen.toml
  crashtracker-ffi/src/crash_info/builder.rs
  crashtracker-ffi/src/crash_info/stackframe.rs
  crashtracker-ffi/src/crash_info/stacktrace.rs
  crashtracker-ffi/src/demangler/datatypes.rs
  crashtracker-ffi/src/demangler/mod.rs
  crashtracker/src/crash_info/stacktrace.rs
  ddcommon-ffi/src/string.rs
  ddcommon-ffi/src/utils.rs
  examples/ffi/crashinfo.cpp
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/string_storage.rs
Labels: profiling, common, crashtracker

#849 Make runtime configurable
  data-pipeline/src/telemetry/mod.rs
  data-pipeline/src/trace_exporter/mod.rs
Labels: data-pipeline

#859 Add function in order to enable telemetry metrics.
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/src/trace_exporter/mod.rs
Labels: data-pipeline

#857 Enhance logging and add fork handling for sessions
  crashtracker/src/lib.rs
  crashtracker/src/receiver/entry_points.rs
  crashtracker/src/receiver/mod.rs
  remote-config/src/fetch/multitarget.rs
  sidecar-ffi/src/lib.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/src/entry.rs
  sidecar/src/log.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/service/tracing/trace_flusher.rs
  tinybytes/src/bytes_string.rs
Labels: sidecar, crashtracker

#862 Wait for telemetry client to finish so the metrics are flushed.
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/src/telemetry/mod.rs
Labels: data-pipeline

#856 [crashtracker] Enable client to configure which signals to trap
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/crash_info/sig_info.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver/mod.rs
  crashtracker/src/shared/configuration.rs
  examples/ffi/crashtracking.c
Labels: crashtracker

#877 Rearrange msgpack decoder folder structure.
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/benches/span_concentrator_bench.rs
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/span_concentrator/tests.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter/error.rs
  data-pipeline/src/trace_exporter/mod.rs
  trace-utils/src/lib.rs
  trace-utils/src/msgpack_decoder/decode/error.rs
  trace-utils/src/msgpack_decoder/decode/map.rs
  trace-utils/src/msgpack_decoder/decode/meta_struct.rs
  trace-utils/src/msgpack_decoder/decode/metrics.rs
  trace-utils/src/msgpack_decoder/decode/mod.rs
  trace-utils/src/msgpack_decoder/decode/number.rs
  trace-utils/src/msgpack_decoder/decode/span_link.rs
  trace-utils/src/msgpack_decoder/decode/string.rs
  trace-utils/src/msgpack_decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
  trace-utils/src/msgpack_decoder/v04/span.rs
  trace-utils/src/span/mod.rs
  trace-utils/src/span/v04/mod.rs
  trace-utils/src/span/v04/span.rs
  trace-utils/src/span/v04/trace_utils.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/tracer_payload.rs
Labels: mini-agent, data-pipeline

#872 Remove setting of DD_SERVERLESS_COMPAT_VERSION from binary
  serverless/src/main.rs
Labels: mini-agent

#885 fix: skip serialization of optional properties in a span link
  tinybytes/src/bytes_string.rs
  trace-utils/src/span/v04/span.rs
Labels: mini-agent

#873 Bump datadog-serverless-trace-mini-agent to 0.12.0
  Cargo.lock
  serverless/Cargo.toml
Labels: mini-agent

#887 Fix span link deserialization when missing optional fields
  trace-protobuf/build.rs
  trace-protobuf/src/pb.rs
  trace-utils/src/trace_utils.rs
Labels: mini-agent

#895 fix(data-pipeline): use ddcommon::parse_uri for input URL parsing
  data-pipeline-ffi/src/error.rs
  data-pipeline/src/trace_exporter/error.rs
  data-pipeline/src/trace_exporter/mod.rs
Labels: data-pipeline

#900 Handle EINTR in blocking ipc sender
  ipc/src/platform/unix/channel.rs
  ipc/src/platform/unix/channel/async_channel.rs
  ipc/src/platform/windows/channel/async_channel.rs
  ipc/src/sequential.rs
  ipc/tarpc/tarpc/src/server.rs
  ipc/tarpc/tarpc/src/server/in_flight_requests.rs
  ipc/tarpc/tarpc/src/server/incoming.rs
  ipc/tarpc/tarpc/src/server/tokio.rs
  sidecar/Cargo.toml
  sidecar/src/service/sidecar_server.rs
Labels: sidecar

#903 ci: add serverless as code owners for dogstatsd
  .github/CODEOWNERS
Labels: ci-build
